/*
	DEFAULT CSS STYLE
*/
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
</html>
Firebug's log limit has been reached. 0 entries not shown.		Preferences	 
uncaught exception: [Exception... "Not enough arguments" nsresult: "0x80570001 (NS_ERROR_XPC_NOT_ENOUGH_ARGS)" location: "JS frame :: http://itunes.apple.com/app/doodle-jump-be-warned-insanely/id307727765?mt=8 :: <TOP_LEVEL> :: line 650" data: no]
[Break On This Error] (no source for )
html, body {
    height: 100%;
    margin: 0 auto;
}
body,h1,h2,h3,h4,h5,h6,p,form,fieldset,img{margin:0;padding:0;border:0}
body{
	font-family:Tahoma, Helvetica, sans-serif;
	font-size:13px;
	color:#0070BA;
	
	/*background-image:url(../images/sunrise.jpg);
	background-repeat:repeat-x;
	background-color:#fffbe8;*/
	/*background: url("images/gradient_texture.png") repeat scroll 0 0 #E6E6E6;*/
}
#page-wrap {
    background: none repeat scroll 0 0 white;
    clear: both;
    height: auto !important;
	/* margin: 0 auto -198px; */
	margin: 0 auto;
    min-height: 100%;
}
#main {
    float: none;
   /*  margin: 25px auto 0; */
    margin: 70px auto 40px;
    width: 100%;
}
#title_name{
	font-family: MetaBlack;
	font-size: 1.2em;
	font-style: normal;
}
.balance{
	margin:0 auto;
}
table.balance{
	width:100%;
	font-weight:bold;
}
table.balance td{ width:50%;}
#depreciation-guide{
	padding:0px auto;
	width:100%;
	height:130px;
	text-align:left;
}
.bg-default{
	background-color:#e5e9e6; 
}
.fontred{
	color:#ff0000;
}
.font12{
	font-size:12px;
}
.border_orange{
	border: 1px solid #FFAD29;
}
.input_line{
	background-color: transparent;
    border-style: none;
    font-weight: bold;
	border-bottom:dotted;
}
.borsolid{
	border:solid 1px #000;
}
.require{
	color:#ff0000;
}
#assets_form{
	width:100%;
}
.hidden{ 
	display:none;
}
#list-search{
	width:98.5%;
	margin-top:30px;
	margin: 20px 10px 10px;
}
#assets_type_list{
	margin: 0 auto;
    width: 100%; 
	/* width: 1200px; */
}
.dialog_confirm{
	position: absolute;
	padding: 2px;
	border: 1px solid grey;
	background-color: white;
	z-index:500;
	overflow: auto;
	/*set screen center*/
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -100px;

}
.box_filters {
    background-image: url("../images/boxfilter.png");
    background-repeat: repeat-x;
    color: #555555;
    font-size: 12px;
    padding: 5px;
    position: absolute;
}
.border-orange{
	border:4px solid #FBD2A4;
}
.hilight_rows{ background-color:#a3ee3f; } 

/*.border_side_right th, .border_side_right td{border-color: #FFFFFF #FFFFFF #FFFFFF #DDDDDD;border-style: solid;border-width: 1px 0 0 1px}*/

/* FIELDSET STYLE */
fieldset .fieldset-title{
	font-weight:bold;
	font-size:14px;
}
fieldset .fieldset-title span{
	padding-left:60px;
}
.ui-corner {
	-moz-border-radius: 10px;
	margin: 10px;
	padding: 20px;
	border-color: #CCCCCC;
	border-style: solid;
	vertical-align: top;
}
.ui-corner-10 {
	-moz-border-radius: 10px;
	margin: 10px;
	padding: 10px;
	border-color: #CCCCCC;
	border-style: solid;
	vertical-align: top;
}
.curve-corner{
	-moz-border-radius: 10px;
}

fieldset {
	border: 1px solid #CCCCCC;
}
.myclass:hover { text-decoration: underline }

/* WEB FORMS STYLE */
.content{
	/* padding:10px; */
	padding:5px;
	width:370px 
}
.left{
	width:150px;
	float:left;
	padding:7px 0px 0px 7px;
	min-height:24px;
}
.right{
	width:200px;
	float:left;
	padding:5px;
	min-height:24px;
}
.clear{
	float:none;
	clear:both;
	height:0px;
}
.row{
	background-color:none;
	display:block;
	min-height:32px;
}
.text{
	width:190px;
}
.text130{
	width:130px;
}

.text150{
	width:150px;
}
.text200{
	width:200px;
}
.textarea{
	width:150px;
}
.select{
	width:197px;
	text-align:center;
}
.select130{
	width:130px;
	text-align:center;
}
.select150{
	width:150px;
	text-align:center;
}
.select200{
	width:200px;
	text-align:center;
}
.ruler{
	width:400px; border-bottom:dashed 1px #dcdcdc;
}
tr:focus{
	background-color:#fcfcf0;
}
td{
	vertical-align:top;
}
.over{
	/* background-color:#f0f0f0; */
}
.out{
	background-color:none;
}
.fright{
	float:right;
}
.fleft{
	float:left;
}
.icon-image{ 
	cursor: pointer;
}
.cursor{
	cursor: pointer; 
}
.text-center{
	text-align:center;
}
.text-left{
	text-align:left;
}
.text-right{
	text-align:right;
}
.font-b{
	font-weight:bold;
}
.width-full{
	width:100%;
}
.width-50{
	
}
.width-100px{
	width:100px;
}
.width-30{
	width:30%;
}
.mar-top{
	margin-top:20px;
}
.mar-top40{
	margin-top:40px;
}
.mar-bottom{
	margin-bottom:20px;
}
.mar-left{
	margin-left:20px;
}
.mar-right{
	margin-right:20px;
}
.padd-top{
	padding-top:20px;
}
.padd-bottom{
	padding-bottom:20px;
}
.padd-left{
	padding-left:20px;
}
.padd-right{
	padding-right:20px;
}
.back-snow{
	background-color: snow;
}


/* TABLE STYLE */
#box-table-a{
	font-size: 12px;
	/* margin: 45px; */
	margin:0 auto;
	width: 100%;
	text-align: left;
	/* border-collapse: collapse;*/
}
#box-table-a th{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #b9c9fe;
	border-top: 4px solid #aabcfe;
	border-bottom: 1px solid #fff;
	color: #039;
}
#box-table-a td{
	padding: 8px;
	background: #e8edff; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid transparent;
}
#box-table-a tr:hover td{
	background: #d0dafd;
	color: #339;
}
#box-table-a tbody{
	 overflow: auto;
	 height: 80%;
	 overflow-x: hidden;
}

#box-table-a tfoot td{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #084B8A;
	border-top: 4px solid #aabcfe;
	border-bottom: 1px solid #fff;
	color: #FFF;
}
#box-table-a tfoot td.nosum{
	background: #084B8A;
}




/* USE BELOW FOR FOOTER */
#footer, #push {
    height: 198px;
}
#footer-wrap {
	/*margin-top:40px;*/
	/*background: url("../images/bg_footer.png") repeat-x scroll 0 0 white;*/
	background: #FFFFFF;
	background: -moz-linear-gradient(top, #DDDDDD 0%, #FFFFFF 50%); /* FF3.6+ */
	/* background: -moz-linear-gradient(top, #2D2D2D 0%, #555555 50%); */ /* FF3.6+ */
	
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5680B9), color-stop(100%,#6494D6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #5680B9 0%,#6494D6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #5680B9 0%,#6494D6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #5680B9 0%,#6494D6 100%); /* IE10+ */
	background: linear-gradient(top, #5680B9 0%,#6494D6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5680B9', endColorstr='#6494D6',GradientType=0 ); /* IE6-9 */
	/* border-top: 1px solid #6494D6;  */
	border-top: 1px solid #8F8F8F; 
	bottom: 0px; 
	left: 0;
	height: 30px;
	position: fixed;
    width: 100%;
   /*  z-index: -1; */    /*  31-05-2011 */
	/* clear:both; */ 
}
#footer-content {
    clear: both;
    float: none;
    height: 26px;
    margin: 0 auto;
    width: 95% !important;
}
#footer-link {
    float: right;
    width: 500px;
}
#footer-link li {
    color: #426391;
    display: block;
    float: right;
    font-family: Arial,Tahoma,Thonburi,sans-serif;
    font-size: 11px;
    line-height: 12px;
    overflow: hidden;
}
#copyright{
    /* background: url("../images/copyright.png") no-repeat scroll 0 0 transparent; */
    float: left;
    height: 20px;
    padding-top: 9px;
   /*  text-indent: -999em; */
	font-family: MetaBlack;
	font-size: 0.5em;
	font-style: normal;
	font-weight:bold;
	/* color:#426391; */
	color:#8F8F8F;
	text-transform: uppercase;
    width: 350px;
}
#vesion_update {
	float: right;
    height: 20px;
    padding-top: 9px;
   /*  text-indent: -999em; */
	font-family: MetaBlack;
	font-size: 0.5em;
	font-style: normal;
	font-weight:bold;
	/* color:#426391; */
	color:#8F8F8F;
	text-transform: uppercase;
    width: 350px;
	text-align:right;
}
/* END FOOTER */

/* UI-AUTOCOMPLETE */
ul.ui-autocomplete{
	height: 250px;
	overflow-y: scroll;
}
/* UI-AUTOCOMPLETE */



/* RECEIVABLE AND INCOME MODULE */
#menusx {
    border: 1px solid #EAEAEA;
    overflow: hidden;
}
#menusx li {
    float: left;
    list-style: none outside none;
}
.menusx_cust{
	overflow: hidden;
}
.menusx_cust li{
	float: left;
    list-style: none outside none;
}
.equal {
	display:table;
	width:100%;
	margin:0 auto;
}
.rowsr {
    display:table-row;
}
.rowsr div {
	display:table-cell;
 }
.rowsr .one {    
	width:85%;
}  
.rowsr .two {    
	width:15%;
}
.watch-module {
    margin-left: 20px;
    margin-right: 0;
	/* margin: 0 0 10px; */
}
#watch-sidebar .watch-module-body {
    background: none repeat scroll 0 0 #FFFFFF;
}
.watch-module-body {
    margin: 0;
    overflow: hidden;
}
.video-list-item {
    clear: both;
    margin-bottom: 20px;
}
.CTwhite {
    background: -moz-linear-gradient(center top , #FFFFFF, #EDEDED) repeat scroll 0 0 transparent;
    border: 1px solid #B7B7B7;
    color: #000000;
}
.nz_content {
    -moz-border-radius: 0.5em 0.5em 0.5em 0.5em;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    color: black;
   /*  display: inline-block; */
    font: 14px/100% Tahoma,Arial,Helvetica,sans-serif;
    margin: 0 0;
    outline: medium none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    vertical-align: baseline;
}
#verify_date_type{
	display:block;
	outline:0px none;
	position:relative; 
	height: auto; 
	width: 465px; 
	margin: 0 auto; 
	z-index: 1002;
	top:15px
	/* top: 195px;  left: 492px;  */
}
#into_account_form,#edit_journal_cheque,#edit_journal_credit{
	/* display:block; */
	outline:0px none;
	/* position:absolute; */
	height: auto; 
	/* width: 465px; */
	width: 500px; 
	margin: 0 auto; 
	z-index: 1002;
	/* top: 15px; */
	/* top: 195px; left: 492px;  */
}
#edit_receivable_journal{
	/* display:block; */
	outline:0px none;
	/* position:absolute; */
	height: auto; 
	/* width: 465px; */
	width: 90%; 
	margin: 0 auto; 
	z-index: 1002;
	/* top: 15px; */
	/* top: 195px; left: 492px;  */
}
#into_bank_form,#into_credit_form{
	outline:0px none;
	height: auto; 
	width: 500px; 
	margin: 0 auto; 
	z-index: 1002;
}
#edit_account_form{
	outline:0px none;
	height: auto; 
	width: 500px; 
	margin: 0 auto; 
	z-index: 1002;
}
#edit_appointment_form{
	outline:0px none;
	height: auto; 
	width: 500px; 
	margin: 0 auto; 
	z-index: 1002;
}
#edit_invoice_form{
	outline:0px none;
	height: auto; 
	/* width: 800px;  */
	width: 75%; 
	margin: 0 auto;  
	z-index: 1002;
}
.payment_not_complete{
	background: none repeat scroll 0 0 #FFE4CF;
}



/* receivable_billing */
hr.space {
    height: 5px;
    visibility: hidden;
}
#leftbar {
    background: none repeat scroll 0 0 #E3EFFF;
    height: 100%;
    left: 0;
    padding: 15px;
    position: fixed;
    top: 5%;
    width: 260px;
	border:1px solid #CCCCCC;
   /*  z-index: 999; */
}
#rightbar {
    display: block;
    left: 20%;
	padding: 0 0px 10px;
  /*   padding: 10px; */
    position: absolute;
	/* top:11%; */
}
#tasklist {
    list-style-type: none;
    margin: 10% 0 0;
    padding: 0;
}
#tasklist li {
    /* background-color: #FFFFFF;
    border-bottom: 1px solid #DEDEDE; */
    margin-bottom: 1px;
    min-height: 18px;
   /*  padding: 6px 2px 6px 6px; */
    padding: 0 2px 0 5px;
	border-bottom: 1px solid #E6E6E6;
}

/* .task-actions {
    float: right;
    text-align: right;
    width: 20px;
}
a.taskactionbtn {
    background: url("images/icons.gif") no-repeat scroll 0 0 transparent;
    display: none;
    float: right;
    height: 15px;
    text-decoration: none;
    width: 15px;
}
.task-left {
    float: left;
}
.task-middle {
    margin-left: 40px;
    margin-right: 20px;
}
li.task-has-note .task-toggle {
    visibility: visible;
}
.task-toggle {
    background: url("images/icons.gif") no-repeat scroll -64px -16px transparent;
    cursor: pointer;
    float: left;
    height: 15px;
    margin-top: 2px;
    visibility: hidden;
    width: 15px;
}
.task-through-right {
    float: right;
}
.task-through {
    overflow: hidden;
}
.task-note-block {
    background: url("images/page_white_text.png") no-repeat scroll left 2px transparent;
    color: #777777;
    display: none;
    margin-left: 2px;
    margin-top: 2px;
    min-height: 16px;
    padding-left: 19px;
    padding-top: 2px;
} */

.items {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.items li {
    font-size: 13px;
    margin: 0;
    padding: 5px;
}
.clickable {
    cursor: pointer;
}




/* BIRTVIEWER */
.BirtViewer_Body {
    margin: 0;
}
.BirtViewer_Highlight_Label {
    color: red;
}
.birtviewer_parameter_dialog {
    height: 350px;
    overflow: auto;
}
.BirtViewer_parameter_dialog_Input {
    border-style: inset;
    border-width: 2px;
    font-size: 8pt;
    width: 250px;
}
.birtviewer_parameter_dialog_Select {
    font-size: 8pt;
    width: 250px;
}
.birtviewer_parameter_dialog_Label {
    font-size: 8pt;
}
.birtviewer_exception_dialog {
    background-color: #FFFFEF;
    border: 1px solid #CCCCCC;
}
.birtviewer_exception_dialog_container {
    border-left: 1px solid #CCCCCC;
}
.birtviewer_exception_dialog_label {
    color: gray;
    cursor: pointer;
    font-size: 8pt;
    font-weight: bold;
    text-decoration: underline;
}
.birtviewer_exception_dialog_message {
    font-size: 9pt;
    padding: 2px;
}
.birtviewer_exception_dialog_detail {
    border-top: 1px solid #CCCCCC;
    font-size: 8pt;
    height: 150px;
    overflow: auto;
    padding: 2px;
}
.birtviewer_exportdata_dialog_single_select {
    font-size: 8pt;
    width: 250px;
}
.birtviewer_exportdata_dialog_select {
    font-size: 8pt;
    width: 180px;
}
.birtviewer_exportdata_dialog_button {
    cursor: pointer;
    height: 16px;
    width: 16px;
}
.birtviewer_exportdata_dialog_input {
    border-style: inset;
    border-width: 1px;
    font-size: 8pt;
    width: 80px;
}
.birtviewer_exportreport_dialog_select {
    font-size: 8pt;
    width: 120px;
}
.birtviewer_exportreport_dialog_input {
    border-style: inset;
    border-width: 1px;
    font-size: 8pt;
    width: 120px;
}
.birtviewer_printreport_dialog_select {
    font-size: 8pt;
    width: 150px;
}
.birtviewer_printreport_dialog_input {
    border-style: inset;
    border-width: 1px;
    font-size: 8pt;
    width: 120px;
}
.birtviewer_printreportserver_dialog_select {
    font-size: 8pt;
    width: 200px;
}
.birtviewer_printreportserver_dialog_input {
    border-style: inset;
    border-width: 1px;
    font-size: 8pt;
    width: 120px;
}
.birtviewer_printreportserver_dialog_input_short {
    border-style: inset;
    border-width: 1px;
    font-size: 8pt;
    width: 60px;
}
.birtviewer_confirmation_dialog_iframe {
    height: 100px;
    width: 450px;
}
.birtviewer_progresspage {
    cursor: default;
    font-family: Verdana;
    font-size: 8pt;
}
.birtviewer_dialog {
    background-color: #DBE4EE;
    border-style: outset;
    border-width: 2px;
    cursor: default;
    font-family: Verdana;
    font-size: 8pt;
}
.birtviewer_dialog_caption {
    background-color: #4682B4;
    color: white;
    font-size: 12px;
    width: 100%;
}
.birtviewer_dialog_body {
    border-style: inset;
    border-width: 1px;
    font-family: arial;
    font-size: 8pt;
    height: 100%;
    width: 100%;
}
.birtviewer_dialog_button {
    background-color: white;
    border-style: outset;
    border-width: 1px;
    cursor: pointer;
    font-family: verdana;
    font-size: 8pt;
    width: 100px;
}
.birtviewer_dialog_tab_selected {
    border: 1px solid #FFFFFF;
    font-size: 7pt;
    font-weight: bold;
}
.birtviewer_dialog_tab_normal {
    border: 1px solid white;
    cursor: pointer;
    font-size: 7pt;
    font-weight: bold;
}
.body_caption_top {
    background-color: #DDAA03;
    height: 4px;
}
.body_caption {
    font-family: Verdana;
    font-size: 10pt;
    height: 30px;
}
.birtviewer_toolbar {
    background-color: #CBCB97;
    border-bottom: 1px solid #808080;
    border-top: 1px solid #808080;
    font-family: Verdana;
    font-size: 8pt;
    height: 26px;
}
.birtviewer_navbar {
    background-color: #E6E6C6;
    border-left: 1px solid #808080;
    font-family: Verdana;
    font-size: 8pt;
    height: 26px;
}
.birtviewer_navbar_input {
    border-style: inset;
    border-width: 2px;
    font: icon;
}
.birtviewer_progressbar {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #FF912F;
    cursor: default;
    font-family: Verdana;
    font-size: 8pt;
}
.birtviewer_progressbar_button {
    color: black;
    cursor: pointer;
    height: 24px;
    overflow: hidden;
    width: 100px;
}
.birtviewer_toc {
    background-color: #FFFFFF;
    border: 1px none gray;
    font-family: Verdana;
    font-size: 8pt;
    height: 100%;
    width: 100%;
}
.birtviewer_contextmenu {
    background-color: #D0D0D0;
    border: 2px outset #CCCCCC;
    cursor: default;
    width: 150px;
}
.birtviewer_document_fragment {
    border-color: #404040 #D0D0D0 #D0D0D0 #404040;
    border-style: solid;
    border-width: 2px;
    overflow: auto;
    position: relative;
}
.birtviewer_clickable {
    border-style: none;
    cursor: pointer;
}
.birtviewer_hidden_label {
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
}
.birtviewer_exception_dialog_detail #faultdetail {
    direction: ltr;
    font-family: monospace;
    text-align: left;
}
.txtAcc  {
    color: #355CA4;
}
.iconOpa {
	opacity: 0.40;
	filter: alpha(opacity=40);
}
#asses_expense_contain{
	font-family: Tahoma; font-size: 14px; width: 100%; z-index: 100000000;
}
#asses_expense{
	cursor: default; 
	position: absolute; 
	background-color: #B9C9FE; 
	border: 1px solid rgb(119, 119, 119); 
	color: #000; 
	/* color: rgb(255, 255, 255);  */
	width: 35%; 
	float: left; 
	z-index: 100000000; 
	display: none; 
	text-align: left;
	padding:15px;
	margin-left:55%;
}
.border-red{
	border: 1px solid #ff0000;
}

/* button style */
.bt_del_all{
	background: -moz-linear-gradient(#DD4B39, #D14836);
    background: -webkit-linear-gradient(#DD4B39, #D14836);
    background: -o-linear-gradient(#DD4B39, #D14836);
    background: linear-gradient(#DD4B39, #D14836);
	border: 1px solid transparent;
	color: #FFFFFF;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
	text-transform: uppercase;
	border-left-color: #C6322A;
	-moz-border-radius: 2px 2px 2px 2px;
}
.bt_add_all{
	background: -moz-linear-gradient(center top , #A8CF59, #B3DC6C) repeat scroll 0 0 #D14836;
	border: 1px solid transparent;
	color: #1D1D1D;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
	text-transform: uppercase;
	border-color: #93C00B;
	-moz-border-radius: 2px 2px 2px 2px;
}
.bt_edit_all{
	background: -moz-linear-gradient(center top , #F7B64B, #FFF0A5) repeat scroll 0 0 #F7B64B;
	border: 1px solid transparent;
	color: #1D1D1D;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
	text-transform: uppercase;
	border-color: #F7B64B;
	-moz-border-radius: 2px 2px 2px 2px;
}
.bt_detail_all{
	background: -moz-linear-gradient(center top , #EDEDED, #C4C4C4) repeat scroll 0 0 transparent;
	border: 1px solid #B6B6B6;
	color: #4F4F4F;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset;
	text-transform: uppercase;
	-moz-border-radius: 2px 2px 2px 2px;
}
.bt_blue_all{
	background: -moz-linear-gradient(center top , #62BBE8, #7DC4E8) repeat scroll 0 0 #62BBE8;
	border: 1px solid transparent;
	color: #1D1D1D;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
	text-transform: uppercase;
	border-color: #62BBE8;
	-moz-border-radius: 2px 2px 2px 2px;
}
.bt_green_all{
	background: -moz-linear-gradient(center top , #6DB32B, #82B74D) repeat scroll 0 0 #6DB32B;
	border: 1px solid transparent;
	color: #1D1D1D;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
	text-transform: uppercase;
	border-color: #6DB32B;
	-moz-border-radius: 2px 2px 2px 2px;
}

/* FILE :::  ic_followcus_form */

#main_form{ /* width:950px; */ width:90%; background-color:white;color:black;padding:20px; }
#frm_event fieldset{ /* width:930px; */ width:95%; border:1px solid #cccccc;padding: 10px 10px 40px;margin-bottom:30px; }
table#tb_field_pattern tr th,table#tb_event_list tr th{
	background-color:#EAEBED;
	text-align:center;
}
table#tb_cancel_pattern tr th{
	background-color:#FFEACB;
	text-align:center;
}

.contentFrame {
	background-color: #FFFFFF;
    min-height: 600px;
    margin-left: 0 auto;
    border-radius: 4px 4px 4px 4px;*/
}

.contentFrame {
    /*-moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;*/
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #E5E5E5 #DBDBDB #D2D2D2;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    padding-bottom: 10px;
}

.contentFoot{
	background: -moz-linear-gradient(center bottom , #969696 0%, #DFDFDF 2%, #F2F2F2 66%, #F2F2F2 90%, #E6E6E6 93%, #BEBEBE 96%, #969696 100%) repeat scroll 0 0 transparent;
	/*background: -moz-linear-gradient(center bottom , #B5B1B1 0%, #EAE6E6 66%, #F2F2F2 90%, #E6E6E6 93%, #BEBEBE 96%, #969696 100%) repeat scroll 0 0 transparent;*/
    border-bottom: 1px solid #EBEBEB;
    height: 23px;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    /*border-radius: 0 0 4px 4px;*/
    position: fixed;
    bottom: 0;
    margin-top: -2px;
    padding-top: 8px;
    color: #873636;
}
.textbox {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #A4A4A4;
    padding: 5px 6px;
    vertical-align: middle;
}

.textCenter{
	text-align:center;
}

.clearTD{
	background: none;
	vertical-align: middle;
	border-style: none;
}

/*############################   start question ############################*/
#leftQuestion{
	float: left;
	width: 98%;
	padding: 8px;
}
#rightQuestion{
	float: left;
	margin-left: 10px;
	width: 94%;
	padding: 8px;
}
#topRightQues{
	float: left;
    font-size: 13px;
    margin-bottom: 4px;
}
#rightQuestion .listEvent{
	float: left;
	width: 99%;
	margin-bottom: 3px;
	color: blue;
	cursor: pointer;
	-moz-user-select     : none;
   -khtml-user-select   : none;
   -webkit-user-select  : none;
   -o-user-select       : none;
   user-select          : none;
}
#rightQuestion .listEvent:hover{
	padding: 3px;
	border: 1px dashed #000000;
	background-color: #EEFFFF;
}
#rightQuestion .quesList{
	float: left;
	width: 97%;
	margin-left: 3%;
	margin-bottom: 3px;
	display: none;
}
#rightQuestion .listQues{
	float: left;
	width: 99%;
	margin-bottom: 3px;
	color: red;
	cursor: pointer;
	-moz-user-select     : none;
   -khtml-user-select   : none;
   -webkit-user-select  : none;
   -o-user-select       : none;
   user-select          : none;
}
#rightQuestion .listQues:hover{
	padding: 3px;
	border: 1px dashed #000000;
	background-color: #EEFFFF;
}
#rightQuestion .subList{
	float: left;
	width: 97%;
	margin-left: 3%;
	margin-bottom: 3px;
	display: none;
}
#rightQuestion .listSub{
	float: left;
	width: 99%;
	margin-bottom: 3px;
	cursor: pointer;
	-moz-user-select     : none;
   -khtml-user-select   : none;
   -webkit-user-select  : none;
   -o-user-select       : none;
   user-select          : none;
}
#rightQuestion .listSub:hover{
	padding: 3px;
	border: 1px dashed blue;
	background-color: #EEEEEE;
}
#rightQuestion .selectQues{
	padding: 3px;
	border: 1px dashed blue;
	background-color: #EEEEEE;
}
#frmQuestion .errorInput{
	border: 1px dashed red;
}
/*############################   END question ############################*/

/**************************** BEGIN REPORT SSI  **********************************/
table.tb_default {
    -moz-box-shadow: 0 0 10px 1px #BAB9B9;
    background-color: #FFFFFF;
    border-color: #898989;
    border-style: solid;
    border-width: 0 1px 1px;
    font-family: tahoma;
    width: 99%;
}

table.tb_default caption {
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    background: -moz-linear-gradient(center bottom , #D7D7D7, #A1A1A1) repeat scroll 0 0 transparent;
    border-color: #CAC9C9 #B1B1B1 #828080;
    border-style: solid;
    border-width: 1px;
    color: #111111;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    text-shadow: 0 1px 1px rgba(223, 222, 222, 0.8);
}

table.tb_default thead th {
    background: -moz-linear-gradient(center bottom , #898989, #D7D7D7) repeat scroll 0 0 transparent;
    color: #111111;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(223, 222, 222, 0.8);
}

table.tb_default th, table.tb_default td {
    border-bottom: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    padding: 5px;
	min-width: 3px;
}
/***************************** END REPORT SSI  ***********************************/

/***************************** BEGIN RESPERSON CHANGE  ***********************************/
.all_cus_tr1 {
    background: none repeat scroll 0 0 #FFEFD5;
}
.all_cus_tr2 {
    background: none repeat scroll 0 0 #FFE4B5;
}
.all_cus_tr3 {
    background: none repeat scroll 0 0 #FFE4A7;
}
.all_cus_tr1:hover, .all_cus_tr2:hover, .all_cus_tr3:hover {
    background: none repeat scroll 0 0 #FFD39B;
    cursor: pointer;
}
/***************************** END RESPERSON CHANGE  ***********************************/













/****************************** Edit CR Cus *******************************/

/************************************************************************/