#tb_event_detail th{
	background-color: #CCCC99;
	border-left: 1px solid #fff;
	border-top: 1px solid #fff;
	font-weight: bold;
	font-size: 12px;
	color: #000;
}
#tb_event_detail td{
	background-color: white;
	border-left: 1px solid #eee;
	border-top: 1px solid #eee;
	font-weight: bold;
	color: blue;
	text-align: center;
}
.title1 {
    font-size: 20px;
    font-weight: bold;
    margin: 2px 0;
    padding: 2px 0;
}
.bg_green1{	background-color: #C1FFC1;}
.bg_green2{	background-color: #9AFF9A;}
.bg_green1:hover,.bg_green2:hover{	background-color: #BCEE68;}

.green_hover{ background-color: #BCEE68;}
.event_trHilight1_1{ background-color:#FF7833;}
.event_trHilight1_1:hover{	background-color:#FFD39B;}
.event_trHilight1_2{ background-color:#FF6633;}
.event_trHilight2_1{ background-color:#FFFF88;}
.event_trHilight2_2{ background-color:#FFFF66;}
.event_tr1 { background-color: #C1FFC1; }
.event_tr2 { background-color: #B4EEB4; }
.cuslist:hover{	background-color:#FFD39B;}
#tb_manage_question td table th{
	background-color: #EEE8C;
	color: black;
	font-size: 11px;
	font-weight: bold;
}
#tb_manage_question td table{width: 100%;}
.nz_table td {
    border-left: 1px solid #CFCFCF;
    padding: 5px;
}
.event_tr1{ /*สีแถวแรก (สำหรับเรียงสลับสี)*/
	background-color: #C1FFC1;
	height: 30px;
}
.event_tr2{ /*สีแถวที่สอง (สำหรับเรียงสลับสี)*/
	background-color: #B4EEB4;
	height: 30px;
}
.all_list_tr1 {
    background: none repeat scroll 0 0 #FFFFFF;
}
.all_list_tr2 {
    background: none repeat scroll 0 0 #EAEBED;
}

#divMainDetail{
	display : none;
	text-align : center;
	position: absolute;
	width : 10px;
	height : 10px;
	margin-top: 10px;
	text-align : left;
	z-index:2;
}
#navDetail{	text-align : left;}
#div_script{
	text-align : left;
	display : none; 
	padding: 10px;
	margin: 10px;
	color: #000000;
	background-color: #ffffff;
}
#div_question{
	text-align : left;
	display : none;
	padding: 10px;
	margin: 10px;
	color: #000000;
	background-color: #ffffff;
}
#bt_script{
	padding:2px;
	display:none;
}
#bt_question{
	padding:2px;
	display:none;
}

/*ic follow*/
table#tbBirthday td a:not(.mynavi) {
    background: url("../img/manview.png") no-repeat scroll right center transparent;
    color: #555555;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    width: 600px;
}

table#tbBirthday #detailTitle {
    background: none repeat scroll 0 0 #E1F6C5;
    border: 1px solid #71C521;
    font-size: 16px;
    padding: 10px;
    width: 98.5%;
}

#eventshow {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    font-size: 14px;
    padding: 10px;
    width: 98.5%;
}

#eventshow #bottomdetail > div[class$="ขวา"] {
    float: right;
}

#eventshow #bottomdetail {
    border-top: 1px dashed #55CC55;
    margin-top: 10px;
    overflow: hidden;
    padding: 5px 0;
    width: 100%;
}

#eventshow > h1 {
    border-bottom: 1px dashed #55CC55;
    margin-bottom: 10px;
    padding-bottom: 10px;
    overflow: auto;
    white-space: nowrap;
    width: 100%;
    font-size: 22px;
}

.ชิดซ้าย span{
	margin-right: 5px;
}

.ชิดขวา {
    display: block;
    float: right;
    padding-top: 2px;
}
.ชิดซ้าย {
    display: block;
    float: left;
}
/*ic follow*/