/*	naizan create */
.nz_table th{
	font-size: 14px;	
	padding: 5px;
	line-height: 20px;
	border-left : 1px solid #CFCFCF;
	border-top : 1px solid #CFCFCF; 
	text-align: center;	
}
.nz_table td{
	border-left : 1px solid #CFCFCF;
	padding: 5px;
}

.nz_textarea{
	font-family: tahoma;
	font-size	: 14px;
	padding: 2px;
}
.nz_manage:hover{	border: 1px solid #00FF00;}
.boldGreen{	font-weight: bold;}
.boldGreen:hover{
	cursor: pointer;
	color: #00cc00;
	border: 1px solid #00ff00;
}

#pager_nav{	color: saddlebrown;}
#pager_nav span{color: orangered;font-weight: bold;}
#pager_nav font{color: blue;font-weight: bold;}

#tb_cus_event th,#tb_cus_list th,#tb_cus_list2 th,#tb_all_cus th,#tb_emplist th,
#tb_wait_approve th,.tb_wait_approve th,#tb_field_pattern th,#tb_event_list th{
	font-size: 14px;	
	color: #EFEDE0;
	padding: 5px;
	line-height: 20px;
/*	
	border-left : 1px solid #CFCFCF;
	border-top : 1px solid #CFCFCF; 
*/
	border-style: solid;
   border-width: 1px;
   border-color: #EEEED1 #8B814C #8B814C #EEEED1;
	text-align: center;
}
#tb_cus_event td,#tb_cus_list td,#tb_cus_list2 td,#tb_all_cus td,#tb_emplist td,
#tb_wait_approve td,.tb_wait_approve td,#tb_field_pattern td,#tb_event_list td{
/*	border-left : 1px solid #CFCFCF;	*/
	padding: 5px;
	border-style: solid;
   border-width: 1px;
   border-color: #FAFAFA #BDB76B #BDB76B #FAFAFA;
}
#tb_cus_event th{	background-color : #838B8B;}
#tb_cus_list th{	background-color : #2F4F4F;}
#tb_wait_approve th,.tb_wait_approve th{background-color : #C9C299;	color : #7E3517;}
#tb_field_pattern th{background-color : #8B7355;}
#tb_event_list th{	background-color: #3860BB;}
#tb_manage_question td table th{
	background-color: #EEE8C;
	color: black;
	font-size: 10px;
	font-weight: 100;
}
#tb_manage_question td table{width: 100%;}
#tb_wait_approve td,.tb_wait_approve td{color: blue;}

.bg_white{	background-color: white;}

.event_tr1{	cursor: pointer;background : #F0FFFF;}
.event_tr2{	cursor: pointer;background : #E0EEEE;}
.event_tr1:hover,.event_tr2:hover{	cursor: pointer;background : #F9EBD2;}

#tb_cus_list2 th{ background-color:	#838B8B;}
#tb_all_cus th{	background-color: #8B7E66;}
.all_cus_tr1{ background : #FFEFD5;}
.all_cus_tr2{ background : #FFE4B5;}
.all_cus_tr1:hover,.all_cus_tr2:hover{	cursor: pointer;background : #FFD39B;}

#tb_emplist th{	background-color:	#CDBE70;color: #000000;}
.emplist_tr1{ background : #FFFFE0;}
.emplist_tr2{ background : #EEEED1;}
.emplist_tr1:hover,.emplist_tr2:hover{	background : #EEDC82;}
#tb_emplist td{	cursor: pointer;color: #8B4726;}

.archives_tr1{	background : #EDEDED;}
.archives_tr2{	background:#DDDDDD;}
.archives_tr1:hover,.archives_tr2:hover{cursor: pointer;background : #F9EBD2;}

.misscall_tr1{ background : #FFE7BA;}
.misscall_tr2{ background : #FFD39B;}
.misscall_tr1:hover,.misscall_tr2:hover{cursor: pointer;background : #FFA54F;}

.bg_green1{	background-color: #C1FFC1;}
.bg_green2{	background-color: #9AFF9A;}
.bg_green1:hover,.bg_green2:hover{	background-color: #BCEE68;}

.green_hover{ background-color: #BCEE68;}
.event_trHilight1_1{ background:#FF7833;}
.event_trHilight1_1:hover{	background:#FFD39B;}
.event_trHilight1_2{ background:#FF6633;}
.event_trHilight2_1{ background:#FFFF88;}
.event_trHilight2_2{ background:#FFFF66;}
.cuslist:hover{	background :#FFD39B;}

#tb_event_detail th{
	background-color: #CCCC99;
	border-left: 1px solid #fff;
	border-top: 1px solid #fff;
	font-weight: bold;
	font-size: 12px;
	color: #000;
}
#tb_event_detail td{
	background-color: white;
	border-left: 1px solid #eee;
	border-top: 1px solid #eee;
	font-weight: bold;
	color: blue;
	text-align: center;
}

#divMainDetail{
	display : none;
	text-align : center;
	position: absolute;
	width : 10px;
	height : 10px;
	margin-top: 10px;
	text-align : left;
	z-index:2;
}
#navDetail{	text-align : left;}
#div_script{
	text-align : left;
	display : none; 
	padding: 10px;
	margin: 10px;
	color: #000000;
	background-color: #ffffff;
}
#div_question{
	text-align : left;
	display : none;
	padding: 10px;
	margin: 10px;
	color: #000000;
	background-color: #ffffff;
}
#bt_script{
	padding:2px;
	display:none;
}
#bt_question{
	padding:2px;
	display:none;
}
.title1{
	padding: 2px 0px;
	margin: 2px 0px;
	font-weight: bold;
	font-size: 20px;
}
.title2{
	padding: 2px 0px;
	margin: 2px 0px;
	font-weight: bold;
	font-size: 17px;
}
.title3{
	padding: 2px 0px;
	margin: 2px 0px;
	font-weight: bold;
	font-size: 15px;
}
.follow_content{
	padding: 5px;
	margin: 0px 5px 0px 5px;	
}
.green{	color : green;}
.red{color : #ff0000;}
.select{
	background-color:#CCFFFF; 
	color:#0A85CB;
	border:1px solid #33aaff;
	padding: 0px 5px 0px 5px; 
	margin:1px; 
	font-weight:bold;
	font-size:11px;width: 40px;
}
.select:hover{
	background-color:#CCFF99;
	color:#FF9933;
}
.nonselect{
	text-decoration:none;
	color:#fff;
	background:#0A85CB; 
	border:1px solid #e0e0e0; 
	padding: 0px 5px 0px 5px; 
	margin:0px; 
	font-size:11px;
	width: 40px;
}
.nonselect:hover{
	 text-decoration:none; color:#0A85CB;
	 background:#CCFF99;
	 border:1px solid #3af; 
	 margin:1px;
}
#archives th{
	font-size:14px;	
	color:#EFEDE0;
	padding:5px;
	line-height: 30px;
	border-left : 1px solid #CFCFCF; 
	background-color:#999999;
}
.bgBlue_fnWhite{
	background : #009ACD;
	color: #ffffff;
	font-weight: bold;
}
.bgBlue_fnWhite:hover{
	background : #87CEFF;
	color: #ffffff;
}
.bgSmoke_fnBlack{
	background : #F5F5F5;
	color: #000000;
}
.bgSmoke_fnBlack:hover{
	background : #FDF5E6;
	color: #FF8C00;
}
.bgGreen_fnOrange{
	background : #C1FFC1;
	color: #FF4500;
}
.bgGreen_fnOrange:hover{
	background : #F0FFF0;
	color: #0000ff;
}
.content{font-size: 12px;}
.ex {border: 1px solid #000000;	padding: 10px;font-size:12px;}
label {	cursor: pointer;}
.error{	font-weight: bold;color: red;}
.anchor_hilight{ background: #FFFF99;}

input.require_box,select.require_box,textarea.require_box{
	border: 1px solid rgb(255, 130, 71);
	background: #FFF6EF;
}
.checknumber_error{
	color:#FF0000;
	font-weight:bold;
	border:3px solid #FF8247;
}
