body{width:101%}

h1{font-size:20px}

#contenner, #container{width:98%; margin-left:auto; margin-right:auto}

#box_tab{width:100%; margin:0px 0px 0px 0px; margin-top:20px}

#general_info, #edu_history{margin-top:30px; width:98%}

#box_content1{width:98%}

#box_menu{width:98%; height:20px; margin:0; padding:0; font-family:Tahoma,Verdana,sans-serif; font-size:12px}

#box_content1{font-family:Tahoma,Verdana,sans-serif; font-size:12px}

#prefix, #cus_name, #cus_surname, #cus_nickname, #cus_birth{width:135px}
#generalInfo{ margin-top:15px;  width:97%;  margin-left:auto;  margin-right:auto}
#box_menu li{padding:5px 5px 3px 5px; margin:0px 0px 0px 0px; display:inline}

#box_menu li a{text-decoration:none}

.hidden{display:none}

img.resize{width:150px; height:150px; padding:2px; position:absolute; z-index:1}

img.thumb{width:150px; height:150px; border:1px solid #000; padding:2px; position:absolute; z-index:2}

.text{margin-left:120px}

.size_ptemp{width:10%;}

.fblack{color:#000;}

.orange_border{ border:1px solid #fbd850; background-color: #fbd850;} 

.product_temp_ul{ background-color:#bfdaf3; border :2px solid #fbd850; }

#recomend_content_right{background-color:#f6f6f6;} .main_product{ background-color:#F7E2EA;padding:10px; border :1px solid #fbd850;}

#cus_id_card{height:115px}

#cus_image{height:345px}

#job_info{width:130px}

#cus_list_head{width:100%; margin-left:auto; margin-right:auto}

#key_search{width:100%}

#pagination{padding-top:20px; padding-bottom:10px}

#cus_type1{width:100%; padding:30px; font-size:18px}

option.listCusData{}

#cus_type{width:145px}

h1.no_data{color:#f00; font-size:30px; text-align:center}
.myList{ width:120px}
 
select#car_parking{width:150px}

#editCar, #BodyCostIncVat, #BodyCostVat, #BodyCostExVat, #BodyDetail, #BodyCode{margin:5px}
.widthFull{width:100%}
.floatLeft{float:left}

.floatRight{float:right}

.marginTop{margin-top:20px}

.marginBottom{margin-bottom:20px}

.marginLeft{margin-left:20px}

.marginRight{margin-right:20px}

.fontBold{font-weight:bold}

.fontSize16{font-size:16px}

.paddingTop{padding-top:20px}

.paddingBottom{padding-bottom:20px}

.paddingLeft{padding-left:20px}

.paddingRight{padding-right:20px}
.padding_rights{padding-right:10px}
.textCenter{text-align:center}
.textRight{text-align:right}
.readOnlys{readonly:true;}
.balance{margin-left:auto; margin-right:auto}
.inputWidth{width:170px}
.more_odd{background-color:#F4F8D3}
.fontSize12{font-size:12px}
.cursor{cursor:pointer}
.red{color:#f00}
.block{display:block}
.emp_fieldset{border-color:#ddd; border-style:solid; margin-left:5px; vertical-align:top}
#radio_int{padding:15px}

 
.radio_int{padding-left:20px}
input#IntModelCar{width:135px}
select#IntCarType, #IntCarPattern, #IntModelCodeName, #IntModelGName, #B_Model_CodeName, #B_Model_GName{width:150px}
#TreeInt{margin-top:20px; margin-bottom:25px}

#AssAmount{width:165px}

.iTooltip{position:absolute;border:1px solid #EB8F00;background-color:#ffffff;color:#EB8F00;display:none;padding:5px;width:300px; height:auto;font-size:12px;
overflow: hidden;}

.default_box_size{height:290px;} .bg_pink{background-color:#f7e2ea;}

h3.follow_his{color:#6B6730; font-weight; bold; text-align:center; font-size:16px; margin-bottom:20px}

.text_tit{padding-left:10px}

#listHisContent{width:98%}

#box_his_tab{width:98%; margin:0px 0px 0px 0px; margin-top:20px}

#box_his_menu{width:98%; height:20px; margin:0; padding:0; font-family:Tahoma,Verdana,sans-serif; font-size:12px}

#box_his_menu li{padding:5px 5px 3px 5px; margin:0px 0px 0px 0px; display:inline}

#box_his_menu li a{text-decoration:none}

#recieve_name, #input_name{width:140px}

#list_footer{padding-top:50px; padding-bottom:10px}

#box_tab{width:100%; height:auto; margin-left:auto; margin-right:auto}

#interestFooter{margin-left:auto; margin-right:auto}

input#Interest_Time, #Interest_Guide, #InterGuide_Tel{width:170px; margin-top:10px}

#CusPer_Head{margin-top:-20px}

#CusPer_Head_Sub{}

#mypic1 img{width:150px; height:150px}

.bg_green{background-color:#6ec136}

tr.on{background-color:#c5e3e1}

tr.off{background-color:#f3f3f3}

input#OK{background:transparent url(../temp/bg-search-button.gif) no-repeatscroll 0 5px; color:#FFF; font-size:1.4em; height:38px; vertical-align:middle; width:90px; border:0px}
select#Inter_date_day{width:45px}
input#getcusto{width:135px}
.fontBold{font-weight:bold}
.paddingLeft{padding-left:20px}
.padding_lefts{padding-left:10px}
.marginTop{margin-top:20px}

#car_input{margin-top:80px; margin-left:auto; margin-right:auto}

.container{margin:0 auto; padding:0; width:90%}

#head_title{margin-top:20px}

#header{margin:0px; margin-top:50px}

#wrapper{background:#f4f8d3 none repeat scroll 0 0; padding:15px; border:1px solid #e3ed8f; border-bottom:none}

.clearfix, .container{display:block}

#Qfooter{background:#f4f8d3 none repeat scroll 0 0; height:auto; margin:0 0 20px; border:1px solid #e3ed8f; border-top:none; margin-left:auto; margin-right:auto}

.clear{clear:both}

#SiteNavBar{border-bottom:2px solid #000; border-top:1px solid #D9D9D9; display:block; padding-top:1px}

#SiteNavBar a{-x-system-font:none; border-right:1px solid #666; color:#DDD; font-family:verdana; font-size:100%; font-style:normal; font-variant:normal; font-weight:bold; line-height:2.1; padding:6px 10px; text-decoration:none; height:auto; width:auto}

#foot-grass{background-image:url(../temp/grass.png); background-repeat:repeat-x; bottom:0; height:45px; left:0; position:fixed; width:100%; z-index:-1}

#boxTab_Style{border:1px solid #e3ed8f;  background-color:#f4f8d3}

#field_head{margin-top:15px; width:95%; margin-left:auto; margin-right:auto}
fieldset{border:1px #ccc} 
#sunmenu_campaign,#sunmenu_ass{ margin:10px;}
h3.showtitle{font-weight:bold; color:#f00}
.text_title{font-weight:bold}
#caseInstallments{padding-left:25px}
.trhove{background-color:#fffdda8}
.box_con_one{height:400px}
ul.orderlist{padding-left:10px; margin-left:10px}
.ui-corner-all-10{-moz-border-radius:10px 10px 10px 10px}
#result{height:20px; font-size:16px; font-family:Arial,Helvetica,sans-serif; color:#333; padding:5px; margin-bottom:10px; background-color:#FF9}
#country{padding:3px; border:1px #CCC solid; font-size:17px}
.suggestionsBox{position:absolute; left:0px; top:40px; margin:26px 0px 0px 0px; width:200px; padding:0px; background-color:#fff; border-top:3px solid #000; color:#000}
.suggestionList{margin:0px; padding:0px}
.suggestionList ul li{list-style:none; margin:0px; padding:6px; border-bottom:1px dotted #666; cursor:pointer}
.suggestionList ul li:hover{background-color:#FC3; color:#000}
ul{font-family:Arial,Helvetica,sans-serif; font-size:11px; color:#FFF; padding:0; margin:0}
.load{background-image:url(../temp/loader.gif); background-position:right; background-repeat:no-repeat}
#suggest{position:relative}
a.button{     background:transparent url('../temp/button_left.png') no-repeat scroll top right; display:block; float:right; margin-right:15px; height:32px; padding-right:20px; text-decoration:none; color:#000; font-family:Arial,Helvetica,sans-serif; font-size:12px; font-weight:bold; cursor:pointer}
a.button span{ //background:transparent url('../temp/button_left.png') no-repeat; display:block; line-height:20px; padding:7px 0 5px 18px; cursor:pointer}
a.button:hover{cursor:pointer;text-decoration:  none;}
#prepare_contain{width:95%; margin-left:auto; margin-right:auto}
.overlay{background:transparent url(../temp/overlay.png) repeat top left; position:fixed; top:0px; bottom:0px; left:0px; right:0px; z-index:100}
.box{position:fixed; top:-400px; left:30%; right:30%; background-color:#fff; color:#7F7F7F; padding:20px; border:2px solid #ccc; -moz-border-radius:20px; -webkit-border-radius:20px; -khtml-border-radius:20px; -moz-box-shadow:0 1px 5px #333; -webkit-box-shadow:0 1px 5px #333; z-index:101}
.box h1{border-bottom:1px dashed #7F7F7F; margin:-20px -20px 0px -20px; padding:10px; background-color:#FBFEE2; color:#EF7777; -moz-border-radius:20px 20px 0px 0px; -webkit-border-top-left-radius:20px; -webkit-border-top-right-radius:20px; -khtml-border-top-left-radius:20px; -khtml-border-top-right-radius:20px}
a.boxclose{float:right; width:26px; height:26px; background:transparent url(../temp/cancel.png) repeat top left; margin-top:-30px; margin-right:-30px; cursor:pointer}
a.boxcloseModel{float:right; width:26px; height:26px; background:transparent url(../temp/cancel.png) repeat top left; margin-top:-10px; margin-right:-10px; cursor:pointer}
.box_pre{position:fixed; top:-400px; left:5%; right:10%; background-color:#fff; color:#7F7F7F; padding:20px; border:2px solid #ccc; -moz-border-radius:0px; -webkit-border-radius:0px; -khtml-border-radius:0px; -moz-box-shadow:0 1px 5px #333; -webkit-box-shadow:0 1px 5px #333; z-index:101}
.box_pre h1{border-bottom:1px dashed #7F7F7F; margin:-20px -20px 0px -20px; padding:10px; background-color:#FBFEE2; color:#EF7777; -moz-border-radius:20px 20px 0px 0px; -webkit-border-top-left-radius:20px; -webkit-border-top-right-radius:20px; -khtml-border-top-left-radius:20px; -khtml-border-top-right-radius:20px}
.iCalc{background-color:#666; color:#FFF; display:block; font-size:28px; height:240px; margin-left:auto; margin-right:auto; margin-top:20px; width:292px}
.iResult{width:287px; margin-left:2px; margin-top:2px; float:left; height:40px; background-color:#CCC; text-align:left; color:#000; line-height:37px; text-indent:3px; overflow:hidden}
div.iDigit >div{display:block; float:left; height:47px; width:68px; text-align:center; margin-left:4px; margin-top:2px; background-color:#000; cursor:pointer}
.treeMenu{display:block; width:72px; height:25px; float:right; background-image:url(../temp/tree_menu.gif)}
.tabMenu{display:block; width:72px; height:25px; float:right; background-image:url(../temp/tab_menu.gif)}
#tabsJ{ float:left;  width:100%;   font-size:93%;  line-height:normal}
#tabsJ ul{  margin:0;   padding:10px 10px 0 5px;   list-style:none}
#tabsJ li{      display:inline;       margin:0;       padding:0}
#tabsJ a{      float:left;       background:url("../temp/tableftJ.gif") no-repeat left top;       margin:0;       padding:0 0 0 5px;       text-decoration:none}
#tabsJ a span{      float:left;       display:block;       background:url("../temp/tabrightJ.gif") no-repeat right top;       padding:5px 15px 4px 6px;       color:#24618E}
#tabsJ a.addImg{float:left;   background:url("../temp/tableftJ.gif") no-repeat left top;  margin:0;  padding:0 0 0 5px;  text-decoration:none}
#tabsJ a.addImg span{color:#FFF;  background-position:100% -42px}
#tabsJ a.addImg{ background-position:0% -42px}
#tabsJ a span{float:none}
#tabsJ a:hover span{ color:#FFF}
#tabsJ a:hover{ border:2px solid #FBD850;  background-position:0% -42px}
#tabsJ a:hover span{ background-position:100% -42px}
.iTable{display:table; width:100%; margin:auto; border-collapse:collapse}
.iCaption{display:table-caption; caption-side:top; text-align:center}
.iRow{display:table-row}
.iTd{display:table-cell}
.containBody{height:300px;display:block;overflow:auto;	border-bottom:1px solid #CCC;}
.tbl_headerFix{border-bottom:0px;}
.validateTips { background-color:#FFE66A; border: 1px solid #FED22F; padding: 0.3em; height: 400;width: 450; margin:auto; }    
.car-forchange{display:block;height:auto;left:474px;outline:0 none;position:absolute;/* top:200px; */width:300px;z-index:1001;} 

.ui-tabs-nav li{position:relative}
.ui-tabs-selected a span{padding-right:10px}
.ui-tabs-close{display:none; position:absolute; top:0px; right:0px; z-index:2000; width:14px; height:13px; font-size:10px; font-style:normal; cursor:pointer}
.ui-tabs-selected .ui-tabs-close{display:block}
.ui-tabs-close:hover{color:red}

top:0px; 
left:0px; 
width:100%}
#popUpDiv{position:absolute; background-color:#eee; width:300px; height:300px; z-index:9002}

.pageslist{background-color:#ebb643; color:#3B6CAC; display:block; float:right; font-size:11px; font-weight:bold;  margin:0 5px 0 0; padding:8px 12px; text-decoration:none; -moz-border-radius:10px 10px 10px 10px}
a.mover{background:#F6A828; padding:6px 12px; position:absolute; color:white; font-weight:bold; text-decoration:none;}
.next-tab{bottom:0; right:0; -moz-border-radius-topleft:10px; -webkit-border-top-left-radius:10px}
.prev-tab{bottom:0; left:0; -moz-border-radius-topright:10px; -webkit-border-top-right-radius:10px; /*--*/ margin-left:2%}
.ui-tabs .cusint-tabs-panel{padding:20px; display:block; border-width:0; background:none;  border:1px solid #ccc; position:relative; min-height:200px}

font185{document .getElementById("li"+i).style.background="background-image:url('images/bg1.gif') no-repeat "}
.font12{document .getElementById("li"+i).style.background="background-image:url('images/bg2.gif') no-repeat "}


#tbreport_new{
	width:95%;
	margin:20px auto;
	border-collapse:collapse;
}
#tbreport_new tr th {
	background:none repeat scroll 0 0 #757A80;
	color:#FFFFFF;
	padding:10px 15px;
}
#tbreport_new tr td {
	padding:5px 15px;
	text-align:center;
}
.selectallarrow {
	margin-left:1.6em;
	margin-right:0.3em;
	vertical-align:middle;
}
tr.sum_model{
	/* background:none repeat scroll 0 0 white; */
	border-bottom:1px dashed #425872;
	border-top:1px dashed #425872;
}
.hilight_rows{ background-color:#a3ee3f; }  
.hilight_radio{ background-color: #FF0000;border: #000000 solid 1px;font-family: verdana;font-size: 12px;color: #FF0000}

#MapMain{
	display: none;	
}
.containBody{
	height:300px;
	display:block;
	overflow:auto;	
	border-bottom:1px solid #CCC;
}
.tbl_headerFix{
	border-bottom:0px;	
}
.fix_head{
	background:none repeat scroll 0 0 #757A80;
	color:#FFFFFF;
	padding:10px 15px;
	cursor:pointer;
}
.fix_head_date{
	background:none repeat scroll 0 0 #757A80;
	color:#FFFFFF;
	padding:10px 10px;
	cursor:pointer;
}
.sub_fixhead{
	font-size:6px;
}
.sub_fixhead th{
	
	text-align:center;
	border:1px solid black;
}
.fix_headaan{
	background-color:#E0F0B2;

}
.fix_headaao{
	background-color:#FFF0B2;
}
.fix_headaaa{
	background-color:#AD8533;
}
.fix_headaat{
	background-color:#008C44;
	color:#000;
}
.highlight_bar{background-color:#9E0039;color:#fff;}
#excellg{
	
	padding-top:50px;
	padding-bottom:25px;
	padding-right:50px;
	padding-left:50px;

}

div.status_tab{
	width: 20px;
	height: 18px;
	line-height: 18px;
	text-align: center;
	margin: 2px 1px;
	float: left;
	border: 1px solid;
	font-weight: bold;
}
div.status_tab:hover{
	color: white;
	background-color: #98FB98;
}
div.status_noactive{
	color: gray;
	background-color: #eee;
}
div.status_active{
	color: red;
	background-color: orange;
}

/*การจัดการลูกค้ามุ่งหวัง*/
div.float_status{
	float: left;
	width: 21px;
	height: 21px;
	border: 1px solid #777;
	margin: 1px;
}
div.float_status:hover{
	border: 1px solid #3DFF00;
}
tr.cus_manage_tr:hover{
	background-color: #DFFFDF;
}
.tb_cus_manage_list{
	padding:none;margin:none;border-top:none;border-bottom:none;
}
.tb_cus_manage_list tr,table.manage_self_table tr{
	font-size:11px;height:30px;	
}

.tb_cus_manage_list td{
	border-style: solid;
	border-width: 1px;
	border-color: #fefefe #cccccc #cccccc #fefefe;
}

table.manage_self_table td{
	border-top: 1px solid #DFFFDF;
	border-bottom: 1px solid #B9CFB5;
}

.active_manage_cuslist{
	background-color: #DFFFDF;	
}


div.alertBox{
	border:5px solid #33CC00;
	background-color:#fff;
	color:#000;
	font-weight:bold;font-size:14;
	width:600px; 
	position: absolute;
	margin:auto;
	height:150px;
	text-align:center;
	font-size:12px;
	z-index:500;
}
.ui-corner {
	-moz-border-radius: 10px;
	margin: 10px;
	padding: 20px;
	border-color: #CCCCCC;
	border-style: solid;
	vertical-align: top;
}
#color_bind_head{
	margin: 0 auto;
	width: 90%;
}

/* TABLE STYLE */
#box-table-a{
	font-size: 12px;
	/* margin: 45px; */
	margin:0 auto;
	width: 100%;
	text-align: left;
	/* border-collapse: collapse;*/
}
#box-table-a th{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #b9c9fe;
	border-top: 4px solid #aabcfe;
	border-bottom: 1px solid #fff;
	color: #039;
}
#box-table-a td{
	padding: 8px;
	background: #e8edff; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid transparent;
}
#box-table-a tr:hover td{
	background: #d0dafd;
	color: #339;
}
#box-table-a tbody{
	 overflow: auto;
	 height: 80%;
	 overflow-x: hidden;
}

#box-table-a td.moved{
	background: #330000; 
	border-bottom: none;
	color: #669;
	border-top: none;
}
#box-table-a tr:hover td.moved{
	background: #330000;
	color: #339;
}

table.tb_product_list{
	width : 75%;	
}