#notifier{
	width:300px;
	height:140px;
	display:none;
	border-top:1px solid ;
	border-left:1px solid ;
	border-right:1px solid ;
	border-color:#0052a5;
	position:fixed;
	right:5px;
	bottom:0px;
	background:#9ee7fa url(../img/label_black_new.png) no-repeat top right;
	padding:5px;
}
#notifier #close{
	position:absolute;
	top:-20px;
	right:5px;
}
#notifier #noti_h3{
	color:red;
}
	#notifier p>a{
		color:#8F5F4A;
		font-size:15px;
		font-weight: normal;
		padding-left:24px;
		background:url(../img/calendar_1.png) left no-repeat;
		margin:5px 0;
		display:block;
	}
.notifier{
	width:300px;
	height:100px;
	display:none;
	border-top:1px solid ;
	border-left:1px solid ;
	border-right:1px solid ;
	border-color:#0052a5;
	position:fixed;
	right:5px;
	bottom:0px;
	background:#9ee7fa;
	padding:5px;
}
table#tbBirthday{
	border-collapse : collapse;
	
}
table#tbBirthday td{
	padding : 3px; 
	border : 1px solid #000;border-color: #cccccc;
	background-color:#EDECEB;
	padding:10px;
	white-space: nowrap;
}
table#tbBirthday th{
	font-size:14px;	
	background-color:#6B674E;
	color:#EFEDE0;
	padding:15px;
	border : 1px solid #000;border-color: #cccccc;
}
table#tbBirthday tr:hover td{
	background-color:#FDFDE7;
	color:#555555;
}
table#tbBirthday td a:not(.mynavi) {
	background:url("../img/manview.png") no-repeat scroll right center transparent;
	color:#555555;
	display:block;
	overflow:hidden;
	padding-righ:24px;
	white-space:nowrap;
	width:600px;
}
/*
table#tbBirthday td a{
	color:#555555;
	overflow:hidden;

	display:block;
	white-space: nowrap;
	
}*/
#timenow{
	font-size:18px;
	text-align:center;
	margin:15px 0;
	background:white;
	padding:10px;
}
#BDform{
	text-align:center;
}
#formframe{
	width:80%;
	border:1px solid #cccccc;
	margin-left: auto;
  	margin-right: auto;
  	padding:5px;
  	text-align:left;
  	position:relative;
}
#birthsearch{
	position:absolute;
	right:5px;

}
#check_success{
	width:40%;
	text-align:center;
	margin-left:auto;
  	margin-right:auto;
  	padding:35px;
  	position:fixed;
  	left:30%;
  	bottom:50%;
  	display:none;
  	border:1px solid #008DBF;
  	background:#137E9F;
  	font-size:16px;
  	color:white;
}
#eventshow{
	width:940px;
	border:1px solid #ccc;
	background:#EDECEB;
	font-size:14px;
	padding:10px;
/*	margin:10px; */
	background-color: #ffffff;
}
#detailTitle{
		width:940px;
		border:1px solid #71C521;
		background:#E1F6C5;
		font-size:14px;
		padding:10px;
	}
#eventshow>h1{
	border-bottom:dashed 1px #55cc55;
	margin-bottom:10px;
	width:958px;
	overflow:auto;
	white-space: nowrap;
}
#eventshow #bottomdetail{
	border-top:dashed 1px #55cc55;
	padding:5px 0;
	margin-top:10px;
	width:940px;
	overflow:hidden;
}
	
#eventshow #bottomdetail div[class^='ชิด'] span:not(.สุดท้าย){
		margin-right:7px;
}
#eventshow #bottomdetail>div[class$='ขวา']{
		float:right;
}
#eventshow #bottomdetail>div[class$='ซ้าย']{
		float:left;
}
	
/*#############################WAIT DN#################################################*/
#mainform{
	margin:15px auto;
	width:960px;

	
	text-align:center;
	padding:10px;
}
#rowbox div:hover{
	background:#E9F6D0;
}
#rowbox div{
	border:solid 1px #A7A7A7;padding:5px;margin:2px;background:#F6F4D0
}
#rowbox div input[type="text"]{
	width:50px
}
#rowbox div label:not(:first-child),#mainform label:not(:first-child){
	margin-left:10px
}
table#tblistWait{
	border-collapse:collapse;
	margin:auto;
}
#tblistWait tr td{
	text-align:center;
	padding:5px 1px;
}
	#tblistWait tr td img{
		margin:0;
		padding:0;
		vertical-align:middle;
		cursor:pointer;
		
	}
	#tblistWait tr th{
		background:#6B674E;
		padding:10px 20px;
		/*border:1px solid #6B674E;*/
		color:white;
	}
	#tblistWait tr:hover td{
		border-bottom:1px dotted  #6B674E;
		border-top:1px dotted  #6B674E;
		background:#FFE0D6;
	}
	
	#listboxType,#listboxGname{ /* naizan edit*/
		position: absolute;
		width: 120px;
		border:1px solid #00BFFF;
		font-size: 12px;
		display: none;
	}
	.auto_list{
		background: #daf4f5;
		padding: 3px;
		color: #0000ff;
		border-bottom: 1px solid #eeeeee;
	}
	.auto_list_over{
		background: #FFE4B5	;
		color: #00BFFF;
		font-weight:bold;
		padding: 5px;
		cursor: pointer;
		border: 1px solid #eeeeee;
	}
	.require{  
		height:20px;  
		color:#FF0000;   
		font-size:12px;  
		width:100px;  
		float:none;  
	}
	
	#tbreport,#tbHreport{ 	/* naizan add #tbHreport*/
		margin:20px auto;
		border-collapse:collapse;
	}
	
	#tbreport tr th,#tbHreport tr th{/* naizan add #tbHreport tr th*/
		background:#757A80;
		color:#FFFFFF;
	/*	padding:10px 10px; {naizan comment}*/ 
	}
	#tbreport tr td{
	/*	padding:10px 10px; {naizan comment}*/
		text-align:center;
	}
	.saftystock{
		padding-left:0 !important;
		padding-right:0 !important;
	}
	.saftystock input{
		width:50px;
		height:15px;
	}
	#tbreport tr td.want{
		font-weight: bold;		
	}
	#tbreport tr:hover:not(.summodel) td{
		background:#F9CCCC;
	}
	#tbreport tr:hover:not(.summodel) td a{font-size:15px;}
	#tbreport tr:hover:not(.summodel) td.want{
		background-image:url("http://cdn.iconfinder.net/data/icons/fugue/icons/arrow-curve-000-left.png");
		background-color:#F9CCCC;
		background-position:  left center;
		background-repeat: no-repeat;
	}
	#tbreport tr:hover:not(.summodel) td.want a{
		background:#FDE356;
		border:1px dashed #EBB400;
		padding:3px;
		color:#EB002B;
	}
td.totaladd{
	color: blue;
	background-color: #FAF8CC;
}
td.sumtotal{
	color: blue;
	font-weight: bold;
	background-color: #FAF8CC;
}
tr.summodel{
	color:green;
	height:32px;
	vertical-align: top;
	border-top:2px dashed #425872;
	background:white;
	border-bottom:2px dashed #425872;
}
tr.summodel td{
	padding-top: 3px;	
}
div#dncarsearch{
	border:1px solid #AAB1BA;
	margin:20px auto 0;
	padding:10px 20px;
	width:960px;
}
	div#dncarsearch label:not(:first-child){
		margin-left:15px;
	}
	div#dncarsearch input[type='button']{
		float:right;
	}
.หัวข้อเพิ่มOD{
	font-size:14px;
	padding:5px; 
}
div.กล่องค้นหา{
	margin:15px auto;
	padding:10px;
	width:960px;
	border:1px solid #AA9797;
}
.ชิดซ้าย{	float:left;display:block;}
.ชิดขวา{float:right;display:block;}





.popup{
	position: absolute;
	padding: 2px;
	border: 1px solid grey;
	background-color: white;
	z-index:1002;
	overflow: auto;
	/*set screen center*/
	top: 50%;
	left: 50%;

	width:450px;height:250px;

}
.displayNone{display:none;}

#popup_overlay{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
	 position:absolute;
	 left:0;
	 top:0;
	 background-color:#000;
	 opacity:0.7;
	 filter:alpha(opacity=70);
	 width:100%;
	 height:100%;
	 z-index:100;
}


