.preloadAjax ol,.preloadAjax  ul {
  list-style: none;
}

.preloadAjax  blockquote,.preloadAjax  q {
  quotes: none;
}

.preloadAjax  blockquote:before,.preloadAjax  blockquote:after,
q.preloadAjax  :before,.preloadAjax  q:after {
  content: '';
  content: none;
}

.preloadAjax  table {
  border-collapse: collapse;
  border-spacing: 0;
}

.preloadAjax  .about {
  margin: 70px auto 40px;
  padding: 8px;
  width: 260px;
  font: 10px/18px 'Lucida Grande', Arial, sans-serif;
  color: #666;
  text-align: center;
  text-shadow: 0 1px rgba(255, 255, 255, 0.25);
  background: #eee;
  background: rgba(250, 250, 250, 0.8);
  border-radius: 4px;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 0 6px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 0 6px rgba(0, 0, 0, 0.2);
}
.preloadAjax  .about a {
  color: #333;
  text-decoration: none;
  border-radius: 2px;
  -webkit-transition: background 0.1s;
  -moz-transition: background 0.1s;
  -o-transition: background 0.1s;
  transition: background 0.1s;
}
.preloadAjax  .about a:hover {
  text-decoration: none;
  background: #fafafa;
  background: rgba(255, 255, 255, 0.7);
}

.preloadAjax  .about-links {
  height: 30px;
}
.preloadAjax  .about-links > a {
  float: left;
  width: 50%;
  line-height: 30px;
  font-size: 12px;
}

.preloadAjax  .about-author {
  margin-top: 5px;
}
.preloadAjax  .about-author > a {
  padding: 1px 3px;
  margin: 0 -1px;
}

/*
 * Copyright (c) 2012-2013 Thibaut Courouble
 * http://www.cssflow.com
 *
 * Licensed under the MIT License:
 * http://www.opensource.org/licenses/mit-license.php
 */

.preloadAjax  .container {
  margin: 80px auto;
  width: 640px;
  text-align: center;
}
.preloadAjax  .container .progress {
  margin: 0 auto;
  width: 400px;
}

.preloadAjax  .progress {
  padding: 4px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.preloadAjax  .progress-bar {
  position: relative;
  height: 16px;
  border-radius: 4px;
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
}
.preloadAjax  .progress-bar:before, .progress-bar:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.preloadAjax  .progress-bar:before {
  bottom: 0;
  background: url("../img/stripes.png") 0 0 repeat;
  border-radius: 4px 4px 0 0;
}
.preloadAjax  .progress-bar:after {
  z-index: 2;
  bottom: 45%;
  border-radius: 4px;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
}


.preloadAjax  #five:checked ~ .progress > .progress-bar {
  width: 5%;
  background-color: #f63a0f;
}

.preloadAjax  #twentyfive:checked ~ .progress > .progress-bar {
  width: 25%;
  background-color: #f27011;
}

.preloadAjax  #fifty:checked ~ .progress > .progress-bar {
  width: 50%;
  background-color: #f2b01e;
}

.preloadAjax  #seventyfive:checked ~ .progress > .progress-bar {
  width: 75%;
  background-color: #f2d31b;
}

.preloadAjax  #onehundred:checked ~ .progress > .progress-bar {
  width: 100%;
  background-color: #86e01e;
}

.preloadAjax  .radio {
  display: none;
}

.preloadAjax  .label {
  display: inline-block;
  margin: 0 5px 20px;
  padding: 3px 8px;
  color: #aaa;
  text-shadow: 0 1px black;
  border-radius: 3px;
  cursor: pointer;
}
.preloadAjax  .radio:checked + .label {
  color: white;
  background: rgba(0, 0, 0, 0.25);
}

.preloadAjax{

  /*position: absolute;
  width: 100%;
  height: 100%;*/
  background: rgba(0, 0, 0, 0.9);

  position: fixed; 
  height: 100%; 
  width: 100%; 
  left: 0px; 
  top: 0px; 
  z-index: 9999; 
  vertical-align: middle; 


}
