#watch-actions-area-container {
	-moz-box-shadow: 0 0 10px 1px #BAB9B9;
    background-color: #FFFFFF;
    border-color: #898989;
    border-style: solid;
    margin-bottom: 10px;
}
#watch-actions-area-container.transitioning {
    overflow: hidden;
}
#watch-actions-area {
    -moz-border-radius: 3px 3px 3px 3px;
    -moz-box-shadow: 0 1px 1px #CCCCCC;
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 10px;
}
#watch-actions-area .watch-action-result {
}
#watch-actions-area h3 {
    margin: 0 0 5px;
}
#watch-actions-area p {
    line-height: 1.4;
    margin-bottom: 10px;
}
#watch-actions-area .yt-alert.yt-alert-naked {
    margin: 0;
    padding: 0;
}
.watch-ratings-stats, .watch-ratings-stats-divider {
    margin-top: 10px;
}
.watch-ratings-stats-divider {
    padding-top: 10px;
}
.watch-ratings-stats-table {
    width: 100%;
}
.watch-ratings-stats-table td {
    color: #666666;
    font-size: 90%;
    padding: 3px 5px;
}
.watch-ratings-stats-table .likes-bar, .watch-ratings-stats-table .dislikes-bar {
    height: 9px;
}
.likes-bar {
    background-color: #AADA37;
    border: 1px solid #698A14;
}
.dislikes-bar {
    background-color: #CF362F;
    border: 1px solid #881811;
}
.watch-ratings-stats-parenthesis {
    color: #666666;
    font-size: 90%;
}
.watch-check-grn-circle {
    background: none no-repeat scroll 0 0 transparent;
    height: 16px;
    margin-right: 10px;
    vertical-align: -17%;
    width: 16px;
}
#watch-action-confirmation .watch-check-grn-circle {
    display: inline-block;
    float: left;
    vertical-align: top;
}
#watch-action-confirmation #watch-action-response-message {
    display: inline-block;
    margin: 4px 0 0;
    width: 535px;
}
#watch-action-confirmation #watch-action-response-message .video-list-item .ux-thumb-wrap {
    float: none;
}
#watch-action-confirmation #watch-action-response-message.full-width {
    width: auto;
}
#watch-action-response-message .video-list-item {
    padding-left: 0;
    padding-right: 0;
    width: 150px;
}
#watch-action-response-message .yt-alert-content {
    font-weight: normal;
}
#watch-response-header {
    margin: 10px 0 30px;
}
#watch-response-header, #watch-response-header a {
    color: #333333;
}
#watch-response-header a:hover {
    color: #1C62B9;
}
#watch-response-header h2 {
    font-size: 24px;
    font-weight: normal;
}
#watch-response-header .separator {
    color: #B9C1C2;
    font-size: 24px;
    font-weight: bold;
    margin-right: 5px;
}
#watch-response-sidebar {
    float: left;
    margin-bottom: 20px;
    margin-right: 20px;
    padding-right: 20px;
    position: relative;
    width: 288px;
}
#watch-response-sidebar {
    overflow: hidden;
}
#watch-response-sidebar .yt-horizontal-rule {
    margin: 20px 0 15px;
}
#watch-response-sidebar h3 {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 10px;
}
#watch-response-sidebar p {
    color: #666666;
    font-size: 11px;
}
#watch-response-channel .yt-tile-visible {
    margin: 0 1px 2px;
    overflow: hidden;
}
#watch-response-channel .yt-user-photo {
    float: left;
    margin-right: 6px;
}
#watch-response-content {
    font-size: 0;
}
#watch-response-content, #watch-response-content .yt-tile-default {
    overflow: hidden;
}
#watch-response-content .yt-tile-default {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 10px;
    vertical-align: top;
    width: 138px;
}
#watch-response-content .ux-thumb-wrap {
    display: block;
}
#watch-response-content .yt-tile-default h3 {
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal;
}
.watch-share-button {
    margin-bottom: 7px;
    margin-right: 2px;
}
#watch-actions-area .close {
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 5px;
}
#watch-actions-area .close-button:hover, #watch-main .close-button:hover, #watch-content .close-button:hover {
    opacity: 1;
}
#watch-like-share, #watch-colike-videos {
    margin: 10px;
}
#watch-colike-videos {
    overflow: hidden;
}
#watch-like-share-services, #watch-like-share-services li {
    display: inline-block;
}
#watch-like-share-services li {
    margin-right: 0.5em;
    vertical-align: middle;
}
#watch-like-share-plusone {
}
#watch-like-share-plusone > div {
    position: relative;
    top: 2px;
}
#watch-like-share .share-panel-url {
    margin-left: 0.5em;
    vertical-align: middle;
    width: 400px;
}
#watch-actions-share .share-panel-url {
    margin-right: 10px;
    width: 375px;
}
#watch-actions-area .divider, .watch-ratings-stats-divider {
    border-top: 1px solid #CCCCCC;
}
#watch-discussion {
    margin-top: 20px;
}
#watch-discussion:hover .yt-tile-default {
}
#watch-video-annotation {
    background: none repeat scroll 0 0 #F5F9FC;
    border: 1px solid #CBE9F1;
    font-size: 13px;
    padding: 10px;
}
#watch-video-annotation-content {
    display: block;
    padding: 10px;
}
#watch-video-annotation-metadata {
    color: #666666;
    padding-top: 5px;
}
#watch-video-annotation-editable.unannotated .has-annotation, #watch-video-annotation-editable.annotated .no-annotation, #watch-video-annotation-editable.not-editing #watch-video-annotation-form, #watch-video-annotation-editable.editing #watch-video-annotation-display {
    display: none;
}
#watch-video-annotation-options a {
    cursor: pointer;
}
#watch-video-annotation-form label {
    color: #666666;
    display: block;
    padding-bottom: 10px;
}
#watch-video-annotation-textarea {
    width: 400px;
}
#watch-default-help {
    clear: both;
    font-weight: bold;
}
#watch-sidebar h4.watch-sidebar-head {
    min-height: 25px;
    padding: 0 16px;
}
#watch-sidebar .yt-horizontal-rule {
    margin: 0 10px 10px;
}
#watch-sidebar .yt-horizontal-rule span {
    display: none;
}
#watch-sidebar .video-list-item {
    padding: 0;
}
#watch-sidebar .video-list-item a {
    -moz-border-radius: 2px 2px 2px 2px;
    background: none repeat scroll 0 0 transparent;
    border-bottom: 1px solid transparent;
    padding: 5px;
}
#watch-sidebar .video-list-item a:hover {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom-color: #CCCCCC;
}
#watch-sidebar .video-list-item a:hover, #watch-sidebar:hover .video-list-item a {
}
.yt-tile-default.video-list-item a .title, #watch-sidebar .video-list-item .title {
    color: #333333;
    font-size: 13px;
    font-weight: bold;
    line-height: 15px;
    max-height: 30px;
    text-decoration: none;
    width: auto;
}
.yt-tile-default.video-list-item a:hover .title:hover, #watch-sidebar .video-list-item a:hover .title:hover {
    text-decoration: underline;
}
.yt-tile-default.video-list-item a:visited:hover .title, #watch-sidebar .video-list-item a:visited:hover .title {
    color: #3E1FA0;
}
.yt-tile-default.video-list-item a:hover .title, #watch-sidebar .video-list-item a:hover .title {
    color: #1C62B9;
    text-decoration: none;
}
#watch-sidebar .video-list-item .description {
    color: #666666;
    font-size: 11px;
    line-height: 1.2em;
    max-height: 2.4em;
    overflow: hidden;
}
.watch #watch-longform-ad {
    padding: 0 0 0 5px;
}
.watch-branded #watch-longform-ad {
    padding: 0 5px;
}
.watch #watch-channel-brand-div {
    margin-left: 5px;
}
.watch-branded #watch-channel-brand-div {
    margin-left: 0;
}
.watch-branded.watch-autohide #watch-sidebar {
    margin-top: -440px;
}
.watch-branded.watch-multicamera #watch-sidebar {
    margin-top: -547px;
}
.watch-branded.watch-autohide.watch-multicamera #watch-sidebar {
    margin-top: -520px;
}
.watch-branded .watch-sidebar-head .content, .watch-branded .watch-sidebar-body, .watch-branded .watch-sidebar-foot .content {
    padding: 0 10px;
}
.watch-branded .watch-sidebar-head .yt-horizontal-rule {
    margin-left: 10px;
    margin-right: 10px;
}
.watch-wide #watch-sidebar {
    margin-top: 0 !important;
}
.watch-branded .watch-sidebar-head .yt-horizontal-rule {
    margin-left: 10px;
    margin-right: 10px;
}
.watch-branded #footer .yt-horizontal-rule {
    border-top: 1px solid #DDDDDD;
    overflow: hidden;
}
#ie #page.watch-branded #watch-sidebar {
    background: none repeat scroll 0 0 transparent;
    padding-top: 10px;
}
#watch-sidebar .watch-sidebar-section {
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    z-index: 2;
}
#watch-sidebar-help {
    font-weight: bold;
    margin-left: 5px;
    padding-left: 15px;
}
.watch-sidebar-head, .watch-sidebar-foot {
    margin: 0;
    min-height: 30px;
    overflow: hidden;
    padding: 0;
    position: relative;
}
.watch-sidebar-body {
    position: relative;
}
.watch-sidebar-head .content, .watch-sidebar-body, .watch-sidebar-foot .content {
    margin: 0;
    overflow: hidden;
    padding: 0 10px;
}
.watch-sidebar-head .content, .watch-sidebar-foot .content {
    padding-left: 20px;
}
.watch-sidebar-body {
    padding-left: 15px;
    position: relative;
    z-index: 2;
}
.watch-sidebar-body .video-list {
    position: relative;
    z-index: 2;
}
#watch-live-comments #comments-post-form {
    width: 100%;
}
#watch-live-comments .comments-section h4 {
    border-bottom: 0 none;
    margin-bottom: 0;
    padding-bottom: 2px;
}
#watch-live-comments .comments-post-area {
    margin-top: -10px;
    width: 100%;
}
#watch-live-comments .comments-textarea {
    width: 95%;
}
#watch-live-comments .comments-reply-form .comments-textarea {
    height: 60px;
    width: 250px;
}
#watch-live-comments #comments-post-form-alert {
    left: 4px;
    top: 4px;
    width: 270px;
}
#watch-live-comments {
}
#watch-popup-help {
    background: none repeat scroll 0 0 white;
    border-top: 1px solid #CCCCCC;
    bottom: 0;
    font-weight: bold;
    height: 20px;
    padding-left: 8px;
    padding-top: 3px;
    position: absolute;
    width: 100%;
}
#watch-live-comments #comments-scroller {
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    height: 400px;
    overflow: auto;
}
#watch-live-comments-popup #comments-post {
    background-color: #FFFFFF;
    border-bottom: 1px solid #CCCCCC;
    padding: 2px 10px;
}
#watch-live-comments-popup #watch-live-comments, #watch-live-comments-popup {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
}
#watch-live-comments-popup #watch-live-comments, #watch-live-comments-popup {
    top: 0;
}
#watch-live-comments-popup #comments-scroller {
    border-top: 0 none;
    height: auto;
}
#watch-live-comments .comment div, #watch-live-comments .comment p {
    width: auto;
}
#watch-live-comments .live-comments-setting {
    font-size: 0.9166em;
    margin: 0;
    padding: 2px;
}
#watch-context {
    -moz-border-radius: 3px 3px 3px 3px;
    border: 1px solid #CCCCCC;
    overflow: hidden;
}
#watch-context .context-head {
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid #CCCCCC;
    height: 50px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    z-index: 1;
}
#watch-sidebar #watch-context-container {
    position: relative;
}
#watch-context-container .yt-horizontal-rule {
    display: none;
}
.context-link {
    -moz-border-radius: 3px 3px 3px 3px;
    -moz-box-shadow: 0 0 1px #FFFFFF inset;
    background: -moz-linear-gradient(center top , #FFFFFF 0pt, #E0E0E0 100%) repeat scroll 0 0 #F6F6F6;
    color: #555555;
    display: block;
    font-size: 11px;
    overflow: hidden;
    padding: 8px;
    position: relative;
    text-shadow: 0 0 0 transparent, 0 1px 0 #FFFFFF;
    z-index: 2;
}
a.context-link:hover {
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), 0 0 3px #FFFFFF inset;
    background: -moz-linear-gradient(center top , #FFFFFF 0pt, #E0E0E0 100%) repeat scroll 0 0 #F3F3F3;
    text-decoration: none;
}
a.context-link:hover .context-title {
    text-decoration: underline;
}
.context-icon, .context-image {
    -moz-border-radius: 3px 3px 3px 3px;
    float: left;
    height: 34px;
    margin-right: 8px;
    width: 34px;
}
.context-icon-empty, .context-icon-guide-empty {
    background: none repeat scroll 0 0 transparent;
    width: 0;
}
.context-icon-empty {
    margin-right: 0;
}
.context-image .video-thumb {
    display: block;
}
.context-title, .context-info, .context-seeall {
    display: block;
    line-height: 1.33333;
}
.context-info {
    color: #666666;
    font-size: 0.83333em;
}
.context-body {
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset;
    background: none repeat scroll 0 0 #E3E3E3;
    padding: 4px 0;
    position: relative;
    z-index: 0;
}
#watch-context .video-list-item {
    margin-bottom: 0;
}
#watch-context .video-list-item a {
    padding: 4px 10px;
}
#watch-context .video-list-item .stat {
    height: 1.2em;
    line-height: 1.2em;
}
.context-icon-guide-feed {
    background-position: 0 -1286px;
}
.context-icon-guide-chart-animals {
    background-position: 0 -1724px;
}
.context-icon-guide-chart-comedy {
    background-position: 0 -1512px;
}
.context-icon-guide-chart-education {
    background-position: 0 -300px;
}
.context-icon-guide-chart-entertainment {
    background-position: 0 -384px;
}
.context-icon-guide-chart-film {
    background-position: 0 -2016px;
}
.context-icon-guide-chart-gadgets {
    background-position: 0 -205px;
}
.context-icon-guide-chart-howto {
    background-position: 0 -1440px;
}
.context-icon-guide-chart-news {
    background-position: 0 -1760px;
}
.context-icon-guide-chart-nonprofits {
    background-position: 0 -869px;
}
.context-icon-guide-chart-people {
    background-position: 0 -1041px;
}
.context-icon-guide-chart-science {
    background-position: 0 -2241px;
}
.context-icon-guide-chart-sports {
    background-position: 0 -1908px;
}
.context-icon-guide-chart-travel {
    background-position: 0 -1113px;
}
.context-icon-guide-chart-vehicles {
    background-position: 0 -1980px;
}
.context-icon-guide-social-facebook {
    background-position: 0 -1944px;
}
.context-icon-guide-social-googleplus {
    background-position: 0 -931px;
}
.context-icon-guide-system-music {
    background-position: 0 -1814px;
}
.context-icon-guide-system-popular {
    background-position: 0 -797px;
}
.context-icon-guide-system-slam {
    background-position: 0 -1077px;
}
.context-icon-guide-system-trending {
    background-position: 0 -1250px;
}
#watch-sidebar .video-list-item a.related-channel {
    padding-left: 61px;
}
#watch-sidebar .video-list-item a.related-movie {
    padding-left: 26px;
}
#watch-sidebar .ux-thumb-profile-64 {
    background-color: #333333;
}
#watch-sidebar .ux-thumb-profile-64 {
    height: 64px;
    width: 64px;
}
#watch-sidebar .ux-thumb-profile-64 img {
    height: 64px;
}
.thumb-normal #watch-sidebar .ux-thumb-profile-64 .clip img {
    left: -1px;
    position: relative;
}
#watch-sidebar .ux-thumb-profile-64 .profile-centering-wrap {
    line-height: 64px;
    width: 264px;
}
#watch-sidebar .video-list-item-channel .stat {
    height: 17px;
}
#watch-sidebar .video-list-item-channel .yt-badge-std {
    margin-right: 5px;
}
.yt-horizontal-rule {
    border-bottom: 1px solid #FFFFFF;
    border-top: 1px solid #DDDDDD;
    height: 0;
    margin: 0;
    position: relative;
    z-index: -99;
}
hr.yt-horizontal-rule {
    margin: 10px 0;
}
.yt-horizontal-rule span {
    border: medium none;
    display: block;
    height: 80px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: -80px;
    z-index: -100;
}
.yt-horizontal-rule .first {
    background: -moz-radial-gradient(right bottom , circle , rgba(0, 0, 0, 0.08), transparent 80px, transparent 100%) repeat scroll 0 0 transparent;
    left: 0;
    width: 80px;
}
.yt-horizontal-rule .second {
    background: -moz-radial-gradient(left bottom , circle , rgba(0, 0, 0, 0.08), transparent 80px, transparent 100%) repeat scroll 0 0 transparent;
    right: 0;
    width: 80px;
}
.yt-horizontal-rule .third {
    background: -moz-linear-gradient(center bottom , rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.08) 1px, rgba(0, 0, 0, 0.08) 1px, transparent 80px, transparent 100%) repeat scroll 0 0 transparent;
    margin-left: 80px;
    margin-right: 80px;
    position: relative;
    top: -80px;
}
.yt-vertical-rule {
    position: relative;
}
.yt-vertical-rule-main, .yt-vertical-rule-corner-top, .yt-vertical-rule-corner-bottom, .yt-vertical-rule-main-flip, .yt-vertical-rule-corner-top-flip, .yt-vertical-rule-corner-bottom-flip {
    border: 0 none;
    width: 30px;
    z-index: -1;
}
.yt-vertical-rule-main, .yt-vertical-rule-corner-top, .yt-vertical-rule-corner-bottom {
    left: 0;
}
.yt-vertical-rule-main-flip, .yt-vertical-rule-corner-top-flip, .yt-vertical-rule-corner-bottom-flip {
    right: 0;
}
.yt-vertical-rule-main, .yt-vertical-rule-main-flip {
    bottom: 30px;
    height: auto;
    position: absolute;
    top: 30px;
}
.yt-vertical-rule-main, .rtl .yt-vertical-rule-main-flip {
    background: -moz-linear-gradient(left center , rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.08) 1px, rgba(0, 0, 0, 0.08) 1px, transparent 30px, transparent 100%) repeat scroll 0 0 transparent;
}
.yt-vertical-rule-main-flip, .rtl .yt-vertical-rule-main {
    background: -moz-linear-gradient(right center , rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.08) 1px, rgba(0, 0, 0, 0.08) 1px, transparent 30px, transparent 100%) repeat scroll 0 0 transparent;
}
.yt-vertical-rule-corner-top, .yt-vertical-rule-corner-bottom, .yt-vertical-rule-corner-top-flip, .yt-vertical-rule-corner-bottom-flip {
    height: 30px;
    position: absolute;
}
.yt-vertical-rule-corner-top, .yt-vertical-rule-corner-top-flip {
    top: 0;
}
.yt-vertical-rule-corner-top, .rtl .yt-vertical-rule-corner-top-flip {
    background: -moz-radial-gradient(left bottom , circle , rgba(0, 0, 0, 0.08), transparent 30px, transparent 100%) repeat scroll 0 0 transparent;
}
.yt-vertical-rule-corner-top-flip, .rtl .yt-vertical-rule-corner-top {
    background: -moz-radial-gradient(right bottom , circle , rgba(0, 0, 0, 0.08), transparent 30px, transparent 100%) repeat scroll 0 0 transparent;
}
.yt-vertical-rule-corner-bottom, .yt-vertical-rule-corner-bottom-flip {
    bottom: 0;
}
.yt-vertical-rule-corner-bottom, .rtl .yt-vertical-rule-corner-bottom-flip {
    background: -moz-radial-gradient(left top , circle , rgba(0, 0, 0, 0.08), transparent 30px, transparent 100%) repeat scroll 0 0 transparent;
}
.yt-vertical-rule-corner-bottom-flip, .rtl .yt-vertical-rule-corner-bottom {
    background: -moz-radial-gradient(right top , circle , rgba(0, 0, 0, 0.08), transparent 30px, transparent 100%) repeat scroll 0 0 transparent;
}
.yt-close:hover .yt-close-img, .yt-close-img:hover, .box-close-link:hover img, .yt-uix-clickcard-close:hover, .yt-uix-clickcard-close:focus, .close-small:hover, .close-small:focus {
    background-color: transparent;
    opacity: 1;
}
#yt-feedback {
    bottom: 0;
    margin: 0;
    position: fixed;
    right: 0;
    z-index: 999999;
}
#yt-feedback .yt-alert-content {
    font-size: 11px;
    padding: 10px 35px 10px 5px;
}
#yt-feedback .yt-alert .close {
    top: 5px;
}
#yt-feedback a {
    margin: 0 4px;
    text-decoration: none;
}
#yt-feedback a:hover {
    text-decoration: underline;
}
.yt-grid-site {
    margin: 0 auto;
    width: 970px;
}
.yt-grid-unit, .yt-grid-small, .yt-grid-medium, .yt-grid-large, .yt-grid-huge {
    float: left;
    margin-right: 14px;
}
.yt-grid-container {
    overflow: auto;
}
.yt-grid-strict-container {
    overflow: hidden;
}
body .yt-grid-last {
    margin-left: 0;
}
.yt-grid-inline {
    font-size: 0;
}
.yt-grid-unit-inline, .yt-grid-small-inline, .yt-grid-medium-inline, .yt-grid-large-inline, .yt-grid-huge-inline {
    display: inline-block;
    font-size: 13px;
    margin-right: 14px;
    vertical-align: top;
}
.yt-grid-unit, .yt-grid-unit-inline {
    width: 27px;
}
.yt-grid-small, .yt-grid-small-inline {
    width: 164px;
}
.yt-grid-medium, .yt-grid-medium-inline {
    width: 246px;
}
.yt-grid-large, .yt-grid-large-inline {
    width: 328px;
}
.yt-grid-huge, .yt-grid-huge-inline {
    width: 492px;
}
p.yt-spinner, p.loading-spinner {
    line-height: 20px;
    margin: 0;
    padding: 1em;
    text-align: center;
}
hr {
    border-color: #999999 -moz-use-text-color -moz-use-text-color;
    border-right: 0 none;
    border-style: dashed none none;
    border-width: 1px 0 0;
    height: 1px;
    margin-top: 12px;
}
label {
    cursor: pointer;
}
#auto_follower_up{
	width:400px;
	margin-left:10px;
	-moz-border-radius: 3px 3px 3px 3px;
    -moz-box-shadow: 0 1px 0 #FFFFFF, 0 1px 1px rgba(0, 0, 0, 0.17) inset;
    background: none repeat scroll 0 0 #F6F6F6;
    border-color: #A4A4A4 #B9B9B9 #B9B9B9;
    border-right: 1px solid #B9B9B9;
    border-style: solid;
    border-width: 1px;
    color: #666666;
    font-size: 13px;
    padding: 7px 10px;
}
table.fixed {
    table-layout: fixed;
}
.wp-list-table{
	 color: #333333;
}
.widefat {
    background-color: #F9F9F9;
    border-color: #DFDFDF;
}
.widefat {
    border-spacing: 0;
    clear: both;
    margin: 0;
    width: 100%;
}
.widefat * {
    word-wrap: break-word;
}
.widefat .check-column {
    padding: 0px auto;
    vertical-align: top;
    width: 2.2em;
}
