.bodyReportAll{
  font-family:Tahoma, Helvetica, sans-serif;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
  font-size:13px;
  color:#707070 ;
}
.bodyReportAll table, .bodyReportAll tbody, .bodyReportAll th, .bodyReportAll td {
  vertical-align: middle;
  border-width:0px;
}
.bodyReportAll tbody tr:nth-child(2n+1) td, .bodyReportAll tbody tr.odd td {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.bodyReportAll a:focus , .bodyReportAll a:hover {
  color: white !important;
}
.paddingShow{
	padding: 10px;
}
#formReportAll table tr{
  color: #000000 ;
}
.text-align-right{
	text-align: right;
}
.text-align-left{
	text-align: left;
}
.text-align-center{
	text-align: center;
}
a.buttonS{
    background-color: #85b937;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 8pt;
    font-weight: bold;
    height: 20px;
    padding: 2px 12px;
    text-decoration: none;
    width: auto;
}
.nz_default_tb{
	padding: 0px;
	border-spacing: 0px;
}
.nz_default_tb td,.nz_default_tb th{
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 2px;
    height: 20px;
}

.nz_default_tb tr:nth-child(even) {background-color: #F3F3F3}
.nz_default_tb tr:nth-child(odd) {background-color: #E9E9E9}

.nz_default_tb tr:hover{
	background-color: snow;
}
.nz_bd_yellow{
	padding: 0px;
	border-spacing: 0px;
}
.nz_bd_yellow td,.nz_bd_yellow th{
   border-style: solid;
   border-width: 1px;
   border-color: #fff;
   padding: 2px;
   height: 20px;
   background-color:#191970;
   color:white;
   text-align: center;
}
.pointer{
  cursor:pointer;
}