div.scrollholder{ position:relative; width:100%; height:300px; overflow:auto; z-index:1; background-color:#f3f3f3; font-family:Tahoma}
div.scroll{ position:absolute; left:0;top:0; width:100%; z-index:2;font-family:Tahoma}
div.track{ position:relative; float:right; top:0; width:11px; height:100%; font-size:0; z-index:3; background:black;font-family:Tahoma}div.drag_bar{ position:absolute; width:100%;height:14px; cursor:pointer; z-index:4; background:yellow;font-family:Tahoma} 