body{
	font-family : tahoma;	
}
table{
		font-size: 12px;
}
table caption{
		font-size: 16px;
}

#tb_index{
	font-family: verdana, tahoma;
	font-size: 16px;	
}

#tb_index td{
	padding : 5px;
	line-height: 20px;
}

.hilight{
	background-color: #CCFF99;
}

.border{
	border : 1px dashed green;
	background-color : #CCFF99;
	padding : 5px;
	margin : 10px;
	color : green;
}

table.tb_default{
	background-color : #cccccc;
	border-collapse : collapse;
}

table.tb_default th{
	background-color : saddlebrown;
	color : white;
	font-weight : bold;
	border : 1px solid #CCCCCC
}

table.tb_default td{
	background-color : #ffffff;
	padding : 5px;
	border : 1px solid #CCCCCC
}
	
#pager_nav{	color: saddlebrown;font-size: 12px;}
#pager_nav span{color: orangered;font-weight: bold;}
#pager_nav font{color: blue;font-weight: bold;}
.select{
background-color:#CCFFFF;
color:#0A85CB;
border:1px solid #33aaff;
padding: 0px 5px 0px 5px;
margin:1px;
font-weight:bold;
font-size:11px;width: 40px;
}
.select:hover{
	background-color:#CCFF99;
	color:#FF9933;
}
.nonselect{
	text-decoration:none;
	color:#fff;
	background:#0A85CB;
	border:1px solid #e0e0e0;
	padding: 0px 5px 0px 5px;
	margin:0px;
	font-size:11px;
	width: 40px;
}
.nonselect:hover{
	 text-decoration:none; color:#0A85CB;
	 background:#CCFF99;
	 border:1px solid #3af;
	 margin:1px;
}


.price {
	text-align:right;
	padding-right:20px
}

div.status{
	border : 1px dotted green;
	color : white;
	font-weight : bold;
	padding : 5px;
	float : left;
}
div.test{
	background : green;
}
div.query{
	background : red;
}

.howto{
	color:#000066;border:1px dashed #0033CC;padding: 5px;background:#eeeeee;
}

.home{
	color:green;border:1px solid brown;background:orange;text-decoration:none;padding:5px;
}

.hand{
	cursor : pointer;
}