/* -----------------------------------------------------------------------


 Blueprint CSS Framework 1.0.1
 http://blueprintcss.org

   * Copyright (c) 2007-Present. See LICENSE for more info.
   * See README for instructions on how to use Blueprint.
   * For credits and origins, see AUTHORS.
   * This is a compressed file. See the sources in the 'src' directory.

----------------------------------------------------------------------- */

/* reset.css */
html {margin:0;padding:0;border:0;}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section {display:block;}
body {line-height:1.5;background:white;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;float:none !important;}
table, th, td {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:'';}
blockquote, q {quotes:"" "";}
a img {border:none;}
:focus {outline:0;}
.clearborder{ border: 0; }

/* typography.css */
html {font-size:100.01%;}
body {font-size:75%;color:#0070BA;background:#fff;font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;color:#111;}
h1 {font-size:3em;line-height:1;margin-bottom:0.5em;}
h2 {font-size:2em;margin-bottom:0.75em;}
h3 {font-size:1.5em;line-height:1;margin-bottom:1em;}
h4 {font-size:1.2em;line-height:1.25;margin-bottom:1.25em;}
h5 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}
h6 {font-size:1em;font-weight:bold;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}
p {margin:0 0 1.5em;}
.left {float:left !important;}
p .left {margin:1.5em 1.5em 1.5em 0;padding:0;}
.right {float:right !important;}
p .right {margin:1.5em 0 1.5em 1.5em;padding:0;}
a:focus, a:hover {color:#09f;}
/*a {color:#06c;text-decoration:underline;}*/
blockquote {margin:1.5em;color:#666;font-style:italic;}
strong, dfn {font-weight:bold;}
em, dfn {font-style:italic;}
sup, sub {line-height:0;}
abbr, acronym {border-bottom:1px dotted #666;}
address {margin:0 0 1.5em;font-style:italic;}
del {color:#666;}
pre {margin:1.5em 0;white-space:pre;}
pre, code, tt {font:1em 'andale mono', 'lucida console', monospace;line-height:1.5;}
li ul, li ol {margin:0;}
ul, ol {margin:0 1.5em 1.5em 0;padding-left:1.5em;}
ul {list-style-type:disc;}
ol {list-style-type:decimal;}
dl {margin:0 0 1.5em 0;}
dl dt {font-weight:bold;}
dd {margin-left:1.5em;}
table {margin-bottom:0.8em;width:100%;}
th {font-weight:bold;}
thead th {background:#c3d9ff;}
th, td, caption {padding:4px 5px 4px 5px;border-color: #EEEEEE; border-style: solid;border-width: 1px 0 0 1px;}
tbody tr:nth-child(odd) td, tbody tr.odd td {background:#EDF2FC;}
table#tb_cancel_pattern tr.odd td {background:#FFEACB;}

tfoot {font-style:italic;}
caption {background:#eee;}
.small {font-size:.8em;margin-bottom:1.875em;line-height:1.875em;}
.large {font-size:1.2em;line-height:2.5em;margin-bottom:1.25em;}
.hide {display:none;}
.quiet {color:#666;}
.loud {color:#000;}
.highlight {background:#ff0;}
.added {background:#060;color:#fff;}
.removed {background:#900;color:#fff;}
.first {margin-left:0;padding-left:0;}
.last {margin-right:0;}
.top {margin-top:0;padding-top:0;}
.bottom {margin-bottom:0;padding-bottom:0;}

/* forms.css */
label {font-weight:bold;}
fieldset {padding:0 1.4em 1.4em 1.4em;margin:0 0 1.5em 0;border:1px solid #ccc;}
legend {font-weight:bold;font-size:1.2em;margin-top:-0.2em;margin-bottom:1em;}
fieldset, #IE8#HACK {padding-top:1.4em;}
legend, #IE8#HACK {margin-top:0;margin-bottom:0;}
input[type=text], input[type=password], input[type=url], input[type=email], input.text, input.title, textarea {background-color:#fff;border:1px solid #bbb;color:#000;}
input[type=text]:focus, input[type=password]:focus, input[type=url]:focus, input[type=email]:focus, input.text:focus, input.title:focus, textarea:focus {border-color:#666;}
select {background-color:#fff;border-width:1px;border-style:solid;}
input[type=text], input[type=password], input[type=url], input[type=email], input.text, input.title, textarea, select {margin:0.2em 0;}
input.text, input.title {width:300px;padding:5px;}
input.title {font-size:1.5em;}
textarea {width:390px;height:250px;padding:5px;}
form.inline {line-height:3;}
form.inline p {margin-bottom:0;}
.error, .alert, .notice, .success, .info {padding:0.8em;margin-bottom:1em;border:2px solid #ddd;}
.error, .alert {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}
.notice {background:#fff6bf;color:#514721;border-color:#ffd324;}
.success {background:#e6efc2;color:#264409;border-color:#c6d880;}
.info {background:#d5edf8;color:#205791;border-color:#92cae4;}
.error a, .alert a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}
.info a {color:#205791;}

/* grid.css */
.container {width:950px;margin:0 auto;}
.showgrid {background:url(src/grid.png);}
.column, .span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-7, .span-8, .span-9, .span-10, .span-11, .span-12, .span-13, .span-14, .span-15, .span-16, .span-17, .span-18, .span-19, .span-20, .span-21, .span-22, .span-23, .span-24, .span-25 {float:left;margin-right:0.2%;}
.last {margin-right:0;}
.span-1 {width:3.8%;}
.span-2 {width:7.8%;}
.span-3 {width:11.8%;}
.span-4 {width:15.8%;}
.span-5 {width:19.8%;}
.span-6 {width:23.8%;}
.span-7 {width:27.8%;}
.span-8 {width:31.8%;}
.span-9 {width:35.8%;}
.span-10 {width:39.8%;}
.span-11 {width:43.8%;}
.span-12 {width:47.8%;}
.span-13 {width:51.8%;}
.span-14 {width:55.8%;}
.span-15 {width:59.8%;}
.span-16 {width:63.8%;}
.span-17 {width:67.8%;}
.span-18 {width:71.8%;}
.span-19 {width:75.8%;}
.span-20 {width:79.8%;}
.span-21 {width:83.8%;}
.span-22 {width:87.8%;}
.span-23 {width:91.8%;}
.span-24 {width:95.8%;}
.span-25 {width:100%;margin-right:0;}
input.span-1, textarea.span-1, input.span-2, textarea.span-2, input.span-3, textarea.span-3, input.span-4, textarea.span-4, input.span-5, textarea.span-5, input.span-6, textarea.span-6, input.span-7, textarea.span-7, input.span-8, textarea.span-8, input.span-9, textarea.span-9, input.span-10, textarea.span-10, input.span-11, textarea.span-11, input.span-12, textarea.span-12, input.span-13, textarea.span-13, input.span-14, textarea.span-14, input.span-15, textarea.span-15, input.span-16, textarea.span-16, input.span-17, textarea.span-17, input.span-18, textarea.span-18, input.span-19, textarea.span-19, input.span-20, textarea.span-20, input.span-21, textarea.span-21, input.span-22, textarea.span-22, input.span-23, textarea.span-23, input.span-24, textarea.span-24, input.span-25, textarea.span-25 {border-left-width:0.05%;border-right-width:0.05%;padding-left:0.25%;padding-right:0.25%;}
input.span-1, textarea.span-1 {width:3.4%;}
input.span-2, textarea.span-2 {width:7.4%;}
input.span-3, textarea.span-3 {width:11.4%;}
input.span-4, textarea.span-4 {width:15.4%;}
input.span-5, textarea.span-5 {width:19.4%;}
input.span-6, textarea.span-6 {width:23.4%;}
input.span-7, textarea.span-7 {width:27.4%;}
input.span-8, textarea.span-8 {width:31.4%;}
input.span-9, textarea.span-9 {width:35.4%;}
input.span-10, textarea.span-10 {width:39.4%;}
input.span-11, textarea.span-11 {width:43.4%;}
input.span-12, textarea.span-12 {width:47.4%;}
input.span-13, textarea.span-13 {width:51.4%;}
input.span-14, textarea.span-14 {width:55.4%;}
input.span-15, textarea.span-15 {width:59.4%;}
input.span-16, textarea.span-16 {width:63.4%;}
input.span-17, textarea.span-17 {width:67.4%;}
input.span-18, textarea.span-18 {width:71.4%;}
input.span-19, textarea.span-19 {width:75.4%;}
input.span-20, textarea.span-20 {width:79.4%;}
input.span-21, textarea.span-21 {width:83.4%;}
input.span-22, textarea.span-22 {width:87.4%;}
input.span-23, textarea.span-23 {width:91.4%;}
input.span-24, textarea.span-24 {width:95.4%;}
input.span-25, textarea.span-25 {width:99.4%;}
.append-1 {padding-right:4%;}
.append-2 {padding-right:8%;}
.append-3 {padding-right:12%;}
.append-4 {padding-right:16%;}
.append-5 {padding-right:20%;}
.append-6 {padding-right:24%;}
.append-7 {padding-right:28%;}
.append-8 {padding-right:32%;}
.append-9 {padding-right:36%;}
.append-10 {padding-right:40%;}
.append-11 {padding-right:44%;}
.append-12 {padding-right:48%;}
.append-13 {padding-right:52%;}
.append-14 {padding-right:56%;}
.append-15 {padding-right:60%;}
.append-16 {padding-right:64%;}
.append-17 {padding-right:68%;}
.append-18 {padding-right:72%;}
.append-19 {padding-right:76%;}
.append-20 {padding-right:80%;}
.append-21 {padding-right:84%;}
.append-22 {padding-right:88%;}
.append-23 {padding-right:92%;}
.append-24 {padding-right:96%;}
.prepend-1 {padding-left:4%;}
.prepend-2 {padding-left:8%;}
.prepend-3 {padding-left:12%;}
.prepend-4 {padding-left:16%;}
.prepend-5 {padding-left:20%;}
.prepend-6 {padding-left:24%;}
.prepend-7 {padding-left:28%;}
.prepend-8 {padding-left:32%;}
.prepend-9 {padding-left:36%;}
.prepend-10 {padding-left:40%;}
.prepend-11 {padding-left:44%;}
.prepend-12 {padding-left:48%;}
.prepend-13 {padding-left:52%;}
.prepend-14 {padding-left:56%;}
.prepend-15 {padding-left:60%;}
.prepend-16 {padding-left:64%;}
.prepend-17 {padding-left:68%;}
.prepend-18 {padding-left:72%;}
.prepend-19 {padding-left:76%;}
.prepend-20 {padding-left:80%;}
.prepend-21 {padding-left:84%;}
.prepend-22 {padding-left:88%;}
.prepend-23 {padding-left:92%;}
.prepend-24 {padding-left:96%;}
.border {padding-right:4px;margin-right:5px;border-right:1px solid #ddd;}
.colborder {padding-right:24px;margin-right:25px;border-right:1px solid #ddd;}
.pull-1 {margin-left:-4%;}
.pull-2 {margin-left:-8%;}
.pull-3 {margin-left:-12%;}
.pull-4 {margin-left:-16%;}
.pull-5 {margin-left:-20%;}
.pull-6 {margin-left:-24%;}
.pull-7 {margin-left:-28%;}
.pull-8 {margin-left:-32%;}
.pull-9 {margin-left:-36%;}
.pull-10 {margin-left:-40%;}
.pull-11 {margin-left:-44%;}
.pull-12 {margin-left:-48%;}
.pull-13 {margin-left:-52%;}
.pull-14 {margin-left:-56%;}
.pull-15 {margin-left:-60%;}
.pull-16 {margin-left:-64%;}
.pull-17 {margin-left:-68%;}
.pull-18 {margin-left:-72%;}
.pull-19 {margin-left:-76%;}
.pull-20 {margin-left:-80%;}
.pull-21 {margin-left:-84%;}
.pull-22 {margin-left:-88%;}
.pull-23 {margin-left:-92%;}
.pull-24 {margin-left:-96%;}
.pull-25 {margin-left:-100%;}
.pull-1, .pull-2, .pull-3, .pull-4, .pull-5, .pull-6, .pull-7, .pull-8, .pull-9, .pull-10, .pull-11, .pull-12, .pull-13, .pull-14, .pull-15, .pull-16, .pull-17, .pull-18, .pull-19, .pull-20, .pull-21, .pull-22, .pull-23, .pull-24, .pull-25 {float:left;position:relative;}
.push-1 {margin:0 -4% 1.5em 4%;}
.push-2 {margin:0 -8% 1.5em 8%;}
.push-3 {margin:0 -12% 1.5em 12%;}
.push-4 {margin:0 -16% 1.5em 16%;}
.push-5 {margin:0 -20% 1.5em 20%;}
.push-6 {margin:0 -24% 1.5em 24%;}
.push-7 {margin:0 -28% 1.5em 28%;}
.push-8 {margin:0 -32% 1.5em 32%;}
.push-9 {margin:0 -36% 1.5em 36%;}
.push-10 {margin:0 -40% 1.5em 40%;}
.push-11 {margin:0 -44% 1.5em 44%;}
.push-12 {margin:0 -48% 1.5em 48%;}
.push-13 {margin:0 -52% 1.5em 52%;}
.push-14 {margin:0 -56% 1.5em 56%;}
.push-15 {margin:0 -60% 1.5em 60%;}
.push-16 {margin:0 -64% 1.5em 64%;}
.push-17 {margin:0 -68% 1.5em 68%;}
.push-18 {margin:0 -72% 1.5em 72%;}
.push-19 {margin:0 -76% 1.5em 76%;}
.push-20 {margin:0 -80% 1.5em 80%;}
.push-21 {margin:0 -84% 1.5em 84%;}
.push-22 {margin:0 -88% 1.5em 88%;}
.push-23 {margin:0 -92% 1.5em 92%;}
.push-24 {margin:0 -96% 1.5em 96%;}
.push-25 {margin:0 -100% 1.5em 100%0px;}
.push-1, .push-2, .push-3, .push-4, .push-5, .push-6, .push-7, .push-8, .push-9, .push-10, .push-11, .push-12, .push-13, .push-14, .push-15, .push-16, .push-17, .push-18, .push-19, .push-20, .push-21, .push-22, .push-23, .push-24, .push-25 {float:left;position:relative;}
div.prepend-top, .prepend-top {margin-top:1.5em;}
div.append-bottom, .append-bottom {margin-bottom:1.5em;}
.box {padding:1.5em;margin-bottom:1.5em;background:#e5eCf9;}
hr {background:#ddd;color:#ddd;clear:both;float:none;width:100%;height:1px;margin:0 0 17px;border:none;}
hr.space {background:#fff;color:#fff;visibility:hidden;}
.clearfix:after, .container:after {content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}
.clearfix, .container {display:block;}
.clear {clear:both;}
