
body {
    font-family: Verdana,Geneva,sans-serif;
    padding: 0;
    width: 100%;
}
.uploadArea {
    border: 1px dotted #CCCCCC;
    cursor: move;
    height: auto;
    margin-bottom: 10px;
    min-height: 40px;
    padding: 10px;
    position: relative;
    width: 60%;
}
h1, h5 {
    margin: 0;
    padding: 0;
}
h1.title {
    font-family: 'Boogaloo',cursive;
    padding: 10px;
}
.uploadArea h1 {
    color: #CCCCCC;
    position: absolute;
    text-align: center;
    top: 25px;
    vertical-align: middle;
    width: 100%;
    z-index: 0;
}
.dfiles {
    background-color: #E4E4E4;
    border: 1px solid #CCCCCC;
    clear: both;
    cursor: default;
    height: 25px;
    margin: 3px;
    opacity: 0.6;
    padding: 3px;
    position: relative;
    width: 97%;
    z-index: 1;
}
h5 {
    line-height: 25px;
    width: 95%;
}
h5, h5 img {
    float: left;
}
.invalid {
    border: 1px solid #FF0000 !important;
}
.buttonUpload {
    background-color: #0074CC;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    color: #FFFFFF;
    display: inline-block;
    padding: 4px 10px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.progress img {
    margin-left: 24px;
    margin-top: 7px;
}
