<!-- BEGIN EDIT_FOLLOWCUS -->
	<script type="text/javascript" src="java/jquery.plugin-aof.js"> </script>
	<script type="text/javascript" src="java/edit_followcus.js"> </script>
	<style>
		.thead {
			background-color:#5693F5;
			color:white;
		}
		.ui-datepicker{  
		    width:200px;  
		    font-family:tahoma;  
		    font-size:11px;  
		    text-align:center;  
		}  
		.pleasure_value{  
		    width:45px;  
		}
		hr {
		  -moz-border-bottom-colors: none;
		  -moz-border-image: none;
		  -moz-border-left-colors: none;
		  -moz-border-right-colors: none;
		  -moz-border-top-colors: none;
		  border-color: #EEEEEE -moz-use-text-color #FFFFFF;
		  border-style: solid none;
		  border-width: 1px 0;
		  margin: 18px 0;
		}
		.btn-blue {
		    background-color: #247EDD;
		    background-clip: padding-box;
		    border: 1px solid;
		    color: #FFFFFF;
		    vertical-align: top;
		    border-radius: 0px;
		}
		input[type="button"], input[type="submit"], input[type="reset"] {
		    cursor: pointer;
		    font-size: 14px;
		    min-width: 80px;
		    padding: 5px;
		    text-align: center;
		    text-decoration: none;
		}
		textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {  
			border-color: #66afe9;
			outline: 0;
			-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
     		box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
      	}
	</style>
    <body>
    <div style="width:99%;padding:10px 10px 10px 10px;background:#fff;border:1px solid #ccc" class="nz_contentNoLT">
	<form name="tb_search_form" id="tb_search_form" >
		<table border='0' class='padding-top' align="center">
			<tr>
				<td class="align-right">รหัสลูกค้า :</td>	
				<td>
					<input size="20" type="text" name="search_cusno" id="search_cusno" >
				</td>
				<td class="align-right">ชื่อ :</td>
				<td>
					<input size="20" type="text" name="search_cusname" id="search_cusname" >
				</td>
				<td class="align-right">นามสกุล :</td> 
				<td>
					<input size="20" type="text" name="search_sernamecus" id="search_sernamecus" >
				</td>
				<td class="align-right">เบอร์โทรศํพท์  :</td>
				<td>
					<input size="20" type="text" name="search_tel" id="search_tel" >
				</td>
			</tr>
			<tr>
				<td class="align-right">ประเภทลูกค้า :</td> 
				<td>
					<select name="search_custype" id="search_custype" style="width:140px" >
							<option  value="0" >เลือกประเภทลูกค้า</option>
							$DropDownCusType
					</select>
				</td>
				<td class="align-right">เลือกกิจกรรม :</td> 
				<td>
					<select name="search_event" id="search_event" style="width:140px" >
							<option  value="0" >เลือกกิจกรรม</option>
							$DropDownEvent
					</select>
				</td>
				<td class="align-right">วันที่เริ่มโทร  :</td>
				<td>
					<input class="datepicker" name="start_date" type="text" id="start_date" value="" />  
				</td>
				<td class="align-right">วันสุดท้ายของการโทรหา  :</td>
				<td>
					<input class="datepicker" name="end_date" type="text" id="end_date" value="" />  
				</td>
			</tr>
			<tr>
				<td colspan='10' class='text-center'>
					<input type="button" class='btn-blue search' value="ค้นหา" onclick="browseCheck('result_data','edit_followcus.php?operator=search_data&temp_limit=10&limit=0&'+jQuery('#tb_search_form').serialize(),'');">
					<input type='reset' class='btn-blue' value='ล้าง'>
				</td>
			</tr>
		</table>
	</form>
	<hr>
  	<table style="background-color:#FFFFFF;font-size: 15px;" >
	  	<thead>
	  		<tr style="height: 30px;">
				<td class="thead text-center" width="10%">รหัสลูกค้า</td>
				<td class="thead text-center" width="30%">ชื่อ - นามสกุล</td>
				<td class="thead text-center" width="50%">เบอร์มือถือ / บ้าน / ที่ทำงาน</td>
				<td class="thead text-center" width="10%">เกรดลูกค้า</td>
			</tr>
		</thead>
		<tbody id="result_data">
			$listData		
		</tbody>
  	</table>
  		<div class="animation_image" style="display:none;"><img src="img/loading020.gif"> กำลังโหลด...</div>
  		<input type='button' class='loadmore text-center btn-blue' value='โหลดข้อมูลเพิ่มเติม'>
	</div>
</body>
<div id="dialog-form" title="แก้ไขข้อมูลแบบสัมภาษณ์">
	<form id="edit_follow">
		
	</form>
</div>
<!-- END EDIT_FOLLOWCUS -->

<!-- BEGIN RESULT_NO_DATA -->
<tr>
	<td colspan="7" class="text-center"><font color="red"><b> - ไม่พบข้อมูลรายการ - </b></font></td>
</tr>
<!-- END RESULT_NO_DATA -->

<!-- BEGIN RESULT_DATA -->
<tr style="cursor: pointer;height: 30px;" onclick="get_event($result[cus_no]);" >
	<td class="text-center">$result[cus_no]</td>
	<td class="text-center">$result[cus_name]</td>
	<td class="text-center">$cus_telnumber</td>
	<td class="text-center">$result[CUS_TYPE_LEVEL_DESC]</td>
</tr>
<tr id="event_$result[cus_no]"></tr>
<!-- END RESULT_DATA -->

<!-- BEGIN EVENT_DATA -->
<tr style="cursor: pointer;height: 30px;" onclick="get_answer($result[cus_no],$result[0])">
	<td class="text-left"><img src="img/white_edit.png">  $result[event_title]</td>
	<td class="text-center">วันที่เริ่มโทร : $start_date</td>
	<td class="text-center">วันที่จริง : $date_value</td>
	<td class="text-center">วันที่สิ้นสุดการโทร : $stop_date</td>
	<td class="text-left">พนักงานที่โทร : $emp_data</td>
</tr>
<!-- END EVENT_DATA -->

<!-- BEGIN EVENT_NO_DATA -->
<tr>
	<td colspan="7" class="text-center"><font color="red"><b> - ไม่พบกิจกรรมของลูกค้าท่านนี้ - </b></font></td>
</tr>
<!-- END EVENT_NO_DATA -->

<!-- BEGIN EDIT_QUESTION -->
<h4>รหัสลูกค้า $cus_no ชื่อลูกค้า $cus_name</h4>
<h4>หัวข้อคำถามหลัก $title</h4>
<div id="data" data-all='$data'></div>
<hr>
<table>
	$list_question
</table>
<!-- END EDIT_QUESTION -->

<!-- BEGIN LIST_QUESTION -->
<tr>
	<td colspan="5" class="text-center" width="60%">$key</td>
	<td colspan="2" class="text-center" width="40%">$ans_radio $ans_textbox $ans_textarea $ans_checkbox $ans_any</td>
</tr>
<!-- END LIST_QUESTION -->

<!-- BEGIN DROPDOWN_CUSTYPE -->
<option  $select_type value="$result[CUS_TYPE_ID]">$result[CUS_TYPE_LEVEL_DESC]</option>   
<!-- END DROPDOWN_CUSTYPE -->

<!-- BEGIN DROPDOWN_EVENT -->
<option  $select_event value="$result[id]">$result[event_title]</option>   
<!-- END DROPDOWN_EVENT -->

