<!-- BEGIN MAIN -->
<div style="margin-top: 10px; position: absolute; right: 40px; display: none;" class="boxToggle">
	<a href="javascript:void(0);" onclick="javascript:window.open('$thisPage.php?operator=excel&month='+jQuery('select#month_bd').val(),'newWin1','height=50,width=50,top=0,left=0,toolbar=no,menubar=no,location=no,scrollbars=yes,resizable=yes,directories=no,status=no,titlebar=no');">
		<img height="30" align= "right" src="images/excel-2003.gif" title="โหลด excel File"/>
	</a>
</div>
<div style="margin-bottom: 10px; text-align: center;">
	<form id="searchDB" onsubmit="return false;">
		เดือน <select id="month_bd" name="month_bd" style="width: 120px;">$optionMonth</select> 
		ตั้งวันที่ <select id="start_day" name="start_day">$optionStart</select> 
		ถึงวันที่ <select id="stop_day" name="stop_day">$optionStop</select>
		<input type="submit" name="bSearch" id="bSearch" value=" ค้นหา "/>
	</form>
</div>
<div style="clear: both;"></div>
<div id="tagData" style="margin-bottom: 50px;">
	<table style="" border="2" width="100%" align="center">
		<thead>
			<tr style="background-color:#FFFFCC;color:#3300CC;" align="center">
				<td>วันที่เกิด</td>
				<td>หมายเลขลูกค้า</td>
				<td>คำนำหน้า</td>
				<td>ชื่อ - สกุล</td>
				<td>ที่อยู่</td>
				<td>ตำบล</td>
				<td>อำเภอ</td>
				<td>จังหวัด</td>
				<td>รหัสไปรษณีย์</td>
				<td>เกรด ลูกค้า</td>
				<td>เบอร์โทรบ้าน</td>
				<td>เบอร์โทรที่ทำงาน</td>
				<td>เบอร์โทรมือถือ</td>
				<td>ประวัติการขาย</td>
				<td>ประวัติการสนใจ(ครั้ง)</td>
				<td>ประวัติการจอง(คัน)</td>
				<td>ประวัติการขาย(คัน)</td>
			</tr>
		</thead>
		<tbody id="showData">
			
		</tbody>
	</table>
</div>
<div style="clear: both;"></div>
<!-- END MAIN -->

<!-- BEGIN SCRIPT -->
<script type="text/javascript">
	/* jQuery(function(){
		autoLoadData('$jsonParam');
	}); */
	
	jQuery('body').delegate('form#searchDB input#bSearch','click', function() {
		jQuery('$arr[tag]').html('');
		autoLoadData('$jsonParam');
	});
	
	// เปลี่ยนวันที่ เริ่มต้น กับวันทีสิ้นสุด
	jQuery('body').delegate('select#month_bd','change', function() {
		changeMonthToDate('$jsonParam');
	});
</script>
<!-- END SCRIPT -->