<!-- BEGIN top_row -->
<div style="width:100%;height:100%;position:fixed;z-index:9999;background:url('pic/Transparent.png');top:0px;left:0px;color:red;padding-top:100px;text-align:center;font-size:26px;">ทดสอบ transparent</div>
<!-- END top_row -->

<!-- BEGIN MAINEVENT -->
<div align="left">
	<div id="nav_event" align="center" style="width:100%;margin-bottom: 10px;">
		<button id="bt_event" class="g-button g-button-submit" onclick="javascript:browseCheck('main','ic_eventcus.php?','');">เหตุการณ์ของลูกค้า</button>
		<button id="bt_followup" class="g-button g-button-submit" onclick="javascript:browseCheck('main','ic_followcus_show.php?func=cuslist','');">รายชื่อลูกค้าที่ต้องโทรหา</button>
	<!-- 	<button id="bt_special_followup" class="g-button g-button-submit" onclick="javascript:browseCheck('main','ic_followcus_show.php?func=cuslist&select_event=60','');">รายชื่อลูกค้าที่ต้องโทรหา เปิดตัว ALL NEW DMAX</button>	
		<button id="bt_event_report" class="g-button g-button-submit" onclick="javascript:browseCheck('main','report_event_allnew.php','');">รายงานเปิดตัว ALL NEW DMAX</button>
	 --><!-- comment pt2011-12-09 ปิด event allnew -->
		<button id="bt_special_followup" class="g-button g-button-submit" onclick="javascript:browseCheck('main','ic_followcus_show.php?func=cuslist&select_event=62','');">รายชื่อลูกค้าที่ต้องโทรหา กิจกรรมพิเศษ</button> <!-- pt@2012-01-07 -->
	  	<button id="bt_event_report" class="g-button g-button-submit" onclick="javascript:browseCheck('main','report_specialEvent.php?','');">กิจกรรมพิเศษ</button>
	 
	</div>
	<div id="main_event" class="ui-widget-content ui-corner-all" style="background-color:#eeeeee;width:97.5%;padding:0px 10px 10px 10px">
		$cus_event
	</div>
</div>
<div id="divMainDetail" style="width: 1050px;">
	<div style="width:97%;" class="nz_contentNoLT CTblack">
		<div style="float:right;height:33px" onclick="hideObj('divMainDetail,cursor');" onmouseover="this.style.cursor='pointer'">
			<img src="img/closed.png" align="bottom" title="ปิดกล่องข้อความ">
		</div>
		<div id="div_script" class="nz_content CTwhite"></div>
		<div id="div_question" class="nz_content CTwhite"></div>
	</div>
</div>
<!-- END MAINEVENT -->

<!-- BEGIN CONTAINER -->
<div id="addbox" style="background:white;padding:10px 0;display:none;border-top:1px solid #6B674E;border-bottom:1px solid #6B674E;position:fixed;top:20%;width:100%;z-index:999;overflow:auto;height:400px;">
$addbox
</div>
<br>
<div id='BDform'><div align="center" id="beginBox"><h2>เหตุการณ์ของลูกค้า</h2></div>
<br>
	<div id='formframe' align="center" style="width:100%;">
		<label for='name'>ชื่อ/สกุล ลูกค้า:&nbsp;</label><input type='text' id='name' style="width:300px;">
		<label for='month'> เดือน:&nbsp;</label><select name='month' id='month'><option value=0 selected=selected>ทั้งหมด</option>$getmonth</select>
		<label for='years'> ปี พ.ศ. :&nbsp;</label><select name='years' id='years'><option value=0 selected=selected>ทั้งหมด</option>$getyear</select>
		<span id='birthsearch'><input type='button' value='ค้นหา' onclick="searchEvent();"></span><!--เรียกฟังก์ชั่น javascript ที่ jame.js.php-->
	</div>
</div>
<br>
<!-- END CONTAINER -->

<!-- BEGIN TABLE -->
<div id="divBirthday" align="center">
<table align="center"  id='tbBirthday'>
	<caption><h4 style="margin:10px;background:url(images/add.png) no-repeat left;padding-left:20px;text-align:left;">
		<a href="javascript:void(0);" onclick="showQuestionDetail('ic_eventcus.php?eventform=eventform','','beginBox');">เพิ่มเหตุการณ์</a>
	</h4><caption>
	<tr>
		<th width=1%></th><th>เหตุการณ์</th><th width=20%>ชือลูกค้า</th><th width=20%>ผู้บันทึก</th><th width=15%>วันที่บันทึก</th>
	</tr>
	$eventlist
	$shownavi
</table>
</div>
<!-- END TABLE -->

<!-- BEGIN EVENTLIST -->
	<tr>
		<td $bgColor>$message</td>
		<td $bgColor><a href='javascript:void(0);' onclick="browseCheck('tbBirthday','ic_eventcus.php?click=$row[id]');">$row[Topic]</a></td>
		<td $bgColor>$row[Cus_Name]  $row[Cus_Surename]</td>
		<td $bgColor>$showrecorder[1]</td>
		<td $bgColor>$strdate</td>
	</tr>
<!-- END EVENTLIST -->
<!-- BEGIN ADDEVENT -->
<h2 align="center">เพิ่มเหตุการณ์ลูกค้า</h2>
<table align=center style="width:960px;" >
	<tr>
		<td align=right width=100>ลูกค้า :</td><td>
			<input type='text' id="cusname" name="cusname"  style="width:300px;" value="$_GET[cusname]"  onblur="margtext();" onkeyup="auto_comHidden('ic_autocomplete.php?event=cus',this,'#cusid_hidden','');" onclick="clearbox('#cusid_hidden,#cusname');"   >
			<input type='hidden'  id="cusid_hidden" name="cusid_hidden"style="width:300px;"   disabled="disabled" >
			<!--input type='button' id="searchcus" name="searchcus"  value="ค้นหา" onclick="searchcus();"-->
		</td>
	</tr>
	<tr>
		<td  align=right>เหตุการณ์ :</td><td><input type='text' style="width:300px;" id="event" name="event"></td>
	</tr>
	<tr>
		<td  align=right>แจ้งเตือน :</td><td>
			<select id='smonth' name='smonth'>$getmonth</select>&nbsp;
			<select id='syear' name='syear'>$getyear</select>
		</td>
	</tr>
	<tr>
		<td  align=right valign=top>รายละเอียด :</td><td><textarea style="width:100%;" rows=10 id="eventdetail" name="eventdetail"></textarea></td>
	</tr>
	<tr>
		<td align=center colspan=2>
			<input type='button' id="btaddevent" name="btaddevent" value="ตกลง" style='width:150px;' onclick="addevent2DB();">
			<input type='button' id="btaddevent" name="btaddevent" value="[X] ปิด" onclick="hideObj('divMainDetail,cursor');" style='width:150px;color:red'>
		</td><!--Ref jame.js.php-->
	</tr>
</table>
<!-- END ADDEVENT -->

<!-- BEGIN CUSLIST -->
<a href="javascript:void(0)" onclick='closeEvent();'>ปิด</a>
	<div style="text-align:center">
		<label for='cusname'>ชื่อ-สกุลลูกค้า :</label><input type='text' id="cusname" name="cusname"  style="width:300px;">
		<input type='button' id="searchcus" name="searchcus"  value="ค้นหา" onclick="searchcus();">
	</div>
	<ul style="color:black;font:16px;width:300px;margin:auto;">
		$li_cus
	</ul>
<div style="text-align:center;font:20px;color:red;margin:auto;padding:20px;">$none</div>
<!-- END CUSLIST -->

<!-- BEGIN EVENTDETAIL -->
<span id="cus_no" style="display:none;">$dataviewer[cusname]</span>
<span id="hmonth" style="display:none;">$alertdate[0]</span>
<span id="hyear" style="display:none;">$alertdate[1]</span>
<div id="detailTitle" align="left"><b>เหตุการณ์ของลูกค้า</b> : #$dataviewer[cusname] &nbsp;<b>ประจำเดือน</b> : $dataviewer[alert_date]</div>
<div id="eventshow" align="left">
	<h1 id="topicevent">$dataviewer[Topic]</h1>
	<div id="detailevent">$nl2brdetail</div>
	<div id='bottomdetail'>
		<div class="ชิดซ้าย"><span><b>แจ้งเหตุการณ์เมื่อ</b> : $dateadd</span><span class="ชิดซ้าย"><b>เพิ่มโดย</b> #$dataviewer[Recorder]</span><span class="สุดท้าย">$editby</span></div>
		$operator
	</div>
</div>
<!-- END EVENTDETAIL -->
