<!-- ใช้สไตล์ชีทจาก css/popup.css -->

<!--  naizan 2011-02-07
				</table>
				<div style="overflow-y:scroll;overflow-x:hidden;height:400px;width:100%;border:1px solid #eee">
					<table id="tb_cus_list2" align="left" cellspacing="0" border="0" style="width:100%;border-bottom:1px solid #999;border-right:1px solid #999">
					$cus_list
					</table>
				</div> -->
<!-- BEGIN MAIN_FOLLOW -->
<div id="div_cus_list">
	<div id="nav_event" align="center" style="width:100%;margin-bottom: 10px;">
		<button id="bt_event" class="g-button g-button-submit" onclick="javascript:browseCheck('main','ic_eventcus.php?','');">เหตุการณ์ของลูกค้า</button>
		<button id="bt_followup" class="g-button g-button-submit" onclick="javascript:browseCheck('main','$followPage?func=cuslist','');">รายชื่อลูกค้าที่ต้องโทรหา</button> <!-- pt@2012-01-07 -->
	<!--   	<button id="bt_special_followup" class="BTorange boldGreen" style="padding:10px 15px;border-bottom:0px" onclick="javascript:browseCheck('main','ic_followcus_show.php?func=cuslist&select_event=60','');">รายชื่อลูกค้าที่ต้องโทรหา เปิดตัว ALL NEW DMAX</button>	
		<button id="bt_event_report" class="BTblack boldGreen" style="padding:10px 15px;border-bottom:0px" onclick="javascript:browseCheck('main','report_event_allnew.php','');">รายงานเปิดตัว ALL NEW DMAX</button>
	--><!-- comment pt2011-12-09 ปิด event allnew -->
	   	<button id="bt_special_followup" class="g-button g-button-submit" onclick="javascript:browseCheck('main','$followPage?func=cuslist&select_event=62','');">รายชื่อลูกค้าที่ต้องโทรหา กิจกรรมพิเศษ</button> <!-- pt@2012-01-07 -->
	   	<button id="bt_event_report" class="g-button g-button-submit" onclick="javascript:browseCheck('main','report_specialEvent.php?','');">กิจกรรมพิเศษ</button>
	 
	</div>
	<div class="nz_contentNoLT" style="width:99%;padding:10px 10px 40px 10px;background:#fff;border:1px solid #ccc">
		<div id="div_followup_menu" align="left" style="width:97%;margin-bottom:5px">
			$menu $curPage
		</div>
		<div id="follow_content" align="left">
			<!-- <div class="nz_button BTwhite" style="display:$back_display;color:black;margin:10px 0px"
				onclick="javascript:followGetData('follow_content','$_SESSION[back_emplist]','',function(){goToAnchor('$_SESSION[anchor_emplist]');});">
					<img align="absmiddle" src="img/reload_16x16.png"> กลับไปหน้าที่แล้ว
			</div> -->
			$emp_response

			<div align="left" style="width:99%;padding:5px">$pager</div>
			$select_event_cr  &nbsp;&nbsp;&nbsp;&nbsp; $select_branch_cr  <!-- pt2011-11-25  -->
			
			<div align="left" style="width:99%;font-size:16px; display:$styleHidden;" >ดูรายชื่อลูกค้าที่ต้องโทรหาของ:<select id="select_idEmp" class="textCenter" onchange="view_empTell('62');"> $option_list_emp </select></div><!-- pt@2012-01-04 -->
			
				<div align="left" style="width:99%">
					
				การจัดเรียง: <select id="order" onchange="javascript:if(document.getElementById('order').value!=''){$onchange;}" style="font-size:14px;" class="textCenter">
					<option value="">- เลือกรูปแบบการจัดเรียง -</option>
					<option value="cusname_asc" $select1> ตามชื่อลูกค้า  ก - ฮ </option>
					<option value="cusname_desc" $select2> ตามชื่อลูกค้า  ฮ - ก </option>
					<option value="expire_date_asc" $select3> วันที่สิ้นสุด ก่อน - หลัง </option>
					<option value="expire_date_desc" $select4> วันที่สิ้นสุด หลัง - ก่อน </option>
				</select>
  				$textEvent<select id="order_event" style="width: 280px;display:$fornormalmode;"  onchange="javascript:if(document.getElementById('order_event').value!=''){$onchange;}" style="font-size:14px;" class="textCenter">
					<option value="">- เลือกกิจกรรม -</option>
					$GETEvent
				</select>
				$textPro<select id="order_province"  style="width: 150px;display:$fornormalmode;" onchange="javascript:if(document.getElementById('order_province').value!=''){$onchange_pro;}" style="font-size:14px;" class="textCenter">
					<option value="">- เลือกจังหวัด -</option>
					$op_province
				</select>
				$textAmp<select id="order_aumphur"  style="width: 150px;display:$fornormalmode;" onchange="javascript:if(document.getElementById('order_aumphur').value!=''){$onchange;}" style="font-size:14px;" class="textCenter">
					<option value="">- เลือกอำเภอ -</option>
					$op_aumphur
				</select>
				$textTum<select id="order_tumbon"  style="width: 150px;display:$fornormalmode;" onchange="javascript:if(document.getElementById('order_tumbon').value!=''){$onchange;}" style="font-size:14px;" class="textCenter">
					<option value="">- เลือกตำบล -</option>
					$op_tumbon
				</select>
				
				$textEx<img style="cursor:pointer;display:$fornormalmode;" height='30' src="images/excel-2003.gif" title='โหลด excel File' onclick="$onclick_excel"/>

			</div>
			
			<div align="left" style="width:99%;padding:5px">
			
			<img src='img/directory.gif' border='0' align='absmiddle'> = ดูข้อมูลประวัติส่วนตัวของลูกค้า  |
			<img src="img/time_for_talk.png" align='absmiddle' width="25" height="25" title="เวลาที่ลูกค้าสะดวกคุย"> = เวลาที่ลูกค้าสะดวกคุย |
			<img src="img/pleasure.png" align='absmiddle' width="25" height="25" title="ค่าความพึงพอใจ"> = ค่าความพึงพอใจ |
			$break_up_menu
				<table id="tb_cus_list" cellspacing="0" border="0" style="width:100%;margin-top:5px;">
					<thead>
					<tr valign="middle" style="background-color:#2F4F4F;color:#DC7107;font-size: 13px;">
						<th width="40" style="text-align: center;" title=" ดูข้อมูลประวัติส่วนตัวของลูกค้า "><img src='img/directory.gif' border='0' align='absmiddle'></th>
						<th width="300" align="left">ชื่อ-สกุล ลูกค้า</th>
						<th width="" style="text-align: center;">เบอร์มือถือ / บ้าน / ที่ทำงาน</th>
						<th width="91" style="text-align: center;">เกรดลูกค้า</th>
						<th width="85" style="text-align: center;">วันที่ครบรอบกิจกรรม</th>
						<th width="83" style="text-align: center;">วันสุดท้ายที่แสดง</th>
						<th width="90" style="text-align: center;"><img src="img/time_for_talk.png" width="25" height="25" title="เวลาที่ลูกค้าสะดวกคุย"></th>
						<th width="60" style="text-align: center;"><img src="img/pleasure.png" width="25" height="25" title="ค่าความพึงพอใจ"></th>
						$break_up_th
					</tr>
					</thead>
					<tbody>
 					$cus_list
 					</tbody>
 				</table>
			</div>
		</div>
	</div>
</div>
<div id="hidden" align="center" style="display:none;"></div>
$popup_block
<script type="text/javascript" >
	window.scrollTo(0,0);
	/*$('#tb_cus_list').nz_fixhead_table({blankTD: '10'});*/
</script>
$disable_menu_is_service
<!-- END MAIN_FOLLOW -->
<!-- BEGIN CUS_LIST -->
<!-- <tr id="TR$rs[follow_id]" $class title="$TRtitle" style="cursor: pointer;" onclick="$click">  -->
<!-- <tr id="TR$cus_no" $class title="$TRtitle" style="cursor: pointer;" onclick="$click;changeClass('TR$cus_no','','bgGreen_fnOrange')"> -->
<tr id="TR$cus_no" title="$TRtitle" style="cursor: pointer;" onclick="$click;changeClass('TR$cus_no','','bgGreen_fnOrange')">
	<td align="center" style="$border;$class">$cus_info</td>
	<td align="left" style="$border;$class" id="cusname$cus_no">$cus_name $cr_book</td>
	<td align="left" style="$border;$class" >$cus_telnumber</td>
	<td align="center" style="$border;$class" >$cus_level</td>
	<td align="center" style="$border;$class" >$real_date</td>
	<td align="center" style="$border;$class" >$expire_date</td>
	<td align="center" style="$border;$class" >$time_for_talk</td>
	<td align="center" style="$border;$class" >$pleasure_value</td>
	$break_up_td
</tr>
<!-- <tr $class id="cus$rs[follow_id]" style="display:none;"> -->
<tr id="cus$cus_no" style="display:none;background : #C1FFC1">
	<td colspan="9" style="border:0px">
		<DIV id="detail$cus_no" style="display:none;"></DIV>
	</td>
</tr>
<!-- END CUS_LIST -->

<!-- BEGIN TABLE_FOR_EXPORT_WITH_ADDRESS -->
<table >
					<thead>
					<tr valign="middle" >
						<th align="left">ชื่อ-สกุล ลูกค้า</th>
						<th align="left">จังหวัด</th>
						<th align="left">อำเภอ</th>
						<th align="left">ตำบล</th>
						<th align="left">เบอร์มือถือ / บ้าน / ที่ทำงาน</th>
						<th align="center">เกรดลูกค้า</th>
						<th align="center">ชื่อกิจกรรม</th>
						<th align="center">วันที่ครบรอบกิจกรรม</th>
						<th align="center">วันสุดท้ายที่แสดง</th>
						<th align="center">เวลาที่ลูกค้าสะดวกคุย"</th>
						<th align="center">ค่าความพึงพอใจ"</th>
						$break_up_th
					</tr>
					</thead>
					<tbody>
 					$cus_list
 					</tbody>
 			</table>
<!-- END TABLE_FOR_EXPORT_WITH_ADDRESS -->

<!-- BEGIN CUS_LIST_FOR_EXPORT_WITH_ADDRESS -->
<tr >
	<td align="left" >$cus_name $cr_book</td>
	<td align="center"  >$cus_Pro</td>
	<td align="center"  >$cus_Amp</td>
	<td align="center"  >$cus_Tum</td>
	<td align="left" >$cus_telnumber</td>
	<td align="center"  >$cus_level</td>
	<td align="center"  >$event_title</td>
	<td align="center"  >$real_date</td>
	<td align="center"  >$expire_date</td>
	<td align="center"  >$time_for_talk</td>
	<td align="center"  >$pleasure_value</td>
	$break_up_td
</tr>
<!-- END CUS_LIST_FOR_EXPORT_WITH_ADDRESS -->

<!-- BEGIN SHOW_CUS_TABLE -->
<table border="0" cellspacing="0" cellpadding="10" width="100%" style="background:#ffffff">
$trList
</table>
<!-- END SHOW_CUS_TABLE -->
<!-- BEGIN SHOW_CUS_LIST -->
<tr class="cuslist" id="cuslist$follow_id" title="$TRtitle" style="cursor: pointer;border:0px">
	<td style="$border;" width="35" align="left">$break_up_td</td>
	<td style="$border;" onclick="$click">$event_title</td>
	<td style="" width="85" align="center" onclick="$click">$real_date</td>
	<td style="" width="83" align="center" onclick="$click">$expire_date</td>
	<td style="" width="155" align="right" onclick="$click"></td>
</tr>
<!-- END SHOW_CUS_LIST -->

<!-- BEGIN EMP_TABLE -->
<div style="width:97%;text-align:left">
<img src="img/expire_file.png" title="ข้อมูลลูกค้าที่เลยกำหนด"> = ข้อมูลลูกค้าที่เลยกำหนด
<img src="img/success_file.png" title="ข้อมูลลูกค้าที่ดำเนินกิจกรรมแล้ว"> = ข้อมูลลูกค้าที่ดำเนินกิจกรรมแล้ว
</div>
<br>
<table id="tb_emplist" border="0" cellspacing="0" style="width:100%;border-right:1px solid #999;border-bottom:1px solid #999;">
	<thead>
  <tr style="background-color:#CDBE70">
	<th style="text-align:left">พนักงานขาย</th>
	<th width="90">ระดับ</th>
	<th width="150">ลูกค้าหลังการขาย<br>(คน)</th>
	<th width="150">ลูกค้าที่กำลังติดตาม<br>(คน)</th>
	<th width="25" ><img src="img/expire_file.png" width="25" height="25" title="ข้อมูลลูกค้าที่เลยกำหนด"></th>
	<th width="25" ><img src="img/success_file.png" width="25" height="25" title="ข้อมูลลูกค้าที่ดำเนินกิจกรรมแล้ว"></th>
  </tr>
  </thead>
  <tbody>
	$emplist
	</tbody>
</table>
<script type="text/javascript" >
$('#tb_emplist').nz_fixhead_table({blankTD: '10'});

</script>
<!-- END EMP_TABLE -->
<!-- BEGIN EMP_LIST -->
<tr id="emp_$emp_id_card" $class>
	<td $onclick align="left" title="คลิกเพื่อดูรายการที่กำลังติดตาม">$no. $emp_name</td>
	<td $onclick align="center" title="คลิกเพื่อดูรายการที่กำลังติดตาม">$emp_level</td>
	<td align="right" style="padding-right:60px" title="คลิกเพื่อดูรายชื่อลูกค้าที่รับผิดชอบหลังการขายทั้งหมด" onclick="javascript:browseCheck('follow_content','ic_followcus.php?func=getAllCustomer&id_card=$emp_id_card&back=$back&anchor=emp_$emp_id_card&div_back=follow_content','');">
		<a href="javascript:void(0);" style="color:$respersonColor;font-size:$font;text-decoration:underline">$num_resperson</a>
	</td>
	<td $onclick align="right" style="padding-right:60px" title="คลิกเพื่อดูรายการที่กำลังติดตาม">
		<a href="javascript:void(0);" style="color:$followColor;font-size:$font1;text-decoration:underline">$num_follow</a>
	</td>
	<td align="right" onclick="javascript:browseCheck('main','ic_followcus2.php?operator=archives&type=misscall&id_card=$emp_id_card&back=$back&anchor=$anchor','');" >
		<a href="javascript:void(0)"><img src="img/expire_file.png" width="25" height="25" title="ข้อมูลลูกค้าที่เลยกำหนด"></a>
	</td>
	<td align="center" onclick="javascript:browseCheck('main','ic_followcus2.php?operator=archives&id_card=$emp_id_card&back=$back&anchor=$anchor','');">
		<a href="javascript:void(0)"><img src="img/success_file.png" width="25" height="25" title="ข้อมูลเก่าที่พนักงานเคยสัมภาษณ์ไว้"></a>
	</td>
</tr>
<!-- END EMP_LIST -->

<!-- * ใช้ร่วมกันกับ รายการที่ไม่ได้ทำ -->
<!-- BEGIN ARCHIVES_HEAD -->
<div align="left" id="div_cus_list">
	<div id="nav_event" align="center" style="width:100%; margin-bottom: 10px;">
		<button class="g-button g-button-submit" onclick="javascript:browseCheck('main','ic_eventcus.php?','');">เหตุการณ์ของลูกค้า</button>
		<button class="g-button g-button-submit" onclick="javascript:browseCheck('main','ic_followcus_show.php?func=cuslist','');">รายชื่อลูกค้าที่ต้องโทรหา $num_follow</button>
	</div>
	<div class="nz_contentNoLT" style="width:99%;padding:10px 10px 40px 10px;background:#fff;border:1px solid #ccc">
		<div align="left" style="width:97%;margin-bottom:5px">
			$menu $curPage
		</div>
		<div id="follow_content">
			<div align="left" style="width:97%;">
				<div class="nz_button BTwhite" style="display:$back_display;color:black;margin:10px 0px" onclick="javascript:followGetData('follow_content','$_SESSION[arch_back]&id_card=$id_card','',function(){goToAnchor('$_SESSION[arch_anchor]');});"><img align="absmiddle" src="img/reload_16x16.png"> กลับไปหน้าที่แล้ว</div>
				<img src='img/directory.gif' border='0' align='absmiddle'> = ดูข้อมูลประวัติส่วนตัวของลูกค้า  |
	<!--			<img src="img/time_for_talk.png" align='absmiddle' width="25" height="25" title="เวลาที่ลูกค้าสะดวกคุย"> = เวลาที่ลูกค้าสะดวกคุย |   -->
				<img src="img/pleasure.png" align='absmiddle' width="25" height="25" title="ค่าความพึงพอใจ"> = ค่าความพึงพอใจ |
				$break_up_menu
				<br>
				<select id="order" onchange="javascript:if(document.getElementById('order').value!=''){followPostData('main','ic_followcus2.php?operator=archives&id_card=$id_card&$misscall&year='+document.getElementById('selectYear').value+'&month='+document.getElementById('selectMonth').value,'order='+document.getElementById('order').value);}" style="font-size:14px;">
					<option value=""> เลือกรูปแบบการจัดเรียง </option>
					<option value="cusname_asc" $cusname_asc> ตามชื่อลูกค้า  ก - ฮ </option>
					<option value="cusname_desc" $cusname_desc> ตามชื่อลูกค้า  ฮ - ก </option>
					<option value="expire_date_asc" $expire_date_asc> วันที่สิ้นสุด ก่อน - หลัง </option>
					<option value="expire_date_desc" $expire_date_desc> วันที่สิ้นสุด หลัง - ก่อน </option>
					$option_not_misscall
				</select>&nbsp;&nbsp;&nbsp;

				<select id='selectMonth' style='font-size:14px'>$selectMonth</select>
				<select id='selectYear' style='font-size:14px'>$selectYear</select>
				<input type='button' value='ดูข้อมูลที่เลือก' onclick="javascript:browseCheck('main','ic_followcus2.php?operator=archives&year='+document.getElementById('selectYear').value+'&month='+document.getElementById('selectMonth').value+'&$getURL&$misscall','');">
				<span style="margin-left:20px;font-weight:bold;color:green"> ข้อมูลประจำเดือน <font color="orange">$date_report</font> จากข้อมูลรวมทั้งสิ้น <font color="orange">$totalNum รายการ</font></span>
			</div>
			<div align="left" style="width:97%;padding:5px">$pager</div>
			$emp_response
			<table id="archives" cellspacing="0" border="0" style="margin-top:5px;width:98.8%;">
				<tr valign="top">
				  <th $th_bg width="20" align="left" title="ดูข้อมูลประวัติส่วนตัวของลูกค้า"><img src='img/directory.gif' border='0' align='absmiddle'></th>
					<th $th_bg width="140" align="left">ชื่อ-สกุล ลูกค้า</th>
					<th $th_bg width="" align="left">เบอร์มือถือ / บ้าน / ที่ทำงาน</th>
					<th $th_bg width="100">เกรดลูกค้า</th>
		<!--			<th align="left">ชื่อกิจกรรม</th>  	-->
					<th $th_bg width="80">วันที่ครบรอบกิจกรรม</th>
					<th $th_bg width="75">วันสุดท้ายที่แสดง</th>
					<th $th_bg width="70">วันที่ทำ</th>
	<!--			<th width="80"><img src="img/time_for_talk.png" width="25" height="25" align="absmiddle" title="เวลาที่ลูกค้าสะดวกคุย"></th>		-->
					<th $th_bg width="25"><img src="img/pleasure.png" width="25" height="25" align="absmiddle" title="ค่าความพึงพอใจ"></th>
					<th $th_bg width="7"></th>
				</tr>
			</table>
			<div style="overflow-y:scroll;overflow-x:none;height:400px;width:100%;">
				<table id="tb_cus_list2" cellspacing="0" border="0" style="width:100%;border:1px solid #eee">
				$cus_list
				</table>
			</div>
		</div>
	</div>
</div>
<div id="hidden" align="center" style="display:none;"></div>
<!-- END ARCHIVES_HEAD -->

<!-- * ใช้ร่วมกันกับ รายการที่ไม่ได้ทำ -->
<!-- BEGIN ARCHIVES_LIST -->
<tr id="TR$rs[follow_id]" $class title="$TRtitle" style="cursor: pointer;" onclick="$click;changeClass('TR$rs[follow_id]','','bgSmoke_fnBlack')">
	<td align="left" width="20" style="$border;padding:5px;">$cus_info</td>
	<td align="left" width="140" style="$border;padding:5px;">$cus_name</td>
	<td align="left" width="" style="$border;padding:5px;" >$cus_telnumber</td>
	<td align="center" width="100" style="$border;padding:5px;" >$cus_level</td>
<!--	<td align="left" style="$border" >$event_title</td> -->
	<td  align="center" width="80" style="$border;padding:5px;" >$start_date</td>
	<td  align="center" width="70" style="$border;padding:5px;" >$stop_date</td>
	<td  align="center" width="70" style="$border;padding:5px;" >$process_date</td>
<!--	<td align="center" width="80" style="$border;padding:5px;" >$time_for_talk</td> -->
	<td align="center" width="43" style="$border;padding:5px;" >$pleasure_value</td>
</tr>
<tr $class id="cus$rs[follow_id]" style="display:none;">
	<td colspan="7" style="border:0px">
		<DIV id="detail$rs[follow_id]" style="display:none;"></DIV>
	</td>
</tr>
<!-- END ARCHIVES_LIST -->

<!-- BEGIN WAIT_APPROVE_HEADER -->
<div align="left" style="width:97%; margin-top: 20px;">
<span style="color:red;font-weight:bold;background-color:white;padding:5px;">รายการรอ อนุมัติ ยกเลิกการติดตาม</span>
<select id="order" onchange="javascript:if(document.getElementById('order').value!=''){followPostData('follow_content','ic_followcus2.php?operator=wait_for_approve&cus_no=$_GET[cus_no]&cancel_type=$_GET[cancel_type]&approve=$_GET[approve]','order='+document.getElementById('order').value);}" style="font-size:14px;">
	<option value="" $first> เลือกรูปแบบการจัดเรียง </option>
	<option value="cusno_asc" $cusno_asc> ตามรหัสลูกค้า  น้อย - มาก </option>
	<option value="cusno_desc" $cusno_desc> ตามรหัสลูกค้า มาก - น้อย </option>
	<option value="cusname_asc" $cusname_asc> ตามชื่อลูกค้า  ก - ฮ </option>
	<option value="cusname_desc" $cusname_desc> ตามชื่อลูกค้า  ฮ - ก </option>
	<option value="empname_asc" $empname_asc> ตามชื่อพนักงาน  ก - ฮ </option>
	<option value="empname_desc" $empname_desc> ตามชื่อพนักงาน  ฮ - ก </option>
</select>
</div>
<div id="show_success" style="width:97%;padding:10px"></div>
<form onsubmit="return false;">
<table border="0" id="tb_wait_approve" class="tb_wait_approve" cellspacing="0" style="width:100%;border:solid #eee;border-width:0px 1px 1px 0px;">
	<thead>
	<tr style="color: #FFFFFF;">
		<th style="background-color:#5693F5;padding: 8px 3px;">ลำดับ</th>
		<th style="background-color:#5693F5;padding: 8px 3px;">รหัสลูกค้า</th>
		<th align="left" style="background-color:#5693F5;padding: 8px 3px;">ชื่อลูกค้า</th>
		<th width="" align="left" style="background-color:#5693F5;padding: 8px 3px;">ชื่อกิจกรรมที่ขอยกเลิกการติดตาม</th>
		<th width="" style="background-color:#5693F5;padding: 8px 3px;">ลักษณะการขอยกเลิก</th>
		<th style="background-color:#5693F5;padding: 8px 3px;">หมายเหตุ</th>
		<th align="left" style="background-color:#5693F5;padding: 8px 3px;">ผู้ดูแลลูกค้า</th>
		<th align="left" style="background-color:#5693F5;padding: 8px 3px;">ผู้เสนอยกเลิก</th>
		<th align="left" style="background-color:#5693F5;padding: 8px 3px;">วันที่ขอยกเลิก</th>
		$checkbox_head
	</tr>
	</thead>
	<tbody>
	$wait_app_list
	</tbody>
</table>
</form>
<div align="right" style="width:97%;margin-top:0px;">
<span style="font-weight:bold">รวม $numrow รายการ </span>&nbsp;&nbsp;&nbsp;&nbsp;
$input_submit
</div>
<!-- <script type="text/javascript" >
//fixed table head
$('#tb_wait_approve').nz_fixhead_table({blankTD: '10',div_height:'250'});
</script> -->
<!-- END WAIT_APPROVE_HEADER -->
<!-- BEGIN WAIT_APPROVE_LIST -->
<tr class="$class" id="approve_tr$rs[id]">
	<td align="center" style="padding: 8px 3px;">$rs[no]</td>
	<td align="center" style="padding: 8px 3px;">$rs[cus_no]</td>
	<td align="left" style="padding: 8px 3px;">$rs[cus_name]</td>
	<td align="left" style="padding: 8px 3px;">$rs[event_title]</td>
	<td align="center" style="padding: 8px 3px;">$cancel_link</td>
	<td align="center" style="padding: 8px 3px;">$rs[remark]</td>
	<td align="left" style="padding: 8px 3px;">$rs[emp_name]</td>
	<td align="center" style="padding: 8px 3px;">$rs[cancel_by]</td>
	<td align="left" style="padding: 8px 3px;">$rs[cancel_date]</td>
	$rs[checkbox_list]
</tr>
<!-- END WAIT_APPROVE_LIST -->


<!-- เหตุการณ์รอสัมภาษณ์ -->
<!-- BEGIN WAIT_TABLE -->
<div align="left" style="width:97%;line-height:16px">
	<table><tr><td align="right">เลือกรูปแบบการจัดเรียง ::</td>
			<td>
			<select id="order" style="float:left;margin-right:5px;font-size:14px" onchange="javascript:if(this.value !=''){followPostData('follow_content','ic_followcus2.php?operator=wait','order='+this.value);}">
				<option value="">- เลือกรูปแบบการจัดเรียง -</option>
				<option value="cusname_asc" $cusname_asc> ตามชื่อลูกค้า  ก - ฮ </option>
				<option value="cusname_desc" $cusname_desc> ตามชื่อลูกค้า  ฮ - ก </option>
				<option value="expire_date_asc" $expire_date_asc> วันที่สิ้นสุด ก่อน - หลัง </option>
				<option value="expire_date_desc" $expire_date_desc> วันที่สิ้นสุด หลัง - ก่อน </option>
			</select>
			</td>
		</tr>
		<tr><td align="right">เลือกกิจกรรมที่ต้องการ ::</td>
			<td>
			<select style="font-size:14px" onchange="javascript:browseCheck('follow_content','ic_followcus2.php?operator=wait&select_event='+this.value);">
				$event_dropdown
			</select>
			</td>
		</tr>
	</table>
	<div style="">$pager</div>
</div>

<table border="0" id="tb_cus_list" cellspacing="0" style="margin-top:5px;width:100%;border:1px solid #eee;clear:both;">
<tr valign="top">
	<th width="100" align="left">รหัสลูกค้า</th>
	<th style="text-align:left">ชื่อลูกค้า</th>
	<th width="90">เกรดลูกค้า</th>
	<th width="100">วันสุดท้ายที่แสดง</th>
</tr>
	$wait_list
</table>
<!-- END WAIT_TABLE -->
<!-- BEGIN WAIT_LIST -->
<tr id="tr$cus_no" $class onclick="$TRonclick" title="$title">
	<td align="center">$cus_no</td>
	<td>$cus_name
		<span id="process$follow_id" onclick="$click" style="display:$display;border:1px solid orange;background-color:$bgColor">
			$booking
		</span>
		$cancel
	</td>
	<td align="center">$cus_level</td>
	<td align="center">$date_expire</td>
</tr>
<!-- END WAIT_LIST -->


<!-- * ตอนนี้ใช้สำหรับ CR แสดงเหตุการณ์ของลูกค้า* -->
<!-- BEGIN CUS_EVENT -->
<div align="center" id="div_cus_event" style="width:97%;padding:10px;">
	<button class="nz_button BTwhite" style="float:left;margin-bottom:10px;color:black;padding:2px 5px" onclick="javascript:followGetData('$display','$backURL','');"><< กลับไปหน้าที่แล้ว</button>
	<div align="left" style="background:#ffffff;border:2px solid #eeeeee;padding:10px;;clear:both">
		<h1 style="height:35px">รายการแจ้งเตือนการติดต่อคุณ <span style="color:blue">$cus_name</span>
		<a class="nz_button BTwhite" onclick="NewWindow('ic_followcus.php?func=getMainCusData&cus_no=$cus_no');" href="javascript:void(0);">[ข้อมูลประวัติส่วนตัว]</a>
		</h1>
		<div class="title3">ระดับของลูกค้า <span style="color:blue;padding:3px">$cus_level</span></div>
		<div class="title3">เวลาที่สะดวกคุย <span style="color:blue;padding:3px">$time_for_talk</span></div>
		<div class="title3" style=";padding:3px">เบอร์โทรศัพท์ $cus_tel</div>
		<p style="color:seagreen">$cr_descript</p>
	</div>
	<table id="tb_cus_event" cellspacing="0" border="0" style="margin-top:5px;width:100%;border:1px solid #eee">
		<tr height="40">
			<th style="background-color:seagreen;padding-right:5px" width="30">ลำดับ</th>
			<th style="text-align:left;background-color:seagreen">ชื่อกิจกรรม</th>
			$cr_th
			<th width="80" style="background-color:seagreen">วันที่เริ่มโทร</th>
			<th width="80" style="background-color:seagreen">วันสุดท้ายที่แสดง</th>
			<th width="100" style="background-color:seagreen">บทสนทนา/คำถาม</th>
		</tr>
		$event_list
	</table>
</div>
<div id="divMainDetail">
	<div id="navDetail">
		<button id="bt_script" class="nz_buttonTop BTwhite" style="border-bottom:0px" onclick="javascript:CRchangeObject('script')">
			<img src="img/talkscript_01.png" align="absbottom" width="25" height="25"> รายละเอียดของคำถาม และสคริปต์คำพูด
		</button>
		<button id="bt_question" class="nz_buttonTop BTwhite" style="border-bottom:0px;display:none" onclick="javascript:CRchangeObject('question');">
			<img src="img/question_01.png" align="absbottom" width="25" height="25"> แบบฟอร์มคำถาม สำหรับสัมภาษณ์ลูกค้า
		</button>
	</div>
	<div style="width:97%;" class="nz_contentNoLT CTblack">
		<div style="float:right;height:33px" onclick="hideObj('divMainDetail,cursor');" onmouseover="this.style.cursor='pointer'">
			<img src="img/closed.png" align="bottom" title="ปิดกล่องข้อความ">
		</div>
		<div id="div_script" class="nz_content CTwhite"></div>
		<div id="div_question" class="nz_content CTwhite"></div>
	</div>
</div>
<div id="cursor" style="display:none;position:absolute;width:25px;height:33px;z-index:2">
<img src="img/arrow_right01.png" title="รายการที่กำลังทำอยู่ในขณะนี้">
</div>
<div class="nz_content CTwhite" id="tooltip" style="display:none;position:absolute;width:100px;height:40px;padding-top:10px">
</div>
<!-- END CUS_EVENT -->
<!-- BEGIN EVENT_LIST -->
	<tr $class style="color:saddlebrown" id="tr_event_$rs[id]" onmouseover="this.style.cursor='default'">
		<td align="right" style="padding-right:5px">$count.</td>
		<td onclick="$click">$event_title</td>
		$cr_view
		<td onclick="$click" align="center">$begindate</td>
		<td onclick="$click" align="center">$lastdate</td>
		<td id="td_ref$rs[id]" align="center" title="รายละเอียด สคริปต์คำพูด และแบบฟอร์มคำถามสำหรับถาม-ตอบลูกค้า">
		<img src="img/talkscript_01.png"  width="20" height="20" title="รายละเอียด และสคริปต์ที่จะคุยกับลูกค้า"
			onclick="CRshowQuestionDetail('td_ref$rs[id]','script','ic_followcus.php?func=getEventScript&$followdata')"
			onmouseover="this.style.cursor='pointer'">&nbsp;&nbsp;&nbsp;
		<img src="img/question_01.png" width="20" height="20" title="แบบฟอร์มคำถาม"
			onclick="CRshowQuestionDetail('td_ref$rs[id]','question','ic_followcus.php?func=getEventQuestion&wait_submit=yes&$followdata')"
			onmouseover="this.style.cursor='pointer';">
		</td>
	</tr>
<!-- END EVENT_LIST -->
<!-- ใช้เฉพาะ CR ***************** -->


<!-- BEGIN QUESTION_DETAIL -->
<div class='title2' style="color:saddlebrown">หัวข้อคำถามหลัก : $rs[question_title]</div>
<div class='title3'><u>รายละเอียดของคำถาม</u></div>
<div class='follow_content' style="border:1px solid #ccc;background:#eee;padding:0px 15px;line-height:20px;">
	<pre style="font-family:tahoma;white-space:pre-wrap;">$rs[question_detail]</pre>
</div>
<div class='title3' style="margin-top:10px;"><u>สคริปต์คำพูด</u></div>
<div class='follow_content' style="border:1px solid #ccc;background:#eee;padding:0px 15px;line-height:20px;">
	<pre style="font-family:tahoma;white-space:pre-wrap;">$rs[question_talk_script]</pre>
</div>
<!-- END QUESTION_DETAIL -->

<!-- BEGIN QUESTION_FORM -->
<div class='title2' style="color:saddlebrown">หัวข้อคำถามหลัก : $question_title</div>
<div class='title3' style="margin-top:10px"><u>รายการคำถาม $formNum</u></div>
<div id='$div_quesNO'>
<form name='$formName' id="$formName" onsubmit='return false;'>
<div class='follow_content'>
	$question_list
</div>
</form>
</div>
<!-- END QUESTION_FORM -->

<!-- BEGIN QUESTION_LIST -->
<div style="margin:10px 0px 10px 0px;" id="div_q$rs2[id]">
<div class="ques_list_title" style="padding:5px">$no $rs2[list_title] $check_no_use</div>
<div id="no_$rs2[id]" class="quesList" style="margin-left:$margin;">$answer_option</div>
</div>
<!-- END QUESTION_LIST -->

<!-- BEGIN NO_FORM -->
<div class='title2' style="color:saddlebrown">หัวข้อคำถามหลัก : $question_title</div>
<div class='title3' style="margin-top:10px"><u>รายการคำถาม $formNum</u></div>
<div id='$div_quesNO'>
<div class='follow_content'>
	$question_list
</div>
</div>
<!-- END NO_FORM -->

<!-- BEGIN ALL_CUS_TABLE -->
<div align="left" style="width:97%;">
	<div class="nz_button BTwhite" style="display:$back_display;color:black;margin:10px 0px" onclick="javascript:followGetData('$div_back','$_GET[back]&id_card=$_GET[id_card]','',function(){goToAnchor('$_GET[anchor]');});"><img align="absmiddle" src="img/reload_16x16.png"> กลับไปหน้าที่แล้ว</div><br>
	$response
<!--	<img src='img/last_follow.png' height="20" width="20" border='0' align='absmiddle'> = รายการที่ติดตามครั้งล่าสุด | -->
	<img src="img/archives.png" width="20" height="20" align='absmiddle' title="รายการที่เคยติดต่อทั้งหมด"> รายการที่เคยติดต่อทั้งหมด |
	<img src='img/directory.gif' border='0' align='absmiddle'> = ดูข้อมูลประวัติส่วนตัวของลูกค้า
	
	<a href="javascript:void(0);" onclick="javascript:window.open('ic_followcus_show.php?export=all_followcus&func=getAllCustomer&id_card=$id_card ','newWin1','height=50,width=50,top=0,left=0,toolbar=no,menubar=no,location=no,scrollbars=yes,resizable=yes,directories=no,status=no,titlebar=no');">
		<img src='img/libre_calc.png' border='0' align='absmiddle' style="width:25px;height:25px;" title="ดาวน์โหลดข้อมูลลูกค้าในความดูแล"> = ดาวน์โหลดข้อมูลลูกค้าในความดูแล
	</a>
	
	
</div>
	<!--
	<select id="order" onchange="javascript:if(document.getElementById('order').value!=''){$onchange;}">
		<option value=""> เลือกรูปแบบการจัดเรียง </option>
		<option value="cusname_asc" $select1> ตามชื่อลูกค้า  ก - ฮ </option>
		<option value="cusname_desc" $select2> ตามชื่อลูกค้า  ฮ - ก </option>
		<option value="expire_date_asc" $select3> วันที่สิ้นสุด ก่อน - หลัง </option>
		<option value="expire_date_desc" $select4> วันที่สิ้นสุด หลัง - ก่อน </option>
	</select>
	-->
<br>
<table id="tb_all_cus" border="0" cellspacing="0" style="width:100%;">
	<thead>
	<tr>
		<th width="40" style="background-color:#5693F5;color:white">ลำดับ</th>
		<th width="70" align="left" style="background-color:#5693F5;color:white">รหัสลูกค้า</th>
		<th width="200" style="background-color:#5693F5;color:white">ชื่อนามสกุล</th>
		<th width="" align="left" style="background-color:#5693F5;color:white">ที่อยู่</th>
		<th width="160" align="center" style="background-color:#5693F5;color:white">วันที่ติดต่อล่าสุด</th>
		<th width="100" style="background-color:#5693F5;color:white">ยกเลิกกิจกรรม</th>
<!-- 2011-01-27
		<th width="20"><img src='img/last_follow.png' height="20" width="20" border='0' title="รายการที่ติดตามครั้งล่าสุด"></th>
-->
		<th width="25" style="background-color:#5693F5;color:white"><img src="img/archives.png" width="20" height="20" align='absmiddle' title="รายการที่เคยติดต่อทั้งหมด"></th>
		<th width="25" align="left" style="background-color:#5693F5;color:white"><img border="0" title="ดูข้อมูลประวัติส่วนตัวลูกค้า" src="img/directory.gif"></th>
	</tr>
	</thead>
	<tbody>
	$all_cus_list
	</tbody>
</table>
<!-- <script type="text/javascript" >
$('#tb_all_cus').nz_fixhead_table({blankTD: '17'});
</script> -->
<!-- END ALL_CUS_TABLE -->
<!-- BEGIN ALL_CUS_LIST -->
<tr id="allcus$cus_no" $class onclick="changeClass('allcus$cus_no','','bgSmoke_fnBlack')">
	<td align="center">$n</td>
	<td>$cus_no</td>
	<td>$cus_name</td>
	<td>$address</td>
	<td align="center">$last_call_date</td>
	<td align="center">
		<a onclick="javascript:nzPopupCenter('','$followPage?func=show_request_form','cus_name=$cus_name&allCus=$cus_no');" href="javascript:void(0)"><img width="25" height="25" title="ยุติการติดตามรายการนี้" src="img/break_up2.png"></a>
	</td>
<!--	<td><a href="javascript:void(0)" onclick="breake=false;showQuestionDetail('ic_followcus2.php?operator=lastCall&all_cus_data=lastdata&cus_no=$cus_no','','cus$cus_no');changeObject('bt_script','div_script');"><img src='img/last_follow.png' height="20" width="20" border='0' title="รายการที่ติดตามครั้งล่าสุด"></a></td> -->
	<td><a onclick="javascript:browseCheck('main','ic_followcus2.php?operator=archives&id_card=$id_card&cus_no=$cus_no&back=ic_followcus_show_special.php?func=getAllCustomer&anchor=cus$cus_no','');" href="javascript:void(0)">
		<img src="img/archives.png" width="20" height="20" align='absmiddle' title="รายการที่เคยติดต่อทั้งหมด"></a>
	</td>
	<td><a onclick="NewWindow('ic_followcus_show.php?func=getMainCusData&amp;cus_no=$cus_no');" href="javascript:void(0);"><img border="0" title="ดูข้อมูลประวัติส่วนตัวลูกค้า" src="img/directory.gif"></a></td>
</tr>
<!-- END ALL_CUS_LIST -->


<!-- BEGIN ALL_CUS_TABLE_DOWNLOAD -->
<table id="tb_all_cus" border="0" cellspacing="0" style="width:100%;">
	<tr style="background-color:#8B7E66;color:white">
		<td width="100">ลำดับ</td>
		<td width="100" align="left">รหัสลูกค้า</td>
		<td width="300">ชื่อนามสกุล</td>
		<td width="100%" align="left">บ้านเลขที่</td>
		<td width="100%" align="left">ตำบล</td>
		<td width="100%" align="left">อำเภอ</td>
		<td width="100%" align="left">จังหวัด</td>
		<td width="100%" align="left">รหัสไปรษณีย์</td>
		<td width="100%" align="left">เบอร์โทรศัพท์</td>
		<td width="160" align="center">วันที่ติดต่อล่าสุด</td>
	</tr>
	$all_cus_list_download
</table>
<!-- END ALL_CUS_TABLE_DOWNLOAD -->
<!-- BEGIN ALL_CUS_LIST_DOWNLOAD -->
<tr id="allcus">
	<td align="center">$n</td>
	<td align="center">$cus_no</td>
	<td>$cus_name</td>
	$address
	<td align="center">$last_call_date</td>
</tr>
<!-- END ALL_CUS_LIST_DOWNLOAD -->



<!-- BEGIN FORM_SENT_REQUEST -->
<form id="stopCusForm">
<div class="nz_content CTwhite" style="padding:0px 0px 15px 15px;" align="left">
	<div onclick="hideObj('div_popup');" style="cursor:pointer;text-align:right">
		<img src="img/closed.png" align="bottom" title="ปิดกล่องข้อความ">
	</div>
	<table id="tb_sent_request" style="margin-right:15px;">
		<tr><td style="color:green;line-height:20px;">
			$bAct1<span style="color:blue">ชื่อกิจกรรม :</span> $event_title <br> $bAct2<span style="color:blue;"> ลูกค้า :</span> $cus_name 
		</td></tr>
		<tr>
			<td align="left" style="padding-left:$marginLeft">
			<input type="radio" name="cancelType" value="stopCus" id="stopCus"  onclick="$cusOnclick">
				<label for="stopCus" style="color:#827839"> ยกเลิกดูแล<font color="blue">ลูกค้ารายนี้</font></label><br>
			<input type="radio" name="cancelType" value="stopCar" id="stopCar" $disabled onclick="$carOnclick">
				<label for="stopCar" style="color:#827839"><font color="$gray"> ยกเลิกดูแล</font><font color="orangered"><font color="$gray">$carText</font></font></label><br>
			<div id="div_carlist" style="display:$stopCarDisp;margin-left:10px;margin-top:5px;border:1px solid #ccc;color:#999">
				<table class="nz_default_tb" width="100%">
					<tr>
						<th>เลือก</td>
						<th>รุ่นรถ</td>
						<th>เลขเครื่อง</td>
						<th>เลขคัสซี</td>
						<th>ทะเบียนรถ</td>
					</tr>
					$car_list
				</table>
			</div>
			<div style="display:$typedisplay">
				<input type="radio" name="cancelType" value="stopEvent" id="stopEvent" $eventDisabled><label for="stopEvent" style="color:#827839"> ยกเลิก<font color="magenta">กิจกรรมนี้</font></label>
			</div>
			</td>
		</tr>
		<tr><td style="font-weight:bold">: ระบุเหตุผล ที่ต้องการยุติการติดตาม: </td></tr>
		<tr>
			<td><textarea name="remark" id="remark" class="nz_textarea" cols="50" rows="4" style="width: 440px;height: 100px;"></textarea></td>
		</tr>
		<tr>
			<td><input type="button" id="bt_sent" class="nz_button BTblack" value="ส่งคำขอยุติการติดตาม" onclick="javascript:if(nzCheckForm('stopCusForm')==true){followFormSubmit('tb_sent_request','ic_followcus_show.php?func=send_request&id_card=$id_card&$leader','follow_id=$follow_id&cus_no=$cus_no&chassi_no=$chassi_no','stopCusForm');hideObj(this.id);}"></td>
		</tr>
	</table>
</div>
</form>
<!-- END FORM_SENT_REQUEST -->

<!-- BEGIN CAR_LIST -->
<tr>
	<td>
		<input type="checkbox" name="carlist[]" id="carlist$carID" class="chkCar" value="$carID" disabled="disabled">
	</td>
	<td>$rs[B_Unit_Model]</td>
	<td>$rs[Eng_No_S]</td>
	<td>$rs[Chassi_No_S]</td>
	<td>$rs[reg_no]</td>
</tr>
<!-- END CAR_LIST -->

<!-- BEGIN POPUP_BLOCK -->
<div id="divMainDetail" style="width:95%;">
	<div id="navDetail" style="display:$navDetailDisplay">
		<button id="bt_script" class="nz_buttonTop BTblack" style="border-bottom:0px;" onclick="javascript:CRchangeObject('script')">
			<img src="img/talkscript_01.png" align="absbottom" width="25" height="25"> <span style="display:$bt_script_display">รายละเอียดของคำถาม และสคริปต์คำพูด</span>$bt_script
		</button>
		<button id="bt_question" class="nz_buttonTop BTwhite" style="border-bottom:0px;display:none" onclick="javascript:CRchangeObject('question');">
			<img src="img/question_01.png" align="absbottom" width="25" height="25"> แบบฟอร์มคำถาม สำหรับสัมภาษณ์ลูกค้า
		</button>
	</div>
	<div style="width:97%;" class="nz_contentNoLT CTblack">
		<div style="float:right;height:33px" onmouseover="this.style.cursor='pointer'">
			<img src="img/closed.png" align="bottom" title="ปิดกล่องข้อความ" onclick="hideObj('divMainDetail,cursor,blank');">
		</div>
		<div id="div_script" class="nz_content CTwhite"></div>
		<div id="div_question" class="nz_content CTwhite"></div>
	</div>
</div>
<div id="cursor" style="display:none;position:absolute;width:25px;height:33px;z-index:2">
<img src="img/arrow_right01.png" title="รายการที่กำลังทำอยู่ในขณะนี้">
</div>
<div class="nz_content CTwhite" id="tooltip" style="display:none;position:absolute;width:100px;height:40px;padding-top:10px">
</div>
<div id="blank" style="position:fixed;z-index:1;display:none;background:#cccccc;opacity:0.4;filter:alpha(opacity=40)"></div>
<!-- END POPUP_BLOCK -->

<!-- BEGIN NULL -->
	<tr>
		<td colspan="$colspan" style="background-color:#ffffff;color:red;font-size:14px;text-align:center;padding:10px;font-weight:bold;" 
		align="center">$config[null]
		</td>
	</tr>
<!-- END NULL -->


<!-- BEGIN CUS_DATA -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=$config[charset]" />
<title>$config[title]</title>
<link rel="stylesheet" href="css/style12.css" type="text/css" />
<link rel="stylesheet" href="css/popup.css" type="text/css" />
<link rel="stylesheet" href="css/calendar.css" type="text/css" />
<link rel="stylesheet" href="css/pageStyle.css" type="text/css" />
<link rel="stylesheet" type="text/css" href="css/scroll.css" mce_href="css/scroll.css" media="screen,projection"/>
<link rel="stylesheet" href="css/pagingstyle.css" type="text/css" />
<link rel="stylesheet" href="css/nz_button.css" type="text/css" />
<script type="text/javascript" src="java/scroll.js" mce_src="java/scroll.js"></script>
<title>$config[title]</title>

<link type="text/css" href="css/ui-lightness/jquery-ui-1.8.2.custom.css" rel="stylesheet"/>
<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="js/jquery-ui-1.8.2.custom.min.js"></script>
<script type="text/javascript" src="js/ui.datepicker-th.js"></script>
<script type="text/javascript" src="java/jquery.tree.js"></script>

<script type="text/javascript" src="lib/jquery.hotkeys.js"></script>
<script type="text/javascript" src="plugins/jquery.tree.hotkeys.js"></script>
<script type="text/javascript" src="java/jquery.jeditable.js"></script>
<script type="text/javascript" src="java/jQuery.js.php"></script>
<script type="text/javascript" src="java/ui.datepicker-th.js"></script>
<script type="text/javascript" src="java/calendar.js"></script>
<script type="text/javascript" src="java/ken.js"></script>
<script type="text/javascript" src="java/jame.js"></script>
<script type="text/javascript" src="java/followcus.js"></script>
<script type="text/javascript" src="java/wi.js.php"></script>
<script type="text/javascript" src="java/ben.js.php"></script>
<script type="text/javascript" src="java/csspopup.js"></script>
<script type="text/javascript" src="java/tab.js"></script>

<script type="text/javascript" src="java/checkForm.js"></script>
<script type="text/javascript" src="java/ajax.js.php"> </script>
<script type="text/javascript" src="java/ajax11.js.php"> </script>
<link rel="icon" href="img/menu_image.gif" type="image/x-icon" />
<link rel="shortcut icon" href="img/menu_image.gif" type="image/x-icon" />

<link rel="stylesheet" type="text/css" href="ddlevelsfiles/ddlevelsmenu-base.css" />
<link rel="stylesheet" type="text/css" href="ddlevelsfiles/ddlevelsmenu-topbar.css" />
<link rel="stylesheet" type="text/css" href="ddlevelsfiles/ddlevelsmenu-sidebar.css" />
<script type="text/javascript" src="ddlevelsfiles/ddlevelsmenu.js"></script>
<script language="javascript" src="ddlevelsfiles/liveclock.js"></script>
<script language="javascript">
var txt = "ไม่สามารถ เพิ่ม/แก้ไข ข้อมูลได้ครับ \n\n\n (ถ้าต้องการแก้ไขข้อมูล ให้เข้าสู่หน้า ตรวจสอบ/แก้ไขข้อมูลลูกค้า)";
function onWindowLoad(){
	var url = "oeditcus.php?readonly=readonly&Edit=$cus_no&case_name=CheckSearh";
	$.get(url,'',function(result){
		$('#footer').html(result);
		$("#addForm2").submit(function() {
			alert(txt);
			return false;
		});
		$("#addForm2 input,textarea").attr('readonly',true);
		$("#addForm2 select").attr('disabled',true);
	});
	$("#first_installment,#last_installment,#end_installment,#reg_exp_date").live('click', function() {
		alert('ดูได้อย่างเดียวครับ');
		$("#PopupSellUpForm").hide();
	});
}
function suggest(){
	alert(txt);
}
$(onWindowLoad);
</script>
<style type="text/css">
body{
	font-size:12px;
}
select{
	border : 1px solid #121212;
	background:#eeeeee;
	color : #333333;
	padding : 5px;
}
input{
	border : 1px solid #121212;
	background:#eeeeee;
	color : #333333;
	padding : 5px;
}
textarea{
	border : 1px solid #121212;
	background:#eeeeee;
	color : #333333;
	padding : 5px;
}
</style>
</head>
<body>
<div id="footer"></div>
</body>
</html>
<!-- END CUS_DATA -->

