<!-- BEGIN EVENT_HEAD -->
<div align="center" style="margin-top:10px;width:99%;">
	<button id="bt_view_event" class="g-button g-button-submit" onclick="javascript:followGetData('display_event','ic_followcus_form.php?func=');">กิจกรรมทั้งหมด</button>
	
	<!-- <button id="bt_add_event" class="g-button g-button-submit" onclick="javascript:followGetData('display_event','ic_followcus_form.php?func=event_form');">เพิ่มกิจกรรมใหม่</button> -->
	<button id="bt_add_event" class="g-button g-button-submit" onclick="javascript:nzPopupCenter('','ic_followcus_form.php?func=pre_event_form')">เพิ่มกิจกรรมใหม่</button>
	
	
	<!-- <button id="bt_add_pattern" class="g-button g-button-submit last" onclick="javascript:followGetData('display_event','ic_followcus_form.php?func=field_pattern_list');">จัดการ PATTERN วันที่</button> -->
	
	<!-- <button id="bt_add_pattern" class="g-button g-button-submit last" onclick="javascript:followGetData('display_event','ic_followcus_form.php?func=follow_cancel_list');">จัดการเงื่อนไขการยกเลิก</button> -->
</div>
<!-- END EVENT_HEAD -->

<!-- BEGIN EVENT_TABLE -->
<div id="display_event" align="center" style="width:100%;">
	<form id="frm_event_list" onsubmit="return false">
		<div style="clear:both;margin-top:10px" align="center">
			$refer_title
			<span style="color:#0000FF;font-size:14px;font-weight:bold">* คลิกที่กิจกรรมเพื่อเข้าสู่หน้าจัดการคำถาม และสร้างกิจกรรมที่ต้องการส่งต่อ (รอสัมภาษณ์)</span>
			<button id="bt_del_all" class="last fright bt_del_all" onclick="javascript:if(checkBox('event_check')==true){nz_popup_center('post','ic_followcus_form.php?func=confirm_del_event',nz_get_formdata('frm_event_list'));}">ลบกิจกรรมที่เลือก</button>
		</div>
	<table id="tb_event_list" cellpadding="4" cellspacing="0" border="0" align="center" class="ui-widget-content ui-corner-all" width="100%">
		<tr style="font-family:tahoma;font-size:12px;">
			<th width="4%">รหัส</th>
			<th width="16%">ชื่อกิจกรรม</th>
			<th width="5%">การติดตาม</th>
			<th width="8%">วันที่ติดตาม</th>
			<th width="5%">การแจ้งเตือน</th>
			<th width="8%">กำหนดการ</th>
			<th width="5%">เตือนก่อน</th>
			<th width="5%">เตือนหลัง</th>
			<th width="4%">สุ่มแสดง</th>
			<!-- <th align="center" >ผู้รับผิดชอบ</th> -->
			<!-- <th>แสดงในหน้าการรายการติดตาม</th> -->
			<th width="5%">นับรวมผลงาน</th>
<!-- ใช้ popup แทน			
			<th width="40" >รหัส กิจกรรมของตรีเพชร</th>
			<th width="40" >รหัส กิจกรรมย่อยของตรีเพชร</th>
			<th width="40" >รหัส ระยะเวลาที่ต้องติดตาม</th>
			<th width="15" >ส่งให้ตรีเพชร</th>
-->
			<th width="6%" style="padding: 0px;">แก้ไข|ลบ</th> 
			<!-- <th width="6%" style="padding: 0px;">ลบ</th> -->
			<th width="4%" style="padding: 0px;">
				<input type="checkbox" id="checkAll" class="nocheck" onclick="nz_toggle_check(this,'event_check');" style="width:auto;height:50px;">
			</th>
		</tr>
		$event_list
	</table>
	</form>
<!-- <div id='div_manage_question' style="display:none"></div> -->
</div>
<!-- END EVENT_TABLE -->
<!-- BEGIN EVENT_LIST -->
<tr id="event_tr$row[id]" class="cursor" style="color:$waitColor" onmouseover="showEventDetail('$row[id]');" onmouseout="hideObj('detail_$row[id]');"> 
<!-- <tr id="event_tr$row[id]" class="$bg cursor" style="color:$waitColor"> -->
	<td width="4%" class="text-left" align="center" onclick="javascript:nz_manage_question('$row[id]');">&nbsp;$row[id]</td>
	<td width="10%" class="" align="" onclick="javascript:nz_manage_question('$row[id]');">$row[event_title]</td>
	<td width="5%" class="text-center" align="center" onclick="javascript:nz_manage_question('$row[id]');">$row[follow_type]</td>
	<td width="8%" class="text-center" align="center" onclick="javascript:nz_manage_question('$row[id]');">$row[pattern_id_ref]</td>
	<td width="5%" class="text-center" align="center" onclick="javascript:nz_manage_question('$row[id]');">$row[remind_type]</td>
	<td width="8%" class="" align="center" onclick="javascript:nz_manage_question('$row[id]');">$row[cal_format]</td>
	<td width="5%" class="text-center" align="center" onclick="javascript:nz_manage_question('$row[id]');">$start_date</td>
	<td width="5%" class="text-center" align="center" onclick="javascript:nz_manage_question('$row[id]');">$stop_date</td>
	<td width="4%" class="text-center" align="center" onclick="javascript:nz_manage_question('$row[id]');">
		$row[random_display] %
	</td>
	<!-- <td width="" class="" align="center" onclick="javascript:nz_manage_question('$row[id]');">$row[department]</td>
	<td width="" class="" align="center" onclick="javascript:nz_manage_question('$row[id]');">$row[visible]</td> -->
	<td width="5%" class="text-center" align="center" onclick="javascript:nz_manage_question('$row[id]');">$row[target_count]</td>
<!-- ใช้ popup แทน
	<td width="" class="" align="center" onclick="javascript:nz_manage_question('$row[id]');">$row[TIS_Event_Group]</td>
	<td width="" class="" align="center" onclick="javascript:nz_manage_question('$row[id]');">$row[TIS_Event_Period]</td>
	<td width="" class="" align="center" onclick="javascript:nz_manage_question('$row[id]');">$row[TIS_Event_PeriodCode]</td>
	<td width="" class="" align="center" onclick="javascript:nz_manage_question('$row[id]');">$row[send_to_tis]</td>
-->
	<td width="6%" class="text-center" align="center" style="padding: 0px;">
		<img src="images/edit.gif" width="17" height="16" alt="" style="cursor:pointer" onclick="javascript:followGetData('display_event','ic_followcus_form.php?func=$func&event_id=$row[id]');">
		&nbsp;
		<img src="images/delete.png" width="16" height="16" alt="" style="cursor:pointer" onclick="javascript:nz_popup_center('get','ic_followcus_form.php?func=confirm_del_event','event_id=$row[id]');">
	</td>
	<td width="4%" align="center" class="text-center" style="padding: 0px;">
		<input type="checkbox" name="event_id[]" id="event_id$row[id]" value="$row[id]" class="event_check" >
	</td>
</tr>
<tr height="0"><!-- สำหรับแสดงรายละเอียดเพิ่มเติม -->
	<td colspan="18" height="0" style="padding:0px;margin:0px;" align="center">
		<div id="detail_$row[id]" align="center" style="width:93%;position:absolute;display:none;background:#C1FFC1;border:0.5px solid #B6B6B6;margin:0 auto;padding:10px;-moz-border-radius:5px 5px 5px 5px;">
		<div style="color:seagreen;font-weight:bold;margin: 0 auto;font-size:14px;">รายละเอียดเพิ่มเติม</div>
			<br>
			<table class="nz_table" id="tb_event_detail" border="0" cellpadding="4" cellspacing="0" 
			style="border: 1px solid #B6B6B6;;-moz-border-radius:3px 3px 3px 3px;">
				<tr>
					<th>ผู้รับผิดชอบ</th>
					<th>รหัส กิจกรรมของตรีเพชร</th>
					<th>รหัส กิจกรรมย่อยของตรีเพชร</th>
					<th>รหัส ระยะเวลาที่ต้องติดตาม</th>
					<th>ส่งให้ตรีเพชร</th>
					<th>แสดงในหน้าการรายการติดตาม</th>
				</tr>
				<tr>
					<td>$row[department]</td>
					<td>$row[TIS_Event_PeriodCode]</td>
					<td>$row[TIS_Event_Period]</td>
					<td>$row[TIS_Event_Group]</td>
					<td>$row[send_to_tis]</td>
					<td>$row[visible]</td>
				</tr>
			</table>
		</div>	
	</td>
</tr>
<!-- END EVENT_LIST -->

<!-- BEGIN MAIN_EVENT_FORM -->
<br>
<div id="main_form" align="center" class="ui-widget-content ui-corner-all mar-bottom">
<form id="frm_event" method="post" onsubmit="return false;">
	<fieldset><legend class="title2">$form_title <span class="font-b fontred" id="form_title_bu"></span></legend>
	<span>
		<input type="hidden" id="event_edit_id" name="event_edit_id" value="$event_id" class="nocheck"/>
	</span>
	<table id="tb_evet_form" cellpadding="5" align="center" width="100%">
		<tr>
			<td width="200" class="title3" align="right">BUSINESS UNIT NAME</td>
			<td width="">
				<!-- <input type="text" name="business_unit_name" id="business_unit_name" value="$rs[event_title]" class="newEventTextBox text200" readonly="true"> -->
				<span id="biz_unit_name">$business_unit_name
					<input type="hidden" readonly="" style="border: medium none;width:100%;" class="number-format" 
					value="$business_inps_name" name="business_unit_name"  id="business_unit_name">
				</span>
			</td>
		</tr>
		<tr>
			<td width="200" class="title3" align="right">ชื่อของกิจกรรม</td>
			<td width="">
				<input type="text" name="event_title" id="input_list_title" value="$rs[event_title]" class="newEventTextBox text200">
			</td>
		</tr>
		<tr>
			<td class="title3" valign="top" align="right">รูปแบบการติดตาม</td>
			<td align="left">
				<input type="radio" name="follow_type" value="1" id="fl_type1" $check1> <label for="fl_type1" style="cursor:pointer">ติดตามคน</label>
				<input type="radio" name="follow_type" value="2" id="fl_type2" $check2> <label for="fl_type2" style="cursor:pointer">ติดตามรถ</label>
			</td>
		</tr>
		
		<!-- Add by top 20150917 v097-->
		<tr>
			<td class="title3" valign="top" align="right">ประเภทการติดตาม</td>
			<td align="left">
				<input type="radio" name="type_follow" value="1" id="type_fl_tel" $chTel> 
				<label for="type_fl_tel" style="cursor:pointer">โทรติดตาม</label>
				<input type="radio" name="type_follow" value="2" id="type_fl_outdoor" $chOutDoor> 
				<label for="type_fl_outdoor" style="cursor:pointer">ออกติดตาม</label>
			</td>
		</tr>
		<!-- END Add by top 20150917 v097-->


		<!-- <tr>
			<td class="title3" align="right">วันที่ของกิจกรรม</td>
			<td align="left"  valign="top" align="right">
				<select  name="pattern_id_ref" id="pattern_id_ref" onchange="javascript:var text = this.options[this.selectedIndex].text;document.getElementById('lb_ondate').innerHTML=text;document.getElementById('lb_after').innerHTML=text;document.getElementById('lb_before').innerHTML=text;followGetData('field_expire_date','ic_followcus_form.php?func=change_table_expire&pattern_id_ref='+this.value);" class="text-center select200">
					<option value="" class="text-center">---เลือกวันที่---</option>
					$filed_pattern
				</select> 
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="javascript:void(0)" style="text-decoration:underline;color:blue" onclick="javascript:nzPopupCenter('','ic_followcus_form.php?func=field_pattern_form&add_page=add_event');">เพิ่ม pattern วันที่</a>
			</td>
		</tr> -->
		
		
		<!-- <tr>
			<td class="title3" align="right">เงื่อนไขการยกเลิกกิจกรรม</td>
			<td align="left"  valign="top" align="right"> -->
				<!-- <input type="radio" name="cancel_type" value="cstatus" id="cancel_type1" onclick="adds_class('#cancle_status_ref','hidden');remove_class('#cancle_date_ref','hidden');"> 
				<label for="cancel_type1" style="cursor:pointer">ตามวันที่</label>
				
				<input type="radio" name="cancel_type" value="cdates" id="cancel_type2" onclick="adds_class('#cancle_date_ref','hidden');remove_class('#cancle_status_ref','hidden')"> 
				<label for="cancel_type2" style="cursor:pointer">ตามสถานะ</label>
				
				&nbsp;&nbsp;
				<select  name="cancle_date_ref" id="cancle_date_ref" class="nocheck text-center select200 hidden" onchange="javascript:var text = this.options[this.selectedIndex].text;document.getElementById('lb_ondate').innerHTML=text;document.getElementById('lb_after').innerHTML=text;document.getElementById('lb_before').innerHTML=text;" >
					<option value="" class="text-center">--- เลือกวันที่ ---</option>
					$cancel_filed_dates
				</select> 
				
				<select  name="cancle_status_ref" id="cancle_status_ref" class="nocheck text-center select200 hidden" onchange="javascript:var text = this.options[this.selectedIndex].text;document.getElementById('lb_ondate').innerHTML=text;document.getElementById('lb_after').innerHTML=text;document.getElementById('lb_before').innerHTML=text;" >
					<option value="" class="text-center">--- เลือกสถานะ ---</option>
					$cancel_filed_status
				</select>  -->
				
				<!-- <select  name="cancle_date_ref" id="cancle_date_ref" class="nocheck text-center select200" onchange="javascript:var text = this.options[this.selectedIndex].text;document.getElementById('lb_ondate').innerHTML=text;document.getElementById('lb_after').innerHTML=text;document.getElementById('lb_before').innerHTML=text;" >
					<option value="" class="text-center">--- เลือกวันที่ ---</option>
					$cancel_filed_dates
				</select> 
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="javascript:void(0)" style="text-decoration:underline;color:blue" onclick="javascript:nzPopupCenter('','ic_followcus_form.php?func=field_cancel_pattern_form&add_page=add_event');">เพิ่ม เงื่อนไขการยกเลิก </a>
				
			</td>
			
		</tr> -->

		<!--  เงื่อนไขการสร้างวันที่กิจกรรม  Start -->
		<tr>
			<td align="right">เงื่อนไข (ฐานข้อมูล) : </td>
			<td align="left">
				<select id="db_name" name="db_name" onchange="javascript:if(this.value!=''){followGetData('tb_name','ic_followcus_form.php?func=change_database&db_name='+this.value); checkChangePattern(); }" style="width: 300px;" class="text-center require_box">
					<option value="" class="text-center"> เลือกฐานข้อมูล </option>
					$db_name
				</select>
			</td>
		</tr>
		<tr>
			<td align="right">เงื่อนไข (ตารางข้อมูล) :</td>
			<td align="left">
				<select id="tb_name" name="tb_name" onchange="javascript:if(this.value!=''){
					followGetData('field_primary','ic_followcus_form.php?func=change_field_primary&tb_name='+db_name.value+'.'+this.value);
					followGetData('field_name','ic_followcus_form.php?func=change_table&tb_name='+db_name.value+'.'+this.value);
					followGetData('field_cus_name','ic_followcus_form.php?func=change_table_field_cus&tb_name='+db_name.value+'.'+this.value);
					followGetData('field_vehicle_name','ic_followcus_form.php?func=change_table_field_vehicle&tb_name='+db_name.value+'.'+this.value);
					followGetData('field_branch_name','ic_followcus_form.php?func=change_field_branch_name&tb_name='+db_name.value+'.'+this.value);
					followGetData('field_expire_date','ic_followcus_form.php?func=change_field_expire_date&tb_name='+db_name.value+'.'+this.value);
					checkChangePattern(); }" style="width: 300px;" class="text-center require_box">
					<option value="" selected="selected" class="text-center"> เลือกชื่อตารางข้อมูล </option>
					$tb_name
				</select>
			</td>
		</tr>
		<tr>
			<td align="right">เงื่อนไข (ชื่อฟิลด์อ้างอิง) :</td>
			<td align="left">
				<select id="field_primary" name="field_primary" style="width: 300px;" class="text-center require_box">
					<option value="" selected="selected" class="text-center"> เลือกชื่อฟิลด์ข้อมูล </option>
					$field_primary
				</select>
			</td>
		</tr>
		<tr>
			<td align="right">เงื่อนไข (ชื่อฟิลด์เงื่อนไข) :</td>
			<td align="left">
				<select id="field_name" name="field_name" style="width: 300px;" class="text-center require_box">
					<option value="" selected="selected" class="text-center"> เลือกชื่อฟิลด์ข้อมูล </option>
					$field_name
				</select>
			</td>
		</tr>
		<tr>
			<td align="right">เงื่อนไข (ชื่อฟิลด์ข้อมูลคน) : </td>
			<td align="left">
				<select id="field_cus_name" name="field_cus_name" style="width: 300px;" class="text-center require_box">
					<option value="" selected="selected" class="text-center"> เลือกชื่อฟิลด์ข้อมูลคน </option>
					$field_cus_name
				</select>
			</td>
		</tr>
		<tr>
			<td align="right">เงื่อนไข (ชื่อฟิลด์ข้อมูลรถ) : </td>
			<td align="left">
				<select id="field_vehicle_name" name="field_vehicle_name" style="width: 300px;" class="text-center nocheck">
					<option value="" selected="selected" class="text-center"> เลือกชื่อฟิลด์ข้อมูลรถ </option>
					$field_vehicle_name
				</select>
			</td>
		</tr>
		<tr>
			<td align="right">เงื่อนไข (สาขา) : </td>
			<td align="left">
				<select id="field_branch_name" name="field_branch_name" style="width: 300px;" class="text-center nocheck">
					<option value="" selected="selected" class="text-center"> เลือกชื่อฟิลด์สาขา </option>
					$field_branch_name
				</select>
			</td>
		</tr>
		
		<!--  เงื่อนไขการสร้างวันที่กิจกรรม  End -->
		
		<tr>
			<td class="title3" valign="top" align="right">รูปแบบการแจ้งเตือน</td>
			<td align="left">
				<input type="radio" name="remind_type" value="once" id="re_type1" onclick="disableElement('remind_value,remind_unit');">
				<label for="re_type1" style="cursor:pointer">แบบครั้งเดียว</label><br>
				<input type="radio" name="remind_type" value="alway" id="re_type2" onclick="enableElement('remind_value,remind_unit');">
				<label for="re_type2" style="cursor:pointer">แบบต่อเนื่อง</label>
				<span id="alway_option">
					ทุกๆ <input type="text" name="remind_value" id="remind_value" style="width:50px;" value="$rs[remind_value]" disabled="disabled" onkeyup="check_number('remind_value')" onkeypress="checknumber(event)">
					<select size="0" name="remind_unit" id="remind_unit" disabled="disabled">
						<option value="day" $re_sel1>วัน</option>
						<option value="week" $re_sel2>สัปดาห์</option>
						<option value="month" $re_sel3>เดือน</option>
						<option value="year" $re_sel4>ปี</option>
					</select>
				</span>
			</td>
		</tr>
	
		<tr>
			<td valign="top" align="right" class="title3" style="padding-top:10px">กำหนดการทำกิจกรรม</td>
			<td align="left" valign="top">
				<table cellpadding="0" cellspacing="0" style="width:70%">
					<tr height="30">
						<td>
							<input type="radio" name="cal_format" value="ondate" id="cal1" onclick="disableElement('cal_value1,cal_unit1,cal_value2,cal_unit2');">
							<label for="cal1" style="cursor:pointer">ตามวันที่..<span id="lb_ondate"></span></label>
						</td>
						<td></td>
					</tr>
					<tr height="30">
						<td>
							<input type="radio" name="cal_format" value="before" id="cal2" onclick="enableElement('cal_value1,cal_unit1');disableElement('cal_value2,cal_unit2');">
							<label for="cal2" style="cursor:pointer">ก่อนหน้า..<span id="lb_before"></span></label> &nbsp;
						</td>
						<td>
							<span id="before_option">
							<input type="text" name="cal_value" id="cal_value1" value="$rs[cal_value]" style="width:50px;" onkeyup="check_number('cal_value1')" disabled="disabled" onkeypress="checknumber(event)"> 
							<select size="0" name="cal_unit" id="cal_unit1" disabled="disabled">
								<option value="day" $cal_day>วัน</option>
								<option value="week" $cal_week>สัปดาห์</option>
								<option value="month" $cal_month>เดือน</option>
								<option value="year" $cal_year>ปี</option>
							</select>
							</span>
						</td>
					</tr>
					<tr height="30">
						<td>
							<input type="radio" name="cal_format" value="after" id="cal3" onclick="enableElement('cal_value2,cal_unit2');disableElement('cal_value1,cal_unit1');" 
							onkeypress="checknumber(event)">
							<label for="cal3" style="cursor:pointer">หลังจาก..<span id="lb_after"></span></label>
						</td>
						<td>
							<span id="after_option">
							<input type="text" name="cal_value" id="cal_value2" value="$rs[cal_value]" style="width:50px;" onkeyup="check_number('cal_value2')" disabled="disabled"> 
							<select size="0" name="cal_unit" id="cal_unit2" disabled="disabled">
								<option value="day" $cal_day>วัน</option>
								<option value="week" $cal_week>สัปดาห์</option>
								<option value="month" $cal_month>เดือน</option>
								<option value="year" $cal_year>ปี</option>
							</select>
							</span>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<!-- <tr>
			<td valign="top" align="right" class="title3">แจ้งเตือนก่อนกำหนด</td>
			<td align="left">
				<input type="text" name="start_value" id="start_value" value="$rs[start_value]" class="nocheck" style="width:50px;" onblur="check_number('start_value')" onkeypress="checknumber(event)">
				<select size="0" name="start_unit" id="start_unit">
					<option value="day" $start_day>วัน</option>
					<option value="week" $start_week>สัปดาห์</option>
					<option value="month" $start_month>เดือน</option>
					<option value="year" $start_year>ปี</option>
				</select>
				(ระยะเวลาที่ให้เริ่มทำรายการก่อนกำหนด)
			</td>
		</tr> -->
		
		<tr>
			<td valign="top" align="right" class="title3">ระบุช่วงเวลาของกิจกรรม</td>
			<td align="left">
				<span>
					<input type="radio" name="follow_up_duration" value="0" id="eventsByDay" checked="checked" 
					onclick="rem_attr('#start_value,#stop_value','disabled');" $eventsBy1>
					<label for="eventsByDay" style="cursor:pointer">กิจกรรมตามวัน </label>  
				</span>
				<span>
					<input type="radio" name="follow_up_duration" value="1" id="eventsByMonth" 
					onclick="clear_val('#start_value,#stop_value'),add_attr('#start_value,#stop_value','disabled');"  $eventsBy2>
					<label for="eventsByMonth" style="cursor:pointer">กิจกรรมตามเดือน</label>
				</span>
			</td>
		</tr>
		

		<!-- Add by top 20150917 v097-->
		<tr>
			<td valign="top" align="right" class="title3">การตั้งค่าโทรซ้ำ</td>
			<td align="left">
			
				<input type="text" name="seting_tel" id="seting_tel" value="$rs[follow_repeat_value]" class="newEventTextBox" style="width:50px;" onblur="check_number('start_value')" onkeypress="checknumber(event)">
				
				<select size="0" name="stingTel_unit" id="stingTel_unit">
					<option value="day" $stTel_day>วัน</option>
					<!-- <option value="week" $start_week>สัปดาห์</option> -->
					<option value="month" $stTel_month>เดือน</option>
					<option value="year" $stTel_year>ปี</option>
				</select>
				(ระยะเวลาสำหรับโทรซ้ำ)
			</td>
		</tr>
		<!-- END Add by top 20150917 v097-->

		<tr>
			<td valign="top" align="right" class="title3">แจ้งเตือนก่อนกำหนด</td>
			<td align="left">
			
				<input type="text" name="start_value" id="start_value" value="$rs[start_value]" class="nocheck" style="width:50px;" onblur="check_number('start_value')" onkeypress="checknumber(event)">
				
				<select size="0" name="start_unit" id="start_unit">
					<option value="day" $start_day>วัน</option>
					<option value="week" $start_week>สัปดาห์</option>
					<option value="month" $start_month>เดือน</option>
					<option value="year" $start_year>ปี</option>
				</select>
				(ระยะเวลาที่ให้เริ่มทำรายการก่อนกำหนด)
			</td>
		</tr>
		<tr>
			<td valign="top" align="right" class="title3">แจ้งเตือนหลังกำหนด </td>
			<td align="left">
				
				<input type="text" name="stop_value" id="stop_value" value="$rs[stop_value]" class="nocheck" style="width:50px;" onblur="check_number('stop_value')" onkeypress="checknumber(event)"> 

				<select size="0" name="stop_unit" id="stop_unit">
					<option value="day" $stop_day>วัน</option>
					<option value="week" $stop_week>สัปดาห์</option>
					<option value="month" $stop_month>เดือน</option>
					<option value="year" $stop_year>ปี</option>
				</select>
				(ระยะเวลาทำรายการหลังจากเลยกำหนด)
			</td>
		</tr>
		<tr>
			<td valign="top" align="right" class="title3">ผู้ที่ติดตามกิจกรรม</td>
			<td align="left">
				<span>
					<input type="radio" name="follow_up_activities" value="responsibility" id="follow_up1" onclick="adds_css('#organization_boxs','display','none');adds_css('#field_specificate','display','none');
					remove_class('#field_name_specificate','require_box')" $upActivities1>
					<label for="follow_up1" style="cursor:pointer">ผู้รับผิดชอบลูกค้า</label>  
				</span>
				<span>
					<input type="radio" name="follow_up_activities" value="organization" id="follow_up2" onclick="adds_css('#field_specificate','display','none');browseCheckTo('organization_boxs','ic_followcus_form.php?func=follow_organization_boxs','');rem_attr('#organization_boxs','style');
					remove_class('#field_name_specificate','require_box')" $upActivities2>
					<label for="follow_up2" style="cursor:pointer">ระบุตามโครงสร้างบริษัท</label>
				</span>
				<span>
					<input type="radio" name="follow_up_activities" value="specification" id="follow_up3" onclick="checkBeforeSpecificate(this);adds_class('#field_name_specificate','require_box')" $upActivities3>
					<label for="follow_up3" style="cursor:pointer">อื่นๆ ระบุ</label>
				</span>
				
				<span id="field_specificate" style="$fieldSpecificateStyle">
					$fieldNameSpecificate
				</span>
				
				
			</td>
		</tr>
		<tr id="organization_boxs" style="display:none">
			$follow_organization_boxs
		</tr>
		<tr>
			<td valign="top" align="right" class="title3">เปอร์เซ็นต์สุ่มแสดงผล </td>
			<td align="left">
				<input type="text" name="random_display" id="random_display" value="$rs[random_display]" style="width:50px;" onkeyup="check_number('random_display');" onblur="checkMaxValue('random_display','100');"> % <span style='color:blue'> * ตัวเลขต้องไม่เกิน 100</span>
			</td>
		</tr>
		<tr>
			<td colspan="2"></td>
		</tr>
		<tr>
			<td valign="top" align="right" class="title3">รหัส กิจกรรมของตรีเพชร</td>
			<td align="left">
				<input type="text" name="TIS_Event_Group" id="TIS_Event_Group" value="$rs[TIS_Event_Group]" class="nocheck" style="width:100px;">
			</td>
		</tr>
		<tr>
			<td valign="top" align="right" class="title3">รหัส กิจกรรมย่อยของตรีเพชร</td>
			<td align="left">
				<input type="text" name="TIS_Event_Period" id="TIS_Event_Period" value="$rs[TIS_Event_Period]" class="nocheck" style="width:100px;">
			</td>
		</tr>
		<tr>
			<td valign="top" align="right" class="title3">รหัส ระยะเวลาที่ต้องติดตาม</td>
			<td align="left">
				<input type="text" name="TIS_Event_PeriodCode" id="TIS_Event_PeriodCode" value="$rs[TIS_Event_PeriodCode]" class="nocheck" style="width:100px;"> 
			</td>
		</tr>
		<tr>
			<td valign="top" align="right" class="title3">ส่งกิจกรรมนี้ให้ ตรีเพชร</td>
			<td align="left">
				<input type="radio" name="send_to_tis" value="yes" id="send1" $send1><label for="send1" style="cursor:pointer">ส่ง</label>  
				<input type="radio" name="send_to_tis" value="no" id="send2" $send2><label for="send2" style="cursor:pointer">ไม่ส่ง</label>
			</td>
		</tr>
		<tr>
			<td valign="top" align="right" class="title3">แสดงในรายการติดตาม</td>
			<td align="left">
				<input type="radio" name="visible" value="yes" id="visible1" $visible1 onclick="target_count1.disabled=false;document.getElementById('tr_target').style.color='#000';document.getElementById('remark_target').style.color='blue';"><label for="visible1" style="cursor:pointer">แสดง</label>  
				<input type="radio" name="visible" value="no" id="visible2" $visible2 onclick="target_count2.click();target_count1.disabled=true;document.getElementById('tr_target').style.color='#ccc';;document.getElementById('remark_target').style.color='#ccc';"><label for="visible2" style="cursor:pointer">ไม่แสดง</label>
				&nbsp;&nbsp;&nbsp;<span style='color:blue'> * สำหรับเหตุการที่ใช้ทดสอบ หรือสร้างเพื่อใช้เป็นข้อมูลส่งให้ตรีเพชร ไม่แสดงให้พนักงานเห็น</span>
			</td>
		</tr>
		<tr id="tr_target">
			<td valign="top" align="right" class="title3">นับรวมผลงาน</td>
			<td align="left">
				<input type="radio" name="target_count" value="yes" id="target_count1" $target_count1><label for="target_count1" style="cursor:pointer">ใช่</label>  
				<input type="radio" name="target_count" value="no" id="target_count2" $target_count2><label for="target_count2" style="cursor:pointer">ไม่ใช่</label>
				&nbsp;&nbsp;&nbsp;<span id="remark_target" style='color:blue'> * ใช่=ต้องทำ , ไม่ใช่=ไม่ต้องทำ(ไม่นับเมื่อเลยกำหนด)</span>
			</td>
		</tr>
		<tr>
			<td valign="top" align="right" class="title3">Active การสร้างกิจกรรม</td>
			<td align="left">
				<input type="radio" name="active" value="yes" id="active1" $active1><label for="active1" style="cursor:pointer">ใช่</label>  
				<input type="radio" name="active" value="no" id="active2" $active2><label for="active2" style="cursor:pointer">ไม่ใช่</label>
			</td>
		</tr>
		
		<tr>
			<td class="title3" align="right">เงื่อนไขการยกเลิกกิจกรรม</td>
			<td align="left"  valign="top" align="right"> 
				<select id="field_expire_date" name="field_expire_date" style="width: 300px;" class="text-center select200 nocheck">
					<option value="" class="text-center"> เลือกเงื่อนไขการยกเลิก </option>
					$field_expire_date 
				</select>
			</td>
		
		</tr>
		<tr>
			<td colspan="2" height="40px"></td>
		</tr>
		<tr>
			<td></td>
			<!-- <td align="left">
				<button class="nz_button bt_add_all" onclick="javascript:if(nzCheckForm('frm_event')==true){
					followFormSubmit('main_form','ic_followcus_form.php?func=add_event','event_id=','frm_event');}">
					<img src="images/1281150751_disk.png" align="absbottom"/> บันทึกกิจกรรม
				</button>	
			</td> -->
			<td align="left"><button class="nz_button BTblack" style="color:white" onclick="javascript:if(nzCheckForm('frm_event')==true){ chkFollowUpActivities('$rs[id]')}"><img src="img/1281150751_disk.png" align="absbottom" > บันทึกกิจกรรม</button>	</td>
		</tr>
	</table>
	</fieldset>
</form>
</div>
<br>
<!-- END MAIN_EVENT_FORM -->


<!-- BEGIN WAIT_EVENT_FORM -->
<br>
<div id="wait_event_form" align="center" style="width:900px;background-color:white;color:black;padding:20px;" class="ui-widget-content ui-corner-all">
<form id="frm_wait_event" method="post" onsubmit="return false;">
	<fieldset style="border:1px solid #cccccc;width:880px;padding:10px;">
	<legend class="title2">$wait_form_title</legend>
	<span>
		<input type="hidden" id="event_edit_id" name="event_edit_id" value="$event_id" class="nocheck"/>
		<input type="hidden" id="prev_event_id" name="prev_event_id" value="$event_id" class="nocheck"/>
	</span>
	
	<table id="tb_evet_form" cellpadding="5" id="tb_event_form" align="center" width="100%">
		<tr>
			<td width="200" class="title3" align="right">BUSINESS UNIT NAME</td>
			<td width="">
				<!-- <input type="text" name="business_unit_name" id="business_unit_name" value="$rs[event_title]" class="newEventTextBox text200" readonly="true"> -->
				<span id="biz_unit_name">$business_unit_name
					<input type="hidden" readonly="" style="border: medium none;width:100%;" class="number-format" 
					value="$business_inps_name" name="business_unit_name"  id="business_unit_name">
				</span>
			</td>
		</tr>
		<tr>
			<td width="200" class="title3" align="right">ชื่อของกิจกรรม</td>
			<td width=""><input type="text" name="event_title" value="$rs[event_title]" class="newEventTextBox"></td>
		</tr>
		<tr>
			<td class="title3" valign="top" align="right">รูปแบบการแจ้งเตือน</td>
			<td align="left">
				<input type="radio" name="remind_type" value="once" id="re_type1" onclick="disableElement('remind_value,remind_unit');">
				<label for="re_type1" style="cursor:pointer">แบบครั้งเดียว</label><br>
				<input type="radio" name="remind_type" value="alway" id="re_type2" onclick="enableElement('remind_value,remind_unit');">
				<label for="re_type2" style="cursor:pointer">แบบต่อเนื่อง</label>
				<span id="alway_option">
					ทุกๆ <input type="text" name="remind_value" id="remind_value" style="width:50px;" value="$rs[remind_value]" disabled="disabled" onkeyup="check_number('remind_value')">
					<select size="0" name="remind_unit" id="remind_unit" disabled="disabled">
						<option value="day" $re_sel1>วัน</option>
						<option value="week" $re_sel2>สัปดาห์</option>
						<option value="month" $re_sel3>เดือน</option>
						<option value="year" $re_sel4>ปี</option>
					</select>
				</span>
			</td>
		</tr>
		<tr>
			<td valign="top" align="right" class="title3" style="padding-top:10px">กำหนดการแจ้งเตือน</td>
			<td align="left" valign="top">
				<table cellpadding="0" cellspacing="0">
					<tr height="30">
						<td>
							<input type="radio" name="cal_format" value="ondate" id="cal1" onclick="disableElement('cal_value1,cal_unit1,cal_value2,cal_unit2');">
							<label for="cal1" style="cursor:pointer">ตามวันที่..วันที่ทำรายการ<span id="lb_ondate"></span></label>
						</td>
						<td></td>
					</tr>
					<tr height="30">
						<td>
							<input type="radio" name="cal_format" value="after" id="cal3" onclick="enableElement('cal_value2,cal_unit2');disableElement('cal_value1,cal_unit1');">
							<label for="cal3" style="cursor:pointer">หลังจาก..วันที่ทำรายการ<span id="lb_after"></span></label>
						</td>
						<td>
							<span id="after_option">
							<input type="text" name="cal_value" id="cal_value2" value="$rs[cal_value]" style="width:50px;" onkeyup="check_number('cal_value2')" disabled="disabled"> 
							<select size="0" name="cal_unit" id="cal_unit2" disabled="disabled">
								<option value="day" $cal_day>วัน</option>
								<option value="week" $cal_week>สัปดาห์</option>
								<option value="month" $cal_month>เดือน</option>
								<option value="year" $cal_year>ปี</option>
							</select>
							</span>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td valign="top" align="right" class="title3">แจ้งเตือนก่อนกำหนด</td>
			<td align="left">
				<input type="text" name="start_value" id="start_value" value="$rs[start_value]" class="nocheck" style="width:50px;" onblur="check_number('start_value')">
				<select size="0" name="start_unit" id="start_unit">
					<option value="day" $start_day>วัน</option>
					<option value="week" $start_week>สัปดาห์</option>
					<option value="month" $start_month>เดือน</option>
					<option value="year" $start_year>ปี</option>
				</select>
				(ระยะเวลาที่ให้เริ่มทำรายการก่อนกำหนด)
			</td>
		</tr>
		<tr>
			<td valign="top" align="right" class="title3">แจ้งเตือนหลังกำหนด </td>
			<td align="left">
				<input type="text" name="stop_value" id="stop_value" value="$rs[stop_value]" class="nocheck" style="width:50px;" onblur="check_number('stop_value')"> 
				<select size="0" name="stop_unit" id="stop_unit">
					<option value="day" $stop_day>วัน</option>
					<option value="week" $stop_week>สัปดาห์</option>
					<option value="month" $stop_month>เดือน</option>
					<option value="year" $stop_year>ปี</option>
				</select>
				(ระยะเวลาทำรายการหลังจากเลยกำหนด)
			</td>
		</tr>
		<!-- <tr>
			<td valign="top" align="right" class="title3">ผู้ติดตามกิจกรรม</td>
			<td align="left">
				<input type="radio" name="who" id="who1" onclick="disableElement('auto_name,who_response');enableElement('department');">
				<select size="0" name="department" id="department" class="" onclick="document.getElementById('who1').click();">
					<option value="">-- เลือกแผนก --</option>
					$department
				</select>
				หรือระบุชื่อ <input type="radio" name="who" id="who2" onclick="disableElement('department');enableElement('auto_name,who_response');">
				<input type="text" name="auto_name" id="auto_name" class="nocheck" onclick="who2.click()" onkeyup="auto_emp_name(this.value);" style="width:180px"> 
				<input type="checkbox" value="$who_response" name="who_response" id="who_response" style="display:none" checked="checked" class="nocheck"><span id="emp_name" style="color:blue">$who_name</span>
				<div id="show_emp_name" style="width:180px;border:1px solid #ccc;display:none;position:absolute"></div>
			</td> 
		</tr> -->
		<tr>
			<td valign="top" align="right" class="title3">ผู้ที่ติดตามกิจกรรม</td>
			<td align="left">
				<span>
					<input type="radio" name="follow_up_activities" value="responsibility" id="follow_up1" onclick="adds_css('#organization_boxs','display','none')" $upActivities1>
					<label for="follow_up1" style="cursor:pointer">ผู้รับผิดชอบลูกค้า</label>  
				</span>
				<span>
					<input type="radio" name="follow_up_activities" value="organization" id="follow_up2" onclick="browseCheckTo('organization_boxs','ic_followcus_form.php?func=follow_organization_boxs','');rem_attr('#organization_boxs','style')" $upActivities2>
					<label for="follow_up2" style="cursor:pointer">ระบุตามโครงสร้างบริษัท</label>
				</span>
			</td>
		</tr>
		<tr id="organization_boxs" style="display:none">
			$follow_organization_boxs
		</tr>
		
		
		<tr>
			<td valign="top" align="right" class="title3">เปอร์เซ็นต์สุ่มแสดงผล </td>
			<td align="left">
				<input type="text" name="random_display" id="random_display" value="$rs[random_display]" style="width:50px;" onkeyup="check_number('random_display');" onblur="checkMaxValue('random_display','100');"> % <span style='color:blue'> * ตัวเลขต้องไม่เกิน 100</span>
			</td>
		</tr>
		<tr>
			<td valign="top" align="right" class="title3">รหัส กิจกรรมของตรีเพชร</td>
			<td align="left">
				<input type="text" name="TIS_Event_Group" id="TIS_Event_Group" value="$rs[TIS_Event_Group]" class="nocheck" style="width:100px;">
			</td>
		</tr>
		<tr>
			<td valign="top" align="right" class="title3">รหัส กิจกรรมย่อยของตรีเพชร</td>
			<td align="left">
				<input type="text" name="TIS_Event_Period" id="TIS_Event_Period" value="$rs[TIS_Event_Period]" class="nocheck" style="width:100px;">
			</td>
		</tr>
		<tr>
			<td valign="top" align="right" class="title3">รหัส ระยะเวลาที่ต้องติดตาม</td>
			<td align="left">
				<input type="text" name="TIS_Event_PeriodCode" id="TIS_Event_PeriodCode" value="$rs[TIS_Event_PeriodCode]" class="nocheck" style="width:100px;"> 
			</td>
		</tr>
		<tr>
			<td valign="top" align="right" class="title3">ส่งกิจกรรมนี้ให้ ตรีเพชร</td>
			<td align="left">
				<input type="radio" name="send_to_tis" value="yes" id="send1" $send1><label for="send1" style="cursor:pointer">ส่ง</label>  
				<input type="radio" name="send_to_tis" value="no" id="send2" $send2><label for="send2" style="cursor:pointer">ไม่ส่ง</label>
			</td>
		</tr>
		<tr>
			<td></td>
			<td align="left">
				<!-- <button class="nz_button BTblack" style="color:white" onclick="javascript:create_wait_event('$rs[id]','$prev_event_id');">
					<img src="images/save.png" align="absbottom" > บันทึกกิจกรรม
				</button> -->
				
				<button class="nz_button BTblack" style="color:white" onclick="javascript:createWaitEventNews('$rs[id]','$prev_event_id');">
					<img src="images/save.png" align="absbottom" > บันทึกกิจกรรม 
				</button>
			</td>
		</tr>
	</table>
	</fieldset>
</form>
</div>
<br>
<!-- END WAIT_EVENT_FORM -->

<!-- BEGIN FIELD_PATTERN -->
<div style="width:100%;margin-top:5px" align="right">
	<button class="nz_button bt_add_all" onclick="javascript:nzPopupCenter('','ic_followcus_form.php?func=field_pattern_form');">
		<img src="images/add.png" align="absbottom" width="18" height="18"> สร้าง pattern วันที่ 
	</button>
	<button class="nz_button  bt_del_all" onclick="if(checkBox('pattern_list')==true){nzConfirmDel('show_list','ic_followcus_form.php?func=confirm_del_pattern','','pattern');}">
	<img src="images/delete.png" align="absbottom"> ลบที่เลือก</button>
</div>
<form onsubmit="return false" id="pattern" name="pattern" class="ui-widget-content ui-corner-all" style="width:100%;background:#fff;padding:20px 0px">
<table border="0" id="tb_field_pattern" cellspacing="0" align="" width="" style="width:95%;border:solid #eee;border-width:1px 1px 1px 0px;margin:0 auto;" class="">
	<tr>
		<th width="" align="left">รหัส</th>
		<th width="" align="left">ชื่อ PATTERN วันที่</th>
		<th width="" align="left">ชื่อฟิลด์ข้อมูล</th>
		<th width="" align="left">ชื่อฟิลด์ข้อมูลคน </th>
		<th width="" align="left">ชื่อฟิลด์ข้อมูลรถ </th>
		<th width="" align="left">ชื่อฟิลด์ข้อมูลสาขา </th>
		<!-- <th width="" align="left">เงื่อนไขการยกเลิก </th> -->
		<th width="" align="left">ชื่อตารางข้อมูล</th>
		<th width="" align="left">ชื่อฐานข้อมูล</th>
		<th width="60" align="right">แก้ไข/ลบ </th>
		<th width="20" align="center">
			<input type="checkbox" id="checkAll" onclick="nz_toggle_check(this,'pattern_list');" style="width:30px;height:50px;">
		</th>
	</tr>
	$tr_list
</table>
</form>
<div style="display:none;" class="nz_content CTwhite width-30" id="show_list"></div>
<!-- END FIELD_PATTERN -->

<!-- BEGIN FIELD_PATTERN_LIST -->
<tr class="$class" id="tr_pattern$row[id]" onmouseover="this.style.cursor='default';">
	<td width="" align="center" class="text-center">$id_num</td>
	<td width="" align="" id="pattern_name$row[id]" class="padd-left">$row[pattern_name]</td>
	<td width="" align="" id="pattern_field$row[id]" class="padd-left">$row[field_name]</td>
	<td width="" align="" id="field_cus_name$row[id]" class="padd-left">$row[field_cus_name]</td>
	<td width="" align="" id="field_vehicle_name$row[id]" class="padd-left">$row[field_vehicle_name]</td>
	<td width="" align="" id="field_branch_name$row[id]" class="padd-left">$row[field_branch]</td>
	<!-- <td width="" align="" id="field_expire_date$row[id]" class="padd-left">$row[field_expire_date]</td> -->
	<td width="" align="" id="pattern_table$row[id]" class="padd-left">$row[table_name]</td>
	<td width="" align="" id="pattern_db$row[id]" class="padd-left">$row[db_name]</td>
	<td width="" align="center" class="text-center">
		
		<img src="images/edit_32.png" width="17" height="16" alt="" style="cursor:pointer" onclick="javascript:nzPopupCenter('','ic_followcus_form.php?func=edit_pattern_form&pattern_id=$row[id]&pattern_name=$row[pattern_name]&db=$row[db_name]&tb=$row[table_name]&field=$row[field_name]&field_cus_name=$row[field_cus_name]&field_vehicle_name=$row[field_vehicle_name]&field_expire_date=$row[field_expire_date]&field_branch=$row[field_branch]','');">&nbsp;&nbsp;
		
		<img src="images/delete.png" width="17" height="16" alt="" style="cursor:pointer" onclick="javascript:nzPopupCenter('show_list','ic_followcus_form.php?func=confirm_del_pattern&pattern_id=$row[id]','');">
	</td>
	<td align="center" class="text-center">
		<input type="checkbox" name="pattern_id[]" id="pattern_id$row[id]" value="$row[id]" class="pattern_list" align="center">
	</td>
</tr>
<!-- END FIELD_PATTERN_LIST -->

<!-- BEGIN FIELD_PATTERN_FORM -->
<div style="padding:10px;color:seagreen;font-weight:bold;width:100%" id="show_success">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;สร้าง PATTERN วันที่ใหม่
<form id="frm_pattern" onsubmit="return false;">
<table id="tb_pattern_form">
	<tr>
		<td align="right">ตั้งชื่อ pattern :: </td>
		<td align="left"><input type="text" name="pattern_name" id="pattern_name" value="$pattern_name" style="width:300px"></td>
	</tr>
	<tr>
		<td align="right">ฐานข้อมูล :: </td>
		<td align="left">
			<select id="db_name" name="db_name" onchange="javascript:if(this.value!=''){followGetData('tb_name','ic_followcus_form.php?func=change_database&db_name='+this.value);}" style="width: 300px;" class="text-center">
				<option value="" class="text-center"> เลือกฐานข้อมูล </option>
				$db_name
			</select>
		</td>
	</tr>
	<tr>
		<td align="right">ตารางข้อมูล ::</td>
		<td align="left">
			<!-- <select id="tb_name" name="tb_name" onchange="javascript:if(this.value!=''){followGetData('field_name','ic_followcus_form.php?func=change_table&tb_name='+db_name.value+'.'+this.value);followGetData('field_cus_name','ic_followcus_form.php?func=change_table_field_cus&tb_name='+db_name.value+'.'+this.value);followGetData('field_vehicle_name','ic_followcus_form.php?func=change_table_field_vehicle&tb_name='+db_name.value+'.'+this.value);followGetData('field_expire_date','ic_followcus_form.php?func=change_table&tb_name='+db_name.value+'.'+this.value);}" style="width: 300px;" class="text-center">
				<option value="" selected="selected" class="text-center"> เลือกชื่อตารางข้อมูล </option>
				$tb_name
			</select> -->
			<select id="tb_name" name="tb_name" onchange="javascript:if(this.value!=''){followGetData('field_name','ic_followcus_form.php?func=change_table&tb_name='+db_name.value+'.'+this.value);followGetData('field_cus_name','ic_followcus_form.php?func=change_table_field_cus&tb_name='+db_name.value+'.'+this.value);followGetData('field_vehicle_name','ic_followcus_form.php?func=change_table_field_vehicle&tb_name='+db_name.value+'.'+this.value);followGetData('field_branch_name','ic_followcus_form.php?func=change_field_branch_name&tb_name='+db_name.value+'.'+this.value); }" style="width: 300px;" class="text-center">
				<option value="" selected="selected" class="text-center"> เลือกชื่อตารางข้อมูล </option>
				$tb_name
			</select>
		</td>
	</tr>
	<tr>
		<td align="right">ชื่อฟิลด์เงื่อนไข :: </td>
		<td align="left">
			<select id="field_name" name="field_name" style="width: 300px;" class="text-center">
				<option value="" selected="selected" class="text-center"> เลือกชื่อฟิลด์ข้อมูล </option>
				$field_name
			</select>
		</td>
	</tr>
	<tr>
		<td align="right">ชื่อฟิลด์ข้อมูลคน :: </td>
		<td align="left">
			<select id="field_cus_name" name="field_cus_name" style="width: 300px;" class="text-center">
				<option value="" selected="selected" class="text-center"> เลือกชื่อฟิลด์ข้อมูลคน </option>
				$field_cus_name
			</select>
		</td>
	</tr>
	<tr>
		<td align="right">ชื่อฟิลด์ข้อมูลรถ :: </td>
		<td align="left">
			<select id="field_vehicle_name" name="field_vehicle_name" style="width: 300px;" class="text-center nocheck">
				<option value="" selected="selected" class="text-center"> เลือกชื่อฟิลด์ข้อมูลรถ </option>
				$field_vehicle_name
			</select>
		</td>
	</tr>
	<tr>
		<td align="right">สาขา :: </td>
		<td align="left">
			<select id="field_branch_name" name="field_branch_name" style="width: 300px;" class="text-center nocheck">
				<option value="" selected="selected" class="text-center"> เลือกชื่อฟิลด์สาขา </option>
				$field_branch_name
			</select>
		</td>
	</tr>
	<!-- <tr>
		<td align="right">เงื่อนไขการยกเลิก :: </td>
		<td align="left">
			<select id="field_expire_date" name="field_expire_date" style="width: 300px;" class="text-center">
				<option value="" selected="selected" class="text-center"> เลือกเงื่อนไขการยกเลิก </option>
				$field_expire_date 
			</select>
		</td>
	</tr> -->
	<tr>
		<td></td>
		<td>
			<button onclick="javascript:if(nzCheckForm('frm_pattern')==true){followFormSubmit('show_success','ic_followcus_form.php?func=add_pattern','pattern_id=$pattern_id&add_page=$add_page','frm_pattern');this.style.display='none';followGetData('display_event','ic_followcus_form.php?func=field_pattern_list');}" style="height:28px;width:40%" class="bt_add_all">
				<img src="images/1281150751_disk.png" align="bottom"> บันทึก
			</button>
			<button onclick="hideObj('div_popup');" style="height:28px;width:40%" class="bt_del_all">
				<img src="images/closed.png" align="absbottom" title="ปิด">ปิด
			</button>
		</td>
	</tr>
</table>
</form>
</div>
<!-- END FIELD_PATTERN_FORM -->


<!-- BEGIN FIELD_CANCEL_PATTERN -->
<div style="width:100%;margin-top:5px" align="right">
	<button class="nz_button bt_add_all" onclick="javascript:nzPopupCenter('','ic_followcus_form.php?func=field_cancel_pattern_form');">
		<img src="images/add.png" align="absbottom" width="18" height="18"> สร้างเงื่อนไขการยกเลิก 
	</button>
	<button class="nz_button  bt_del_all" onclick="if(checkBox('pattern_list')==true){nzConfirmDel('show_list','ic_followcus_form.php?func=confirm_del_cancel_pattern','','pattern');}">
	<img src="images/delete.png" align="absbottom"> ลบที่เลือก</button>
</div>
<form onsubmit="return false" id="pattern" name="pattern" class="ui-widget-content ui-corner-all" style="width:100%;background:#fff;padding:20px 0px">
	<table border="0" id="tb_cancel_pattern" cellspacing="0" align="" width="" style="width:95%;border:solid #eee;border-width:1px 1px 1px 0px;margin:0 auto;FFEACB" class="">
		<tr>
			<th width="" align="left" class="text-center">รหัส</th>
			<th width="" align="left">ชื่อเงื่อนไขการยกเลิก</th>
			<th width="" align="left">ชื่อฟิลด์ข้อมูล</th>
			<th width="" align="left">ชื่อตารางข้อมูล</th>
			<th width="" align="left">ชื่อฐานข้อมูล</th>
			<th width="60" align="right">แก้ไข/ลบ </th>
			<th width="20" align="center">
				<input type="checkbox" id="checkAll" onclick="nz_toggle_check(this,'pattern_list');" style="width:100px;height:50px;" class="cursor">
			</th>
		</tr>
		$tr_list
	</table>
</form>
<div style="display:none;" class="nz_content CTwhite width-30" id="show_list"></div>
<!-- END FIELD_CANCEL_PATTERN -->
<!-- BEGIN FIELD_CANCEL_PATTERN_LIST -->
<tr class="$class" id="tr_pattern$row[id]" onmouseover="this.style.cursor='default';">
	<td class="$class text-center" width="" align="center">$id_num</td>
	<td class="$class padd-left" width="" align="" id="pattern_name$row[id]">$row[pattern_name]</td>
	<td class="$class padd-left" width="" align="" id="pattern_field$row[id]">$row[field_name]</td>
	<td class="$class padd-left" width="" align="" id="pattern_table$row[id]">$row[table_name]</td>
	<td class="$class padd-left" width="" align="" id="pattern_db$row[id]">$row[db_name]</td>
	<td class="$class text-center" width="" align="center">
		
		<img src="images/edit_32.png" width="17" height="16" alt="" style="cursor:pointer" onclick="javascript:nzPopupCenter('','ic_followcus_form.php?func=edit_cancel_pattern_form&pattern_id=$row[id]&pattern_name=$row[pattern_name]&db=$row[db_name]&tb=$row[table_name]&field=$row[field_name]','');">&nbsp;&nbsp;
		
		<img src="images/delete_32.png" width="17" height="16" alt="" style="cursor:pointer" onclick="javascript:nzPopupCenter('show_list','ic_followcus_form.php?func=confirm_del_cancel_pattern&pattern_id=$row[id]','');">
	</td>
	<td class="$class text-center" align="center">
		<input type="checkbox" name="pattern_id[]" id="pattern_id$row[id]" value="$row[id]" class="pattern_list cursor" 
		align="center">
	</td>
</tr>
<!-- END FIELD_CANCEL_PATTERN_LIST -->

<!-- BEGIN FIELD_CANCEL_PATTERN_FORM -->
<div style="padding:10px;color:seagreen;font-weight:bold;width:100%" id="show_success">
	สร้างเงื่อนไขการยกเลิกใหม่
	<form id="frm_pattern" onsubmit="return false;">
		<table id="tb_pattern_form">
			<tr>
				<td align="right" class="text-right">ตั้งชื่อเงื่อนไข :: </td>
				<td align="left" class="text-left">
					<input type="text" name="pattern_name" id="pattern_name" value="$pattern_name" style="width:300px">
				</td>
			</tr>
			<tr>
				<td align="right" class="text-right">รูปแบบการยกเลิก :: </td>
				<td align="left" class="text-left">
					<select id="option_cancel_type" name="option_cancel_type" onchange="javascript:if(this.value!=''){remove_class('#cancel_status','hidden')}" style="width: 300px;" class="text-center">
						<option value="" class="text-center"> เลือกรูปแบบการยกเลิก</option>
						<option value="1" class="text-center">การยกเลิกตามวันที่</option>
						<option value="2" class="text-center">การยกเลิกตามสถานะ</option>
					</select>
				</td>
			</tr>
			<tr>
				<td align="right" class="text-right">ฐานข้อมูล :: </td>
				<td align="left" class="text-left">
					<select id="db_name" name="db_name" onchange="javascript:if(this.value!=''){followGetData('tb_name','ic_followcus_form.php?func=change_database&db_name='+this.value);}" style="width: 300px;" class="text-center">
						<option value="" class="text-center"> เลือกฐานข้อมูล </option>
						$db_name
					</select>
				</td>
			</tr>
			<tr>
				<td align="right" class="text-right">ตารางข้อมูล ::</td>
				<td align="left" class="text-left">
					<select id="tb_name" name="tb_name" onchange="javascript:if(this.value!=''){followGetData('field_name','ic_followcus_form.php?func=change_table&tb_name='+db_name.value+'.'+this.value); }" style="width: 300px;" class="text-center">
						<option value="" selected="selected" class="text-center"> เลือกชื่อตารางข้อมูล </option>
						$tb_name
					</select>
				</td>
			</tr>
			<tr>
				<td align="right" class="text-right">ชื่อฟิลด์ข้อมูล :: </td>
				<td align="left" class="text-left">
					<select id="field_name" name="field_name" style="width: 300px;" class="text-center">
						<option value="" selected="selected" class="text-center"> เลือกชื่อฟิลด์ข้อมูล </option>
						$field_name
					</select>
				</td>
			</tr>
			<tr id="cancel_status" class="hidden">
				<td align="right" class="text-right">ชื่อสถานะ :: </td>
				<td align="left" class="text-left">
					<select id="field_name" name="field_name" style="width: 300px;" class="text-center">
						<option value="" selected="selected" class="text-center"> เลือกชื่อฟิลด์ข้อมูล </option>
						$field_name
					</select>
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<button onclick="javascript:if(nzCheckForm('frm_pattern')==true){followFormSubmit('show_success','ic_followcus_form.php?func=add_cancel_pattern','pattern_id=$pattern_id&add_page=$add_page','frm_pattern');this.style.display='none';}" style="height:28px;width:40%" class="bt_add_all">
						<img src="images/1281150751_disk.png" align="bottom"> บันทึกข้อมูล
					</button>
					<button onclick="hideObj('div_popup');" style="height:28px;width:40%" class="bt_del_all">
						<img src="images/closed.png" align="absbottom" title="ปิด">ปิด
					</button>
				</td>
			</tr>
		</table>
	</form>
</div>
<!-- END FIELD_CANCEL_PATTERN_FORM -->



<!-- BEGIN PRE_EVENT_FORM -->
<div style="padding:10px;color:seagreen;font-weight:bold" id="show_success">
เลือก BU ที่เกี่ยวข้องกิจกรรมนี้  
<form id="frm_pattern" onsubmit="return false;">
<table id="tb_pattern_form" style="width:430px;padding:20px;">
	<!-- <tr>
		<td align="right" class="text-right"><label for="module_all">ทุก BU :: </label></td>
		<td align="left">
			&nbsp;&nbsp;&nbsp;
			<input type="radio" name="chk_module_all[]" id="module_all" value="" checked="checked" onclick="if(this.checked == true){ checked_alls('chk_module\[\]','checked')}else{ checked_alls('chk_module\[\]','') }" class="cursor nocheck"/>
		</td>
	</tr> -->
	$tr_list_module
	<tr>
		<td>
			</br></br>
		</td>
		<td>
			</br></br>
			
			<!-- <button onclick="javascript:if(nzCheckForm('frm_pattern')==true){followFormSubmit('show_success','ic_followcus_form.php?func=add_pattern','pattern_id=$pattern_id&add_page=$add_page','frm_pattern');this.style.display='none';}" style="height:28px;width:40%" class="bt_add_all">
				<img src="images/1281150751_disk.png" align="bottom"> บันทึก
			</button> -->
			
			<button onclick="$onClickAction" style="height:28px;width:35%" class="bt_add_all">
				<!-- <img src="images/1281150751_disk.png" align="bottom">  -->บันทึก
			</button>
			
			<button onclick="hideObj('div_popup');" style="height:28px;width:35%" class="bt_del_all">
				<img src="images/closed.png" align="absbottom" title="ปิด">ปิด
			</button>
		</td>
	</tr>
</table>
</form>
</div>
<!-- END PRE_EVENT_FORM -->

<!-- BEGIN FOLLOW_ORGANIZATION_BOXS -->
<td valign="top" align="left" colspan="2">
	<div class="" id="watch-actions-area-container" style="height: auto;">
		<div class="yt-rounded" id="watch-actions-area">
			<div class="watch-actions-panel" id="watch-actions-addto" style="">  
				<div class="watch-playlists-drawer">
					<table class="width-full">
						<tr>
							<td style="background: none repeat scroll 0 0 #fff;border-style: none;">
								<span class="fleft">
									<h5>ผู้ที่ติดตามกิจกรรม</h5>
								</span>
							</td>
							<td style="background: none repeat scroll 0 0 #fff;border-style: none;">
								<span class="fright">
									<img onclick="adds_css('#organization_boxs','display','none');rem_attr('#follow_up2','checked');" class="close-button" src="images/w-close.png" style="width:15px;height:15px;">
								</span>
							</td>
						</tr>
					</table>
					
					<table cellspacing="0" class="wp-list-table widefat fixed posts">
						<thead>
							<tr> 
								<th style="width:5%;background-color: #F1F1F1;background-image: -moz-linear-gradient(center top , #C2C0C0, #ECECEC);" class="manage-column column-cb check-column" id="cb" scope="col">
									<input type="checkbox" class="cursor nocheck"/>
								</th>
								<th style="width:20%;background-color: #F1F1F1;background-image: -moz-linear-gradient(center top , #C2C0C0, #ECECEC);" class="manage-column column-cb check-column" id="cb" scope="col">
									บริษัท
								</th>
								<th style="width:20%;background-color: #F1F1F1;background-image: -moz-linear-gradient(center top , #C2C0C0, #ECECEC);" class="manage-column column-cb check-column" id="cb" scope="col">
									แผนก
								</th>
								<th style="width:20%;background-color: #F1F1F1;background-image: -moz-linear-gradient(center top , #C2C0C0, #ECECEC);" class="manage-column column-cb check-column" id="cb" scope="col">
									ฝ่าย 
								</th>
								<th style="width:20%;background-color: #F1F1F1;background-image: -moz-linear-gradient(center top , #C2C0C0, #ECECEC);" class="manage-column column-cb check-column" id="cb" scope="col">
									ตำแหน่งงาน
								</th>
								<th style="width:5%;background-color: #F1F1F1;background-image: -moz-linear-gradient(center top , #C2C0C0, #ECECEC);" class="manage-column column-cb check-column" id="cb" scope="col">
									
								</th>
							</tr>
						</thead>
						<tbody id="the-follwer-list"> 
							$the_follwer_list
						</tbody>
					</table>
					
					<form method="post" class="create-playlist" return="false">
						<!-- <input type="hidden" value="zdgpcln-Zz8" name="video_id" class="video-id">
						<input type="hidden" value="CibcLzJpCCf5OSxMRGibkiSbPbd8MEAxMzMzNjg2MzEz" name="session_token">
						<input placeholder="ป้อนชื่อเพลย์ลิสต์" name="playlist_name" class="yt-uix-form-input-text new-playlist-title label-input-label nocheck" aria-label="ป้อนชื่อเพลย์ลิสต์">
						<select name="is_public" class="new-playlist-privacy">
							<option value="True">สาธารณะ</option>
							<option value="False">ส่วนตัว</option>
						</select>
						<button role="button" class="create-new-playlist yt-uix-button yt-uix-button-default" type="submit" onclick=";return true;" disabled="True">
							<span class="yt-uix-button-content">สร้างเพลย์ลิสต์ </span>
						</button>   --> 
						<table class="widtyh-full">
							<tr>
								<td style="background: none repeat scroll 0 0 #F1F1F1;">
									<input type="text" name="q" id="auto_follower_up" class="textbox nocheck" autocomplete="off" 
									onkeyup="follow_organization_comp()" onclick="this.select()">
								</td>
								<td style="background: none repeat scroll 0 0 #F1F1F1;">
									<div class="suggest">
										<strong>Suggest:</strong> 
										<label>
											<input type="radio" onclick="" name="suggest" value="suggest_company" checked="checked">บริษัท
										</label> 
										<label><input type="radio" onclick="" name="suggest" value="suggest_department">แผนก</label>
										<label><input type="radio" onclick="" name="suggest" value="suggest_section">ฝ่าย</label>
										<label><input type="radio" onclick="" name="suggest" value="suggest_position">ตำแหน่งงาน</label>
									</div>
								</td>
							</tr>
						</table>
					</form>
				</div>
			</div>
		</div>
	</div>
</td>
<!-- END FOLLOW_ORGANIZATION_BOXS -->

<!-- BEGIN FOLLOW_SPECIFICATION_BOXS -->
<select id="field_name_specificate" name="field_name_specificate" style="width: 200px;" class="text-center require_box">
	<option value="" selected="selected" class="text-center"> เลือกชื่อฟิลด์เลขที่บัตรพนักงาน </option>
	$fieldNameSpecificate
</select>
&nbsp;
<select id="field_code_specificate" name="field_code_specificate" style="width: 200px;" class="text-center require_box">
	<option value="" selected="selected" class="text-center"> เลือกชื่อฟิลด์รหัสตำแหน่ง </option>
	$fieldCodeSpecificate
</select>
<!-- END FOLLOW_SPECIFICATION_BOXS -->

<!-- BEGIN the-follwer-list -->
<tr id="$tr_ids"> 
	<td style="width:5%;background-color: #fff;">
		<input type="checkbox" value="$tr_ids" id="follower_up_id_$tr_ids" name="follower_up_id[]" class="nocheck cursor"/>
		<input type="hidden" value="$ids_value" id="follower_$tr_ids" name="$follower_name" class="nocheck"/>
	</td>
	<td style="width:20%;background-color: #fff;" class="manage-column column-cb check-column" id="cb" scope="col">
		$arr[comp]
	</td>
	<td style="width:20%;background-color: #fff;" class="manage-column column-cb check-column" id="cb" scope="col">
		$arr[depa]
	</td>
	<td style="width:20%;background-color: #fff;" class="manage-column column-cb check-column" id="cb" scope="col">
		$arr[sect] 
	</td>
	<td style="width:20%;background-color: #fff;" class="manage-column column-cb check-column" id="cb" scope="col">
		$arr[posi] 
	</td>
	<td style="width:5%;background-color: #fff;text-align:center;">
		<img style="width: 15px; height: 15px;" src="images/delete_32.png" class="close-button cursor" onclick="remove_ele('#$tr_ids')">
	</td>
</tr>
<!-- END the-follwer-list -->

<!-- BEGIN MAIN_QUESTION_FORM -->
<div class="title1" align="left" style="width:800;display:$display">ชื่อกิจกรรม :: <span style="color:blue">$event_title</span></div>
<div id="main_question" style="margin-bottom:60px">
	<form id="frm_question" method="post" onsubmit="return false;">
		<fieldset style="border:1px solid #cccccc;width:800px;padding:10px;background:#DAE4F6"> 
			<legend class="title2" style="color:seagreen">
				<img align="absbottom" src="images/add-icon.png">&nbsp;&nbsp;
				<font style="color:#FA9600">เพิ่ม</font> 
				หัวข้อคำถามหลัก สำหรับกิจกรรมที่สร้างใหม่นี้
			</legend>
			<br>
			<table id="tb_ques_form">
				<tr>
					<td width="150" class="title3" valign="top" align="right" style="background:#DAE4F6">หัวข้อคำถามหลัก</td>
					<td style="background:#DAE4F6"><input type="text" name="question_title" class="newEventTextBox" value="$question_title"></td>
				</tr>
				<tr>
					<td class="title3" valign="top" align="right" style="background:#DAE4F6">รายละเอียดคำถาม</td>
					<td style="background:#DAE4F6">
						<textarea name="question_detail" class="nz_textarea" rows="10" style="width:600px;">$question_detail</textarea>
					</td>
				</tr>
				<tr>
					<td class="title3" valign="top" align="right" style="background:#DAE4F6">สคริปต์คำพูด แนวทางในการคุยกับลูกค้า</td>
					<td style="background:#DAE4F6">
						<textarea name="question_talk_script" class="nz_textarea" rows="10" style="width:600px;">$question_talk_script</textarea>
					</td>
				</tr>
				<tr>
					<td></td>
					<td align="left">
						<button class="nz_button BTorange bt_add_all" onclick="javascript:if(nzCheckForm('frm_question')==true){followFormSubmit('main_question','ic_followcus_form.php?func=add_main_question&$manage_question','event_id=$event_id','frm_question');}"> 
							<img src="images/1281150751_disk.png" align="absbottom" > บันทึกหัวข้อคำถามหลัก
						</button>	
					</td>
				</tr>
			</table>
		</fieldset>
	</form>
</div>
<!-- END MAIN_QUESTION_FORM -->

<!-- BEGIN QUESTION_FORM_HEAD -->
<div class="title1" align="left" style="width:800px">หัวข้อคำถาม :: <span style="color:orangered">$question_title</span></div>
<div id="show_ques_list" style="margin-bottom:10px"></div>
<!-- END QUESTION_FORM_HEAD -->
<!-- BEGIN QUESTION_LIST_FORM -->
	<form id="frm_q_list" method="post" onsubmit="return false;">
		<fieldset style="border:1px solid #cccccc;width:800px;padding:10px;">
		<legend class="title2" style="color:green">$question_list_form_title</legend>
		<div id="save_display"></div>
		<table id="tb_ques_form" width="100%" cellpadding="5">
			<tr>
				<td width="150" class="title3" valign="top" align="right">คำถาม</td>
				<td><input type="text" name="list_title" id="input_list_title" class="newEventTextBox" value="$list_title" onblur="document.getElementById('view_title').innerHTML = this.value;"></td>
			</tr>
			<tr>
				<td class="title3" valign="top" align="right">ช่องรับข้อมูล</td>
				<td>
					<div style="float:left" id="div_input_type">
						<input type="radio" name="input_type" id="type1" value="textbox" onclick="view_input(this.id);">
						<label for="type1" style="cursor:pointer">ช่องกรอกข้อความแบบบรรทัดเดียว (textbox)</label><br>
						<input type="radio" name="input_type" id="type2" value="textarea" onclick="view_input(this.id);">
						<label for="type2" style="cursor:pointer">ช่องกรอกข้อความแบบหลายบรรทัด (textarea)</label><br>
						<input type="radio" name="input_type" id="type3" value="checkbox" onclick="view_input(this.id);add_ans_opt2.value='';">
						<label for="type3" style="cursor:pointer">ตัวเลือกตอบ แบบเลือกได้หลายตัว (checkbox)</label><br>
						<input type="radio" name="input_type" id="type4" value="radio" onclick="view_input(this.id);">
						<label for="type4" style="cursor:pointer">ตัวเลือกตอบ แบบเลือกได้ตัวเดียว (radio)</label><br>
						<input type="radio" name="input_type" id="type5" value="selectbox" onclick="view_input(this.id);">
						<label for="type5" style="cursor:pointer">เมนูเลือกตอบ แบบเลือกได้ค่าเดียว (selectbox)</label><br>
						<input type="radio" name="input_type" id="type6" value="pleasure_value" onclick="view_input(this.id);">
						<label for="type6" style="cursor:pointer">ช่องให้คะแนนความพึงพอใจ</label><br>
					</div>
					<div id="view" style="float:left;margin-left:20px;padding:0px 0px 0px 10px;border:2px dashed #ccc;background:#eee;width:320px;height:120px;display:none;overflow:auto;color:blue;">
						<div align="center" style="margin-bottom:5px;font-weight:bold">::ตัวอย่างคำถามและช่องรับคำตอบ::</div>	
						<div align="left" style="padding-left:5px">คำถาม : <span id="view_title" style="color:seagreen">$list_title</span><span style="color:seagreen"> ?</span></div>		
						<div id="view_input" align="left" style="color:orangered;"></div>					
					</div>
				</td>
			</tr>
			<tr id="tr_answer_option" style="display:none">
				<td class="title3" valign="top" align="right"><div id="opt_title">ตัวเลือกของคำตอบ</div></td>
				<td>
					<div id="multi_choice" class="choice" style="display:none">
						<input type="text" name="add_ans_opt" id="add_ans_opt" size="30" class="nocheck ans_option" disabled="disabled">
						<div id="div_add_br"><input type="checkbox" name="add_br" id="add_br" class="nocheck"><label for="add_br" style='color:green;font-weight:bold'>+ ขึ้นบรรทัดใหม่ </label></div> 
						<button class="bt_add_all ans_option" disabled="disabled" onclick="if(add_ans_opt.value!=''){add_answer_option();}" ><img src="images/add_small.png" align="absbottom"> เพิ่มตัวเลือก</button>
						<button class="bt_del_all ans_option" disabled="disabled" onclick="del_answer_option()" ><img src="images/del_small.png" align="absbottom"> ลบตัวเลือก</button>		
						<textarea name="answer_option" id="answer_option" cols="73" class="ans_option nz_textarea" readonly="readonly" onclick="this.blur()" style="background:#eee;border:1px solid #ccc">$answer_option</textarea><!-- ใช้จริง -->
						$edit_message
					</div>
					<div id="textarea_choice" class="choice" style="display:none">
						<input type="text" name="answer_option" id="add_ans_opt2" value="$answer_option" size="5" class="nocheck ans_option2" onkeyup="check_number('add_ans_opt2')" onblur="document.getElementById('textarea').rows=this.value"> บรรทัด
					</div>
					<div id="pleasure_choice" class="choice" style="display:none">
						<input type="text" name="answer_option" id="add_ans_opt3"  value="$answer_option" size="5" class="nocheck ans_option2" onkeyup="check_number('add_ans_opt3')"> กำหนดค่าสูงสุดที่สามารถกรอกลงในช่องให้คะแนนความพึงพอใจ
					</div>
				</td>
			</tr>
			<tr height="10">
				<td></td><td></td>
			</tr>
			<tr>
				<td class="title3" valign="top" align="right" >ความพึงพอใจที่อนุญาตให้แสดงคำถาม</td>
				<td>
					<input type="text" name="pleasure_check" id="pleasure_check" value="$pleasure_check" onclick="this.select();" size="2" onkeyup="check_number('pleasure_check')"> * ค่าความพึงพอใจที่จะให้แสดงคำถามนี้ ( 0 = แสดงคำถาม โดยไม่ต้องตรวจสอบค่าความพึงพอใจ )
				</td>
			</tr>
			<tr>
			<td></td>
			<td align="left">
				<button class="bt_add_all BTwhite" onclick="javascript:if(nzCheckForm()==true && check_number('pleasure_check')==true && checkMaxValue('pleasure_check','100')==true){followFormSubmit('save_display','ic_followcus_form.php?func=add_question_list','main_question_id=$main_question_id&list_id=$list_id&$manage_question','frm_q_list');}"><img src="images/1281150751_disk.png" align="absbottom" >  บันทึก และเพิ่มคำถามข้อต่อไป</button></td>
		</tr>
		</table>
		</fieldset>
	</form>
	<script type="text/javascript" >document.getElementById("input_list_title").focus();</script>
<!-- END QUESTION_LIST_FORM -->

<!-- BEGIN MANAGE_QUESTION_HEAD -->
<div class="ui-widget-content ui-corner-all" style="background-color:snow;margin:10px;padding:20px">
	<div>
		<span class='title1'>
			ชื่อกิจกรรม :: <font color="orangered">$event_title</font>
			<input type="hidden" id="event_title_ids" value="$event_id "/>
		</span>
		<div style="margin:15px;">
			<table width="100%">
				<tr>
					<td width="50%" height="25" align="right" style="background-color: snow; text-align: right;border-left:none;">
						$prev_event :
					</td>
					<td width="50%" style="background-color: snow;border-left:none;">: $next_event</td>
				</tr>
			</table>
		</div>
	</div>
	<div style="margin:10px;">
		
		<!-- <a class="nz_manage nz_button" href="javascript:void(0)" onclick="nz_back_to_event();" style="color:blue;line-height:18px">
			<img src="images/reload_16x16.png" align="absmiddle"> กลับไปที่หน้า กิจกรรมหลัก
		</a> -->
		<button onclick="nz_back_to_event()" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary button-click">
			<span class="ui-button-icon-primary ui-icon ui-icon-arrowrefresh-1-w"></span>						
			<span class="ui-button-text">กลับหน้ากิจกรรมหลัก</span>
		</button>
		
		&nbsp;&nbsp;
		<!-- <a class="nz_manage nz_button BTwhite" id="bt_manage" href="javascript:void(0)" onclick="javascript:nz_manage_question('$event_id');changeClass(this.id,'','BTwhite')" style=";color:blue;line-height:18px">
			<img src="pic/tools1.png" width="18" height="18" align="absmiddle"> หน้าจัดการคำถาม
		</a> -->
		<button onclick="nz_manage_question('$event_id');changeClass(this.id,'','BTwhite')" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary button-click">
			<span class="ui-button-icon-primary ui-icon ui-icon-gear"></span>						
			<span class="ui-button-text">หน้าจัดการคำถาม</span>
		</button>
		
		&nbsp;&nbsp;
		<!-- <a class="nz_manage nz_button" id="bt_new_ques" href="javascript:void(0)" onclick="followGetData('question_list','ic_followcus_form.php?func=add_new_main_question&event_id=$event_id');hideObj('div_tb_question');changeClass(this.id,'','BTwhite');document.getElementById('bt_manage').className='nz_button';" style="color:blue;line-height:18px">
			<img src="images/add.gif" align="absmiddle"> เพิ่มคำถามหลัก
		</a> -->
		<button onclick="followGetData('question_list','ic_followcus_form.php?func=add_new_main_question&event_id=$event_id');hideObj('div_tb_question');changeClass(this.id,'','BTwhite');document.getElementById('bt_manage').className='nz_button';" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary button-click">
			<span class="ui-button-icon-primary ui-icon ui-icon-plusthick"></span>						
			<span class="ui-button-text">เพิ่มคำถามหลัก</span>
		</button>
		
		&nbsp;&nbsp;
		<!-- <a class="nz_manage nz_button" id="bt_new_event" href="javascript:void(0)" onclick="followGetData('question_list','ic_followcus_form.php?func=create_wait_event&event_id=$event_id');hideObj('div_tb_question');changeClass(this.id,'','BTwhite');document.getElementById('bt_manage').className='nz_button';" style=";color:blue;line-height:18px">
			<img src="images/add.png" height="16" align="absmiddle"> สร้างกิจกรรมส่งต่อ/รอสัมภาษณ์
		</a> -->
		<button onclick="javascript:nzPopupCenter('','ic_followcus_form.php?func=pre_event_form&action=prev_event')" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary button-click">
			<span class="ui-button-icon-primary ui-icon ui-icon-seek-next"></span>						
			<span class="ui-button-text">สร้างกิจกรรมส่งต่อ/รอสัมภาษณ์</span>
		</button>
	</div>
	<div id="div_tb_question">
		<table id="tb_manage_question" border="0" cellspacing="0" cellpadding="0" width="100%" style="border:2px solid #eee;font-weight:bold;">
			<thead>
				<tr style="line-height:25px;background-color:seagreen;color:white;font-weight:bold">
					<th width="40" 	class="text-center" style="background-color:seagreen;">ข้อที่</th>
					<th width="100" 	class="text-center" style="background-color:seagreen;">รหัสคำถาม</th>
					<th width="" 	class="text-center" style="background-color:seagreen;">หัวข้อคำถาม</th>
					<th width="640" class="text-center" style="background-color:seagreen;"> เมนูจัดการคำถามหลัก </th>
				</tr>
			</thead>
			<tbody>
				$manage_list
			</tbody>
		</table>
	</div>
	<div id="question_list" style="color:black;margin-top:20px"></div>
</div>
<div id="manage_popup" class="nz_content CTwhite" style="display:none;position:absolute;width:925px;background:;" align="left"></div>
<img src="images/uparrow.png" id="pointer" style="display:none;position:absolute;">
<div id="show_progress"></div>
<!-- END MANAGE_QUESTION_HEAD -->

<!-- BEGIN MANAGE_MAINQUEST_LIST -->
<tr class="$tr_bg" valign="middle" height="40" valign="bottom" id="manage_tr$rs[id]" style="line-height:20px;color:blue;font-weight:bold;font-size:14px" onmouseover="document.getElementById('manage_list$rs[id]').className='green_hover';" onmouseout="document.getElementById('manage_list$rs[id]').className=this.className">
	<td class="text-center">$no.</td>
	<td width="" class="text-center">$rs[id]</td>
	<td width="" class="text-center" id="title$rs[id]">$rs[question_title]</td>
	<td width="" align="right">
		<!-- <button href='javascript:void(0)' id="bt_title$rs[id]" class="nz_button BTwhite" style="padding:1px;color:orangeRed;font-size:12px" onclick="followGetData('manage_popup','ic_followcus_form.php?func=show_question_detail&field=question_title&main_question_id=$rs[id]');">
			<img src="images/form-edit.png" align="absbottom" width="15" height="15"> แก้ไขหัวข้อ
		</button> -->
		<button onclick="followGetData('manage_popup','ic_followcus_form.php?func=show_question_detail&field=question_title&main_question_id=$rs[id]');" class="bt_edit_all font12" id="bt_title$rs[id]">
			<img src="images/edit_32.png" align="absbottom" width="15" height="15"> แก้ไขหัวข้อ
		</button>	
	
		<!-- <button href='javascript:void(0)' id="bt_detail$rs[id]" class="nz_button BTwhite" style="padding:1px;font-size:12px" onclick="followGetData('manage_popup','ic_followcus_form.php?func=show_question_detail&field=question_detail&main_question_id=$rs[id]','');">
			<img src="images/detail.png" align="absbottom" width="15" height="15"> รายละเอียด
		</button> -->
		<button id="bt_detail$rs[id]" class="bt_detail_all font12" onclick="followGetData('manage_popup','ic_followcus_form.php?func=show_question_detail&field=question_detail&main_question_id=$rs[id]','');">
			<img src="images/detail.png" align="absbottom" width="15" height="15"> รายละเอียด
		</button>
		<!-- <button href='javascript:void(0)' id="bt_talk$rs[id]"class="nz_button BTwhite" style="padding:1px;font-size:12px" onclick="followGetData('manage_popup','ic_followcus_form.php?func=show_question_detail&field=question_talk_script&main_question_id=$rs[id]','');"><img src="images/talkscript_01.png" align="absbottom" width="15" height="15"> บทสนทนา</button> -->
		<button id="bt_talk$rs[id]"class="bt_blue_all font12" onclick="followGetData('manage_popup','ic_followcus_form.php?func=show_question_detail&field=question_talk_script&main_question_id=$rs[id]','');">
			<img src="images/call_contact.png" align="absbottom" width="15" height="15"> บทสนทนา
		</button>
		<!-- <button href='javascript:void(0)' class="nz_button BTwhite" style="padding:1px;color:red;font-size:12px" onclick="nzPopupCenter('','ic_followcus_form.php?func=confirm_del_mainquestion&event_id=$event_id&main_question_id=$rs[id]&question_title=$rs[question_title]','');hideObj('manage_popup,pointer')"><img src="images/trash.png" align="absbottom" width="15" height="15"> ลบคำถามหลัก</button> -->
		<button class="bt_del_all font12" onclick="nzPopupCenter('','ic_followcus_form.php?func=confirm_del_mainquestion&event_id=$event_id&main_question_id=$rs[id]&question_title=$rs[question_title]','');hideObj('manage_popup,pointer')">
			<img src="images/trash.png" align="absbottom" width="15" height="15"> ลบคำถามหลัก
		</button>
			
		<!-- <button href='javascript:void(0)' class="nz_button BTwhite" style="padding:1px;color:green;font-size:12px" onclick="javascript:followGetData('question_list','ic_followcus_form.php?func=new_question_list&main_question_id=$rs[id]&event_id=$event_id&add_new=เพิ่ม&main_question_title=$rs[question_title]','',function(){window.scrollBy(0,document.body.scrollHeight);});hideObj('manage_popup,pointer,div_popup')"><img src="images/add.png" align="absbottom" width="15" height="15"> เพิ่มคำถามย่อย</button> -->
		<button class="bt_green_all font12" onclick="javascript:followGetData('question_list','ic_followcus_form.php?func=new_question_list&main_question_id=$rs[id]&event_id=$event_id&add_new=เพิ่ม&main_question_title=$rs[question_title]','',function(){window.scrollBy(0,document.body.scrollHeight);});hideObj('manage_popup,pointer,div_popup')">
			<!-- <img src="images/true.png" align="absbottom" width="15" height="15"> --> เพิ่มคำถามย่อย
		</button>
	</td>
</tr>
<tr id="manage_list$rs[id]" class="$tr_bg" onmouseover="document.getElementById('manage_tr$rs[id]').className='green_hover';" onmouseout="document.getElementById('manage_tr$rs[id]').className=this.className">
	<td colspan="4" align="center" style="padding:0px 20px 20px 20px" id="td_question_list_table$rs[id]">
		$question_list
	</td>
</tr>
<!-- END MANAGE_MAINQUEST_LIST -->

<!-- BEGIN MANAGE_MAINQUEST_DETAIL -->
<div align="left" class="title3" style="padding:10px;color:black;font-weight:bold;">
	:: $title :: 
	<span class="fontred"><i> คลิ๊กที่ข้อความเพื่อแก้ไข </i></span>
</div>
<div id="show_manage_msg" align="left"></div>
<div align="left" id="display_detail" class="bg_white" title="หากต้องการแก้ไขข้อมูลคลิกที่นี่ หรือที่ปุ่ม 'แก้ไข'">
	<div id="edit_box" style="display:none"></div>
	
	<!-- <div id="title_text" style="padding:5px;border:1px solid #eee;color:saddlebrown;line-height:20px;white-space:pre-wrap;" onmouseover="this.className='event_tr1';" onmouseout="this.className='bg_white'" onclick="manage_question_detail('$field','$main_question_id')">$text</div> -->
	
	<div id="title_text" style="padding:5px;border:1px solid #eee;color:saddlebrown;line-height:20px;white-space:pre-wrap;"  onmouseout="this.className='bg_white'" onclick="manage_question_detail('$field','$main_question_id')">$text</div>
</div>
<div align="left" style="padding:10px">
	<button id="bt_save_detail" style="display:none" class="bt_add_all" onclick="followPostData('title_text','ic_followcus_form.php?func=update_mainquestion_detail','message='+document.getElementById('detail').value+'&field=$field&main_question_id=$main_question_id');hideObj('bt_save_detail,edit_box');">
		<img align="absbottom" width="15" height="15" src="images/saves.png"> บันทึก 
	</button>
	
	<button id="bt_edit_detail" class="bt_edit_all" onclick="manage_question_detail('$field','$main_question_id')">
		<img align="absbottom" width="15" height="15" src="images/form-edit.png"> แก้ไข
	</button>
	
	<button onclick="hideObj('manage_popup,pointer')" class="bt_del_all">
		<img width="15" height="15" align="absbottom" src="images/trashs.png"> ปิด
	</button>
	
</div>
<!-- END MANAGE_MAINQUEST_DETAIL -->
<!-- BEGIN CONFIRM_DEL_QUESTION -->
<div align='right'>
<img src='images/closed.png' align='absbottom' width='15' height='15' style='cursor:pointer;' onclick="hideObj('div_popup');">
</div>
<div id='del_success'>
	<p class='title3' style='color:orangered;padding:10px'>กรุณาตรวจสอบให้แน่ใจว่าต้องการลบ หัวข้อคำถามหลักนี้?</p>
	<p style='color:blue;padding:10px' class='title3'>หัวข้อคำถาม : $question_title</p>
	<form onsubmit="javascript:if(verify.value=='OK' || verify.value=='ok'){followGetData('del_success','ic_followcus_form.php?func=del_main_question&event_id=$event_id&main_question_id=$main_question_id');}else{alert('หากต้องการลบ พิมพ์คำว่า OK เพื่อยืนยันการลบครับ');}return false;">
	<input type='text' size='3' id="verify" name='verify'> พิมพ์คำว่า OK เพื่อยืนยันการลบ <br><br>
	<input type='button' value='ยืนยันการลบ' class='nz_button BTblack' onclick="javascript:if(verify.value=='OK' || verify.value=='ok'){followGetData('del_success','ic_followcus_form.php?func=del_main_question&event_id=$event_id&main_question_id=$main_question_id');}else{alert('หากต้องการลบ พิมพ์คำว่า OK เพื่อยืนยันการลบครับ');}">
	&nbsp;&nbsp;&nbsp;
	<input type='button' value='ยกเลิก' class='nz_button BTblack' onclick="document.getElementById('div_popup').style.display='none'">
	
	</form><br>
	<p style='color:red'>* <u>หมายเหตุ</u> หากลบคำถามหลัก รายการคำถามย่อยทั้งหมดจะถูกลบไปด้วย!</p>
	<p style="color:blue;margin-top:10px">รายการคำถามย่อยที่จะถูกลบไปด้วย <font color='red'> $rs[0] </font> คำถาม</p>
</div>
<script type="text/javascript">document.getElementById('verify').focus();</script>
<!-- END CONFIRM_DEL_QUESTION -->


<!-- BEGIN QUESTION_LIST_HEAD -->
<style type="text/css">
	#tb_manage_question td #tb_list_q th{ font-weight : bold;font-size:12px;}
</style>
<div id="show_success" align="center" style="width:30%;margin:0 auto;"></div>
<table id="tb_list_q_$main_question_id" border="0" cellspacing="0" cellpadding="5" align="" width="840" class="nz_table tb_question_list" style="background:#EEE8C;">
	<!-- <tr style="background:#E0EEEE;color:black"> -->
	<tr style="background:#787878;color:#000;font-weight:bold;font-size:14px;">
		<th width="70" class="text-center">ลำดับ</th>
		<th width="70" class="text-center">รหัสคำถาม</th>
		<th width="70" class="text-center">รหัสอ้างอิงคำถามหลัก</th>
		<th width=""   class="text-center">คำถาม</th>
		<th width="80" class="text-center">ชนิดของช่องรับข้อมูล</th>
		<th width="200"class="text-center">ตัวเลือกเพิ่มเติม</th>
		<th width="70" class="text-center">ระดับความพึงพอใจที่ให้ถาม</th>
		<th width="50" class="text-center">แก้ไข<br> / ลบ</th>
	</tr>
	$tr_list
</table>
<!-- END QUESTION_LIST_HEAD -->
<!-- BEGIN QUESTION_LIST -->
<tr style="" id="tr_$row_fol[id]" class="$bg">
	<td width="" align="center"><input type="text" style="width:30px" value="$row_fol[order_number]" onblur="update_question_order(this,'$row_fol[id]');"/></td>
	<td width="" align="center">$row_fol[id]</td>
	<td width="" align="center">$row_fol[main_question_id]</td>
	<td width="" align="">$row_fol[list_title]</td>
	<td width="" align="center">$row_fol[input_type]</td>
	<td width="" align="">$row_fol[answer_option]</td>
	<td width="" align="center">$row_fol[pleasure_check]</td>
	<td align="center" width="">
		<img width="17" height="16" onclick="javascript:followGetData('question_list','ic_followcus_form.php?func=edit_question_list&list_id=$row_fol[id]&$manage_question','');" style="cursor: pointer;" alt="" src="images/edit.gif">&nbsp;&nbsp;
		<img width="16" height="16" onclick="javascript:if(confirm('ยืนยันการลบรายการที่เลือก :: $row_fol[list_title] ?')==true){followGetData('show_success','ic_followcus_form.php?func=del_question_list&list_id=$row_fol[id]','');}" style="cursor: pointer;" alt="" src="images/delete.png">
	</td>
</tr>
<!-- END QUESTION_LIST -->
<!-- BEGIN BACKUP_DEFIND -->
<tr>
	<td valign="top" align="right" class="title3">บริษัทที่ติดตามกิจกรรม</td>
	<td align="left">
		<select size="0" name="option_company" id="option_company" class="text-center event_permiss select200 nocheck" 
		onchange="option_event_permiss('tr_option_department','option_department',this)">
			$option_company
		</select>
	</td>
</tr>
<tr id="tr_option_department" style="$make_hidden">
	<td valign="top" align="right" class="title3">แผนกที่ติดตามกิจกรรม</td>
	<td align="left">
		<select size="0" name="option_department" id="option_department" class="text-center event_permiss select200" onchange="option_event_permiss('tr_option_group','option_group',this)">
			$option_department
		</select>
	</td>
</tr>
<tr id="tr_option_group" style="$make_hidden">
	<td valign="top" align="right" class="title3">ฝ่ายที่ติดตามกิจกรรม</td>
	<td align="left">
		<select size="0" name="option_group" id="option_group" class="text-center event_permiss select200" 
		onchange="option_event_permiss('tr_option_position','option_position',this)">
			$option_group
		</select>
	</td>
</tr>
<tr id="tr_option_position" style="$make_hidden">
	<td valign="top" align="right" class="title3">ตำแหน่งที่ติดตามกิจกรรม</td>
	<td align="left">
		<select size="0" name="option_position" id="option_position" class="text-center event_permiss select200" 
		onchange="option_event_permiss('tr_option_person','inp_option_person',this)">
			$option_position
		</select>
	</td>
</tr>
<tr id="tr_option_person" style="$make_hidden">
	<td valign="top" align="right" class="title3">ระบุบุคคลที่ติดตามกิจกรรม</td>
	<td align="left">
		<!-- <input type="text" class="event_permiss select200" id="inp_option_person" name="inp_option_person" value="" 
		onclick="this.select()" onkeyup="auto_com(this,'tasks')"/> -->
		<select size="0" name="inp_option_person" id="inp_option_person" class="text-center event_permiss select200">
			$option_person
		</select>
	</td>
</tr>
<!-- END BACKUP_DEFIND -->