<!-- ใช้สไตล์ชีทจาก css/popup.css -->

<!--  naizan 2011-02-07
				</table>
				<div style="overflow-y:scroll;overflow-x:hidden;height:400px;width:100%;border:1px solid #eee">
					<table id="tb_cus_list2" align="left" cellspacing="0" border="0" style="width:100%;border-bottom:1px solid #999;border-right:1px solid #999">
					$cus_list
					</table>
				</div> -->

<!-- BEGIN CUS_LIST_FOR_EXPORT_WITH_ADDRESS -->
<tr >
	<td align="center">$rs[machine_no]</td>
	<td align="center">$rs[regis_no]</td>
	<td align="left" >$cus_name $cr_book</td>
	<td align="center">$rs[C_Pro]</td>
	<td align="center">$rs[C_Amp]</td>
	<td align="center">$rs[C_Tum]</td>
	<td align="left">$cus_telnumber</td>
	<td align="center">$cus_level</td>
	<td align="center">$event_title</td>
	<td align="center">$start_date</td>
	<td align="center">$real_date &nbsp; $real_time</td>
	<td align="center">$expire_date</td>
	<td align="center">$date_deliver</td>
	<td align="center">$regis_date</td>
	<td align="center">$time_for_talk</td>
	<td align="center"></td>
	<td align="center">$track_type</td>
</tr>
<!-- END CUS_LIST_FOR_EXPORT_WITH_ADDRESS -->

<!-- BEGIN CUS_LIST -->
<!-- <tr id="TR$rs[follow_id]" $class title="$TRtitle" style="cursor: pointer;" onclick="$click">  -->
<!-- <tr id="TR$cus_no" $class title="$TRtitle" style="cursor: pointer;" onclick="$click;changeClass('TR$cus_no','','bgGreen_fnOrange')"> -->
<tr id="TR$cus_no" title="$TRtitle" style="cursor: pointer;" onclick="$click;changeClass('TR$cus_no','','bgGreen_fnOrange')">
	<td align="center" style="$border;$class">$cus_info</td>
	<td align="left" style="$border;$class" id="cusname$cus_no">$cus_name $cr_book</td>
	<td align="left" style="$border;$class" >$cus_telnumber</td>
	<td align="center" style="$border;$class" >$cus_level</td>
	<td align="center" style="$border;$class" >$start_date &nbsp; $time_redial</td>
	<td align="center" style="$border;$class" >$real_date &nbsp; $real_time</td>
	<td align="center" style="$border;$class" >$expire_date &nbsp; $time_redial</td>
	<td align="center" style="$border;$class" >$time_for_talk</td>
	<td align="center" style="$border;$class" >$pleasure_value</td>
	$break_up_td
	<td align="center" style="$border;$class" >$track_out_icon &nbsp; $track_tel_icon </td>
</tr>
<!-- <tr $class id="cus$rs[follow_id]" style="display:none;"> -->
<tr id="cus$cus_no" style="display:none;background : #C1FFC1">
	<td colspan="10" style="border:0px">
		<DIV id="detail$cus_no" style="display:none;"></DIV>
	</td>
</tr>
<!-- END CUS_LIST -->

<!-- BEGIN NULL -->
	<tr>
		<td colspan="$colspan" style="background-color:#ffffff;color:red;font-size:14px;text-align:center;padding:10px;font-weight:bold;" 
		align="center">$config[null]
		</td>
	</tr>
<!-- END NULL -->

<!-- BEGIN POPUP_BLOCK -->
<style>
div.scroll {
	background-color: #FFF;
    width: 100%;
    height: 135px;
    overflow: scroll;
}
div.scroll_detail {
	background-color: #FFF;
    width: 100%;
    height: 450px;
    overflow: scroll;
}
</style>
<div id="divMainDetail" style="width:95%;">
	<div id="navDetail" style="display:$navDetailDisplay">
		<button id="bt_script" class="nz_buttonTop BTblack tabQuestion" style="border-bottom:0px;" onclick="javascript:CRchangeObject('script',this)">
			<img src="img/talkscript_01.png" align="absbottom" width="25" height="25"> <span style="display:$bt_script_display">รายละเอียดของคำถาม และสคริปต์คำพูด</span>$bt_script
		</button>
		<button id="bt_question" class="nz_buttonTop BTwhite tabQuestion" style="border-bottom:0px;display:none" onclick="javascript:CRchangeObject('question',this);">
			<img src="img/question_01.png" align="absbottom" width="25" height="25"> แบบฟอร์มคำถาม สำหรับสัมภาษณ์ลูกค้า
		</button>
		<button id="bt_service_history" class="nz_buttonTop BTwhite tabQuestion" style="border-bottom:0px;display:none;padding:2px" onclick="javascript:CRchangeObject('service_history',this);">
				<img src="img/question_01.png" align="absbottom" width="25" height="25"> ประวัติการซ่อม
		</button>
	</div>
	<div style="width:97%;" class="nz_contentNoLT CTblack">
		<div style="float:right;height:33px" onmouseover="this.style.cursor='pointer'">
			<img src="img/closed.png" align="bottom" title="ปิดกล่องข้อความ" onclick="hideObj('divMainDetail,cursor,blank');">
		</div>
		<div id="div_script" class="nz_content CTwhite containQuestion"></div>
		<div id="div_question" class="nz_content CTwhite containQuestion"></div>
		<div id="div_service_history" class="nz_content CTwhite containQuestion"></div>
	</div>
</div>
<div id="cursor" style="display:none;position:absolute;width:25px;height:33px;z-index:2">
<img src="img/arrow_right01.png" title="รายการที่กำลังทำอยู่ในขณะนี้">
</div>
<div class="nz_content CTwhite" id="tooltip" style="display:none;position:absolute;width:100px;height:40px;padding-top:10px">
</div>
<div id="blank" style="position:fixed;z-index:1;display:none;background:#cccccc;opacity:0.4;filter:alpha(opacity=40)"></div>
<!-- END POPUP_BLOCK -->
<!-- BEGIN TABLE_CUS_DETAIL -->
<div class="scroll">
<table bgcolor="#EDEDED">
	<thead>
		<tr>
			<th>ชื่อ - สกุล</th>
			<th>ทะเบียน</th>
			<th>อาชีพ</th>
			<th>รุ่นรถ</th>
			<th>วันที่ออกรถ</th>
			<th>เบอร์โทรศัพท์</th>
		</tr>
	</thead>
	<tbody>
		$cus_detail_list
	</tbody>
</table>
</div>
<!-- END TABLE_CUS_DETAIL -->
<!-- BEGIN TABLE_CUS_DETAIL_LIST -->
<tr>
	<td>$Cus</td>
	<td>$arr[VEHICLE_REGIS]</td>
	<td>$Job[JOB_NAME]</td>
	<td>$arr[VEHICLE_MODEL_FULL] $arr[RELATES_TYPE]</td>
	<td>$arr[Date_Deliver]</td>
	<td>
		<select>$Tel</select>
	</td>
</tr>
<!-- END TABLE_CUS_DETAIL_LIST -->
<!-- BEGIN TABLE_FOR_EXPORT_WITH_ADDRESS -->
<table>
	<thead>
		<tr valign="middle" >
			<th align="center">หมายเลขเครื่อง</th>
			<th align="center">หมายเลขทะเบียน</th>
			<th align="left">ชื่อ-สกุล ลูกค้า</th>
			<th align="center">จังหวัด</th>
			<th align="center">อำเภอ</th>
			<th align="center">ตำบล</th>
			<th align="left">เบอร์มือถือ / บ้าน / ที่ทำงาน</th>
			<th align="center">เกรดลูกค้า</th>
			<th align="center">ชื่อกิจกรรม</th>
			<th align="center">วันที่เริ่มทำกิจกรรม</th>
			<th align="center">วันที่ครบรอบกิจกรรม</th>
			<th align="center">วันสุดท้ายที่แสดง</th>
			<th align="center">วันที่ออกรถ</th>
			<th align="center">วันที่จดทะเบียน</th>
			<th align="center">เวลาที่ลูกค้าสะดวกคุย"</th>
			<th align="center">ค่าความพึงพอใจ"</th>
			<th align="center">ประเภทการติดตาม</th>
		</tr>
	</thead>
	<tbody>
		$cus_list
	</tbody>
</table>
<!-- END TABLE_FOR_EXPORT_WITH_ADDRESS -->

<!-- BEGIN MAIN_FOLLOW -->
<script type="text/javascript">
	jQuery(document).ready(function(){	
		jQuery('button#load_more').acc_loadMore('tbody#list_table_result', 'ic_followcus2.php?operator=cuslist_progress', {
			'typeWork' 		: 'click',
			'buttonSearch' 	: '#btn_search_cust',
			'tagSearch'		: 'form#tbl_cust_follower',
			'limit' 		: 50,
			'showNum'		: 'button#load_more span:last'
		});
	});
	datepk('#start_car_out');datepk('#end_car_out');datepk('#date_tracking');datepk('#start_regis');datepk('#end_regis');
</script>
<div id="div_cus_list">
	<div id="nav_event" align="center" style="width:100%;margin-bottom: 10px;">
		<button id="bt_event" class="g-button g-button-submit" onclick="javascript:browseCheck('main','$followPage?operator=ic_eventcus','');">เหตุการณ์ของลูกค้า</button>
		<button id="bt_followup" class="g-button g-button-submit" onclick="javascript:browseCheck('main','$followPage?operator=cuslist','');">รายชื่อลูกค้าที่ต้องโทรหา</button> 
	</div>
	<div class="nz_contentNoLT" style="width:99%;padding:10px 10px 40px 10px;background:#fff;border:1px solid #ccc">
		<div id="div_followup_menu" align="left" style="width:97%;margin-bottom:5px">
			$menu $curPage
		</div>
		<div id="follow_content" align="left">
			$emp_response
			<div align="left" style="width:99%;padding:5px">$pager</div>
			<!-- $select_event_cr  &nbsp;&nbsp;&nbsp;&nbsp; $select_branch_cr -->
			<div align="left" style="width:99%;font-size:16px; display:$styleHidden;" >
				ดูรายชื่อลูกค้าที่ต้องโทรหาของ:
				<select id="select_idEmp" class="textCenter" onchange="view_empTell('62');">
				 	$option_list_emp 
				</select>
			</div><!-- pt@2012-01-04 -->
			<form id="tbl_cust_follower" onsubmit="return false;">
				<input type="hidden" name="id_card" id="id_card" value="$id_card" >
				<input type="hidden" name="view_de" id="view_de" value="$view_de" >
				
				<div align="left" style="width:99%">
					<table width="100%" style="padding:10px;text-align:right;">
						<tr>
							<td align="right" colspan="2">
								<b><font color="red">เลือกกิจกรรม ::</font></b>
								<select id="select_event" name="select_event" class = "textCenter" style="font-size:14px;"
								onchange="">
									$select_event_cr
								</select>
							</td>
							<td align="right" colspan="2">
								<b><font color="red">เลือกสาขาที่ต้องการ ::</font></b>
								<select id="s_branch" name="s_branch" class = "textCenter" style="font-size:14px;"
								onchange="">
									$select_branch_cr
								</select>
							</td>
						</tr>
						<tr>
							<td align="right">
								การจัดเรียง: 
								<select id="order" onchange="javascript:if(document.getElementById('order').value!=''){}" style="font-size:14px;" class="textCenter">
									<option value="">- เลือกรูปแบบการจัดเรียง -</option>
									<option value="cusname_asc" $select1> ตามชื่อลูกค้า  ก - ฮ </option>
									<option value="cusname_desc" $select2> ตามชื่อลูกค้า  ฮ - ก </option>
									<option value="expire_date_asc" $select3> วันที่สิ้นสุด ก่อน - หลัง </option>
									<option value="expire_date_desc" $select4> วันที่สิ้นสุด หลัง - ก่อน </option>
								</select>
							</td>
							<td align="right">
	  							$textEvent
	  							<select id="order_event" style="width: 280px;display:$fornormalmode;"  onchange="" style="font-size:14px;" class="textCenter" name="order_event">
									<option value="">- เลือกกิจกรรม -</option>
									$GETEvent
								</select>
							</td>
							<td align="right">
								$textPro
								<select id="order_province"  style="width: 150px;display:$fornormalmode;" onchange="javascript:if(document.getElementById('order_province').value!=''){
								getAddrOption(this.value,'order_aumphur','get_aumphur');}" style="font-size:14px;" class="textCenter" name="order_province">
									<option value="">- เลือกจังหวัด -</option>
									$op_province
								</select>
							</td>
							<td align="right">
								$textAmp
								<select id="order_aumphur"  style="width: 150px;display:$fornormalmode;" onchange="javascript:if(document.getElementById('order_aumphur').value!=''){ getAddrOption(this.value,'order_tumbon','get_tumbon');}" style="font-size:14px;" class="textCenter" name="order_aumphur">
									<option value="">- เลือกอำเภอ -</option>
									$op_aumphur
								</select>
							</td>
						</tr>
						<tr>
							<td align="right">
								$textTum
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<select id="order_tumbon"  style="width: 170px;display:$fornormalmode;" onchange="javascript:if(document.getElementById('order_tumbon').value!=''){}" style="font-size:14px;" class="textCenter" align="right" name="order_tumbon">
									<option value="">- เลือกตำบล -</option>
									$op_tumbon
								</select>
							</td>
							<td align="right">
								<table>
									<tr>
										<td>
											$textEx
											<img style="cursor:pointer;display:$fornormalmode;" height='30' src="images/excel-2003.gif" title='โหลด excel File' onclick="$onclick_excel"/>
			
										</td>
										<td>
											<input type="button" id="btn_search_cust" name="btn_search_cust" 
											value="   ค้นหา   "/>
											&nbsp;&nbsp;
											<input type="reset" id="btn_reset_cust" name="btn_reset_cust" 
											value="   clear   "/>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</div>
				<div  style="width:99%" >
					<a href="javascript:void(0)" class='nz_button BTwhite'  onclick="filter_other('#filter_other');">
						ตัวกรองเพิ่มเติม
					</a> 
					<div id="filter_other" align="center" style="display:none;">
						<table width="100%" style="padding:10px;text-align:right;" align="right" >
							<tr>
								<td class="align-right">หมายเลขทะเบียนรถ</td>
								<td>
									<input size="20" type="text" name="regis_no" id="regis_no" >
								</td>
								<td class="align-right">หมายเลขเครื่อง</td>
								<td>
									<input size="20" type="text" name="machine_no" id="machine_no" >
								</td>
								<td class="align-right">วันที่ออกรถ จากวันที่</td>
								<td>
									<input name="start_car_out" type="text" id="start_car_out" readonly="readonly" value="" />  
								</td>
								<td class="align-right">ถึงวันที่</td>
								<td>
									<input name="end_car_out" type="text" id="end_car_out" readonly="readonly" value="" />  
								</td>
							</tr>
							<tr>
								<td class="align-right">หมายเลขโทรศัพท์</td>
								<td>
									<input size="20" type="text" name="tel_no" id="tel_no" >
								</td>
								<td class="align-right">วันที่จดทะเบียน จากวันที่</td>
								<td>
									<input name="start_regis" type="text" id="start_regis" readonly="readonly" value="" />  
								</td>
								<td class="align-right">ถึงวันที่</td>
								<td>
									<input name="end_regis" type="text" id="end_regis" readonly="readonly" value="" />  
								</td>
								<td class="align-right"></td>
								<td></td>
							</tr>
						</table>
					</div>
				</div>
			</form>	
			<div align="left" style="width:99%;padding:5px">
				<img src='img/directory.gif' border='0' align='absmiddle'> = ดูข้อมูลประวัติส่วนตัวของลูกค้า  |
				<img src="img/time_for_talk.png" align='absmiddle' width="25" height="25" title="เวลาที่ลูกค้าสะดวกคุย"> = เวลาที่ลูกค้าสะดวกคุย |
				<img src="img/pleasure.png" align='absmiddle' width="25" height="25" title="ค่าความพึงพอใจ"> = ค่าความพึงพอใจ |
				$break_up_menu
				<img src="img/telephone.gif" align='absmiddle' width="25" height="25" title="โทรติดตาม"> = โทรติดตาม |
				<img src="img/people.gif" align='absmiddle' width="25" height="25" title="ออกติดตาม"> = ออกติดตาม |
				<table id="tb_cus_list" cellspacing="0" border="0" style="width:100%;margin-top:5px;">
					<thead>
					<tr valign="middle" style="background-color:#2F4F4F;color:#DC7107;font-size: 13px;">
						<th width="40" style="text-align: center;" title=" ดูข้อมูลประวัติส่วนตัวของลูกค้า "><img src='img/directory.gif' border='0' align='absmiddle'></th>
						<th width="300" align="left">ชื่อ-สกุล ลูกค้า</th>
						<th width="" style="text-align: center;">เบอร์มือถือ / บ้าน / ที่ทำงาน</th>
						<th width="91" style="text-align: center;">เกรดลูกค้า</th>
						<th width="85" style="text-align: center;">วันที่เริ่มทำกิจกรรม</th>
						<th width="85" style="text-align: center;">วันที่ครบรอบกิจกรรม</th>
						<th width="83" style="text-align: center;">วันสุดท้ายที่แสดง</th>
						<th width="90" style="text-align: center;"><img src="img/time_for_talk.png" width="25" height="25" title="เวลาที่ลูกค้าสะดวกคุย"></th>
						<th width="60" style="text-align: center;"><img src="img/pleasure.png" width="25" height="25" title="ค่าความพึงพอใจ"></th>
						$break_up_th
						<th width="83" style="text-align: center;">ประเภทการติดตาม</th>
					</tr>
					</thead>
					<tbody id="list_table_result">
 					$cus_list
 					</tbody>
 				</table>
 				<div align="center">
 					<button type="button" id="load_more" class="ui-button ui-widget ui-state-default 
					ui-corner-all ui-button-text-icon-primary button-click" role="button" aria-disabled="false" style="width: 250px;margin-left:10px;display:none;">
						<span class="ui-button-icon-primary ui-icon"></span>
						<span class="ui-button-text">แสดงข้อมูลจำนวน <span>0 / 0</span></span>
					</button>
 				</div>
			</div>
		</div>
	</div>
</div>
<div id="hidden" align="center" style="display:none;"></div>
$popup_block
<script type="text/javascript" >
	window.scrollTo(0,0);
	/*$('#tb_cus_list').nz_fixhead_table({blankTD: '10'});*/
</script>
$disable_menu_is_service
<!-- END MAIN_FOLLOW -->

<!-- BEGIN SHOW_CUS_LIST -->
<tr class="cuslist" id="cuslist$follow_id" title="$TRtitle" style="cursor: pointer;border:0px">
	<td style="$border;" width="35" align="left">$break_up_td</td>
	<td style="$border;" width="770" onclick="$click">$event_title</td>
	<td style="" width="87" align="center" onclick="$click">$start_date &nbsp; $time_redial</td>
	<td style="" width="87" align="center" onclick="$click">$real_date &nbsp; $real_time</td>
	<td style="" width="87" align="center" onclick="$click">$expire_date &nbsp; $time_redial</td>
	<td style="" width="83" align="right" onclick="$click"></td>
	<td style="" width="83" align="center" onclick="$click"></td>
	<td style="text-align:right" width="85" align="center" data-follow-customer-id="$rs[follow_id]" onclick="$click">$track_icon</td>
</tr>
<!-- END SHOW_CUS_LIST -->

<!-- BEGIN SHOW_CUS_TABLE -->
<table border="0" cellspacing="0" cellpadding="10" width="100%" style="background:#ffffff">
$trList
</table>
<!-- END SHOW_CUS_TABLE -->

<!-- BEGIN QUESTION_DETAIL -->
<div class='title2' style="color:saddlebrown">หัวข้อคำถามหลัก : $rs[question_title]</div>
<div class='title3'><u>รายละเอียดของคำถาม</u></div>
<div class='follow_content' style="border:1px solid #ccc;background:#eee;padding:0px 15px;line-height:20px;">
	<pre style="font-family:tahoma;white-space:pre-wrap;">$rs[question_detail]</pre>
</div>
<div class='title3' style="margin-top:10px;"><u>สคริปต์คำพูด</u></div>
<div class='follow_content' style="border:1px solid #ccc;background:#eee;padding:0px 15px;line-height:20px;">
	<pre style="font-family:tahoma;white-space:pre-wrap;">$rs[question_talk_script]</pre>
</div>
<!-- END QUESTION_DETAIL -->

<!-- BEGIN QUESTION_LIST -->
<div style="margin:10px 0px 10px 0px;" id="div_q$rs2[id]">
<div class="ques_list_title" style="padding:5px">$no $rs2[list_title] $check_no_use</div>
<div id="no_$rs2[id]" class="quesList" style="margin-left:$margin;">$answer_option</div>
</div>
<!-- END QUESTION_LIST -->

<!-- BEGIN NO_FORM -->
<div class='title2' style="color:saddlebrown">หัวข้อคำถามหลัก : $question_title</div>
<div class='title3' style="margin-top:10px"><u>รายการคำถาม $formNum</u></div>
<div id='$div_quesNO'>
<div class='follow_content'>
	$question_list
</div>
</div>
<!-- END NO_FORM -->

<!-- BEGIN QUESTION_FORM -->
<div class='title2' style="color:saddlebrown">หัวข้อคำถามหลัก : $question_title</div>
<div class='title3' style="margin-top:10px"><u>รายการคำถาม $formNum</u></div>
<div id='$div_quesNO'>
<form name='$formName' id="$formName" onsubmit='return false;'>
<div class='follow_content'>
	$question_list
</div>
</form>
</div>
<!-- END QUESTION_FORM -->

<!-- BEGIN ALL_CUS_LIST -->
<tr id="allcus$cus_no" $class onclick="changeClass('allcus$cus_no','','bgSmoke_fnBlack')">
	<td align="center">$n</td>
	<td>$cus_no</td>
	<td>$cus_name</td>
	<td>$address</td>
	<td align="center">$last_call_date</td>
	<td align="center">
		<a onclick="javascript:nzPopupCenter('','$followPage?operator=show_request_form','cus_name=$cus_name&allCus=$cus_no');" href="javascript:void(0)"><img width="25" height="25" title="ยุติการติดตามรายการนี้" src="img/break_up2.png"></a>
	</td>
<!--	<td><a href="javascript:void(0)" onclick="breake=false;showQuestionDetail('$followPage?operator=lastCall&all_cus_data=lastdata&cus_no=$cus_no','','cus$cus_no');changeObject('bt_script','div_script');"><img src='img/last_follow.png' height="20" width="20" border='0' title="รายการที่ติดตามครั้งล่าสุด"></a></td> -->
	<td><a onclick="javascript:browseCheck('main','$followPage?operator=archives&id_card=$id_card&cus_no=$cus_no&back=$followPage?operator=getAllCustomer&anchor=cus$cus_no','');" href="javascript:void(0)">
		<img src="img/archives.png" width="20" height="20" align='absmiddle' title="รายการที่เคยติดต่อทั้งหมด"></a>
	</td>
	<td>
	<a onclick="NewWindow('$followPage?operator=getMainCusData&amp;cus_no=$cus_no');" href="javascript:void(0);"><img border="0" title="ดูข้อมูลประวัติส่วนตัวลูกค้า" src="img/directory.gif"></a>
	</td>
</tr>
<!-- END ALL_CUS_LIST -->

<!-- BEGIN ALL_CUS_LIST_DOWNLOAD -->
<tr id="allcus">
	<td align="center">$n</td>
	<td align="center">$cus_no</td>
	<td>$cus_name</td>
	$address
	<td align="center">$last_call_date</td>
</tr>
<!-- END ALL_CUS_LIST_DOWNLOAD -->

<!-- BEGIN ALL_CUS_TABLE -->
<div align="left" style="width:97%;">
	<div class="nz_button BTwhite" style="display:$back_display;color:black;margin:10px 0px" onclick="javascript:followGetData('$div_back','$_GET[back]&id_card=$_GET[id_card]','',function(){goToAnchor('$_GET[anchor]');});"><img align="absmiddle" src="img/reload_16x16.png"> กลับไปหน้าที่แล้ว</div><br>
	$response
<!--	<img src='img/last_follow.png' height="20" width="20" border='0' align='absmiddle'> = รายการที่ติดตามครั้งล่าสุด | -->
	<img src="img/archives.png" width="20" height="20" align='absmiddle' title="รายการที่เคยติดต่อทั้งหมด"> รายการที่เคยติดต่อทั้งหมด |
	<img src='img/directory.gif' border='0' align='absmiddle'> = ดูข้อมูลประวัติส่วนตัวของลูกค้า
	
	<a href="javascript:void(0);" onclick="javascript:window.open('$followPage?export=all_followcus&operator=getAllCustomerSearch&id_card=$id_card ','newWin1','height=50,width=50,top=0,left=0,toolbar=no,menubar=no,location=no,scrollbars=yes,resizable=yes,directories=no,status=no,titlebar=no');">
		<img src='img/libre_calc.png' border='0' align='absmiddle' style="width:25px;height:25px;" title="ดาวน์โหลดข้อมูลลูกค้าในความดูแล"> = ดาวน์โหลดข้อมูลลูกค้าในความดูแล
	</a>
	
	
</div>
	<!--
	<select id="order" onchange="javascript:if(document.getElementById('order').value!=''){$onchange;}">
		<option value=""> เลือกรูปแบบการจัดเรียง </option>
		<option value="cusname_asc" $select1> ตามชื่อลูกค้า  ก - ฮ </option>
		<option value="cusname_desc" $select2> ตามชื่อลูกค้า  ฮ - ก </option>
		<option value="expire_date_asc" $select3> วันที่สิ้นสุด ก่อน - หลัง </option>
		<option value="expire_date_desc" $select4> วันที่สิ้นสุด หลัง - ก่อน </option>
	</select>
	-->
<br>
<table id="tb_all_cus" border="0" cellspacing="0" style="width:100%;">
	<thead>
	<tr>
		<th width="40" style="background-color:#5693F5;color:white">ลำดับ</th>
		<th width="70" align="left" style="background-color:#5693F5;color:white">รหัสลูกค้า</th>
		<th width="200" style="background-color:#5693F5;color:white">ชื่อนามสกุล</th>
		<th width="" align="left" style="background-color:#5693F5;color:white">ที่อยู่</th>
		<th width="160" align="center" style="background-color:#5693F5;color:white">วันที่ติดต่อล่าสุด</th>
		<th width="100" style="background-color:#5693F5;color:white">ยกเลิกกิจกรรม</th>
<!-- 2011-01-27
		<th width="20"><img src='img/last_follow.png' height="20" width="20" border='0' title="รายการที่ติดตามครั้งล่าสุด"></th>
-->
		<th width="25" style="background-color:#5693F5;color:white"><img src="img/archives.png" width="20" height="20" align='absmiddle' title="รายการที่เคยติดต่อทั้งหมด"></th>
		<th width="25" align="left" style="background-color:#5693F5;color:white"><img border="0" title="ดูข้อมูลประวัติส่วนตัวลูกค้า" src="img/directory.gif"></th>
	</tr>
	</thead>
	<tbody id="all_cus_list">
	$all_cus_list
	</tbody>
</table>
<!-- <script type="text/javascript" >
$('#tb_all_cus').nz_fixhead_table({blankTD: '17'});
</script> -->
<script type="text/javascript" src="java/pLoadmore-1.0.0.plugins.js"></script>
<script type="text/javascript">
	jQuery('tbody#all_cus_list').pLoadmore({
		url: 'ic_followcus2.php?operator=getAllCustomerSearch&id_card=$id_card',
		progress: true
	});
</script>
<!-- END ALL_CUS_TABLE -->

<!-- BEGIN ALL_CUS_TABLE_DOWNLOAD -->
<table id="tb_all_cus" border="0" cellspacing="0" style="width:100%;">
	<tr style="background-color:#8B7E66;color:white">
		<td width="100">ลำดับ</td>
		<td width="100" align="left">รหัสลูกค้า</td>
		<td width="300">ชื่อนามสกุล</td>
		<td width="100%" align="left">บ้านเลขที่</td>
		<td width="100%" align="left">ตำบล</td>
		<td width="100%" align="left">อำเภอ</td>
		<td width="100%" align="left">จังหวัด</td>
		<td width="100%" align="left">รหัสไปรษณีย์</td>
		<td width="100%" align="left">เบอร์โทรศัพท์</td>
		<td width="160" align="center">วันที่ติดต่อล่าสุด</td>
	</tr>
	$all_cus_list_download
</table>
<!-- END ALL_CUS_TABLE_DOWNLOAD -->

<!-- BEGIN CAR_LIST -->
<tr>
	<td>
		<input type="checkbox" name="carlist[]" id="carlist$carID" class="chkCar" value="$carID" disabled="disabled">
	</td>
	<td>$rs[B_Unit_Model]</td>
	<td>$rs[Eng_No_S]</td>
	<td>$rs[Chassi_No_S]</td>
	<td>$rs[reg_no]</td>
</tr>
<!-- END CAR_LIST -->

<!-- BEGIN FORM_SENT_REQUEST -->
<script type="text/javascript">changeValueCancel();</script>
<form id="stopCusForm">
<div class="nz_content CTwhite" style="padding:0px 0px 15px 15px;" align="left">
	<div onclick="hideObj('div_popup');" style="cursor:pointer;text-align:right">
		<img src="img/closed.png" align="bottom" title="ปิดกล่องข้อความ">
	</div>
	<table id="tb_sent_request" style="margin-right:15px;">
		<tr><td style="color:green;line-height:20px;">
			$bAct1<span style="color:blue">ชื่อกิจกรรม :</span> $event_title <br> $bAct2<span style="color:blue;"> ลูกค้า :</span> $cus_name 
		</td></tr>
		<tr>
			<td align="left" style="padding-left:$marginLeft">
			<input type="radio" name="cancelType" value="stopCus" id="stopCus"  onclick="$cusOnclick">
				<label for="stopCus" style="color:#827839"> ยกเลิกดูแล<font color="blue">ลูกค้ารายนี้</font>
				<font color="#2E64FE" size="-1"> (ยกเลิกการทำกิจกรรมลูกค้ารายนี้ทั้งหมด)</font></label>
			<img src="img/cancel1.jpg" style="width:20px;"><br>
			<input type="radio" name="cancelType" value="stopCar" id="stopCar" $disabled onclick="$carOnclick">
				<label for="stopCar" style="color:#827839"><font color="$gray"> ยกเลิกดูแล</font><font color="orangered"><font color="$gray">$carText</font></font>
					<font color="#2E64FE" size="-1"> (ยกเลิกการทำกิจกรรมรถคันนี้ทั้งหมด)</font>			
				</label><img src="img/cancel2.jpg" style="width:25px;"><br>
			<div id="div_carlist" style="display:$stopCarDisp;margin-left:10px;margin-top:5px;border:1px solid #ccc;color:#999">
				<table class="nz_default_tb" width="100%">
					<tr>
						<th>เลือก</td>
						<th>รุ่นรถ</td>
						<th>เลขเครื่อง</td>
						<th>เลขคัสซี</td>
						<th>ทะเบียนรถ</td>
					</tr>
					$car_list
				</table>
			</div>
			<div style="display:$typedisplay">
				<input type="radio" name="cancelType" value="stopEvent" id="stopEvent" $eventDisabled><label for="stopEvent" style="color:#827839"> ยกเลิก<font color="magenta">กิจกรรมนี้</font>
				<font color="#2E64FE" size="-1"> (ยกเลิกเฉพาะกิจกรรมนี้ถาวร แต่ยังดูแลลูกค้าอยู่)</font>	
				</label>				
				<img src="img/cancel3.jpg" style="width:25px;">
			</div>

			<input type="radio" name="cancelType" value="stopTemporary" id="stopTemporary">
			<label for="stopTemporary" style="color:#827839"> 
					ยกเลิก
					<font color="red">ชั่วคราว</font>
					<font color="#2E64FE" size="-1"> (ยกเลิกกิจกรรมนี้เฉพาะครั้งนี้เท่านั้น)</font>	
					<img src="img/cancel4.jpg" style="width:15px;">
			</label>
			
			</td>
		</tr>
		<tr><td style="font-weight:bold">: ระบุเหตุผล ที่ต้องการยุติการติดตาม: 
			<select id="cancleList" name="cancleList" style="width: 200px;">
				$follow_TypeCancel
			</select>
		</td></tr>
		<tr>
			<td><textarea name="remark" id="remark" class="nz_textarea" cols="50" rows="4" style="width: 440px;height: 100px;"></textarea></td>
		</tr>
		<tr>
			<td><input type="button" id="bt_sent" class="nz_button BTblack" value="ส่งคำขอยุติการติดตาม" onclick="javascript:if(nzCheckForm('stopCusForm')==true){followFormSubmitNew('tb_sent_request','$followPage?operator=send_request&id_card=$id_card&$leader','follow_id=$follow_id&cus_no=$cus_no&chassi_no=$chassi_no','stopCusForm');hideObj(this.id);}"></td>
		</tr>
	</table>
</div>
</form>
<!-- END FORM_SENT_REQUEST -->

<!-- BEGIN EMP_LIST -->
<tr id="emp_$emp_id_card" $class>

	<td $onclick align="left" title="คลิกเพื่อดูรายการที่กำลังติดตาม">$no. $emp_name</td>

	<td $onclick align="center" title="คลิกเพื่อดูรายการที่กำลังติดตาม">$emp_level</td>

	<td align="right" style="padding-right:60px" title="คลิกเพื่อดูรายชื่อลูกค้าที่รับผิดชอบหลังการขายทั้งหมด" onclick="javascript:browseCheck('follow_content','$followPage?operator=getAllCustomer&id_card=$emp_id_card&back=$back&anchor=emp_$emp_id_card&div_back=follow_content','');">
		<a href="javascript:void(0);" style="color:$respersonColor;font-size:$font;text-decoration:underline">$num_resperson</a>
	</td>

	<td align="right" style="padding-right:60px" title="คลิกเพื่อดูรายการที่กำลังติดตาม" onclick="browseCheck('main','$followPage?operator=cuslist&view_de=flow&back=$back&anchor=$anchor&id_card=$emp_id_card','');">
		<a href="javascript:void(0);" style="color:$followColor;font-size:$font1;text-decoration:underline">$num_follow</a>
	</td>

	<td align="right" style="padding-right:60px" title="คลิกเพื่อดูรายการที่กำลังติดตาม" onclick="browseCheck('main','$followPage?operator=cuslist&view_de=resperson&id_card=$emp_id_card&back=$back&anchor=$anchor','');">
		<a href="javascript:void(0);" style="color:$followColor;font-size:$font1;text-decoration:underline">$num_follow_person</a>
	</td>

	<td align="right" onclick="javascript:browseCheck('main','$followPage?operator=archives&type=misscall&id_card=$emp_id_card&back=$back&anchor=$anchor','');" >
		<a href="javascript:void(0)"><img src="img/expire_file.png" width="25" height="25" title="ข้อมูลลูกค้าที่เลยกำหนด"></a>
	</td>

	<td align="center" onclick="javascript:browseCheck('main','$followPage?operator=archives&id_card=$emp_id_card&back=$back&anchor=$anchor','');">
		<a href="javascript:void(0)"><img src="img/success_file.png" width="25" height="25" title="ข้อมูลเก่าที่พนักงานเคยสัมภาษณ์ไว้"></a>
	</td>

</tr>
<!-- END EMP_LIST -->

<!-- BEGIN EMP_TABLE -->
<div style="width:97%;text-align:left">
<img src="img/expire_file.png" title="ข้อมูลลูกค้าที่เลยกำหนด"> = ข้อมูลลูกค้าที่เลยกำหนด
<img src="img/success_file.png" title="ข้อมูลลูกค้าที่ดำเนินกิจกรรมแล้ว"> = ข้อมูลลูกค้าที่ดำเนินกิจกรรมแล้ว
</div>
<br>
<table id="tb_emplist" border="0" cellspacing="0" style="width:100%;border-right:1px solid #999;border-bottom:1px solid #999;">
	<thead>
  <tr style="background-color:#CDBE70">
	<th style="text-align:left">รายชื่อพนักงาน</th>
	<th>ระดับ</th>
	<th width="140"><center>ลูกค้าหลังการขาย (คน)</center></th>
	<th width="150"><center>ลูกค้าที่กำลังติดตาม (ตามโครงสร้างบริษัท)</center></th>
	<th width="140"><center>ลูกค้าที่กำลังติดตาม (คน)</center></th>
	<th width="25" ><img src="img/expire_file.png" width="25" height="25" title="ข้อมูลลูกค้าที่เลยกำหนด"></th>
	<th width="25" ><img src="img/success_file.png" width="25" height="25" title="ข้อมูลลูกค้าที่ดำเนินกิจกรรมแล้ว"></th>
  </tr>
  </thead>
  <tbody id="emplist">
	$emplist
	</tbody>
</table>
<!-- <script type="text/javascript" >
$('#tb_emplist').nz_fixhead_table({blankTD: '10'});
</script> -->
<script type="text/javascript" src="java/pLoadmore-1.0.0.plugins.js"></script>
<script type="text/javascript">
	jQuery('tbody#emplist').pLoadmore({
		url: 'ic_followcus2.php?operator=emplistSearch',
		progress: true
	});
</script>
<!-- END EMP_TABLE -->

<!-- * ใช้ร่วมกันกับ รายการที่ไม่ได้ทำ -->
<!-- BEGIN ARCHIVES_LIST -->
<tr id="TR$rs[follow_id]" $class title="$TRtitle" style="cursor: pointer;" onclick="$click;changeClass('TR$rs[follow_id]','','bgSmoke_fnBlack')">
	<td align="left" width="20" style="$border;padding:5px;">$cus_info</td>
	<td align="left" width="140" style="$border;padding:5px;">$cus_name</td>
	<td align="left" width="" style="$border;padding:5px;" >$cus_telnumber</td>
	<td align="center" width="100" style="$border;padding:5px;" >$cus_level</td>
<!--	<td align="left" style="$border" >$event_title</td> -->
	<td  align="center" width="80" style="$border;padding:5px;" >$start_date</td>
	<td  align="center" width="70" style="$border;padding:5px;" >$stop_date</td>
	<td  align="center" width="70" style="$border;padding:5px;" >$process_date</td>
<!--	<td align="center" width="80" style="$border;padding:5px;" >$time_for_talk</td> -->
	<td align="center" width="43" style="$border;padding:5px;" >$pleasure_value</td>
</tr>
<tr $class id="cus$rs[follow_id]" style="display:none;">
	<td colspan="7" style="border:0px">
		<DIV id="detail$rs[follow_id]" style="display:none;"></DIV>
	</td>
</tr>
<!-- END ARCHIVES_LIST -->

<!-- * ใช้ร่วมกันกับ รายการที่ไม่ได้ทำ -->
<!-- BEGIN ARCHIVES_HEAD -->
<div align="left" id="div_cus_list">
	<div id="nav_event" align="center" style="width:100%; margin-bottom: 10px;">
		<button id="bt_event" class="g-button g-button-submit" onclick="javascript:browseCheck('main','$followPage?operator=ic_eventcus','');">เหตุการณ์ของลูกค้า</button>
		<button id="bt_followup" class="g-button g-button-submit" onclick="javascript:browseCheck('main','$followPage?operator=cuslist','');">รายชื่อลูกค้าที่ต้องโทรหา</button> <!-- pt@2012-01-07 -->
	<!--   	<button id="bt_special_followup" class="BTorange boldGreen" style="padding:10px 15px;border-bottom:0px" onclick="javascript:browseCheck('main','$followPage?operator=cuslist&select_event=60','');">รายชื่อลูกค้าที่ต้องโทรหา เปิดตัว ALL NEW DMAX</button>	
		<button id="bt_event_report" class="BTblack boldGreen" style="padding:10px 15px;border-bottom:0px" onclick="javascript:browseCheck('main','report_event_allnew.php','');">รายงานเปิดตัว ALL NEW DMAX</button>
	--><!-- comment pt2011-12-09 ปิด event allnew -->
	   	<button id="bt_special_followup" class="g-button g-button-submit" onclick="javascript:browseCheck('main','$followPage?operator=cuslist&select_event=62','');">รายชื่อลูกค้าที่ต้องโทรหา กิจกรรมพิเศษ</button> <!-- pt@2012-01-07 -->
	   	<button id="bt_event_report" class="g-button g-button-submit" onclick="javascript:browseCheck('main','report_specialEvent.php?','');">กิจกรรมพิเศษ</button>
	</div>
	<div class="nz_contentNoLT" style="width:99%;padding:10px 10px 40px 10px;background:#fff;border:1px solid #ccc">
		<div align="left" style="width:97%;margin-bottom:5px">
			$menu $curPage
		</div>
		<div id="follow_content">
			<div align="left" style="width:97%;">
				<div class="nz_button BTwhite" style="display:$back_display;color:black;margin:10px 0px" onclick="javascript:followGetData('follow_content','$_SESSION[arch_back]&id_card=$id_card','',function(){goToAnchor('$_SESSION[arch_anchor]');});"><img align="absmiddle" src="img/reload_16x16.png"> กลับไปหน้าที่แล้ว</div>
				<img src='img/directory.gif' border='0' align='absmiddle'> = ดูข้อมูลประวัติส่วนตัวของลูกค้า  |
	<!--			<img src="img/time_for_talk.png" align='absmiddle' width="25" height="25" title="เวลาที่ลูกค้าสะดวกคุย"> = เวลาที่ลูกค้าสะดวกคุย |   -->
				<img src="img/pleasure.png" align='absmiddle' width="25" height="25" title="ค่าความพึงพอใจ"> = ค่าความพึงพอใจ |
				$break_up_menu
				<br>
				<select id="order" onchange="javascript:if(document.getElementById('order').value!=''){followPostData('main','$followPage?operator=archives&id_card=$id_card&$misscall&year='+document.getElementById('selectYear').value+'&month='+document.getElementById('selectMonth').value,'order='+document.getElementById('order').value);}" style="font-size:14px;">
					<option value=""> เลือกรูปแบบการจัดเรียง </option>
					<option value="cusname_asc" $cusname_asc> ตามชื่อลูกค้า  ก - ฮ </option>
					<option value="cusname_desc" $cusname_desc> ตามชื่อลูกค้า  ฮ - ก </option>
					<option value="expire_date_asc" $expire_date_asc> วันที่สิ้นสุด ก่อน - หลัง </option>
					<option value="expire_date_desc" $expire_date_desc> วันที่สิ้นสุด หลัง - ก่อน </option>
					$option_not_misscall
				</select>&nbsp;&nbsp;&nbsp;

				<select id='selectMonth' style='font-size:14px'>$selectMonth</select>
				<select id='selectYear' style='font-size:14px'>$selectYear</select>
				<input type='button' value='ดูข้อมูลที่เลือก' onclick="javascript:browseCheck('main','$followPage?operator=archives&year='+document.getElementById('selectYear').value+'&month='+document.getElementById('selectMonth').value+'&$getURL&$misscall','');">
				<span style="margin-left:20px;font-weight:bold;color:green"> ข้อมูลประจำเดือน <font color="orange">$date_report</font> จากข้อมูลรวมทั้งสิ้น <font color="orange">$totalNum รายการ</font></span>
			</div>
			<div align="left" style="width:97%;padding:5px">$pager</div>
			$emp_response
			<table id="archives" cellspacing="0" border="0" style="margin-top:5px;width:98.8%;">
				<tr valign="top">
				  <th $th_bg width="20" align="left" title="ดูข้อมูลประวัติส่วนตัวของลูกค้า"><img src='img/directory.gif' border='0' align='absmiddle'></th>
					<th $th_bg width="140" align="left">ชื่อ-สกุล ลูกค้า</th>
					<th $th_bg width="" align="left">เบอร์มือถือ / บ้าน / ที่ทำงาน</th>
					<th $th_bg width="100">เกรดลูกค้า</th>
		<!--			<th align="left">ชื่อกิจกรรม</th>  	-->
					<th $th_bg width="80">วันที่ครบรอบกิจกรรม</th>
					<th $th_bg width="75">วันสุดท้ายที่แสดง</th>
					<th $th_bg width="70">วันที่ทำ</th>
	<!--			<th width="80"><img src="img/time_for_talk.png" width="25" height="25" align="absmiddle" title="เวลาที่ลูกค้าสะดวกคุย"></th>		-->
					<th $th_bg width="25"><img src="img/pleasure.png" width="25" height="25" align="absmiddle" title="ค่าความพึงพอใจ"></th>
					<th $th_bg width="7"></th>
				</tr>
			</table>
			<div style="overflow-y:scroll;overflow-x:none;height:400px;width:100%;">
				<table id="tb_cus_list2" cellspacing="0" border="0" style="width:100%;border:1px solid #eee">
				$cus_list
				</table>
			</div>
		</div>
	</div>
</div>
<div id="hidden" align="center" style="display:none;"></div>
<!-- END ARCHIVES_HEAD -->

<!-- BEGIN WAIT_APPROVE_LIST -->
<tr class="$class" id="approve_tr$rs[id]">
	<td align="center" style="padding: 8px 3px;">$rs[no]</td>
	<td align="center" style="padding: 8px 3px;">$rs[cus_no]</td>
	<td align="left" style="padding: 8px 3px;">$rs[cus_name]</td>
	<td align="left" style="padding: 8px 3px;">$rs[event_title]</td>
	<td align="center" style="padding: 8px 3px;">$cancel_link</td>
	<td align="center" style="padding: 8px 3px;">$rs[remark]</td>
	<td align="left" style="padding: 8px 3px;">$rs[emp_name]</td>
	<td align="center" style="padding: 8px 3px;">$rs[cancel_by]</td>
	<td align="left" style="padding: 8px 3px;">$rs[cancel_date]</td>
	$rs[checkbox_list]
</tr>
<!-- END WAIT_APPROVE_LIST -->

<!-- BEGIN WAIT_APPROVE_HEADER -->
<div align="left" style="width:97%; margin-top: 20px;">
<span style="color:red;font-weight:bold;background-color:white;padding:5px;">รายการรอ อนุมัติ ยกเลิกการติดตาม</span>
<select id="order" onchange="orderWaitApproveHeader(this.value)" style="font-size:14px;">
	<option value="" $first> เลือกรูปแบบการจัดเรียง </option>
	<option value="cusno_asc" $cusno_asc> ตามรหัสลูกค้า  น้อย - มาก </option>
	<option value="cusno_desc" $cusno_desc> ตามรหัสลูกค้า มาก - น้อย </option>
	<option value="cusname_asc" $cusname_asc> ตามชื่อลูกค้า  ก - ฮ </option>
	<option value="cusname_desc" $cusname_desc> ตามชื่อลูกค้า  ฮ - ก </option>
	<option value="empname_asc" $empname_asc> ตามชื่อพนักงาน  ก - ฮ </option>
	<option value="empname_desc" $empname_desc> ตามชื่อพนักงาน  ฮ - ก </option>
</select>
</div>
<div id="show_success" style="width:97%;padding:10px"></div>
<form onsubmit="return false;">
<table border="0" id="tb_wait_approve" class="tb_wait_approve" cellspacing="0" style="width:100%;border:solid #eee;border-width:0px 1px 1px 0px;">
	<thead>
	<tr style="color: #FFFFFF;">
		<th style="background-color:#5693F5;padding: 8px 3px;">ลำดับ</th>
		<th style="background-color:#5693F5;padding: 8px 3px;">รหัสลูกค้า</th>
		<th align="left" style="background-color:#5693F5;padding: 8px 3px;">ชื่อลูกค้า</th>
		<th width="" align="left" style="background-color:#5693F5;padding: 8px 3px;">ชื่อกิจกรรมที่ขอยกเลิกการติดตาม</th>
		<th width="" style="background-color:#5693F5;padding: 8px 3px;">ลักษณะการขอยกเลิก</th>
		<th style="background-color:#5693F5;padding: 8px 3px;">หมายเหตุ</th>
		<th align="left" style="background-color:#5693F5;padding: 8px 3px;">ผู้ดูแลลูกค้า</th>
		<th align="left" style="background-color:#5693F5;padding: 8px 3px;">ผู้เสนอยกเลิก</th>
		<th align="left" style="background-color:#5693F5;padding: 8px 3px;">วันที่ขอยกเลิก</th>
		$checkbox_head
	</tr>
	</thead>
	<tbody id="wait_app_list">
	$wait_app_list
	</tbody>
</table>
</form>
<div align="right" style="width:97%;margin-top:0px;">
$input_submit
</div>
<!-- <script type="text/javascript" >
//fixed table head
$('#tb_wait_approve').nz_fixhead_table({blankTD: '10',div_height:'250'});
</script> -->
<script type="text/javascript" src="java/pLoadmore-1.0.0.plugins.js"></script>
<script type="text/javascript">
function orderWaitApproveHeader(value) {
	if (value != '') {
		jQuery('tbody#wait_app_list').pLoadmore({
			url: 'ic_followcus2.php?operator=wait_for_approveSearch&cus_no=$_GET[cus_no]&cancel_type=$_GET[cancel_type]&approve=$_GET[approve]&order='+value,
			progress: true
		});
	}
};
jQuery('tbody#wait_app_list').pLoadmore({
	url: 'ic_followcus2.php?operator=wait_for_approveSearch',
	progress: true
});
</script>
<!-- END WAIT_APPROVE_HEADER -->

<!-- BEGIN WAIT_LIST -->
<tr id="tr$cus_no" $class onclick="$TRonclick" title="$title">
	<td align="center">$cus_no</td>
	<td>$cus_name
		<span id="process$follow_id" onclick="$click" style="display:$display;border:1px solid orange;background-color:$bgColor">
			$booking
		</span>
		$cancel
	</td>
	<td align="center">$cus_level</td>
	<td align="center">$date_expire</td>
</tr>
<!-- END WAIT_LIST -->

<!-- เหตุการณ์รอสัมภาษณ์ -->
<!-- BEGIN WAIT_TABLE -->
<div align="left" style="width:97%;line-height:16px">
	<table><tr><td align="right">เลือกรูปแบบการจัดเรียง ::</td>
			<td>
			<select id="order" style="float:left;margin-right:5px;font-size:14px" onchange="javascript:if(this.value !=''){followPostData('follow_content','$followPage?operator=wait','order='+this.value);}">
				<option value="">- เลือกรูปแบบการจัดเรียง -</option>
				<option value="cusname_asc" $cusname_asc> ตามชื่อลูกค้า  ก - ฮ </option>
				<option value="cusname_desc" $cusname_desc> ตามชื่อลูกค้า  ฮ - ก </option>
				<option value="expire_date_asc" $expire_date_asc> วันที่สิ้นสุด ก่อน - หลัง </option>
				<option value="expire_date_desc" $expire_date_desc> วันที่สิ้นสุด หลัง - ก่อน </option>
			</select>
			</td>
		</tr>
		<tr><td align="right">เลือกกิจกรรมที่ต้องการ ::</td>
			<td>
			<select style="font-size:14px" onchange="javascript:browseCheck('follow_content','$followPage?operator=wait&select_event='+this.value);">
				$event_dropdown
			</select>
			</td>
		</tr>
	</table>
	<div style="">$pager</div>
</div>

<table border="0" id="tb_cus_list" cellspacing="0" style="margin-top:5px;width:100%;border:1px solid #eee;clear:both;">
<tr valign="top">
	<th width="100" align="left">รหัสลูกค้า</th>
	<th style="text-align:left">ชื่อลูกค้า</th>
	<th width="90">เกรดลูกค้า</th>
	<th width="100">วันสุดท้ายที่แสดง</th>
</tr>
	$wait_list
</table>
<!-- END WAIT_TABLE -->

<!-- ส่วนของ ic_eventcus -->
<!-- BEGIN top_row -->
<div style="width:100%;height:100%;position:fixed;z-index:9999;background:url('pic/Transparent.png');top:0px;left:0px;color:red;padding-top:100px;text-align:center;font-size:26px;">ทดสอบ transparent</div>
<!-- END top_row -->

<!-- BEGIN MAINEVENT -->
<div align="left">
	<div id="nav_event" align="center" style="width:100%;margin-bottom: 10px;">
		<button id="bt_event" class="g-button g-button-submit" onclick="javascript:browseCheck('main','$followPage?operator=ic_eventcus','');">เหตุการณ์ของลูกค้า</button>
		<button id="bt_followup" class="g-button g-button-submit" onclick="javascript:browseCheck('main','$followPage?operator=cuslist','');">รายชื่อลูกค้าที่ต้องโทรหา</button>
	<!-- 	<button id="bt_special_followup" class="g-button g-button-submit" onclick="javascript:browseCheck('main','$followPage?operator=cuslist&select_event=60','');">รายชื่อลูกค้าที่ต้องโทรหา เปิดตัว ALL NEW DMAX</button>	
		<button id="bt_event_report" class="g-button g-button-submit" onclick="javascript:browseCheck('main','report_event_allnew.php','');">รายงานเปิดตัว ALL NEW DMAX</button>
	 --><!-- comment pt2011-12-09 ปิด event allnew -->
	<!--<button id="bt_special_followup" class="g-button g-button-submit" onclick="javascript:browseCheck('main','$followPage?operator=operator&select_event=62','');">รายชื่อลูกค้าที่ต้องโทรหา กิจกรรมพิเศษ</button>-->
		 <!-- pt@2012-01-07 -->
	  	<!--<button id="bt_event_report" class="g-button g-button-submit" onclick="javascript:browseCheck('main','report_specialEvent.php?','');">กิจกรรมพิเศษ</button>-->
	 
	</div>
	<div id="main_event" class="ui-widget-content ui-corner-all" style="background-color:#eeeeee;width:97.5%;padding:0px 10px 10px 10px">
		$cus_event
	</div>
</div>
<div id="divMainDetail" style="width: 1050px;">
	<div style="width:97%;" class="nz_contentNoLT CTblack">
		<div style="float:right;height:33px" onclick="hideObj('divMainDetail,cursor');" onmouseover="this.style.cursor='pointer'">
			<img src="img/closed.png" align="bottom" title="ปิดกล่องข้อความ">
		</div>
		<div id="div_script" class="nz_content CTwhite"></div>
		<div id="div_question" class="nz_content CTwhite"></div>
	</div>
</div>
<!-- END MAINEVENT -->

<!-- BEGIN CONTAINER -->
<div id="addbox" style="background:white;padding:10px 0;display:none;border-top:1px solid #6B674E;border-bottom:1px solid #6B674E;position:fixed;top:20%;width:100%;z-index:999;overflow:auto;height:400px;">
$addbox
</div>
<br>
<div id='BDform'><div align="center" id="beginBox"><h2>เหตุการณ์ของลูกค้า</h2></div>
<br>
	<div id='formframe' align="center" style="width:100%;">
		<label for='name'>ชื่อ/สกุล ลูกค้า:&nbsp;</label><input type='text' id='name' style="width:300px;">
		<label for='month'> เดือน:&nbsp;</label><select name='month' id='month'><option value=0 selected=selected>ทั้งหมด</option>$getmonth</select>
		<label for='years'> ปี พ.ศ. :&nbsp;</label><select name='years' id='years'><option value=0 selected=selected>ทั้งหมด</option>$getyear</select>
		<span id='birthsearch'><input type='button' value='ค้นหา' onclick="searchEvent();"></span><!--เรียกฟังก์ชั่น javascript ที่ jame.js.php-->
	</div>
</div>
<br>
<!-- END CONTAINER -->

<!-- BEGIN TABLE -->
<div id="divBirthday" align="center">
<table align="center"  id='tbBirthday'>
	<caption><h4 style="margin:10px;background:url(images/add.png) no-repeat left;padding-left:20px;text-align:left;">
		<a href="javascript:void(0);" onclick="showQuestionDetail('$followPage?operator=ic_eventcus&eventform=eventform','','beginBox');">เพิ่มเหตุการณ์</a>
	</h4><caption>
	<tr>
		<th width=1%></th><th>เหตุการณ์</th><th width=20%>ชือลูกค้า</th><th width=20%>ผู้บันทึก</th><th width=15%>วันที่บันทึก</th>
	</tr>
	$eventlist
	$shownavi
</table>
</div>
<!-- END TABLE -->

<!-- BEGIN EVENTLIST -->
	<tr>
		<td $bgColor>$message</td>
		<td $bgColor><a href='javascript:void(0);' onclick="browseCheck('tbBirthday','$followPage?operator=ic_eventcus&click=$row[id]');">$row[Topic]</a></td>
		<td $bgColor>$row[Cus_Name]  $row[Cus_Surename]</td>
		<td $bgColor>$showrecorder[1]</td>
		<td $bgColor>$strdate</td>
	</tr>
<!-- END EVENTLIST -->

<!-- BEGIN ADDEVENT -->
<h2 align="center">เพิ่มเหตุการณ์ลูกค้า</h2>
<table align=center style="width:960px;" >
	<tr>
		<td align=right width=100>ลูกค้า :</td><td>
			<!-- onblur="margtext();" -->
			<input type='text' id="cusname" name="cusname"  style="width:300px;" value="$_GET[cusname]" onkeyup="auto_comHidden('ic_autocomplete.php?event=cus',this,'#cusid_hidden','');" onclick="clearbox('#cusid_hidden,#cusname');"   >
			<input type='hidden'  id="cusid_hidden" name="cusid_hidden" style="width:300px;" value="$cusID" disabled="disabled" >
			<!--input type='button' id="searchcus" name="searchcus"  value="ค้นหา" onclick="searchcus();"-->
		</td>
	</tr>
	<tr>
		<td  align=right>เหตุการณ์ :</td><td><input type='text' style="width:300px;" id="event" name="event" value="$topic"></td>
	</tr>
	<tr>
		<td  align=right>แจ้งเตือน :</td><td>
			<select id='smonth' name='smonth'>$getmonth</select>&nbsp;
			<select id='syear' name='syear'>$getyear</select>
		</td>
	</tr>
	<tr>
		<td  align=right valign=top>รายละเอียด :</td><td><textarea style="width:100%;" rows=10 id="eventdetail" name="eventdetail">$detail</textarea></td>
	</tr>
	<tr>
		<td align=center colspan=2>
			<input type='button' id="btaddevent" name="btaddevent" value="ตกลง" style='width:150px;' onclick="addevent2DB('$followPage?operator=ic_eventcus');">
			<input type='button' id="btaddevent" name="btaddevent" value="[X] ปิด" onclick="hideObj('divMainDetail,cursor');" style='width:150px;color:red'>
			<input type="hidden" id="idEvent" name="idEvent" value="$idEvent" disabled="disabled"/>
		</td><!--Ref jame.js.php-->
	</tr>
</table>
<!-- END ADDEVENT -->

<!-- BEGIN CUSLIST -->
<a href="javascript:void(0)" onclick='closeEvent();'>ปิด</a>
	<div style="text-align:center">
		<label for='cusname'>ชื่อ-สกุลลูกค้า :</label><input type='text' id="cusname" name="cusname"  style="width:300px;">
		<input type='button' id="searchcus" name="searchcus"  value="ค้นหา" onclick="searchcus();">
	</div>
	<ul style="color:black;font:16px;width:300px;margin:auto;">
		$li_cus
	</ul>
<div style="text-align:center;font:20px;color:red;margin:auto;padding:20px;">$none</div>
<!-- END CUSLIST -->

<!-- BEGIN EVENTDETAIL -->
<span id="cus_no" style="display:none;">$dataviewer[cusname]</span>
<span id="hmonth" style="display:none;">$alertdate[0]</span>
<span id="hyear" style="display:none;">$alertdate[1]</span>
<div id="detailTitle" align="left"><b>เหตุการณ์ของลูกค้า</b> : #$dataviewer[cusname] &nbsp;<b>ประจำเดือน</b> : $dataviewer[alert_date]</div>
<div id="eventshow" align="left">
	<h1 id="topicevent">$dataviewer[Topic]</h1>
	<div id="detailevent">$nl2brdetail</div>
	<div id='bottomdetail'>
		<div class="ชิดซ้าย"><span><b>แจ้งเหตุการณ์เมื่อ</b> : $dateadd</span><span class="ชิดซ้าย"><b>เพิ่มโดย</b> #$dataviewer[Recorder]</span><span class="สุดท้าย">$editby</span></div>
		$operator
	</div>
</div>
<!-- END EVENTDETAIL -->

<!-- BEGIN CUS_DATA -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=$config[charset]" />
<title>$config[title]</title>
<link rel="stylesheet" href="css/style12.css" type="text/css" />
<link rel="stylesheet" href="css/popup.css" type="text/css" />
<link rel="stylesheet" href="css/pageStyle.css" type="text/css" />
<link rel="stylesheet" href="css/nz_button.css" type="text/css" />
<link rel="stylesheet" type="text/css" href="css/scroll.css" mce_href="css/scroll.css" media="screen,projection"/>
<script type="text/javascript" src="java/scroll.js" mce_src="java/scroll.js"></script>
<title>$config[title]</title>

<link type="text/css" href="css/ui-lightness/jquery-ui-1.8.2.custom.css" rel="stylesheet"/>
<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="js/jquery-ui-1.8.2.custom.min.js"></script>
<script type="text/javascript" src="js/ui.datepicker-th.js"></script>
<script type="text/javascript" src="java/followcus.js"> </script>
<script type="text/javascript" src="java/oeditcus.js"> </script>
<script type="text/javascript" src="java/ajax.js"> </script>
<script type="text/javascript" src="js/tab.js"></script>
<script type="text/javascript" src="js/ken.js"></script>
<link rel="icon" href="images/telephone.ico" type="image/x-icon" />
<link type="image/x-icon" href="images/telephone.ico" rel="shortcut icon"/> 

<link rel="stylesheet" type="text/css" href="ddlevelsfiles/ddlevelsmenu-base.css" />
<link rel="stylesheet" type="text/css" href="ddlevelsfiles/ddlevelsmenu-topbar.css" />
<link rel="stylesheet" type="text/css" href="ddlevelsfiles/ddlevelsmenu-sidebar.css" />
<script type="text/javascript" src="ddlevelsfiles/ddlevelsmenu.js"></script>
<script language="javascript" src="ddlevelsfiles/liveclock.js"></script>
<script language="javascript">
var txt = "ไม่สามารถ เพิ่ม/แก้ไข ข้อมูลได้ครับ \n\n\n (ถ้าต้องการแก้ไขข้อมูล ให้เข้าสู่หน้า ตรวจสอบ/แก้ไขข้อมูลลูกค้า)";
function onWindowLoad(){
	var url = "oeditcus.php?readonly=readonly&Edit=$cus_no&case_name=CheckSearh";
	$.get(url,'',function(result){
		$('#footer').html(result);
		$("#addForm2").submit(function() {
			alert(txt);
			return false;
		});
		$("#addForm2 input,textarea").attr('readonly',true);
		$("#addForm2 select").attr('disabled',true);
	});
	$("#first_installment,#last_installment,#end_installment,#reg_exp_date").live('click', function() {
		alert('ดูได้อย่างเดียวครับ');
		$("#PopupSellUpForm").hide();
	});
}
function suggest(){
	alert(txt);
}
$(onWindowLoad);
</script>
<style type="text/css">
body{
	font-size:12px;
}
select{
	border : 1px solid #121212;
	background:#eeeeee;
	color : #333333;
	padding : 5px;
}
input{
	border : 1px solid #121212;
	background:#eeeeee;
	color : #333333;
	padding : 5px;
}
textarea{
	border : 1px solid #121212;
	background:#eeeeee;
	color : #333333;
	padding : 5px;
}
</style>
</head>
<body>
<div id="footer"></div>
</body>
</html>
<!-- END CUS_DATA -->


<!-- BEGIN MAIN_QUESTION_1 -->
<div style="margin:10px 0px 10px 0px;" id="Qmain_$q_id[0]Q$q_id[1]Q$q_id[2]" class="quesList">
	$follow_customer_historys
	<table id="main_question_table_id" style="color:#000;width:90%">
		<tr>
			<td style="background-color:#FFF;border-left:0px;padding:0px;">
				<input id="contact_type1" type="radio" name="contact_type" value="1" onclick="dis_question('');">
				<label for="contact_type1">ติดต่อได้</label>
			</td>
			<td style="background-color:#FFF;border-left:0px;padding:0px;">
				<input id="contact_type2"type="radio" name="contact_type" value="2" onclick="dis_question('1');">
				<label for="contact_type2">ติดต่อไม่ได้</label>
			</td>
			<td style="background-color:#FFF;border-left:0px;padding:0px;text-align:right;">
				<select id="reason_option" name="reason_option" disabled="disabled" onchange="reason_option_remark_change();">
					<option value="">- เลือกเหตุผล -</option>
					<option value="1"> ไม่รับสาย </option>
					<option value="2"> เบอร์โทรศัพท์ผิด </option>
					<option value="3"> สายไม่ว่าง </option>
					<option value="4"> ไม่มีสัญญาน </option>
					<option value="5"> อื่นๆ </option>
				</select>
				&nbsp;
				<label id="reason_option_remark_label" style="color:#CCC">หมายเหตุ</label>
			</td>
			<td style="background-color:#FFF;border-left:0px;padding:0px;text-align:center;" rowspan="3">
				<textarea id="reason_option_remark" name="reason_option_remark" style="width:200px;height:40px;" disabled="disabled"></textarea>
			</td>
			<td style="background-color:#FFF;border-left:0px;padding:0px;">
				<input id="repeat_type" name="repeat_type" type="checkbox" onclick="checked_repeat();" disabled="disabled">
				<label id="repeat_type_label" for="repeat_type" style="color:#CCC">โทรซ้ำ</label>
				<input id="repeat_date" name="repeat_date" type="text" readonly="readonly" disabled="disabled" value="$date_repeat_val">

			</td>
		</tr>
		<tr>
			<td style="background-color:#FFF;border-left:0px;padding:0px;">
				<input class="main_questtion" id="talking_type1" type="radio" name="talking_type" value="1" onclick="dis_question('');">
				<label class="main_questtion" for="talking_type1">สะดวกคุย</label>
			</td>
			<td style="background-color:#FFF;border-left:0px;padding:0px;">
				<input class="main_questtion" id="talking_type2" type="radio" name="talking_type" value="2" onclick="dis_question('2');">
				<label class="main_questtion" for="talking_type2">ไม่สะดวกคุย</label>
			</td>
			<td style="background-color:#FFF;border-left:0px;padding:0px;"></td>
			<td style="background-color:#FFF;border-left:0px;padding:0px;">
				<label id="repeat_type_time_label" style="color:#CCC">เวลาโทรซ้ำ</label>
				<select id="repeat_time" name="repeat_time" disabled="disabled" style="width:180px;">
					<option value="">- เลือกเวลา -</option>
					<option value="00:00:00"> 00:00น. </option>
					<option value="00:30:00"> 00:30น. </option>
					<option value="01:00:00"> 01:00น. </option>
					<option value="01:30:00"> 01:30น. </option>
					<option value="02:00:00"> 02:00น. </option>
					<option value="02:30:00"> 02:30น. </option>
					<option value="03:00:00"> 03:00น. </option>
					<option value="03:30:00"> 03:30น. </option>
					<option value="04:00:00"> 04:00น. </option>
					<option value="04:30:00"> 04:30น. </option>
					<option value="05:00:00"> 05:00น. </option>
					<option value="05:30:00"> 05:30น. </option>
					<option value="06:00:00"> 06:00น. </option>
					<option value="06:30:00"> 06:30น. </option>
					<option value="07:00:00"> 07:00น. </option>
					<option value="07:30:00"> 07:30น. </option>
					<option value="08:00:00"> 08:00น. </option>
					<option value="08:30:00"> 08:30น. </option>
					<option value="09:00:00"> 09:00น. </option>
					<option value="09:30:00"> 09:30น. </option>
					<option value="10:00:00"> 10:00น. </option>
					<option value="10:30:00"> 10:30น. </option>
					<option value="11:00:00"> 11:00น. </option>
					<option value="11:30:00"> 11:30น. </option>
					<option value="12:00:00"> 12:00น. </option>
					<option value="12:30:00"> 12:30น. </option>
					<option value="13:00:00"> 13:00น. </option>
					<option value="13:30:00"> 13:30น. </option>
					<option value="14:00:00"> 14:00น. </option>
					<option value="14:30:00"> 14:30น. </option>
					<option value="15:00:00"> 15:00น. </option>
					<option value="15:30:00"> 15:30น. </option>
					<option value="16:00:00"> 16:00น. </option>
					<option value="16:30:00"> 16:30น. </option>
					<option value="17:00:00"> 17:00น. </option>
					<option value="17:30:00"> 17:30น. </option>
					<option value="18:00:00"> 18:00น. </option>
					<option value="18:30:00"> 18:30น. </option>
					<option value="19:00:00"> 19:00น. </option>
					<option value="19:30:00"> 19:30น. </option>
					<option value="20:00:00"> 20:00น. </option>
					<option value="20:30:00"> 20:30น. </option>
					<option value="21:00:00"> 21:00น. </option>
					<option value="21:30:00"> 21:30น. </option>
					<option value="22:00:00"> 22:00น. </option>
					<option value="22:30:00"> 22:30น. </option>
					<option value="23:00:00"> 23:00น. </option>
					<option value="23:30:00"> 23:30น. </option>
				</select>
			</td>
			<td style="background-color:#FFF;border-left:0px;padding:0px;"></td>
		</tr>
		<tr>
			<td style="background-color:#FFF;border-left:0px;padding:0px;">
				<input class="main_questtion questtion2" id="prostpect_type1" type="radio" name="prostpect_type" value="1">
				<label class="main_questtion questtion2" for="prostpect_type1">สนใจ</label>
			</td>
			<td style="background-color:#FFF;border-left:0px;padding:0px;">
				<input class="main_questtion questtion2" id="prostpect_type2" type="radio" name="prostpect_type" value="2">
				<label class="main_questtion questtion2" for="prostpect_type2">ไม่สนใจ</label>
			</td>
			<td style="background-color:#FFF;border-left:0px;padding:0px;"></td>
			<td style="background-color:#FFF;border-left:0px;padding:0px;"></td>
			<td style="background-color:#FFF;border-left:0px;padding:0px;"></td>
		</tr>
	</table>
</div>
<script type="text/javascript">datepk_now('#repeat_date');</script>
<!-- END MAIN_QUESTION_1 -->

<!-- BEGIN FOLLOW_HIS -->
<div style="text-align:right;padding-right:10px;">
	<label style="color:blue;" onclick="jQuery('#history_cus').toggle();"><u>ประวัติการติดตามลูกค้า</u></label>
	<div id="history_cus" style="display: none;"></br>
		<table style="width:650px;float: right;" bgcolor="#EDEDED">
			<thead>
				<tr>
					<th width="20%">ชื่อพนักงานที่โทร</th>
					<th width="15%">วันที่</th>
					<th width="15%">เวลา</th>
					<th width="25%">สถานะ</th>
					<th width="25%">หมายเหตุ</th>
				</tr>
			</thead>
			<tbody>
				$follow_customer_historys_list
			</tbody>
		</table>
	</div>
</div>
<!-- END FOLLOW_HIS -->

<!-- BEGIN FOLLOW_HIS_LIST -->
<tr>
	<td>$val[emp]</td>
	<td>$val[date]</td>
	<td>$val[time]</td>
	<td>$val[status]</td>
	<td>$val[status_remark]</td>
</tr>
<!-- END FOLLOW_HIS_LIST -->