<!--
 * Create by: Nuy
 * Create date: 11.08.2014
 * Last Modify: 11.08.2014@Nuy
 * Description: หน้าอัพโหลดไฟล์ผู้รับผิดชอบลูกค้า
-->

<!-- BEGIN FORM -->
<script type="text/javascript" src="libraries/Multiple_file_upload/js/multiupload.js"></script>
<script type="text/javascript" src="java/import_resperson.js"> </script>
<script type="text/javascript" src="java/serializeObject.js"> </script>
<div align="center" style="width: 100%;" id="display_event">
	<div style="text-align: left; margin: 10px; padding: 15px;" id="test" class="ui-widget-content ui-corner-all">
		<span style="color:#0000FF;font-size:16px;font-weight:bold">Import ข้อมูลผู้รับชอบลูกค้า .xls, .xlsx, .csv</span>
		<form name="import_resp" id="import_resp" method="POST" enctype="multipart/form-data" onsubmit="return false;">
			<div id="dragAndDropFiles" class="uploadArea" style="margin: 10px auto;"></div>
			<div style="margin: 10px auto;">
				<input type="file" name="multiUpload" id="multiUpload" onchange="ValidateUpload(this);" />	
				<button type="submit" class="g-button g-button-submit" id="upload" style="margin-left: 10px;">Upload</button>
			</div>
		</form>
		<div style="clear: both;"></div>
	</div>
	<div id="DivformList" style="text-align: left; margin: 10px;">
	</div>
</div>
<!-- END FORM -->

<!-- BEGIN LIST_TB -->
<form id="form_save" name="form_save" action="$thisPage.php?func=save" onsubmit="return upload_clist(this);">
	<div style="text-align: center; margin: 2px 2px 0 2px; padding: 3px; color: #00CC00; font-size: 14px;">
		จำนวนที่ถูกต้องจำนวน $noSucc รายการ จากทั้งหมดจำนวน $no รายการ
	</div>
	<div style="text-align: center; margin: 0 2px 5px 2px; padding: 3px; color: #FF0000; font-size: 16px;">
		จำนวนที่ไม่ถูกต้องจำนวน $noFail รายการ
	</div>
	$list_tb
	<div style="text-align: center; margin: 2px; padding: 3px; color: #FF0000;">
		หากอัพโหลดไฟล์ ผู้รับผิดชอบหลังการขายจะเปลี่ยนตามข้อมูลที่นำเข้า
	</div>
	<div style="text-align: center; margin: 2px; padding: 3px;">
		<button type="submit" class="g-button g-button-submit" id="save" style="margin-left: 10px;">บันทึก</button>
		<button type="reset" class="g-button g-button-submit" id="cancel" style="margin-left: 10px;">ยกเลิก</button>
	</div>
</div>
<!-- END LIST_TB -->

<!-- BEGIN TB -->
<table width="100%" align="center" cellspacing="0" cellpadding="4" border="0" class="ui-widget-content ui-corner-all" id="tb_event_list">
	<thead>
		<tr>
			<th colspan="11" style="text-align: left; color: #0000FF;">$txtTB</th>
		</tr>
		$listH
	</thead>
	<tbody>
		$listB
	</tbody>
</table>
<!-- END TB -->

<!-- BEGIN LIST_HEAD -->
<tr>
	<th><input type="checkbox" id="check_all" name="check_all" value="1" onchange="$changeAll"></th>
	<th>#</th>
	<th>วันที่ติดตาม</th>
	<th>ชื่อลูกค้า</th>
	<th>ประเภทการติดตาม</th>
	<th>ScName</th>
	<th>สาขา</th>
	<th>VIN</th>
	<th>หมายเหตุ</th>
	<th>รายละเอียด</th>
	<th>ข้อสังเกตุ</th>
</tr>
<!-- END LIST_HEAD -->

<!-- BEGIN LIST_BODY -->
<tr>
	<td style="text-align: center;"><input type="checkbox" id="list_$no" name="$nameList" value='$listVal'></td>
	<td style="text-align: center;">$no</td>
	<td>$txt_date</td>
	<td>$cus_name</td>
	<td>$follow_type</td>
	<td>$sc_name</td>
	<td>$branch</td>
	<td>$vin</td>
	<td>$remark</td>
	<td>$detail</td>
	<td style="text-align: center;">$note</td>
</tr>
<!-- END LIST_BODY -->

<!-- BEGIN FAIL_HEAD -->
<tr>
	<th>*</th>
	<th>#</th>
	<th>วันที่ติดตาม</th>
	<th>ชื่อลูกค้า</th>
	<th>ประเภทการติดตาม</th>
	<th>ScName</th>
	<th>สาขา</th>
	<th>VIN</th>
	<th>หมายเหตุ</th>
	<th>รายละเอียด</th>
	<th>ข้อสังเกตุ</th>
</tr>
<!-- END FAIL_HEAD -->

<!-- BEGIN FAIL_BODY -->
<tr>
	<td style="text-align: center;">*</td>
	<td style="text-align: center;">$no</td>
	<td>$txt_date</td>
	<td>$cus_name</td>
	<td>$follow_type</td>
	<td>$sc_name</td>
	<td>$branch</td>
	<td>$vin</td>
	<td>$remark</td>
	<td>$detail</td>
	<td style="text-align: center;">$note</td>
</tr>
<!-- END FAIL_BODY -->

<!-- BEGIN NO_DATA -->
<tr>
	<td colspan="11" style="text-align: center" valign="middle" height="10"><font style="color: #FF0000; font-size: 14px;">ยังไม่มีข้อมูล</font></td>
</tr>
<!-- END NO_DATA -->