<!-- BEGIN MAIN -->
<div align="left">
	<div id="nav_event" align="left" style="width:97.5%;">
		<button id="SQ_tab1" class="$BTNtab1" style="font-size:20px; padding:10px 15px; border-bottom:0px; margin:0;" onclick="javascript:browseCheck('main','$thisPage.php','');"> การตั้งค่า </button>
		<button id="SQ_tab2" class="$BTNtab2" style="font-size:20px; padding:10px 15px; border-bottom:0px; margin:0;" onclick="javascript:browseCheck('main','$thisPage.php?func=tab2','');"> จัดเตรียม ตรวจสอบSQ Form และโหลดไฟล์ .CSV</button>
		<!-- <button id="SQ_tab3" class="$BTNtab3" style="font-size: 20px; padding:10px 15px;border-bottom:0px" onclick="javascript:browseCheck('main','$thisPage.php?active_tab3=1','');"> Download CSV </button>   -->
	</div>
	<div id="main_mode" class="ui-widget-content ui-corner-all" style="text-align: left; background-color: #EEEEEE; width:97.5%;padding:0px 10px 10px 10px">
		$setting_mode
		$management_mode
		$download_mode
	</div>
</div>
<!-- END MAIN -->

<!-- BEGIN SETTING_MODE -->
<br>
<input id="idSQ_Setup" type="hidden" value="">
<table align =  "center">
<tr  height="30px" align="right"><td colspan="3">ตั้งค่าล่าสุดเมื่อ  $listQuestiondmY</td>
</tr>
<tr style="background-color:orange; height:30px;">
<td align="center" width="50px"><b>ลำดับ</b></td> <td align="center" width="90px"><b>รหัส</b></td>  <td align="center" width="1230px"><b>แหล่งที่มา</b></td>
</tr>
</table>
$set_source
<div align ="center" ><input id="max_idCode" type ="hidden" value="$max_idCode"><button style="width:150px" onclick="addIdCode('#max_idCode');"><b>เพิ่มรหัสใหม่</b></button>    <button style="width:250px" onclick="save_allIdCode();"><b>บันทึกการตั้งค่าทั้งหมด</b></button> </div>
<!-- END SETTING_MODE -->

<!-- BEGIN SET_SOURCE -->
<table align =  "center">
<tr style="background-color:#F0FFF0;">
<td align="center" width="50px">$max_idCode<input id="$result_thisCode" type="hidden"></td><td align="center" width="90px"><input id="$id_code" style="width:70px;"> : </td>$question_source
</tr>
</table>
<div id="$tbNextCode"></div>
<!-- END SET_SOURCE -->

<!-- BEGIN SELECT_BRANCH -->
<script type="text/javascript" >
jDate("#start_dDate");  jDate("#stop_dDate");
</script>
<div id = "dv_select_branch">
<br>
<table >
<tr>
<td align="right">
สาขาที่ส่งมอบ :
</td>
<td>
<select id="select_branch" class="textCenter" onchange="" >$branch_name</select>
</td>
<td align="right" width="150px">
ช่วงเวลาที่ส่งมอบ 
</td>
<td>
เริ่มจาก : 
</td> 
<td>
<input id="start_dDate" readonly="readonly" value="$start_date" style="width:100px; text-align:center;"  onchange="">
</td>
<td>
ถึง : 
</td>
<td>
<input id="stop_dDate" readonly="readonly" value="$stop_date" style="width:100px; text-align:center;"  onchange="">
</td>
<td>

<button onclick = "changeKrong4DN();" > <img alt="" src="img/magnifier.png" height="15px" /> เริ่มค้นหา  </button>
<button onclick = "BTNresetDatedelivery();" > Reset Date </button>

</td>
</tr>
</table>
</div>
<div id ="dv_manage_main">
</div>
<!-- END SELECT_BRANCH -->

<!-- BEGIN HEAD_DETAILS_DN -->
<table width="100%"> 
<tr> 
<td align="left">
<img src="img/CSV_logo.png" style="cursor: pointer;" title="โหลดไฟล์ .CSV " onclick="if(confirm('โปรดตรวจสอบความถูกต้องให้เรียบร้อย ! \nเมื่อโหลดไฟล์แล้ว ระบบจะไม่อนุญาตให้แก้ไขคะแนนได้อีก')){download_SQ_from('$paramDownload');}">
</td>

<td align="right" valign="bottom" style="color:orange"><b> *จัดการคะแนนโดยคลิกที่ตำแหน่งช่องคะแนนนั้นๆ หรือเปลี่ยนค่าเฉลี่ยเพื่อให้ระบบจัดการข้อมูลให้อัตโนมัติครับ </b></td>

</tr>
</table>
<form id="form_listDN" style="width: 100%; overflow: auto;">  <!--  pt@2011-12-21  -->
<table align="center" style="background-color:#FFE4B5; " >
<thead>
<tr style="background-color:orange;  text-shadow: 0 1px 1px rgba(223, 222, 222, 0.8);" height="35px">
<th align="center" >Download</th>
<th align="center" >Vin</th>
<th align="center">สาขา</th>
<th align="center" >วันที่ส่งมอบ</th>
<th align="center">ชื่อลูกค้า</th>
<th align="center" >ประเภทการซื้อ</th>
<th align="center">รุ่นรถ</th> 

 $tdtdTopicANS   
 
<th align="center">Refresh</th>  <!-- pt@2011-12-22 --> 
</tr>
</thead>
<!-- END HEAD_DETAILS_DN -->

<!-- BEGIN DETAILS_DN -->
<tr $style_S height="25px">
<td align="center" >$chkDownload</td>
<td align="center" >$getd_NET_ans[VinNo]</td>
<td align="center">$getd_NET_ans[Sell_Branch]</td>
<td align="center" >$getd_NET_ans[Date_Delivery]</td>
<td align="center">$getd_NET_ans[cusBuy]</td>
<td align="center" >$getd_NET_ans[typeBuy]</td>
<td align="center">$getd_NET_ans[modelBuy]</td> 

 $tdtdANS 
 
<td align="center">$btnRefresh</td>   <!-- pt@2011-12-22 --> 
</tr>
<!-- END DETAILS_DN -->

<!-- BEGIN FOOT_DETAILS_DN -->
$tdtd_sum_Q
</table>
</form>  <!--  pt@2011-12-21  -->
<br>
<div  align="center" ><b style="color:red"> $alert_100row </b></div>
<input id="collectDN4avgOptimize" type="hidden" value ="$collectDN4avgOptimize">
$save_4_prepare_download
<br>
<!-- END FOOT_DETAILS_DN -->

<!-- BEGIN FORM_DOWNLOAD_CSV -->
<script type="text/javascript" >
jDate("#CSV_start_date");  jDate("#CSV_stop_date");
</script> 
<br>
<table align = "center">
<tr align = "center"><td colspan="2"> <h1> โหลดไฟล์ .CSV ตามช่วงเวลา </h1></td></tr>
<tr>
<td>
<table>
<tr align="center"><td colspan="4">เลือกช่วงเวลาส่งมอบรถ</td></tr>
<tr align="center"><td>วันที่ส่งมอบตั้งแต่:</td><td> <input id="CSV_start_date"> </td><td>ถึง:</td> <td> <input id="CSV_stop_date"> </td></tr>
<tr align="center"><td colspan="4"> สาขาที่ส่งมอบ : $select_branch_tab3 </td></tr>
</table>
</td>
<td><div id="details_selected"> </div></td>
</tr>
</table>
<!-- END FORM_DOWNLOAD_CSV -->