<!-- BEGIN MAIN_PAGE -->
<style type="text/css">
#popupCRM {
	color: #333333;
	position: fixed;
	bottom: 1em;
	right: 1em;
	width: 35%;
	background-color: #FFF2F2;
	font-family: Tahoma, Verdana, Segoe, sans-serif !important;
	font-size: 0.9em;
	font-weight: normal;
	font-style: normal;
	line-height: 1.5em;
	border: 1px solid #FF0000;
	text-align: left;
	z-index: 1000000000;
	-webkit-box-shadow: 0 2px 1px #CCCCCC;
	-moz-box-shadow: 0 2px 1px #CCCCCC;
	box-shadow: 0 2px 2px #CCCCCC;
	display: none;
}

#popupCRM .popupCRM-head {
	padding: 5px;
}
#popupCRM .popupCRM-close {
	position: absolute;
	top: 0;
	right: 0;
	padding: 2px;
}
#popupCRM .popupCRM-close img {
	vertical-align: middle;
}
#popupCRM .popupCRM-close:hover {
	cursor: pointer;
}
#popupCRM .popupCRM-title {
	font-weight: bold;
	margin-left: 0.2em;
}
#popupCRM .popupCRM-day {
	color: #FF0000;
	font-size: 1.4em;
	border-bottom: 1px solid #FF0000;
}
#popupCRM .popupCRM-body {
	padding: 5px;
}
#popupCRM .popupCRM-body strong {
	color: #FF0000;
	font-weight: bold;
}
#popupCRM .popupCRM-body p {
	background-color: #FFFFFF;
	color: #333333;
	border: 1px solid #CCC;
	padding: 5px;
	margin: 2px;
}
#popupCRM .popupCRM-body p:hover {
	background-color: #F2F2F2;
	cursor: pointer;
}

#popupCRM .popupCRM-footer {
	background-color: #FF0000;
	color: #FFFFFF;
	text-align: center;
}
#popupCRM .popupCRM-footer strong {
	color: #FFFF00;
	font-weight: bold;
}
#popupCRM .popupCRM-footer p {
	padding: 5px;
	margin: 0;
}
#popupCRM .popupCRM-footer p:hover {
	background-color: #DF0101;
	cursor: pointer;
}

</style>
<div id="popupCRM">

	<div class="popupCRM-head">
		<span class="popupCRM-title">กิจกรรมที่จะหมดอายุภายใน <span class="popupCRM-day">$numDayConfig</span> วัน</span>
		<span class="popupCRM-close" onclick="closePopUpCRM()">ปิดกล่องแจ้งเตือน <img src="../ERP_crm/images/closed.png" /></span>
	</div>

	<div class="popupCRM-body">$link_emp</div>
	
	<div class="popupCRM-footer">$link_head</div>

</div>
<script src="../ERP_crm/java/PopUpCRM.js"></script>
<!-- END MAIN_PAGE -->

<!-- BEGIN LIST_EMP_LINK -->
<p onclick="$arr[func_emp]">$arr[event_title] <strong>$arr[CNT_CUST]</strong> รายการ</p>
<!-- END LIST_EMP_LINK -->

<!-- BEGIN LIST_HEAD_LINK -->
<p onclick="$arr[func_head]">รายการอนุมัติยกเลิกการติดตาม <strong>$arr[NumHead]</strong> รายการ</p>
<!-- END LIST_HEAD_LINK -->