<!-- BEGIN MainBody -->
<script type="text/javascript">
	jQuery(document).ready(function(){	
		datepk('#txtStartDate');datepk('#txtStopDate');
	});
</script>
<div id="divMainBody" style="width:98%;">
	<div id="divTitle" style="text-align:right;color:#848484 ;font-size: 200%;font-weight: bold;">รายงานการดูแลลูกค้าหลังการขาย $page_name</div>
	<div id="divExportExcel" style="width:100%;text-align:right;margin-top:10px">
		<table width="100%">
			<tr>
				<td width="70%"></td>
				<td width="15%" style="text-align:center;border: 1px solid #FFFFFF;"><img style="cursor:pointer;display:;" height="30" src="img/Libre.jpg" title="โหลด excel File" onclick="SearchEmplist('$thisPage.php', 'Export_excel')"></td>
				<td width="15%" style="text-align:center;border: 1px solid #FFFFFF;"><img style="cursor:pointer;display:;" height="30" src="img/Libre.jpg" title="โหลด excel File" onclick="export_excel_new('$thisPage.php')"></td>
			</tr>
			<tr>
				<td width="70%"></td>
				<td width="15%" style="text-align:center;cursor:pointer;border: 1px solid #FFFFFF;" onclick="SearchEmplist('$thisPage.php', 'Export_excel')">ออกรายงานภาพรวม</td>
				<td width="15%" style="text-align:center;cursor:pointer;border: 1px solid #FFFFFF;" onclick="export_excel_new('$thisPage.php')">ออกรายงานรายละเอียด</td>
			</tr>
		</table>
		
	</div>
	<div id="divSearch" style="width:100%;border-radius: 15px;border: 2px solid #c3d9ff;background-color: #EDF2FC;margin-top:15px;" >
		<table style="margin-top:5px;width:98%;margin-left: 10px;" cellpadding="0" cellspacing="0">
			<tr>	
				$CompanyTitle		
				<td style="width:8%;text-align:right;line-height:30px;"> จากวันที่ : </td>
				<td style="width:10%"> 
					<input type="text" id="txtStartDate" style="width:100%">
				</td>

				<td style="width:3%;text-align:right;line-height:30px;"> ถึง : </td>
				<td style="width:9%"> 
					<input type="text" id="txtStopDate" style="width:100%">
				</td>


				<td style="width:7%;text-align:right;line-height:30px;"> กิจกรรม : </td>
				<td style="width:15%"> 
					<select id="slEven" style="width:100%">
						<option value="" class="textCenter">-- เลือกกิจกรรม --</option>
						$slEven
					</select>
				</td>

				<td style="width:7%;text-align:center;"> <a class="nz_button BTwhite" id="SearchEmplist" onclick="SearchEmplist('$thisPage.php','Search')">ค้นหา</a> </td>
				<td style="width:3%;text-align:center;"> <a class="nz_button BTwhite" onclick="ClearSearch()">Clear</a> </td>
			</tr>
		</table>
	</div>

	<style type="text/css">
		table.tb_main{
			width:100%;
			margin-top: 10px;
		}

		table.tb_main tr, th{
			text-align:center;
			border: 1px solid #0080FF;
			background-color: #191970;/* #EDF2FC */
		/*	color: #FFFFFF;*/
		}

		table.tb_main tbody td{
			border: 1px solid #0080FF;
			text-align: center;
		}

		table.tb_main tfoot td{
			border: 1px solid #0080FF;
			font-weight: bold;
			text-align: center;
			font-size: 13px;
			color: #000000;
		}

	    table.tb_main tr:hover td {
		  background-color: #C1FFC1; color: #000;
		}

		tbody tr:nth-child(odd) td, tbody tr.odd td{
			background: none;
		}

	/*	thead th {
			background: none;
		}*/
	</style>

	<div id="divMainTable" style="width:100%">
		<table id="tbMain" class="tb_main" cellspacing="0" cellpadding="2">
			$head_table
			<tbody></tbody>
			<tfoot></tfoot>	
		</table>
	</div>
</div>
<div style="display:none;">
	<input type="text" id="page_value" 		name="page_value" 		value="$page_value">
	<input type="text" id="id_TeamCommand" 	name="id_TeamCommand" 	value="$id_TeamCommand">
	<input type="text" id="pc_TeamCommand" 	name="pc_TeamCommand" 	value="$pc_TeamCommand">
	<input type="text" id="txtID_Company" 	name="txtID_Company" 	value="">
</div>
<!-- END MainBody -->


<!-- BEGIN head_table -->
<thead >
	<tr>
		<th rowspan="3">บริษัท</th>
		<th rowspan="3">แผนก</th>
		<th rowspan="3">ฝ่าย</th>
		<th rowspan="3">ตำแหน่ง</th>
		<th rowspan="3">ชื่อพนักงานผู้ดูแล</th>
		<th colspan="3">จำนวนทั้งหมด</th>
		<th colspan="10"style="text-align:center;">กิจกรรม</th>
	</tr>
	<tr>
		<th rowspan="2">ลูกค้า <br> (ราย)</th>
		<th colspan="2">กิจกรรม</th>
		<th colspan="2">รอทำกิจกรรม</th>
		<th rowspan="2">ทำแล้ว</th>
		<th rowspan="2">หมดอายุ</th>
		<th rowspan="2">ยกเลิก</th>
		<th rowspan="2">รอยกเลิก</th>
		<th colspan="2">การสนใจ</th>
		<th rowspan="2">ทั้งหมด</th>
		<th rowspan="2">ทำแล้ว (%)</th>
	</tr>	
	<tr>
		<th>ส่วนรวม</th>
		<th>ส่วนตัว</th>
		<th>ยังไม่ได้ทำ</th>
		<th>ทำซ้ำ</th>
		<th>สนใจ</th>
		<th>ไม่สนใจ</th>
	</tr>			
</thead>
<!-- END head_table -->


<!-- BEGIN Table_title_companyAll -->
	<td style="width:5%;text-align:right;line-height:30px;"> บริษัท : </td>
	<td style="width:15%"> 
		<select id="slCompany" onchange="selectCompany(this.value,'$thisPage.php');" style="width:100%">
			$slCompany
		</select> 
	</td>

	<td style="width:5%;text-align:right;line-height:30px;"> ทีม : </td>
	<td style="width:13%">  
		<select id="slTeam" style="width:100%" disabled="disabled">
			<option value="" class="textCenter">-- เลือกทีม --</option>
			$slTeam
		</select> 
	</td>
<!-- END Table_title_companyAll -->




<!-- BEGIN Table_title_company -->
	<td style="width:5%;text-align:right;line-height:30px;"> บริษัท : </td>
	<td style="width:15%;line-height:30px;"> 
		$CompanyName
		<span style="display:none;" >
			<input type="text" id="slCompany" value="$idCompany">
		</span>
	</td>

	<td style="width:5%;text-align:right;line-height:30px;"> ทีม : </td>
	<td style="width:13%">  
		<select id="slTeam" style="width:100%">
			$slTeam
		</select> 
	</td>
<!-- END Table_title_company -->



<!-- BEGIN Table_tfoot -->
<tr style="background: #c3d9ff;">
	<td colspan="5" style="text-align:left;">รวม</td>
	<td>$clCustomer_W</td>
	<td>$clEvenAll_W</td>
	<td>$clEvenPrivate_W</td>
	<td>$clWaitEven_NotRe_W</td>
	<td>$clWaitEven_Re_W</td>
	<td>$clComplete_W</td>
	<td>$clExpire_W</td>
	<td>$clCancel_W</td>
	<td>$clWaitCancel_W</td>
	<td>$clInterested_W</td>
	<td>$clNotCare_W</td>
	<td>$clAllEven_W</td>
	<td>$clComplePersen_W</td>
</tr>
<!-- END Table_tfoot -->

<!-- BEGIN Table_IsnullData -->
<tr>
	<td colspan="18" style="font-weight: bold;color:red;text-align:center;background: #FFFFFF;">ไม่พบข้อมูลที่ค้นหา</td>
</tr>
<!-- END Table_IsnullData -->

<!-- BEGIN Table_ExportExcel_title -->
<table>
	<tr>
		<th><center>หมายเลขลูกค้า</center></th>
		<th><center>กิจกรรม</center></th>
		<th><center>ผู้รับผิดชอบลูกค้า</center></th>		
		<th><center>ชื่อ - สกุล ลูกค้า</center></th>
		<th><center>ที่อยู่</center></th>
		<th><center>หมู่บ้าน</center></th>
		<th><center>ตำบล</center></th>
		<th><center>อำเภอ</center></th>
		<th><center>จังหวัด</center></th>
		<th><center>รหัสไปรษณีย์</center></th>
		<th><center>เบอร์โทรศัพท์</center></th>
		<th><center>เกรดลูกค้า</center></th>
		<th><center>บริษัท</center></th>
		<th><center>วันที่ทำกิจกรรม</center></th>
	</tr>
	$list_detail
</table>
<!-- END Table_ExportExcel_title -->

<!-- BEGIN Table_ExportExcel_detail -->
<tr>
	<td>$arr_excel[cus_no]</td>
	<td>$arr_excel[event_title]</td>
	<td>$arr_excel[EmpFullName]</td>	
	<td>$arr_excel[CusFullName]</td>
	<td>$arr_excel[ADDR_NUMBER]</td>
	<td>$arr_excel[ADDR_GROUP_NO]</td>
	<td>$arr_excel[ADDR_SUB_DISTRICT]</td>
	<td>$arr_excel[ADDR_DISTRICT]</td>
	<td>$arr_excel[ADDR_PROVINCE]</td>
	<td>$arr_excel[ADDR_POSTCODE]</td>
	<td>$arr_excel[TEL_NUM]</td>
	<td>$arr_excel[ClassCus]</td>
	<td>$arr_excel[WorkName]</td>
	<td>$arr_excel[process_date]</td>
</tr>
<!-- END Table_ExportExcel_detail -->