<!-- BEGIN top_row -->
<div style="width:100%;height:100%;position:fixed;z-index:9999;background:url('pic/Transparent.png');top:0px;left:0px;color:red;padding-top:100px;text-align:center;font-size:26px;">ทดสอบ transparent</div>
<!-- END top_row -->

<!-- BEGIN MAINEVENT -->
<script type="text/javascript" >
//jDate("#start_dDate");  jDate("#stop_dDate");
</script> 
<div align="left">
	<div id="nav_event" align="center" style="width:100%;margin-bottom: 10px;">
		<button id="bt_event" class="g-button g-button-submit" onclick="javascript:browseCheck('main','ic_eventcus.php?','');">เหตุการณ์ของลูกค้า</button>
		<button id="bt_followup" class="g-button g-button-submit" onclick="javascript:browseCheck('main','ic_followcus_show.php?func=cuslist','');">รายชื่อลูกค้าที่ต้องโทรหา</button>
	<!-- 	<button id="bt_special_followup" class="g-button g-button-submit" onclick="javascript:browseCheck('main','ic_followcus_show.php?func=cuslist&select_event=60','');">รายชื่อลูกค้าที่ต้องโทรหา เปิดตัว ALL NEW DMAX</button>	
		<button id="bt_event_report" class="g-button g-button-submit" onclick="javascript:browseCheck('main','report_event_allnew.php','');">รายงานเปิดตัว ALL NEW DMAX</button>
	 --><!-- comment pt2011-12-09 ปิด event allnew -->
		<button id="bt_special_followup" class="g-button g-button-submit" onclick="javascript:browseCheck('main','ic_followcus_show.php?func=cuslist&select_event=62','');">รายชื่อลูกค้าที่ต้องโทรหา กิจกรรมพิเศษ</button> <!-- pt@2012-01-07 -->
	  	<button id="bt_event_report" class="g-button g-button-submit" onclick="javascript:browseCheck('main','report_specialEvent.php?','');">กิจกรรมพิเศษ</button>
	 
	</div>
	<div id="main_event" class="ui-widget-content ui-corner-all" style="background-color:#eeeeee;width:97.5%;padding:0px 10px 10px 10px">
		<table align="center" style="background-color:#FFFFFF" width="100%">
		<tr>
			<td>
				<div align="center">
					เลือกช่วงเวลาวันครบกำหนด:
					<input id="start_dDate" readonly="readonly" value="$start_date" style="width:200px; text-align:center;"  onchange="dateSpecialEvent();">
					ถึงวันที่:
					<input id="stop_dDate" readonly="readonly" value="$stop_date" style="width:200px; text-align:center;"  onchange="dateSpecialEvent();">
				</div>
			</td>
			<!--<td>เลือกช่วงเวลาวันครบกำหนด:</td> P'Mark
			<td> <input id="start_dDate" readonly="readonly" value="$start_date" style="width:200px; text-align:center;"  onchange="dateSpecialEvent();"><td>
			<td>ถึงวันที่:</td>
			<td> <input id="stop_dDate" readonly="readonly" value="$stop_date" style="width:200px; text-align:center;"  onchange="dateSpecialEvent();"> </td>-->
		</tr>
		</table>
		<table align="center" style="background-color:#FFFFFF">
		$mainSpecial
		</table>
	</div>
</div>
<!-- END MAINEVENT -->

<!-- BEGIN COLUMN -->

<tr>
<td rowspan = "2" style="background-color:#528B8B; color:white; width:3%;" class="textCenter"><b>ลำดับ</b></td>
<td rowspan = "2" style="background-color:#528B8B; color:white; width:14%;" class="textCenter"><b>พนักงานที่รับจอง</b></td>
<td rowspan = "2" style="background-color:#528B8B; color:white; width:14%;" class="textCenter"><b>ชื่อลูกค้า</b></td>
<td rowspan = "2" style="background-color:#528B8B; color:white; width:10%;" class="textCenter"><b>อำเภอ</b></td>
<td rowspan = "2" style="background-color:#528B8B; color:white; width:10%;" class="textCenter"><b>วันที่จอง</b></td>
<td rowspan = "2" style="background-color:#528B8B; color:white; width:10%;" class="textCenter"><b>วันครบกำหนด</b></td>
<td rowspan = "2" style="background-color:#528B8B; color:white; width:10%;" class="textCenter"><b>วันที่ทำกิจกรรม</b></td>
<td   colspan="3" style="background-color:#528B8B; color:white; width:16%;" class="textCenter"><b>ติดต่อลูกค้า</b></td>
<td   colspan="2" style="background-color:#528B8B; color:white; width:13%;" class="textCenter"><b>จองที่อื่นแล้ว</b></td>
<td  rowspan="2" style="background-color:#528B8B; color:white; width:1%;"></td>
</tr>
<tr>
<td style="background-color:#528B8B; color:white; width:5%;" class="textCenter"><b>ใช่</b></td>
<td style="background-color:#528B8B; color:white; width:5%;" class="textCenter"><b>ไม่ใช่</b></td>
<td style="background-color:#528B8B; color:white; width:6%;" class="textCenter"><b>ติดต่อไม่ได้</b></td>
<td style="background-color:#528B8B; color:white; width:4%;" class="textCenter"><b>ใช่</b></td>
<td style="background-color:#528B8B; color:white; width:4%;" class="textCenter"><b>ไม่ใช่</b></td>
</tr>

<!-- END COLUMN -->

<!-- BEGIN DETAILS -->

<div id="divBirthday" align="center">
<table align="center"  id='tbBirthday' " width="100%">
	
	$thheadtable
	</table>
	<div id="scrollholder" class="scrollholder">
			<div id="scroll" class="scroll">
			<table  cellpadding="0" cellspacing="0" border="1" class="nz_default_tb" style="border-color:#fff;" width="100%">
	
	$list_

	</table>
	</div>
	</div>
	
</div>

<!-- END DETAILS -->

<!-- BEGIN LISTS -->

<tr >
<td style="background-color:$STYLE;width:4%;" class="textCenter"> $no_ </td>
<td style="background-color:$STYLE;width:14%;" class="textCenter"> $emp_name </td>
<td style="background-color:$STYLE;width:14%;" class="textCenter"> $fet_fc[cus_name]  </td>
<td style="background-color:$STYLE;width:10%;" class="textCenter"> $AMPR </td>
<td style="background-color:$STYLE;width:10%;" class="textCenter"> $BDate </td>
<td style="background-color:$STYLE;width:10%;" class="textCenter"> $real_date </td>
<td style="background-color:$STYLE;width:10%;" class="textCenter"> $ProcessDate </td>
<td style="background-color:$STYLE;width:5%;" class="textCenter"> $mrk1 </td>
<td style="background-color:$STYLE;width:5%;" class="textCenter"> $mrk2 </td>
<td style="background-color:$STYLE;width:6%;" class="textCenter"> $mrk3 </td>
<td style="background-color:$STYLE;width:4%;" class="textCenter"> $mrk4 </td>
<td style="background-color:$STYLE;width:5%;" class="textCenter"> $mrk5 </td>

</tr>

<!-- END LISTS -->
