<!-- BEGIN REPORT_CRM_ALL_HEADER -->
<script type="text/javascript" src="java/report_crm.js"></script>
<div class="bodyReportAll">
	<div style="font-size:32px;" class="text-align-right">
		<p><b> $titleReport </b></p>
	</div>
	<div class="paddingShow">
		<fieldset class="paddingShow" >
			<form id ="formReportAll">
			<table class="table-style" style="width: 70%;">
				<tr>
					<td width="">บริษัท : </td>
					<td width="">
						$companyData
					</td>
					<td width="">เลือกเดือนติดตามลูกค้า : </td>
					<td width="">
						<select name="m_start_search" id="m_start_search">
							$monthOption
						</select>&nbsp;&nbsp;
						<select name="y_start_search" id="y_start_search">
							$yearOption
						</select>
					</td>
					<td width="">
						<a class="buttonS" href="javascript: searchReportAll('','$reportType');">
						<div>Search</div>
						</a>
						<a class="buttonS" href="javascript: reset_form('#formReportAll');">
						<div>Clear</div>
						</a>
					</td>
				</tr>
			</table>
			</form>
		</fieldset>
		<div class="text-align-right">
			<img class="pointer" style="padding:10px 0px; " onclick="searchReportAll('Excel_export','$reportType');" src="images/excel-2003.gif" >
		</div>
		<table id="tb_follow_report" width="100%" class="nz_default_tb" cellspacing="0" border="0" >
			<thead>
				<tr class="nz_bd_yellow" >
					<th width="15" rowspan="2"></th>
		      		<th width="60" rowspan="2">บริษัท</th>
		      		<th width="60" rowspan="2">แผนก</th>
		      		<th width="60" rowspan="2">ฝ่าย</th>
		      		<th width="60" rowspan="2">ตำแหน่ง</th>
					<th width="" valign="MIDDLE" rowspan="2">ชื่อพนักงานผู้ดูแล</th>
					<th width="161" colspan="2">จำนวนทั้งหมด</th>
					<th width="563" colspan="7">กิจกรรม</th>
				</tr>
				<tr class="nz_bd_yellow" >
					<th width="80">ลูกค้า (ราย)</th>
					<th width="80">กิจกรรม</th>
					<th width="80">รอทำ</th>
					<th width="80">ทำแล้ว</th>
					<th width="80">หมดอายุ</th>
					<th width="80">ยกเลิก</th>
					<th width="80">รอยกเลิก</th>
					<th width="80">ทั้งหมด</th>
					<th width="80">ทำแล้ว (%)</th>
				</tr>
			</thead>
			<tbody id="result_list">
			</tbody>
		</table>
	</div>
</div>
<!-- END REPORT_CRM_ALL_HEADER -->

<!-- BEGIN LIST_OU_4_WORKINGCOM_SUM -->
<tr  style="background-color: #000099; color :white; ">
	<td style="background-color: white;" id="$showHideKey" >&nbsp;</td>
	<td colspan="5"  style="font-weight: bold;">รวม</td> 
	<td>$valueWorkCompany[count_cusNo]</td>
	<td>$valueWorkCompany[count_event]</td>
	<td>$valueWorkCompany[count_wait]</td>
	<td>$valueWorkCompany[count_made]</td>
	<td>$valueWorkCompany[count_expire]</td>
	<td>$valueWorkCompany[count_cancel]</td>
	<td>$valueWorkCompany[count_waitCancel]</td>
	<td>$valueWorkCompany[count_all]</td>
	<td>$percent_made_float % </td>
</tr>
<!-- END LIST_OU_4_WORKINGCOM_SUM -->

<!-- BEGIN LIST_OU_4_WORKINGCOM_LEVEL_1 -->

<tr id="$TrKeyIntput" style="background-color: #000099; color :white; ">
	<td style="background-color: white;" id="$showHideKey" class="text-align-center">
		<img alt=" " width="15" title="" class="pointer" src="images/arrow_down_b.png" onclick="hide_show_nameTR_list('$TrKeyIntputSub1', 'hide_now','$showHideKey' );" >
	</td>
	<td colspan="5"  style="font-weight: bold;">$LV1_name</td> 
	$trData
</tr>

<!-- END LIST_OU_4_WORKINGCOM_LEVEL_1 -->
<!-- BEGIN LIST_OU_4_WORKINGCOM_LEVEL_2 -->

<tr id="$TrKeyIntput" style="background-color: #666699; color :white; ">
	<td style="width:2%; background-color: white; visibility: ;"></td>
	<td style="background-color: white;" id="$showHideKey" class="text-align-center">
		<img alt=" " width="15" title="" class="pointer" src="images/arrow_down_b.png" onclick="hide_show_nameTR_list('$TrKeyIntputSub2', 'hide_now','$showHideKey' );" >
	</td>
	<td colspan="4"  style="font-weight: bold;">$LV1_name</td> 
	$trData

</tr>
<!-- END LIST_OU_4_WORKINGCOM_LEVEL_2 -->



<!-- BEGIN LIST_OU_4_WORKINGCOM_LEVEL_3 -->

<tr id="$TrKeyIntput" style="background-color: #888899; color :white; ">
	<td style="width:2%; background-color: white; visibility: ;"></td>
	<td style="width:2%; background-color: white; visibility: ;"></td>
	<td style="background-color: white;" id="$showHideKey" class="text-align-center" >
		<img alt=" " width="15" title="" class="pointer" src="images/arrow_right_b.png" onclick="hide_show_nameTR_list('$TrKeyIntputSub3', 'show_now','$showHideKey' );" >
	</td>
	<td colspan="3"  style="font-weight: bold;">$LV1_name</td> 
	$trData

</tr>

<!-- END LIST_OU_4_WORKINGCOM_LEVEL_3 -->
<!-- BEGIN LIST_OU_4_WORKINGCOM_LEVEL_4 -->

<tr id="$TrKeyIntput" style="background-color: #AAAA99; color :white; visibility: collapse; ">
	<td style="width:2%; background-color: white; visibility: ;"></td>
	<td style="width:2%; background-color: white; visibility: ;"></td>
	<td style="width:2%; background-color: white; visibility: ;"></td>
	<td style="background-color: white;" id="$showHideKey" class="text-align-center">
		<img alt=" " width="15" title="" class="pointer" src="images/arrow_down_b.png" onclick="hide_show_nameTR_list('$TrKeyIntputSub4', 'hide_now','$showHideKey' );" >
	</td>
	<td colspan="2"  style="font-weight: bold;">$LV1_name</td> 
	$trData

</tr>

<!-- END LIST_OU_4_WORKINGCOM_LEVEL_4 -->
<!-- BEGIN LIST_OU_4_WORKINGCOM_LEVEL_5 -->

<tr id="$TrKeyIntput" style="background-color: #ccccff; color :#333333; visibility: collapse; ">
	<td style="width:2%; background-color: white; visibility: ;"></td>
	<td style="width:2%; background-color: white; visibility: ;"></td>
	<td style="width:2%; background-color: white; visibility: ;"></td>
	<td style="width:2%; background-color: white; visibility: ;"></td>
	<td style="background-color: white;" id="$showHideKey" class="text-align-center">
		<img width="" src="img/down_level.png" title="" alt=" ">
	</td>
	<td   style="font-weight: bold;">$LV1_name</td> 
	$trData

</tr>

<!-- END LIST_OU_4_WORKINGCOM_LEVEL_5 -->


<!-- BEGIN HEAD_EXCEL -->
<table cellspacing="0" cellpadding="0" border="0" class="result_table">
	<thead>
		<tr align="center" >
			<th width="15" rowspan="2"></th>
      		<th width="60" rowspan="2">บริษัท</th>
      		<th width="60" rowspan="2">แผนก</th>
      		<th width="60" rowspan="2">ฝ่าย</th>
      		<th width="60" rowspan="2">ตำแหน่ง</th>
			<th width="" valign="MIDDLE" rowspan="2">ชื่อพนักงานผู้ดูแล</th>
			<th width="161" colspan="2">จำนวนทั้งหมด</th>
			<th width="563" colspan="7">กิจกรรม</th>
		</tr>
		
		<tr align="center" >
			<th width="80">ลูกค้า (ราย)</th>
			<th width="80">กิจกรรม</th>
			<th width="80">รอทำ</th>
			<th width="80">ทำแล้ว</th>
			<th width="80">หมดอายุ</th>
			<th width="80">ยกเลิก</th>
			<th width="80">รอยกเลิก</th>
			<th width="80">ทั้งหมด</th>
			<th width="80">ทำแล้ว (%)</th>
		</tr>
	</thead>
	<tbody id="result_list">
		$list_excel
	</tbody>
</table>
<!-- END HEAD_EXCEL -->

