<!-- BEGIN APPROVE_HEADER -->
<script type="text/javascript">
auto_comHidden('ic_autocomplete.php?event=empSale&call_value=id_card$whereEmp','#sale_id_input','#sale_idCard','');//PT@OU  
</script>
<div id="dialog-message" title="มีการแก้ไขเงื่อนไขครั้งใหม่" class="hidden" style="font-weight:bold;font-size:12px;" >
    <p><span class="ui-icon ui-icon-notice" style="float:left; margin:0 7px 50px 0;"></span>มีการแก้ไขเงื่อนไขครั้งใหม่ จากการติดตาม.</p>
</div>
<div id="contenner" style="margin-bottom: 40px;">
      <div id="show_hide"></div>
            <div id="containHead">
                  <table align="center" id="cus_list_head">
                        <tr>
                              <td width="59%">
                              <input type="button" value="ค้นหาชื่อพนักงาน" onclick="show_hide_search('search_sale')"/> 
                              <input type="button" value="ค้นหาชื่อลูกค้า" onclick="show_hide_search('search_cus')"/>* ที่ยังไม่มีผู้รับผิดชอบ</td>
                              <td width="4%"></td>
                              <td width="15%"></td>
                              <td width="7%" valign="top" align="center"></td>
                              <td width="15%" valign="top" align="right"></td>
                        </tr>       
                        <tr>
	                        <td colspan="5">
	                        	<form id="frmSearch" name="frmSearch" onsubmit="return false;">
	                              <fieldset id="key_search" class="emp_fieldset ui-corner-all-10">
	                              <legend>เปลี่ยนผู้รับผิดชอบลูกค้า</legend>
	                                    <table align="center">
	                                       <tr id="search_sale" style="display:$search_sale_display">
	                                          <td align="center" style="padding-right:50px">
	                                               <!-- 
	                                               <input type="hidden" name="SaleSupervisor_id" id="SaleSupervisor_id" value="$rsc[id]"/>
	                                                <input type="hidden" name="BigSupervisor_id" id="BigSupervisor_id" value="$rsc[BigSupervisor_id]"/>   
	                                                 -->
	                                                ชื่อพนักงาน
	                                                <input type="text" style="width:600px;" id="sale_id_input" name="sale_id_input" value="" onblur="if(this.value==''){ jQuery('input#sale_idCard').val(''); }" onclick="this.select();"/>
	                                                <input type="hidden" style="width:170px;" id="sale_idCard" name="sale_idCard" value=""/> 
	                                          </td>
	                                       </tr>
														<tr id="search_cus" style="display:$search_cus_display">
															<td>
																<table align="center">
																	<tr>
																		<td><div align="right">ชื่อที่ต้องการ</div></td>
																		<td><div align="center"><input type="text" name="cus_name" id="cus_name" value="$_POST[cus_name]"/></td>
																		<td><div align="right">นามสกุล</div></td>
																		<td><div align="center"><input type="text" name="cus_surname" id="cus_surname"value="$_POST[cus_surname]"/></div></td>
																		<td><div align="right">หมายเลขลูกค้า</div></td>
																		<td><div align="center"><input type="text" name="cus_id" id="cus_id" value="$_POST[cus_id]"/></div></td>
																	</tr>
																	<tr>
																		<td><div align="right">ตำบล</div></td>
																		<td><div align="center"><input type="text" name="cus_tum" id="cus_tum" value="$_POST[cus_tum]"/></td>
																		<td><div align="right">อำเภอ</div></td>
																		<td><div align="center"><input type="text" name="cus_aumpure" id="cus_aumpure" value="$_POST[cus_aumpure]"/></div></td>
																		<td><div align="right">จังหวัด</div></td>
																		<td><div align="center"><input type="text" name="cus_province" id="cus_province" value="$_POST[cus_province]"/></div></td>
																	</tr>
																	<tr>
																		<td><div align="right">เบอร์มือถือ</div></td>
																		<td><div align="center"><input type="text" name="cus_tel" id="cus_tel" value="$_POST[cus_tel]"/></div></td>
																		<td><div align="right">BU</div></td>
																		<td>
																			<div align="center">
																				<select id="cus_bu" name="cus_bu">
																					$option_bu
																				</select>
																			</div>
																		</td>
																		<td>
																			<!-- <div align="right">แบบรถ</div> -->
																		</td>
																		<td>
																			<!-- <div align="center">
																				<select id="car_model" name="car_model" style="width:142px;" class="textCenter" onchange="">
																					<option value=""> ---  เลือกแบบรถ  --- </option>
																					$model_code_name
																				</select>
																			</div> -->
																		</td>				 
																	</tr>
																</table>
												    		</td>
														</tr>
														<tr>
															<td style="text-align: center;">
																<input type="hidden" value="$selectpage" name="search" id="search">
																<input id="search_cus" value="ค้นหา" type="submit" onclick="followFormSubmit('list_sale','$thisPage.php');">                                    
																<input id="search_all" value="ทั้งหมด" type="button" onclick="browseCheck('list_sale','$thisPage.php?searchAll=1&search='+jQuery('#search').val(),'')">
																<input id="clear_text" value="ล้างข้อมูล" type="reset" onclick=" jQuery('#sale_id').val('');      jQuery('#sale_posCode').val('');">
															</td>
														</tr>
													</table>
	                              </fieldset>
	                          	</form>
	                        </td>
                        </tr>
                  </table>
            <div id="list_sale" style="width: 100%;margin-left: auto;margin-right: auto;margin-top: -8px;" align="center">$listInfo</div>
<!-- END APPROVE_HEADER -->

<!-- BEGIN SALE_LIST_HEAD -->
<div align="left" style="padding:2px 10px;height:40px;">
      <img src="img/change.png" height="32"  title="เปลี่ยนผู้รับผิดชอบลูกค้า" alt="เปลี่ยนผู้รับผิดชอบลูกค้า" align="absmiddle"> = เปลี่ยนผู้รับผิดชอบลูกค้า
<!-- 2011-02-10
      <button style="float:right;height:40px" class="nz_button BTblack" 
            onclick="javascript:browseCheck('main','customers.php?page=oeditcus.php?Bpage=index.php&case_name=CheckSearh&change_resperson=change_resperson','');UnLoadMap();">
            เปลี่ยนผู้รับผิดชอบลูกค้ารายคน
      </button>
-->
</div>
<div style="width: 100%;height: 300px;overflow: auto;">
	<table id="list_emp_for_change" class="tb_default" cellpadding='0' cellspacing='0' style="width: 98%;">
		<thead class="nz_bd_gray">
		  <tr style="color:white;font-weight:bold;height:40px;background-color: #808080;">
				<td width="5%" align="center"></td>
				<td width="20%">
				<div align="center">รหัสตำแหน่ง</div>
				</td>
				<td width="25%">
				<div align="center">ชื่อ - นามสกุล</div>
				</td>
				<td width="25%">
				<div align="center">รหัสบัตรประชาชน</div> <!--  วันที่นำเสนอ -->
				</td>
				<td width="25%">
				<div align="center">ระดับ</div> <!--  วันที่จะออกติดตาม -->
				</td>
		  </tr>
	</thead>
	<tbody>
<!-- END SALE_LIST_HEAD -->

<!-- BEGIN SALE_LIST_CONTENT -->
      <tr id="emp$s_idcard" style="height:24px;cursor:auto"  class="$class" title="คลิกที่นี่เพื่อดูรายชื่อลูกค้าที่ $s_full_name รับผิดชอบ"
      onclick="nz_popup_center('GET','$thisPage.php?opt=changeForm&id_card=$s_idcard&position_code=$s_position_code')"
      >
            <td align="center">
				<img src="img/change.png" height="32" title="เปลี่ยนผู้รับผิดชอบลูกค้า" style="cursor:pointer" >
			</td>
            <td>
                  <div align="center">$s_position_code</div>
            </td>
            <td>
                  <div align="center">$s_full_name</div>
            </td>
            <td>
                  <div align="center">$s_idcard</div> 
            </td>
            <td>
                  <div align="center">$s_position_name</div>  
            </td>

      </tr>
<!-- END SALE_LIST_CONTENT -->

<!-- BEGIN SALE_LIST_FOOT -->
		</tbody>
	</table>
</div>
<!-- END SALE_LIST_FOOT -->

<!-- BEGIN CHANGE_FORM -->
<script type="text/javascript">
//pf_auto_complete('ic_change_Resperson.php?func=search_emp','#new_resperson','#new_sale_id',after_select);
auto_comHidden('ic_autocomplete.php?event=empSale&case_name=no_out_off&call_value=full$whereEmp','#new_resperson','#hid_new_DataNo','');//PT@OU
function after_select(obj){
      document.getElementById("new_emp").innerHTML = obj.item.value;
}
</script>
  <div style="padding:10px;color:blue;$popupWidth" id="show_success">
      <div align="left">รายชื่อลูกค้าทั้งหมดที่ <font style="color:orangered;font-weight:bold">$saleName</font> $config[change_descrip]</div>
      <div align="left" style="color:black;margin:2px 0px;">
      	$config[change_descrip2] <font style="color:orangered;font-weight:bold">$num_cus</font> ราย 
      	$config[change_descrip3]
      </div>
	  $blockS1 <div align="left" style="margin-top: 8px;">
		<form id="searchPopup" name="searchPopup" onsubmit="return false;">
			ภาค&nbsp;
				<select name="searchGeo" id="searchGeo" style="width: 150px;" onchange="browseN('select#searchProvince', 'ic_autocomplete.php', 'opt=province&id='+this.value, 'default');">
					$optionGeo
				</select>&nbsp;
			จังหวัด&nbsp;
				<select name="searchProvince" id="searchProvince" style="width: 150px;" onchange="browseN('select#searchAmpher', 'ic_autocomplete.php', 'opt=ampher&id='+this.value, 'default');">
					$optionProvince
				</select>&nbsp;
			อำเภอ&nbsp;
				<select name="searchAmpher" id="searchAmpher" style="width: 150px;" onchange="browseN('select#searchDistrice', 'ic_autocomplete.php', 'opt=districe&id='+this.value, 'default');">
					$optionAmpher
				</select>&nbsp;
			ตำบล&nbsp;
				<select name="searchDistrice" id="searchDistrice" style="width: 150px;">
					$optionDistrict
				</select>&nbsp;
			BU&nbsp;
				<select name="searchBU" id="searchBU" style="width: 150px;">
					$option_bu
				</select>&nbsp;
			<button style="height: 28px; margin: 0 10px 6px;" type="Submit" 
			onclick="browseFrm('div#popupList', '$thisPage.php?opt=changeForm&id_card=$old_id_card', 'search=Y', 'form#searchPopup', 'loading');">
				<img align="bottom" src="images/find.png">
				ค้นหา
			</button>
		</form>
	  </div> $blockS2
       <form id="frm_change_resperson" onsubmit="return false;">
			<div style="width: 100%;height: 220px;overflow: auto;" id="popupList">
				$popupList
			</div>
			<div align="left" style="color:saddlebrown;font-weight:bold;margin-top: 10px;">
				โอนให้กับ : $nochange<span id="new_emp" style="color:green;font-weight:bold"></span> 
				<input type="text" $disabled name="new_resperson"  id="new_resperson" value="" class="nocheck" style="width:220px;margin:5px;" onchange="document.getElementById('new_emp').innerHTML='';jQuery('#new_sale_id').val('');" onclick="this.select()"> 
				$selectBU 
				<font color="orange">* พนักงานที่รับผิดชอบลูกค้าใหม่</font>
				<input type="hidden" style="width:170px;" id="hid_new_DataNo" name="hid_new_DataNo" value="" />
				<input type="hidden" style="width:170px;" id="hid_old_DataNo" name="hid_old_DataNo" value="$old_id_card" />
			</div>
       </form>
  </div>
  <div style="margin-top:10px" id="bt_action">
    <button $disabled onclick="javascript:if(nzCheckForm('frm_change_resperson')==true){if(confirm('ยืนยันการเปลี่ยนแปลง')==true){followFormSubmit('show_success','$thisPage.php?opt=change_resperson','','frm_change_resperson');this.style.display='none';}}" style="height:28px">
      <img src="img/1281150751_disk.png" align="bottom">
       บันทึกข้อมูล
    </button>
    <button onclick="hideObj('nz_popup_div');" style="height:28px;display:$display_close">
      <img src="img/closed.png" align="absbottom" title="ปิด">
       ปิด
    </button>
  </div>

<script type="text/javascript" >
  	document.getElementById('new_resperson').focus();
</script>
<!-- END CHANGE_FORM -->

<!-- BEGIN POPUP_LIST -->
<table id="tb_change_form" width="100%" style="background:$bg">
	<tbody>
		<tr style="display:$cus_display;background-color:#ccc">
			<th width="20">
				<input type="checkbox" class="nocheck" id="chkAll" onclick="nz_toggle_check(this,'change_cus')">
			</th>
		<th width="70">รหัสลูกค้า</th>
		<th align="left">รายชื่อลูกค้า</th>
		<th align="left">ที่อยู่</th>
		<th width="150" align="left">BU</th>
		</tr>
		$cus_change_list
	</tbody>
</table>
<!-- END POPUP_LIST -->

<!-- BEGIN CUS_CHANGE_LIST -->
<tr>
	  <td align="center"><input type="checkbox" name="change[]" id="chk$resID" value='$sendRes' class="change_cus" $change_disabled></td>
      <td>$cus_no</td>
      <td align="left">$cus_name</td>
      <td align="left">$cus_addr $have_resperson</td>
      <td align="left">$feBiz[biz_name]</td>
 </tr>
<!-- END CUS_CHANGE_LIST -->