<!--
 * Create by: Nuy
 * Create date: 27.07.2011
 * Last Modify: 30.07.2011@Nuy
 * Description: หน้าการจัดการแบบฟอร์ม CR สำหรับคำนวณคะแนนควาพึงพอใจ SSI
-->
<!--
* showMainQues(); java/nuy.js
* showSubQues(); java/nuy.js
* plusSubQues(); java/nuy.js
* clickFrame(); java/nuy.js
* selectEvent(); java/nuy.js
* plusQues(); java/nuy.js
* browseCheck(); java/genral.js
* changeClass(); java/followcus.js
* activeForm(); java/pete.js
-->
<!-- BEGIN mainQuestion -->
<div align="center" style="width: 100%;" id="display_event">
	<div style="text-align: left; margin: 10px; padding: 15px;" id="test" class="ui-widget-content ui-corner-all">
		<div style="width: 100%; margin-bottom: 10px;">
			<a id="id-5" class="nz_manage nz_button BTwhite" style="color: blue; line-height: 18px;" onclick="browseCheck('main','ssi_setup_form.php','');" href="javascript:void(0)">กลับ</a>
			<a href="javascript:void(0)" onclick="browseCheck('frmQuestion','$thisPage.php?func=createFrom&types=A','');changeClass(this.id,'BTwhite','BTorange');" id="idA" style="color: blue; line-height: 18px;" class="nz_manage nz_button $btOre">เพิ่มแบบสอบถาม ชนิด A</a>
			&nbsp;&nbsp;<a href="javascript:void(0)" onclick="browseCheck('frmQuestion','$thisPage.php?func=createFrom&types=B','');changeClass(this.id,'BTwhite','BTorange');" id="idB" style="color: blue; line-height: 18px;" class="nz_manage nz_button BTwhite">เพิ่มแบบสอบถาม ชนิด B</a>
			&nbsp;&nbsp;<a href="javascript:void(0)" onclick="plusQues();" style="color: blue; line-height: 18px;" class="nz_manage nz_button BTwhite"><img src="img/add_small.png" border="0">&nbsp;เพิ่มหัวข้อหลัก</a>
		</div>
		<div style="width: 100%; margin-bottom: 10px;">
			<table width="100%" border="0" cellpadding="3" cellspacing="0" align="left">
				<tr>
					<td width="22"><img src="img/add.png" border="0"></td>
					<td width="140">คลิกเพื่อเพิ่มคำถามรอง</td>
					<td width="22"><img src="img/delete.png" border="0"></td>
					<td width="110">ลบคำถามรอง</td>
					<td style="text-align: right">** เลือกคำถามเพื่อเพิ่มคำถามรอง</td>
				</tr>
			</table>
		</div>
		<form>
		<div id="frmQuestion" style="float: left; width: 100%;">
			$frmQuestion
		</div>
		</form>
		<div style="clear: both;"></div>
	</div>
</div>
<!-- END mainQuestion -->

<!-- BEGIN manageQuestion -->
<div align="center" style="width: 100%; margin-top: -20px;" id="display_event">
	<div style="border: 1px solid rgb(128, 128, 128); text-align: left; margin: 10px; padding: 15px;" class="ui-widget-content ui-corner-all">
		<div style="float: left;width: 100%; margin-bottom: 10px;">
			<a href="javascript:void(0)" onclick="browseCheck('listData','$thisPage.php?types=this','');changeClass(this.id,'BTwhite','BTorange');" id="idA" style="color: blue; line-height: 18px;" class="nz_button BTorange">แบบคำนวณปัจจุบัน</a>
			&nbsp;&nbsp;<a href="javascript:void(0)" onclick="browseCheck('listData','$thisPage.php?types=all','');changeClass(this.id,'BTwhite','BTorange');" id="idB" style="color: blue; line-height: 18px;" class="nz_button BTwhite">แบบคำนวณทั้งหมด</a>
			&nbsp;&nbsp;<a href="javascript:void(0)" onclick="browseCheck('main','$thisPage.php?func=createFrom','');" style="color: blue; line-height: 18px;" class="nz_button BTwhite">สร้างแบบคำนวณใหม่</a>
		</div>
		<div style="clear: both;"></div>
		<div style="margin-bottom: 10px;">
			<div style="float: left;width: 60%;color: gray;">
				$setAtoActive &nbsp;
			</div>
			<div style="float: left;width: 40%;color: gray;text-align: right;">
				<img src="img/box_active.png" border="0">&nbsp;Active[สำหรับคำนวนเป็นค่าความพึงพอใจ]&nbsp;&nbsp;&nbsp;
				<img src="img/box_inactive.png" border="0">&nbsp;Inactive
			</div> <!-- style="cursor: pointer;"   -->
		</div>
		<div style="clear: both;"></div>
		<div style="width: 100%;">
			<table width="100%" cellpadding="0" cellspacing="0" border="1" style="background-color: #FBEBEB; color: #DC7107; font-size: 13px;" class="nz_bd_gray">
				<col width="80">
				<col>
				<col width="80">
				<col width="100">
				<col width="100">
				<col width="80">
				<col width="90">
				<thead>
					<tr height="30">
						<th style="text-align: center">ลำดับ</th>
						<th style="text-align: center">ชื่อแบบคำนวณ</th>
						<th style="text-align: center">สถานะ</th>
						<th style="text-align: center">วันที่เริ่มใช้</th>
						<th style="text-align: center">วันที่หยุดใช้</th>
						<th style="text-align: center">แก้ไข</th>
						<th style="text-align: center">ยกเลิก</th>
					</tr>
				</thead>
				<tbody id="listData">
					$listQues
				</tbody>
			</table>
		</div>
		<div style="clear: both;"></div>
	</div>
</div>
<!-- END manageQuestion -->

<!-- BEGIN listQues -->
<tr id="tr_data_$fe[ssi_id]" style="cursor: pointer;" ondblclick="editSSI('$thisPage.php','$val');">
	<td style="text-align: center">$act_maincus $no</td>
	<td>$fe[ssi_form_name]</td>
	<td style="text-align: center">$status</td>
	<td style="text-align: center">$sDate</td>
	<td style="text-align: center">$fDate</td>
	<td style="text-align: center"><img src="img/edit2.png" onclick="editSSI('$thisPage.php','$val');" style="cursor: pointer;" border="0"></td>
	<td style="text-align: center" id="data_$fe[ssi_id]">$cancel</td>
</tr>
<!-- END listQues -->

<!-- BEGIN subQuestion -->
<tr id="ts$idSub">
	<td style="text-align: center"><input type="hidden" id="subId_$idSub" name="subId[$fe[ssi_title_id]][]" value="$listID"><input type="hidden" id="question_id_$idSub" name="question_id_[$fe[ssi_title_id]][]" value="$idSub"></td>
	<td style="text-align: right"><img src="img/delete.png" onclick="delQues('tr#ts$idSub','$idSub','sub');" style="cursor: pointer;" border="0"><input type="hidden" id="s_$fe[ssi_title_id]_$idSub" name="s_[$fe[ssi_title_id]][]" value="$idSub"></td>
	<td >$question_code $feSub[list_title] $subWeight</td>
	<td  style="text-align: center">$txtW</td>
	<td>$inputW</td>
	<td style="text-align: center">
		$option
	</td>
</tr>
<!-- END subQuestion -->

<!-- BEGIN Question -->
<tr id="tr$run">
	<td>
		<table id="tableSub_$run" width="100%" border="0" cellpadding="3" cellspacing="0">
			<col width="4%">
			<col width="4%">
			<col width="">
			<col width="$wWidthName">
			<col width="$wWidthInput">
			<col width="4%">
			<tbody>
				<tr>
					<td style="text-align: center; vertical-align: bottom;">
						<img src="img/delete.png" onclick="delQues('tr#tr$run','$run','main');" style="cursor: pointer; margin-bottom: 5px;" border="0">
						<input type="hidden" id="m_$run" name="m_[]" value="$run"><input type="hidden" id="title_id_$run" name="title_id_[]" value="$run">
					</td>
					<td style="vertical-align: bottom;">รหัส :<br/><input type="text" name="titleCode[]" id="titleCode_$run" maxlength="10" style="width : 50px;" value="$fe[ssi_title_code]"></td>
					<td style="vertical-align: bottom;">หัวข้อ :<br/><input type="text" name="ques[]" id="ques_$run" value="$fe[ssi_title_name]" style="width: 98%"></td>
					<td style="text-align: center; vertical-align: bottom;">$wName</td></td>
					<td style="vertical-align: bottom;">$wInput</td>
					<td style="text-align: center; vertical-align: bottom;">
						<img src="img/add.png" border="0" onclick="plusSubQues($run);" style="cursor: pointer; margin-bottom: 4px;">
					</td>
				</tr>
				$listSub
			</tbody>
		</table>
	</td>
</tr>
<!-- END Question -->

<!-- BEGIN listEvent -->
<div class="listEvent" id="event_$feEvent[id]">$noEvent. $feEvent[event_title]</div>
<div class="quesList" id="hQues_$feEvent[id]">$ques</div>
<!-- END listEvent -->

<!-- BEGIN listQuestion -->
<div class="listQues" id="main_$idQues">- $titleQues</div>
<div class="subList" id="hSub_$idQues">$subQues</div>
<!-- END listQuestion -->

<!-- BEGIN listSub -->
<div class="listSub" id="sub_$idSub"><input type="hidden" name="subOp_$idSub" id="subOp_$idSub" value="$subOp"><input type="checkbox" name="id_sub[]" id="id_sub_$idSub" weight="$weightSub" value="$idSub" onchange="selectQues($idSub);">&nbsp;$titleSub <font color="red">$txtWSub</font></div>
<!-- END listSub -->

<!-- BEGIN frmQuestion -->
<script type="text/javascript">showMainQues(); showSubQues(); clickFrame(); selectEvent();</script>
<script type="text/javascript" >
 $sc_r_only_start  $sc_r_only_stop   jDate("#ssi_startDate"); jDate("#ssi_endDate");
</script>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td width="69%" valign="top">
			<div id="leftQuestion" class="ui-widget-content ui-corner-all">
				<table id="tableQues" width="100%" border="0" cellpadding="0" cellspacing="0" style="margin-bottom: 0;">
					<tbody>
						<tr>
							<td align="center">ชื่อแบบสอบถาม ชนิด $types &nbsp;<input type="text" name="ssi_title" id="ssi_title" value="$ssi_title" onblur="chkNameQues('$thisPage.php','$ssi_title');" style="width: 400px"><input type="hidden" name="types" id="types" value="$types"><input type="hidden" name="ssi_id" id="ssi_id" value="$ssi_id"><input type="hidden" name="event_id" id="event_id" value="$event_id"><input type="hidden" name="chk_weight" id="chk_weight" value="$chk_weight">&nbsp;<font id="chkName" color="#FF0000"></font></td>
						</tr>
						<tr>
						<td align="center">
						วันที่เริ่มใช้: <input  id="ssi_startDate" type="text" name="ssi_startDate"  value="$start_Date" readonly = "readonly"  $r_only_start>&nbsp;
						วันที่หยุดใช้: <input  id="ssi_endDate"   type="text" name="ssi_endDate"    value="$stop_Date" readonly = "readonly" $r_only_stop>
						</td>
						</tr> 
						<tr>
							<td height="6"></td>
						</tr>
						$list
					</tbody>
				</table>
				<table width="84%" border="0" cellpadding="0" cellspacing="0" align="center" style="margin-bottom: 0;">
					<tr>
						<td height="10"></td>
					</tr>
					<tr>
						<td><a href="javascript:void(0)" onclick="insertQues('$thisPage.php','s_save');" style="color: blue; line-height: 18px;" class="nz_manage nz_button BTwhite">บันทึก</a>$begin</td>
					</tr>
				</table>
			</div>		
		</td>
		<td width="31%" valign="top">
			<div id="rightQuestion" class="ui-widget-content ui-corner-all">
				<!-- <div id="topRightQues"></div> -->
				$events
			</div>		
		</td>
	</tr>
</table>
<!-- END frmQuestion -->

<!-- BEGIN noData -->
<tr>
	<td colspan="7" style="text-align: center" valign="middle" height="10"><font style="color: blue; font-size: 16px;">ยังไม่มีข้อมูล</font></td>
</tr>
<!-- END noData -->