<!-- BEGIN Amphurs -->
 <select name="District" id="District" onchange="if(this.value!='0'){browseCheck('SubDistrictsTemp','editcus.php?Province='+document.getElementById('Province').value+'&Amphur='+this.value+'&SubDistrictsy=','');}">
<option value="0" >- กรุณาเลือกอำเภอ -</option>
$Amphur
 </select>

<!-- END Amphurs -->
<!-- BEGIN SubDistrict -->
 <select name="SubDistrict"  id="SubDistrict" onchange="if(this.value!='0'){browseCheck('PostcodeTemp','editcus.php?Province='+document.getElementById('Province').value+'&Amphur='+document.getElementById('District').value+'&SubDistrictsy='+this.value+'&Postcode=','');}">
<option value="0" >- กรุณาเลือกตำบล -</option>
$SubDistrictsy
 </select>
<!-- END SubDistrict -->

 <!-- BEGIN SGEO -->

  <select name="Province" id="Province" onchange="javascript:if(this.value!='0'){browseCheck('DistrictTemp','editcus.php?Province='+this.value+'&Amphur=','');change_subdistrict('0');}" >
<option value="0" >- กรุณาเลือกจังหวัด -</option>
$Provinces
 </select>
<!-- END SGEO -->

<!-- BEGIN Amphurs1 -->
 <select name="District1" id="District1" onchange="if(this.value!='0'){browseCheck('SubDistrictsTemp1','editcus.php?Province1='+document.getElementById('Province1').value+'&Amphur1='+this.value+'&SubDistrictsy1=','');}">
<option value="0" >- กรุณาเลือกอำเภอ -</option>
$Amphur1
 </select>
<!-- END Amphurs1 -->

<!-- BEGIN SubDistrict1 -->
<select name="SubDistrict1"  id="SubDistrict1" onchange="if(this.value!='0'){browseCheck('PostcodeTemp1','editcus.php?Province1='+document.getElementById('Province1').value+'&Amphur1='+document.getElementById('District1').value+'&SubDistrictsy1='+this.value+'&Postcode1=','');}">
	<option value="0" >- กรุณาเลือกตำบล -</option>
		$SubDistrictsy1
</select>
<!-- END SubDistrict1 -->

 <!-- BEGIN SGEO1 -->
  <select name="Province1" id="Province1" onchange="javascript:if(this.value!='0'){browseCheck('DistrictTemp1','editcus.php?Province1='+this.value+'&Amphur1=','');change_subdistrict('1');}" >	
<option value="0" >- กรุณาเลือกจังหวัด -</option>
$Provinces1
 </select>
<!-- END SGEO1 -->

<!-- BEGIN Amphurs2 -->
 <select name="District2" id="District2" onchange="if(this.value!='0'){browseCheck('SubDistrictsTemp2','editcus.php?Province2='+document.getElementById('Province2').value+'&Amphur2='+this.value+'&SubDistrictsy2=','');}">
<option value="0" >- กรุณาเลือกอำเภอ -</option>
$Amphur2
 </select>

<!-- END Amphurs2 -->
<!-- BEGIN SubDistrict2 -->
 	<select name="SubDistrict2"  id="SubDistrict2" onchange="if(this.value!='0'){browseCheck('PostcodeTemp2','editcus.php?Province2='+document.getElementById('Province2').value+'&Amphur2='+document.getElementById('District2').value+'&SubDistrictsy2='+this.value+'&Postcode2=','');}">
			<option value="0" >- กรุณาเลือกตำบล -</option>
				$SubDistrictsy2
 	</select>
<!-- END SubDistrict2 -->

<!-- BEGIN SGEO2 -->
  <select name="Province2" id="Province2" onchange="javascript:if(this.value!='0'){browseCheck('DistrictTemp2','editcus.php?Province2='+document.getElementById('Province2').value+'&Amphur2=','');change_subdistrict('2');}" >
<option value="0" >- กรุณาเลือกจังหวัด -</option>
$Provinces2
 </select>

<!-- END SGEO2 -->

<!-- BEGIN FORM -->
<form action="editcus.php" method="POST" id="addForm" name="addForm"   enctype="multipart/form-data" onsubmit="return checkForm( this, 
  Array(
Array( 'idMember')
    ,Array( 'idMember', 'simple', 'กรุณาระบุ รหัสพนักงาน ด้วยครับ' )
	,Array( 'username', 'simple', 'กรุณาระบุ LOGIN NAME ด้วยครับ' )
	,Array( 'idcard', 'simple', 'กรุณาระบุ รหัสประชาชน ด้วยครับ' )
	,Array( 'Address', 'simple', 'กรุณาระบุ ที่อยู่ ด้วยครับ' )
	,Array( 'SubDistrict', 'simple', 'กรุณาเลือก ตำบล ด้วยครับ' )
	,Array( 'District', 'simple', 'กรุณาเลือก อำเภอ ด้วยครับ' )
	,Array( 'Province', 'simple', 'กรุณาเลือก จังหวัด ด้วยครับ' )
	,Array( 'Postcode', 'simple', 'กรุณาระบุ รหัสไปรษณีย์ ด้วยครับ' )
	,Array( 'firstname', 'simple', 'กรุณาระบุ ชื่อ ด้วยครับ' )
	,Array( 'lastname', 'simple', 'กรุณาระบุ นามสกุล ด้วยครับ' )
	,Array( 'Nickname', 'simple', 'กรุณาระบุ ชื่อเล่น ด้วยครับ' )
	,Array( 'birthday', 'simple', 'กรุณาระบุ วันเกิด ด้วยครับ' )
	,Array( 'position', 'simple', 'กรุณาระบุ ตำแหน่ง ด้วยครับ' )
	,Array( 'lastPlace[]', 'simple', 'กรุณาระบุ การใช้งานโปรแกรม ด้วยครับ' )
	,Array( 'start_date', 'simple', 'กรุณาระบุ วันที่เริ่มทำงาน ด้วยครับ' )
  )
);">	
<table border="1" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="100%" id="AutoNumber1" bgcolor="#009900">
  <tr>
    <td colspan="2" bgcolor="#006600">
    <p align="center"><u><b><font color="#FFFFFF">เพิ่มพนักงาน</font></b></u></td>
  </tr>
  <tr>
    <td width="20%">
    <p align="right"><font color="#FFFFFF">รหัสพนักงาน<font color="#FF0000">*</font>	</font></td>
    <td>
    <p align="left"><input name="idMember" type="text" size="20" maxlength="100" autocomplete='off' value="$member_id" 
	onchange="CheckMember('working','editcus.php?searchs='+this.value,this.value);" onkeyup="CheckMember('working','editcus.php?searchs='+this.value,this.value);"></td>
  </tr>
  <tr>
    <td>
    <p align="right"><font color="#FFFFFF">LOGIN NAME<font color="#FF0000">*</font>	</font></td>
    <td>
    <p align="left"><input name="username" type="text" size="20" maxlength="100" autocomplete='off' value="$username" onchange="CheckMember('CheckUser','editcus.php?UserCheck='+this.value,this.value);" onkeyup="CheckMember('CheckUser','editcus.php?UserCheck='+this.value,this.value);"><div id="CheckUser"></div></td>
  </tr>
  <tr>
    <td >
    <p align="right"><font color="#FFFFFF">Pwd</font></td>
    <td >
    <p align="left"><input name="password" type="text" size="20" maxlength="100" autocomplete='off' value="$password" >หากเพิ่มใหม่ให้พิมพ์ตามบัตรประชาชนนะครับ</td>
  </tr>
  <tr>
    <td>
    <p align="right"><font color="#FFFFFF">รหัสประชาชน<font color="#FF0000">*</font>	</font></td>
    <td >
    <p align="left"><input name="idcard" type="text" size="20" maxlength="100" autocomplete='off' value="$ID_card" onchange="checkID(this.value);"></td>
  </tr>
    <tr>
    <td>
    <p align="right"><font color="#FFFFFF">ที่อยู่<font color="#FF0000">*</font>	</font></td>
    <td >
    <p align="left"><input name="Address" type="text" size="20" maxlength="100" autocomplete='off' value="$Address" >
	</td>
  </tr>
  <tr><td>
      <p align="right"><font color="#FFFFFF">หมู่บ้าน<font color="#FF0000">*</font>	</font></td>
    <td >
    <p align="left">
<input name="Village" type="text" size="20" maxlength="100" autocomplete='off' value="$Village" >
	</td>
  </tr>
  <tr><td>
      <p align="right"><font color="#FFFFFF">ตำบล<font color="#FF0000">*</font>	</font></td>
    <td >
    <p align="left">

	<div id="SubDistrictsTemp">$SubDistricts</div>
	</td>
  </tr>
  <tr><td>
      <p align="right"><font color="#FFFFFF">อำเภอ<font color="#FF0000">*</font>	</font></td>
    <td >
    <p align="left">
	<div id="DistrictTemp">$Amphurs</div>

	</td>
  </tr>
    <tr><td>
      <p align="right"><font color="#FFFFFF">จังหวัด<font color="#FF0000">*</font>	</font></td>
    <td >
    <p align="left">
<div id="ProvinceTemp">
 <select name="Province" id="Province" onchange="javascript:if(this.value!='0'){browseCheck('DistrictTemp','editcus.php?Province='+Province.value+'&Amphur=','');change_subdistrict('0');}" >	
<option value="0" >- กรุณาเลือกจังหวัด -</option>
$Provinces
 </select>
</div>
	</td>
  </tr>

    <tr><td>
      <p align="right"><font color="#FFFFFF">ภูมิภาค<font color="#FF0000">*</font>	</font></td>
    <td >
    <p align="left">

 <select name="SGEO" id="SGEO" onchange="javascript:if(this.value!='0'){browseCheck('ProvinceTemp','editcus.php?SGEO='+this.value,'');change_subdistrict('geo');}" >
<option value="0" >- กรุณาเลือกภาค -</option>
$SGEO
 </select>

	</td>
  </tr>

      <tr><td>
      <p align="right"><font color="#FFFFFF">รหัสไปรษณีย์<font color="#FF0000">*</font>	</font></td>
    <td >
    <p align="left">
	<input name="Postcode" type="text" id="Postcode" size="20" maxlength="100" autocomplete='off' value="$Postcode">	
<div id="PostcodeTemp"></div>
	</td>
  </tr>
  <tr>
    <td >
    <p align="right"><font color="#FFFFFF">คำนำหน้า</font></td>
    <td >
    <p align="left"><input name="sex" type="text" size="20" maxlength="100" autocomplete='off' value="$Sex" ></td>
  </tr>
  <tr>
    <td>
    <p align="right"><font color="#FFFFFF">ชื่อ</font><font color="#FF0000">*</font>	</td>
    <td >
    <p align="left"><input name="firstname" type="text" size="20" maxlength="100" autocomplete='off' value="$Name" ></td>
  </tr>
    <tr>
    <td>
    <p align="right"><font color="#FFFFFF">นามสกุล</font><font color="#FF0000">*</font>	</td>
    <td >
    <p align="left"><input name="lastname" type="text" size="20" maxlength="100" autocomplete='off' value="$Surname" ></td>
  </tr>
      <tr>
    <td>
    <p align="right"><font color="#FFFFFF">ชื่อเล่น</font><font color="#FF0000">*</font>	</td>
    <td >
    <p align="left"><input name="Nickname" type="text" size="20" maxlength="100" autocomplete='off' value="$Nickname" ></td>
  </tr>
        <tr>
    <td>
    <p align="right"><font color="#FFFFFF">วันเกิด</font><font color="#FF0000">*</font></td>
    <td >
    <p align="left"><input name="birthday" type="text" size="20" maxlength="10" autocomplete='off' value="$birthday" ><font size="1" >ให้ใส่แบบ 01/12/2551 นี้นะครับ</font>  </td>
  </tr>
<tr>
    <td>
    <p align="right"><font color="#FFFFFF">โทรศัพท์</font></td>
    <td >
    <p align="left"><input name="tel" type="text" size="20" maxlength="100" autocomplete='off' value="$Tel_Num" ><font color="#FF0000" size="1" >ตัวอย่าง</font> 0805012252 </td>
  </tr>
  <tr>
    <td>
    <p align="right"><font color="#FFFFFF">สังกัด</font></td>
    <td >
	<div id="working">$working_company $department $section</div>
  </td>
  </tr>
<tr>
    <td>
    <p align="right"><font color="#FFFFFF">ตำแหน่ง</font><font color="#FF0000">*</font>	</td>
    <td >
    <p align="left"><input name="position" type="text" size="20" maxlength="100" autocomplete='off' value="$Position" ></td>
  </tr>
  <tr>
    <td>
    <p align="right"><font color="#FFFFFF">การใช้งานโปรแกรม</font><font color="#FF0000">*</font>	</td>
    <td >
    <select name="lastPlace[]" class="list2" multiple size="7">
                          <option value="">-----กรุณาเลือกโปรแกรมที่อนุญาติให้ใช้งาน-----</option>
$lastPlace
		</select><font color="#FF0000">*</font><font size="1">เลือกหลายโปรแกรมโดยการกดปุ่ม Ctrl ค้างแล้วคลิกเลือก</font>
		</td>
  </tr>
<tr>
    <td>
    <p align="right"><font color="#FFFFFF">เวลาเข้างาน</font><font color="#FF0000">*</font>	</td>
    <td >
    <select name="textfield_H" class="list2">
$GetHourTime
		</select>
 <select name="textfield_M" class="list2">
$GetMinTime
		</select>
		</td>
  </tr>
<tr>
    <td>
    <p align="right"><font color="#FFFFFF">เวลาพักกลางวัน</font><font color="#FF0000">*</font>	</td>
    <td >
 <select name="textfield_lunchH" class="list2">
$GetHourTimelunch
		</select>
 <select name="textfield_lunchM" class="list2">
$GetMinTimelunch
		</select>
		</td>
  </tr>

<tr>
    <td>
    <p align="right"><font color="#FFFFFF">เวลาเข้างานกลางวัน</font><font color="#FF0000">*</font>	</td>
    <td >
 <select name="textfield_lunchInH" class="list2">
$GetHourTimelunchIn
		</select>
 <select name="textfield_lunchInM" class="list2">
$GetMinTimelunchIn
		</select>
		</td>
  </tr>

<tr>
    <td>
    <p align="right"><font color="#FFFFFF">เวลาเลิกงาน</font><font color="#FF0000">*</font>	</td>
    <td >
					   <select name="textfield2_H" class="list2" >
$GetHourTimeOut
		</select>
 <select name="textfield2_M" class="list2">
$GetMinTimeOut
		</select>
		</td>
  </tr>

 <tr >
                      <td    align="right" ><font color="#FFFFFF">วันหยุด :</font><font color="#FF0000">*</font>	</td><td>
<input name='radiobutton' type='radio' value='อาทิตย์'  $checked1 >
                           <font color="#FFFFFF"> วันอาทิตย์  &nbsp;&nbsp;</font>
                              <input name='radiobutton' type='radio' value='จันทร์' $checked2>
                             <font color="#FFFFFF"> วันจันทร์  &nbsp;&nbsp;</font>
                            
                              <input name='radiobutton' type='radio' value='อังคาร' $checked3>
                           <font color="#FFFFFF"> วันอังคาร  &nbsp;&nbsp;</font>
                              <input name='radiobutton' type='radio' value='พุธ' $checked4>
                           <font color="#FFFFFF"> วันพุธ  &nbsp;&nbsp;</font>
                              <input name='radiobutton' type='radio' value='พฤหัสบดี' $checked5>
                           <font color="#FFFFFF"> วันพฤหัสบดี  &nbsp;&nbsp;</font>
                              <input name='radiobutton' type='radio' value='ศุกร์' $checked6>
                           <font color="#FFFFFF"> วันศุกร์  &nbsp;&nbsp;</font>
                              <input name='radiobutton' type='radio' value='เสาร์' $checked7>
                           <font color="#FFFFFF"> วันเสาร์</font>$edittext
							</font>

</td></tr>
<tr ><td   align="right" ><font color="#FFFFFF">วันที่เริ่มทำงาน :</font><font color="#FF0000">*</font>
</td><td >
<input name="start_date" type="text" style="width: 140px;" maxlength="10" value="$start_date" onclick="show_calendar('document.addForm.start_date', '');" /><a href="javascript:show_calendar('document.addForm.start_date', '');"><img src="pic/cal.gif" width="16" height="16" border="0"></a><font size="1" >ให้ใส่แบบ 01/12/2551 เป็นต้น</font>  
</td></tr>
                    <tr >
                      <td align="right" ><font color="#FFFFFF">วันที่&#3612;่านทดลองงาน:</font></td>
                      <td >
		<input name="probation_date" type="text" style="width: 140px;"  onclick="show_calendar('document.addForm.probation_date', '');" maxlength="10" value="$probation_date"/>
<a href="javascript:show_calendar('document.addForm.probation_date', '');">
<img src="pic/cal.gif" width="16" height="16" border="0"></a>	<font size="1" >ให้ใส่แบบ 01/12/2551 เป็นต้น</font>  
					  
                         </td>
                      </tr>
                    <tr >
                      <td  align="right"><font color="#FFFFFF">วันออกจากงาน :</font></div></td>
                      <td >
					  		<input name="end_date" type="text" style="width: 140px;"  onclick="show_calendar('document.addForm.end_date', '');" maxlength="10" value="$end_date"/>
<a href="javascript:show_calendar('document.addForm.end_date', '');">
<img src="pic/cal.gif" width="16" height="16" border="0"></a>		
<input name="nworkmax" type="hidden" class="list1"  size="20" maxlength="30"  value="$NworkMax" ><font size="1" >ให้ใส่แบบ 01/12/2551 เป็นต้น</font>
					</td>
                     </tr>
$imageMember
 <tr >
                      <td   align="right" ><font color="#FFFFFF">รูปพนักงาน</td>
                      <td ><input name="customer_pic" type="file" value=""><font size="1" >ขาดเหมาะสมในการแสดง 100*125 ครับ</font></td>
                     
                    </tr>
                    <tr >
                      <td   align="right" ><font color="#FFFFFF">หมายเหตุ :</td>
                      <td ><textarea name="footnote"  rows="5" cols="22">$Footnote</textarea>                      </td>
                      
                    </tr>
                    <tr >
                      <td   align="right" ><font color="#FFFFFF">สถานะพนักงาน :<font color="#FF0000">*</font></td>
                      <td >  
                        <select name="prosonnal_being" >
<option value="4" $pselect4 >สามารถอนุมัติวันลาและสลับทั้งแ&#3612;นก</option>
                          <option value="1" $pselect1 >&#3612;่านการทดลองงานแล้ว</option>
                          <option value="2" $pselect2>ทดลองงาน</option>
                          <option value="3"$pselect3>ออกจากงาน</option>
						 
                        </select>
<font size="1" color="#FF0000">***หมายเหตุ </font><font size="1">การตั้ง &#3612;ู้ที่อนุมัติได้ทั้งแ&#3612;นกต้องอยู่ใน Level 1 เท่านั้น</font>
                  </td>
                      
                    </tr>
                    <tr >
                      <td   align="right" ><font color="#FFFFFF">การรูดบัตร :</td>
                      <td >
					                                <input name='AddCard' type='radio' value='Yes' $checked20>
                           <font color="#FFFFFF"> ใช้งาน  &nbsp;&nbsp;</font>
                              <input name='AddCard' type='radio' value='No' $checked21>
                           <font color="#FFFFFF"> ไม่ใช้ใช้งาน</font>
					  </td>
                      
                    </tr>




					 <tr >
                      <td colspan="3"  align="center" >หมายเหตุ ฟอร์มที่มีเครื่องหมายดอกจัน
                        (*) ด้องใส่ข้อมูลทุกฟอร์ม</td>
                    </tr>
					<tr>
                      <td  colspan="2" >
					  
					  <input type="hidden" name="sEdit" value="$_GET[sEdit]" />
					<input type="hidden" name="save" value="save" />
<hr> <p align="center"><input type="submit" value="        บันทึกข้อมูล        " name="Save">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <input type="reset" value="   ตั้งค่าใหม่   " name="B2">	  
					  </td>
                    </tr>

</table>
</form>
<!-- END FORM -->

<!-- BEGIN SEARCH -->
<center> <font size="4">ค้นหาพนักงาน</font></center>
</div>
 <form action="" method="GET"  name="daddForm" onsubmit="javascript:browseCheck('Show_SUB_Table','memberList.php?sword='+Getgmap.value,''); return false;" > 
 <table border="3" cellpadding="0" cellspacing="1" style="border-collapse: collapse; color: #000080" bordercolor="#FFFFCC" bgColor="#e5d8ff" width="100%"id="list_table">

<tr  class="listhead"  class="even">
<td align="center">
ค้นหา:<input type="text" name="Getgmap" value=""  onmouseover="javascript:this.select();" >
</div>
</td>
</tr>
<tr>
<td align="CENTER" id="ShowFind"></td></tr>
<tr class="listhead" >
<td align="CENTER">

<center><Hr><input type="submit" value="       แสดงข้อมูล       " name="Save"></center>
</td></tr>
</form>

</table>

<!-- END SEARCH -->
<!-- BEGIN LIST_HEAD -->
 <table border="1" cellpadding="1" cellspacing="1"  bordercolor="#FFFFCC" bgColor="#660000" width="100%" class="data">

<tr style="border-collapse: collapse;  background-color: #336600;" class="even">
<td align="center">รหัสพนักงาน</a></td>
<td align="center"  >เลขประชาชน</td>
<td align="center" width="250" >ชื่อ - นามสกุล</td>
<td align="center">ชื่อเล่น</td>
<td  align="center">แ&#3612;นก</td>
<td align="center">ฝ่าย</td>
<td align="center">ต่ำแหน่ง</td>
<td  align="center">Login Name</td>
<td  align="center">เข้างาน</td>
<td  align="center">พักกลางวัน</td>
<td  align="center">เริ่มงานกลางวัน</td>
<td align="center">ออกงาน</td>
<td align="center">วันแรกที่ทำงาน</td>
<td  align="center">วันหยุด</td>
<td  align="center"> </td>
<td align="center">&nbsp;</td>
</tr>

<!-- END LIST_HEAD -->
<!-- BEGIN LIST -->
<tr   class="even" bgColor="$rs[iStyle]">
<td>$rs[member_id]</td>
<td>$rs[ID_card]</td>
<td>
<a href="javascript:void(0);"
 onmouseover="return overlib('<img src=\'emp/$rs[picture]\' width=100 height=125 border=0 onload=\'wsld();\'>', CAPTION, 'ภาพประกอบไฟล์นี้');" onmouseout="return nd();" onfocus="this.blur()"
						  onClick="window.open('editcus.php?sEdit=$rs[DataNo]', 'newWin', 'height=150,width=380,top=300,left=300,toolbar=no,menubar=no,location=no,scrollbars=YES,resizable=YES,directories=no,status=no,titlebar=no');"
						  ><font size="2" color="#FFFFFF">$rs[Name]   $rs[Surname]</font></a></td>
<td>$rs[Nickname]</td>
<td>$rs[Department]</td>
<td>$rs[Section]</td>
<td>$rs[Position]</td>
<td>$rs[username]</td>
<td>$rs[Time_InEmp]</td>
<td>$rs[Time_lunchEmp]</td>
<td>$rs[Time_lunchInEmp]</td>
<td>$rs[Time_OutEmp]</td>
<td>$rs[start_date]</td>
<td>$rs[DayOff]</td>
<td>$rs[Prosonnal_Being]</td>
<td align="center">
<a href="javascript:void(0);"
						  onClick="window.open('editcus.php?sEdit=$rs[DataNo]', 'newWin', 'height=150,width=380,top=300,left=300,toolbar=no,menubar=no,location=no,scrollbars=YES,resizable=YES,directories=no,status=no,titlebar=no');"
						  ><img src="pic/edit.gif" alt="แก้ไข" title="แก้ไขประวัติ์ของ  $rs[Name]   $rs[Surname] "></a><br><a href="javascript:void(0);"
						  onClick="window.open('main_Nday.php?&DataNo=$rs[ID_card]', 'newWin', 'height=150,width=380,top=300,left=300,toolbar=no,menubar=no,location=no,scrollbars=YES,resizable=YES,directories=no,status=no,titlebar=no');"
						  ><img src="pic/dpr_unvis2.gif" alt="วันลา" title=" ดูวันลาของ $rs[Name]   $rs[Surname] "></a><br><a href="javascript:void(0);"
						  onClick="window.open('main_Nday2.php?DataNo=$rs[ID_card]', 'newWin', 'height=150,width=380,top=300,left=300,toolbar=no,menubar=no,location=no,scrollbars=YES,resizable=YES,directories=no,status=no,titlebar=no');"
						  ><img src="pic/dpr_unvis.gif" alt="วันสลับ" title=" ดูการสลับวันหยุดของ $rs[Name]   $rs[Surname] "></a></td>

</tr>

<!-- END LIST -->

<!-- BEGIN LIST_FOOT -->
</table>

<!-- END LIST_FOOT -->





<!-- ##################################################################### -->
<!-- ############### Customer Interest History Content Page ############## -->
<!-- ##################################################################### -->


 <!-- BEGIN INETR_SGEO -->
 <select name="Province" id="Province" onchange="javascript:document.getElementById('InterSubDistrictsTemp').innerHTML='<input name=\'InterSubDistrict\' type=\'text\'  value=\'\' >';browseCheck('InterDistrictTemp','interestHistory.php?Province='+Province.value+'&InterAmphur=','');" >
		<option value="0" > -- กรุณาเลือกจังหวัด --</option>
			$InterProvinces
 		</select>
<!-- END INETR_SGEO -->

<!-- BEGIN INETR_AMPURES -->
 <select name="InterDistrict" id="InterDistrict" style="width:135px;" onchange="browseCheck('InterSubDistrictsTemp','interestHistory.php?Province='+document.getElementById('Province').value+'&InterAmphur='+this.value+'&InterSubDistrictsy=','');">
		<option value="0" > -- กรุณาเลือกอำเภอ -- </option>
			$InterAmphurs
 		</select>
<!-- END INETR_AMPURES -->

<!-- BEGIN INTER_SUBDISTRICT -->
 <select name="InterSubDistrict"  id="InterSubDistrict" onchange="browseCheck('InterPostcodeTemp','interestHistory.php?Province='+document.getElementById('Province').value+'&InterAmphur='+document.getElementById('InterDistrict').value+'&InterSubDistrictsy='+this.value+'&InterPostcode=','');">
		<option value="0" > -- กรุณาเลือกตำบล -- </option>
		$InterSubDistrict
		 </select>
<!-- END INTER_SUBDISTRICT -->


<!-- ############### Customer Work Place Content Page ############## -->

 <!-- BEGIN WORK_INTER_SGEO -->
	<select name="WorkInterProvince" id="WorkInterProvince" onchange="javascript:document.getElementById('WorkInterSubDistrictsTemp').innerHTML='<input name=\'WorkInterSubDistrict\' type=\'text\'  value=\'\' >';browseCheck('WorkInterDistrictTemp','interestHistory.php?WorkInterProvince='+WorkInterProvince.value+'&WorkInterDistrict=','');" >
		<option value="0" > -- กรุณาเลือกจังหวัด --</option>
			$InterProvincesWork
 		</select>
<!-- END WORK_INTER_SGEO --> 

<!-- BEGIN WORK_INTER_DISTRICT -->
	<select name="WorkInterDistrict" id="WorkInterDistrict" onchange="browseCheck('WorkInterSubDistrictsTemp','interestHistory.php?WorkInterProvince='+document.getElementById('WorkInterProvince').value+'&WorkInterDistrict='+this.value+'&WorkInterSubDistrict=','');">
		<option value="0" >-- กรุณาเลือกอำเภอ --</option>
			$WorkInterDistrict
 		</select>
<!-- END WORK_INTER_DISTRICT -->

<!-- BEGIN WORK_INTER_SUB_DISTRICT -->
	<select name="WorkInterSubDistrict"  id="WorkInterSubDistrict" onchange="browseCheck('WorkPostcodeTemp','interestHistory.php?WorkInterProvince='+document.getElementById('WorkInterProvince').value+'&WorkInterDistrict='+document.getElementById('WorkInterDistrict').value+'&WorkInterSubDistrict='+this.value+'&WorkPostcode=','');">
		<option value="0" >-- กรุณาเลือกตำบล --</option>
			$WorkInterSubDistrict 		
		</select>
<!-- END WORK_INTER_SUB_DISTRICT -->
