/**
 *********************************************
 * Prototype of styles for horizontal CSS-menu
 * @data 30.06.2009
 *********************************************
 * (X)HTML-scheme:
 *  <div id="menu">
 *      <ul class="menu">
 *          <li><a href="#" class="parent"><span>level 1</span></a>
 *              <div><ul>
 *                  <li><a href="#" class="parent"><span>level 2</span></a>
 *                      <div><ul><li><a href="#"><span>level 3</span></a></li></ul></div>
 *                  </li>
 *              </ul></div>
 *          </li>
 *          <li class="last"><a href="#"><span>level 1</span></a></li>
 *      </ul>
 *  </div>
 *********************************************
 */

/* menu::base */
div#menu {
	position: fixed;
    top: 0;
	width: 100%;
    z-index: 1000;
	
	/* height: 40px; */
    height:55px;
	background: #2D2D2D; /* Old browsers */
	/*background: -moz-linear-gradient(top, #607389 40%, #7D98B3 100%);*/ /* FF3.6+ */
	background: -moz-linear-gradient(top, #2D2D2D 0%, #555555 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5680B9), color-stop(100%,#6494D6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #5680B9 0%,#6494D6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #5680B9 0%,#6494D6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #5680B9 0%,#6494D6 100%); /* IE10+ */
	background: linear-gradient(top, #5680B9 0%,#6494D6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5680B9', endColorstr='#6494D6',GradientType=0 ); /* IE6-9 */
	
	-moz-box-shadow: 0 3px rgba(0, 0, 0, 0.1), 0 -1px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1), 0 -1px rgba(0, 0, 0, 0.1) inset;
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3b69b1), color-stop(100%,#2a4187));
	background: linear-gradient(top, #3b69b1 0%,#2a4187 100%); */
  	/*background:#D30008;*/
   
   
    /*background:url(images/nav-bg.png) repeat-x;
    _background:url(images/nav-bg.gif) repeat-x; */
}

div#menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
	/*border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);*/
	font-family: "Trebuchet MS",MetaBlack,sans-serif;
}
div#menu ul.menu {
    padding-left: 30px;
}

div#menu li {
    position: relative;
    z-index: 9;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
	background: none repeat scroll 0 0 transparent;
}
   
div#menu li:hover>ul {
    left: -2px;
}

div#menu li div {
    list-style: none;
    float: left;
    position: absolute;
    top: 55px;
    left: 0;
    min-width: 210px;
    z-index: 11;
    visibility: hidden;
    padding: 0 0 9px 7px;
    _padding: 0 0 9px 3px;
    background: url(images/submenu-bottom.png) no-repeat 7px bottom;
    _background-image: url(images/submenu-bottom.gif);
    margin: 0 0 0 -9px;
}
div#menu li:hover>div {
    /*visibility: visible;*/
}

div#menu li.current a {}

/* menu::level1 */
div#menu a {
    position: relative;
    z-index: 10;
	font-size:14px;
    height: 55px;
    display: block;
    float: left;	
    padding: 0 10px 0 10px;
    line-height: 55px;
    text-decoration: none;
}
div#menu span {
    font: normal 12px 'Lucida Sans Unicode','Lucida Grande',Helvetica,Arial,sans-serif;
    padding-top: 18px;
    color: #FFFFFF;
    font-weight:bold;
    text-transform:uppercase;
    display: block;
    cursor: pointer;
    background-repeat: no-repeat;		
}
div#menu ul a:hover span {
    color: #FFFFFF;
}

div#menu li { 
	border-left: 1px solid rgba(0, 0, 0, 0.1); /* ตัวคั่น */
    border-right: 1px solid rgba(0, 0, 0, 0.1); /* ตัวคั่น */
}
div#menu li.last span{
    background: url(images/nav_separator.png) top right no-repeat;
    padding: 18px 10px 16px 0;
}

/* menu::level2 */
div#menu ul ul li {
    /*background: url(images/nav_dropdown_sep.gif) left bottom repeat-x;*/
    padding: 4px 0 0 0;
    /*border-bottom: 4px solid rgba(0, 0, 0, 0.1);*/
    /*padding: 4px 0;*/
    z-index: 9;	
}
div#menu ul ul {
    /*background: url("images/nav_dropdown_grad.png") no-repeat scroll right top #5680B9;*/
    /*border-top: 1px solid rgba(0, 0, 0, 0.1);*/
    margin-left: 4px;
    margin-right: 5px;
    margin-top: 0;
    padding: 0;
    z-index: 12;
}
div#menu ul ul a {
  	width: 184px;
	padding: 0px 7px 3px 8px;
    height: auto;
    float: none;
    display: block;
    background:none;
    margin-bottom: 2px;
    z-index: -1;
}
div#menu ul ul a span {
	padding: 0 10px 0px 10px;
    line-height: 20px;
	font-size:14px;
    color: #FFFFFF;
    font-weight:normal;
    text-transform: none;
    background:none;
}
div#menu ul ul a:hover {
    /*background: url(images/submenu-selected-bottom.gif) no-repeat 8px bottom;*/
    background: #444444;
}
div#menu ul ul a:hover span {
    /*background: url(images/submenu-selected-top.gif) no-repeat 0px 0px;*/
    background: #444444;
    color: #FFFFFF;
}

div#menu ul ul li.last { background: none; }
div#menu ul ul li {
    width: 100%;
}

/* menu::level3 */
div#menu ul ul div {
    width: 208px;
    margin: -50px 0 0 190px !important;
    height: auto;
    _padding: 0 0 9px 3px;
}
div#menu ul ul ul {
	_padding-right:1px;
}

/* lava lamp */
div#menu li.back {
}
div#menu li.back .left {
}

.rightarrowclass{
position: absolute;
top: 4px;
right: 5px;
}